/*!
 * Bootstrap v3.3.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=16d9c432999a26117f4a)
 * Config saved to config.json and https://gist.github.com/16d9c432999a26117f4a
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
	display: none
}
a {
	background-color: transparent
}
a:active, a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: 700
}
dfn {
	font-style: italic
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
hr {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}
pre {
	overflow: auto
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button, input, optgroup, select, textarea {
	color: #fff;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
input {
	line-height: normal
}
input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
height:auto
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}
legend {
	border: 0;
	padding: 0
}
textarea {
	overflow: auto;
	resize: none
}
optgroup {
	font-weight: 700
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, th {
	padding: 0
}

@media print {
*, :before, :after {
	background: transparent!important;
	color: #000!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	text-shadow: none!important
}
a, a:visited {
	text-decoration: underline
}
a[href]:after {
	content: " (" attr(href) ")"
}
abbr[title]:after {
	content: " (" attr(title) ")"
}
a[href^="#"]:after, a[href^="javascript:"]:after {
	content: ""
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid
}
thead {
	display: table-header-group
}
tr, img {
	page-break-inside: avoid
}
img {
	max-width: 100%!important
}
p, h2, h3 {
	orphans: 3;
	widows: 3
}
h2, h3 {
	page-break-after: avoid
}
select {
	background: #fff!important
}
.navbar {
	display: none
}
.btn > .caret, .dropup > .btn > .caret {
	border-top-color: #000!important
}
.label {
	border: 1px solid #000
}
.table {
	border-collapse: collapse!important
}
.table td, .table th {
	background-color: #fff!important
}
.table-bordered th, .table-bordered td {
	border: 1px solid #ddd!important
}
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
:before, :after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: #333;
	background-color: #fff;
	font-weight: 300
}
input, button, select, textarea {
	font-size: inherit;
	line-height: inherit
}
a {
	color: #333;
	text-decoration: none
}
a:hover, a:focus {
	color: #333;
	text-decoration: none
}
a:focus {
	outline: none;
	outline: none -webkit-focus-ring-color;
	outline-offset: 0
}
figure {
	margin: 0
}
img {
	vertical-align: middle
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto
}
.img-rounded {
	border-radius: 6px
}
.img-thumbnail {
	padding: 0;
	line-height: 24px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto
}
.img-circle {
	border-radius: 50%
}
/*----------------------------------------------------
 	#reset css end
------------------------------------------------------*/
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0
}
.sr-only-focusable:active, .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto
}
/*----------------------------------------------------
 	#Typography
------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
	line-height: 1.1;
	color: #000
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
	font-weight: 200;
	line-height: 1;
	color: #777
}
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0;
	margin-bottom: 0
}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
	font-size: 65%
}
h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 0;
	margin-bottom: 0
}
h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
	font-size: 75%
}
h1, .h1 {
	font-size: 80px;
	line-height: 80px
}
h2, .h2 {
	font-size: 54px;
	line-height: 54px;
	text-transform: uppercase
}
h3, .h3 {
	font-size: 36px
}
h4, .h4 {
	font-size: 30px;
	line-height: 32px
}
h5, .h5 {
	font-size: 24px;
	line-height: 24px
}
h6, .h6 {
	font-size: 20px;
	line-height: 20px
}
p {
	margin: 0;
	line-height: 24px
}
.lead {
	margin-bottom: 384px;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4
}
.subtitle h2 {
	font-size: 45px
}

@media (min-width: 768px) {
.lead {
	font-size: 24px
}
}
small, .small {
	font-size: 87%
}
mark, .mark {
	background-color: #fcf8e3;
	padding: .2em
}
.text-left {
	text-align: left
}
.text-right {
	text-align: right
}
.text-center {
	text-align: center
}
.text-justify {
	text-align: justify
}
.text-nowrap {
	white-space: nowrap
}
.text-lowercase {
	text-transform: lowercase
}
.text-uppercase {
	text-transform: uppercase
}
.text-capitalize {
	text-transform: capitalize
}
.text-muted {
	color: #777
}
.text-primary {
	color: #337ab7
}
a.text-primary:hover {
	color: #286090
}
.text-success {
	color: #fff
}
a.text-success:hover {
	color: #e6e6e6
}
.text-info {
	color: #fff
}
a.text-info:hover {
	color: #e6e6e6
}
.text-warning {
	color: #8a6d3b
}
a.text-warning:hover {
	color: #66512c
}
.text-danger {
	color: red
}
a.text-danger:hover {
	color: #c00
}
.bg-primary {
	color: #fff;
	background-color: #337ab7
}
a.bg-primary:hover {
	background-color: #286090
}
.bg-success {
	background-color: #fff
}
a.bg-success:hover {
	background-color: #e6e6e6
}
.bg-info {
	background-color: #d9edf7
}
a.bg-info:hover {
	background-color: #afd9ee
}
.bg-warning {
	background-color: #fcf8e3
}
a.bg-warning:hover {
	background-color: #f7ecb5
}
.bg-danger {
	background-color: #f2dede
}
a.bg-danger:hover {
	background-color: #e4b9b9
}
.page-header {
	padding-bottom: 191px;
	margin: 768px 0 384px;
	border-bottom: 1px solid #eee
}
ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	list-style: none
}
ul ul, ol ul, ul ol, ol ol {
	margin-bottom: 0
}
.list-unstyled {
	padding-left: 0;
	list-style: none
}
.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px
}
.list-inline > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px
}
dl {
	margin-top: 0;
	margin-bottom: 0
}
dt, dd {
	line-height: 24px
}
dt {
	font-weight: 700
}
dd {
	margin-left: 0
}

@media (min-width: 768px) {
.dl-horizontal dt {
	float: left;
	width: 160px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.dl-horizontal dd {
	margin-left: 180px
}
}
abbr[title], abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #777
}
.initialism {
	font-size: 90%;
	text-transform: uppercase
}
blockquote {
	padding: 192px 384px;
	margin: 0 0 384px;
	font-size: 20px;
	border-left: 5px solid #eee
}
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
	margin-bottom: 0
}
blockquote footer, blockquote small, blockquote .small {
	display: block;
	font-size: 80%;
	line-height: 24px;
	color: #777
}
blockquote footer:before, blockquote small:before, blockquote .small:before {
	content: '\2014 \00A0'
}
.blockquote-reverse, blockquote.pull-right {
	padding-right: 15px;
	padding-left: 0;
	border-right: 5px solid #eee;
	border-left: 0;
	text-align: right
}
.blockquote-reverse footer:before, blockquote.pull-right footer:before, .blockquote-reverse small:before, blockquote.pull-right small:before, .blockquote-reverse .small:before, blockquote.pull-right .small:before {
	content: ''
}
.blockquote-reverse footer:after, blockquote.pull-right footer:after, .blockquote-reverse small:after, blockquote.pull-right small:after, .blockquote-reverse .small:after, blockquote.pull-right .small:after {
	content: '\00A0 \2014'
}
address {
	margin-bottom: 384px;
	font-style: normal;
	line-height: 24px
}
code, kbd, pre, samp {
	font-family: 'Yanone Kaffeesatz', sans-serif
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px
}
kbd {
	padding: 2px 4px;
	font-size: 90%;
	color: #fff;
	background-color: #333;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25)
}
kbd kbd {
	padding: 0;
	font-size: 100%;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none
}
pre {
	display: block;
	padding: 191.5px;
	margin: 0 0 192px;
	font-size: 15px;
	line-height: 24px;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px
}
pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0
}
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}

@media (min-width: 768px) {
.container {
	width: 740px
}
}

@media (min-width: 992px) {
.container {
	width: 960px
}
}

@media (min-width: 1200px) {
.container {
	width: 1190px
}
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}
.row {
	margin-left: -15px;
	margin-right: -15px
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left
}
.col-xs-12 {
	width: 100%
}
.col-xs-11 {
	width: 91.66666667%
}
.col-xs-10 {
	width: 83.33333333%
}
.col-xs-9 {
	width: 75%
}
.col-xs-8 {
	width: 66.66666667%
}
.col-xs-7 {
	width: 58.33333333%
}
.col-xs-6 {
	width: 50%
}
.col-xs-5 {
	width: 41.66666667%
}
.col-xs-4 {
	width: 33.33333333%
}
.col-xs-3 {
	width: 25%
}
.col-xs-2 {
	width: 16.66666667%
}
.col-xs-1 {
	width: 8.33333333%
}
.col-xs-pull-12 {
	right: 100%
}
.col-xs-pull-11 {
	right: 91.66666667%
}
.col-xs-pull-10 {
	right: 83.33333333%
}
.col-xs-pull-9 {
	right: 75%
}
.col-xs-pull-8 {
	right: 66.66666667%
}
.col-xs-pull-7 {
	right: 58.33333333%
}
.col-xs-pull-6 {
	right: 50%
}
.col-xs-pull-5 {
	right: 41.66666667%
}
.col-xs-pull-4 {
	right: 33.33333333%
}
.col-xs-pull-3 {
	right: 25%
}
.col-xs-pull-2 {
	right: 16.66666667%
}
.col-xs-pull-1 {
	right: 8.33333333%
}
.col-xs-pull-0 {
	right: auto
}
.col-xs-push-12 {
	left: 100%
}
.col-xs-push-11 {
	left: 91.66666667%
}
.col-xs-push-10 {
	left: 83.33333333%
}
.col-xs-push-9 {
	left: 75%
}
.col-xs-push-8 {
	left: 66.66666667%
}
.col-xs-push-7 {
	left: 58.33333333%
}
.col-xs-push-6 {
	left: 50%
}
.col-xs-push-5 {
	left: 41.66666667%
}
.col-xs-push-4 {
	left: 33.33333333%
}
.col-xs-push-3 {
	left: 25%
}
.col-xs-push-2 {
	left: 16.66666667%
}
.col-xs-push-1 {
	left: 8.33333333%
}
.col-xs-push-0 {
	left: auto
}
.col-xs-offset-12 {
	margin-left: 100%
}
.col-xs-offset-11 {
	margin-left: 91.66666667%
}
.col-xs-offset-10 {
	margin-left: 83.33333333%
}
.col-xs-offset-9 {
	margin-left: 75%
}
.col-xs-offset-8 {
	margin-left: 66.66666667%
}
.col-xs-offset-7 {
	margin-left: 58.33333333%
}
.col-xs-offset-6 {
	margin-left: 50%
}
.col-xs-offset-5 {
	margin-left: 41.66666667%
}
.col-xs-offset-4 {
	margin-left: 33.33333333%
}
.col-xs-offset-3 {
	margin-left: 25%
}
.col-xs-offset-2 {
	margin-left: 5%
}
.col-xs-offset-1 {
	margin-left: 8.33333333%
}
.col-xs-offset-0 {
	margin-left: 0
}

@media (min-width: 768px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: left
}
.col-sm-12 {
	width: 100%
}
.col-sm-11 {
	width: 91.66666667%
}
.col-sm-10 {
	width: 83.33333333%
}
.col-sm-9 {
	width: 75%
}
.col-sm-8 {
	width: 66.66666667%
}
.col-sm-7 {
	width: 58.33333333%
}
.col-sm-6 {
	width: 50%
}
.col-sm-5 {
	width: 41.66666667%
}
.col-sm-4 {
	width: 33.33333333%
}
.col-sm-3 {
	width: 25%
}
.col-sm-2 {
	width: 16.66666667%
}
.col-sm-1 {
	width: 8.33333333%
}
.col-sm-pull-12 {
	right: 100%
}
.col-sm-pull-11 {
	right: 91.66666667%
}
.col-sm-pull-10 {
	right: 83.33333333%
}
.col-sm-pull-9 {
	right: 75%
}
.col-sm-pull-8 {
	right: 66.66666667%
}
.col-sm-pull-7 {
	right: 58.33333333%
}
.col-sm-pull-6 {
	right: 50%
}
.col-sm-pull-5 {
	right: 41.66666667%
}
.col-sm-pull-4 {
	right: 33.33333333%
}
.col-sm-pull-3 {
	right: 25%
}
.col-sm-pull-2 {
	right: 16.66666667%
}
.col-sm-pull-1 {
	right: 8.33333333%
}
.col-sm-pull-0 {
	right: auto
}
.col-sm-push-12 {
	left: 100%
}
.col-sm-push-11 {
	left: 91.66666667%
}
.col-sm-push-10 {
	left: 83.33333333%
}
.col-sm-push-9 {
	left: 75%
}
.col-sm-push-8 {
	left: 66.66666667%
}
.col-sm-push-7 {
	left: 58.33333333%
}
.col-sm-push-6 {
	left: 50%
}
.col-sm-push-5 {
	left: 41.66666667%
}
.col-sm-push-4 {
	left: 33.33333333%
}
.col-sm-push-3 {
	left: 25%
}
.col-sm-push-2 {
	left: 16.66666667%
}
.col-sm-push-1 {
	left: 8.33333333%
}
.col-sm-push-0 {
	left: auto
}
.col-sm-offset-12 {
	margin-left: 100%
}
.col-sm-offset-11 {
	margin-left: 91.66666667%
}
.col-sm-offset-10 {
	margin-left: 83.33333333%
}
.col-sm-offset-9 {
	margin-left: 75%
}
.col-sm-offset-8 {
	margin-left: 66.66666667%
}
.col-sm-offset-7 {
	margin-left: 58.33333333%
}
.col-sm-offset-6 {
	margin-left: 50%
}
.col-sm-offset-5 {
	margin-left: 41.66666667%
}
.col-sm-offset-4 {
	margin-left: 33.33333333%
}
.col-sm-offset-3 {
	margin-left: 25%
}
.col-sm-offset-2 {
	margin-left: 16.66666667%
}
.col-sm-offset-1 {
	margin-left: 8.33333333%
}
.col-sm-offset-0 {
	margin-left: 0
}
}

@media (min-width: 992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left
}
.col-md-12 {
	width: 100%
}
.col-md-11 {
	width: 91.66666667%
}
.col-md-10 {
	width: 83.33333333%
}
.col-md-9 {
	width: 75%
}
.col-md-8 {
	width: 66.66666667%
}
.col-md-7 {
	width: 58.33333333%
}
.col-md-6 {
	width: 50%
}
.col-md-5 {
	width: 41.66666667%
}
.col-md-4 {
	width: 33.33333333%
}
.col-md-3 {
	width: 25%
}
.col-md-2 {
	width: 16.66666667%
}
.col-md-1 {
	width: 8.33333333%
}
.col-md-pull-12 {
	right: 100%
}
.col-md-pull-11 {
	right: 91.66666667%
}
.col-md-pull-10 {
	right: 83.33333333%
}
.col-md-pull-9 {
	right: 75%
}
.col-md-pull-8 {
	right: 66.66666667%
}
.col-md-pull-7 {
	right: 58.33333333%
}
.col-md-pull-6 {
	right: 50%
}
.col-md-pull-5 {
	right: 41.66666667%
}
.col-md-pull-4 {
	right: 33.33333333%
}
.col-md-pull-3 {
	right: 25%
}
.col-md-pull-2 {
	right: 16.66666667%
}
.col-md-pull-1 {
	right: 8.33333333%
}
.col-md-pull-0 {
	right: auto
}
.col-md-push-12 {
	left: 100%
}
.col-md-push-11 {
	left: 91.66666667%
}
.col-md-push-10 {
	left: 83.33333333%
}
.col-md-push-9 {
	left: 75%
}
.col-md-push-8 {
	left: 66.66666667%
}
.col-md-push-7 {
	left: 58.33333333%
}
.col-md-push-6 {
	left: 50%
}
.col-md-push-5 {
	left: 41.66666667%
}
.col-md-push-4 {
	left: 33.33333333%
}
.col-md-push-3 {
	left: 25%
}
.col-md-push-2 {
	left: 16.66666667%
}
.col-md-push-1 {
	left: 8.33333333%
}
.col-md-push-0 {
	left: auto
}
.col-md-offset-12 {
	margin-left: 100%
}
.col-md-offset-11 {
	margin-left: 91.66666667%
}
.col-md-offset-10 {
	margin-left: 83.33333333%
}
.col-md-offset-9 {
	margin-left: 75%
}
.col-md-offset-8 {
	margin-left: 66.66666667%
}
.col-md-offset-7 {
	margin-left: 58.33333333%
}
.col-md-offset-6 {
	margin-left: 50%
}
.col-md-offset-5 {
	margin-left: 41.66666667%
}
.col-md-offset-4 {
	margin-left: 33.33333333%
}
.col-md-offset-3 {
	margin-left: 25%
}
.col-md-offset-2 {
	margin-left: 16.66666667%
}
.col-md-offset-1 {
	margin-left: 5%
}
.col-md-offset-0 {
	margin-left: 0
}
}

@media (min-width: 1200px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	float: left
}
.col-lg-12 {
	width: 100%
}
.col-lg-11 {
	width: 91.66666667%
}
.col-lg-10 {
	width: 83.33333333%
}
.col-lg-9 {
	width: 75.1%
}
.col-lg-8 {
	width: 66.66666667%
}
.col-lg-7 {
	width: 58.33333333%
}
.col-lg-6 {
	width: 50%
}
.col-lg-5 {
	width: 41.6222%
}
.col-lg-4 {
	width: 33.33333333%
}
.col-lg-3 {
	width: 25%
}
.col-lg-2 {
	width: 16.66666667%
}
.col-lg-1 {
	width: 8.33333333%
}
.col-lg-pull-12 {
	right: 100%
}
.col-lg-pull-11 {
	right: 91.66666667%
}
.col-lg-pull-10 {
	right: 83.33333333%
}
.col-lg-pull-9 {
	right: 75%
}
.col-lg-pull-8 {
	right: 66.66666667%
}
.col-lg-pull-7 {
	right: 58.33333333%
}
.col-lg-pull-6 {
	right: 50%
}
.col-lg-pull-5 {
	right: 41.66666667%
}
.col-lg-pull-4 {
	right: 33.33333333%
}
.col-lg-pull-3 {
	right: 25%
}
.col-lg-pull-2 {
	right: 16.66666667%
}
.col-lg-pull-1 {
	right: 8.33333333%
}
.col-lg-pull-0 {
	right: auto
}
.col-lg-push-12 {
	left: 100%
}
.col-lg-push-11 {
	left: 91.66666667%
}
.col-lg-push-10 {
	left: 83.33333333%
}
.col-lg-push-9 {
	left: 75%
}
.col-lg-push-8 {
	left: 66.66666667%
}
.col-lg-push-7 {
	left: 58.33333333%
}
.col-lg-push-6 {
	left: 50%
}
.col-lg-push-5 {
	left: 41.66666667%
}
.col-lg-push-4 {
	left: 33.33333333%
}
.col-lg-push-3 {
	left: 25%
}
.col-lg-push-2 {
	left: 16.66666667%
}
.col-lg-push-1 {
	left: 8.33333333%
}
.col-lg-push-0 {
	left: auto
}
.col-lg-offset-12 {
	margin-left: 100%
}
.col-lg-offset-11 {
	margin-left: 91.66666667%
}
.col-lg-offset-10 {
	margin-left: 83.33333333%
}
.col-lg-offset-9 {
	margin-left: 75%
}
.col-lg-offset-8 {
	margin-left: 66.66666667%
}
.col-lg-offset-7 {
	margin-left: 58.33333333%
}
.col-lg-offset-6 {
	margin-left: 50%
}
.col-lg-offset-5 {
	margin-left: 41.66666667%
}
.col-lg-offset-4 {
	margin-left: 33.33333333%
}
.col-lg-offset-3 {
	margin-left: 25%
}
.col-lg-offset-2 {
	margin-left: 16.66666667%
}
.col-lg-offset-1 {
	margin-left: 8.33333333%
}
.col-lg-offset-0 {
	margin-left: 0
}
}
table {
	background-color: transparent
}
caption {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #777;
	text-align: left
}
th {
	text-align: left
}
.table {
	width: 100%;
	max-width: 100%
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: top;
	border-top: 1px solid #e2e2e2
}
.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 1px solid #e2e2e2
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
	border-top: 0
}
.table > tbody + tbody {
	border-top: 2px solid #e2e2e2
}
.table .table {
	background-color: #fff
}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
	padding: 5px
}
.table-bordered {
	border: 1px solid #e2e2e2;
	margin-top: 42px
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: 1px solid #e2e2e2
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	border-bottom-width: 1px;
	background: #358a8f;
	font-size: 18px;
	padding: 12px 10px 6px 25px;
	color:#fff;
}
.table-bordered > tbody > tr > td {
	padding: 12px 10px 11.3px 25px;
}
.table-bordered > tbody > tr > td.bigw {
	width: 45%;
}
.table-bordered > tbody > tr > td.smallw {
	width: 28%;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f6f6f6;
}
.table-hover > tbody > tr:hover {
	background-color: #e2e2e2
}
table col[class*="col-"] {
	position: static;
	float: none;
	display: table-column
}
table td[class*="col-"], table th[class*="col-"] {
	position: static;
	float: none;
	display: table-cell
}
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
	background-color: #e2e2e2
}
.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th {
	background-color: #d5d5d5
}
.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
	background-color: #fff
}
.table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th {
	background-color: #f2f2f2
}
.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
	background-color: #d9edf7
}
.table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
	background-color: #c4e3f3
}
.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
	background-color: #fcf8e3
}
.table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover, .table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr:hover > .warning, .table-hover > tbody > tr.warning:hover > th {
	background-color: #faf2cc
}
.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
	background-color: #f2dede
}
.table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr.danger:hover > th {
	background-color: #ebcccc
}
.table-responsive {
	overflow-x: auto;
	min-height: .01%
}

@media screen and (max-width: 767px) {
.table-responsive {
	width: 100%;
	margin-bottom: 288px;
	overflow-y: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border: 1px solid #e2e2e2
}
.table-responsive > .table {
	margin-bottom: 0
}
.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
	white-space: nowrap
}
.table-responsive > .table-bordered {
	border: 0
}
.table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child {
	border-left: 0
}
.table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child {
	border-right: 0
}
.table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > th, .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > td {
	border-bottom: 0
}
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 384px;
	font-size: 24px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #fff
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700
}
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
input[type="radio"], input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal
}
input[type="file"] {
	display: block
}
input[type="range"] {
	display: block;
	width: 100%
}
select[multiple], select[size] {
	height: auto
}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
output {
	display: block;
	padding-top: 7px;
	font-size: 16px;
	line-height: 24px;
	color: #555
}
.form-control {
	display: block;
	width: 100%;
	padding: 8px 12px;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid #fff;
	background-color: transparent;
	background-image: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus {
	border-color: #fff;
	outline: 0
}
.form-control::-moz-placeholder {
color:#fff;
opacity:1
}
.form-control:-ms-input-placeholder {
color:#fff
}
.form-control::-webkit-input-placeholder {
color:#fff;
opacity:1
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1
}
textarea.form-control {
	height: auto
}
input[type="search"], input {
	-webkit-appearance: none;
	-moz-appearance: none
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
	line-height: 24px
}
input[type="date"].input-sm, input[type="time"].input-sm, input[type="datetime-local"].input-sm, input[type="month"].input-sm, .input-group-sm input[type="date"], .input-group-sm input[type="time"], .input-group-sm input[type="datetime-local"], .input-group-sm input[type="month"] {
	line-height: 24px
}
input[type="date"].input-lg, input[type="time"].input-lg, input[type="datetime-local"].input-lg, input[type="month"].input-lg, .input-group-lg input[type="date"], .input-group-lg input[type="time"], .input-group-lg input[type="datetime-local"], .input-group-lg input[type="month"] {
	line-height: 49px
}
}
.form-group {
	margin-bottom: 10px;
	margin-right: 10px;
	width: 47%
}
.textarea {
	margin-bottom: 10px;
	margin-right: 10px;
	width: 97%
}
.radio, .checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px
}
.radio label, .checkbox label {
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	position: absolute;
	margin-left: -20px;
	margin-top: 4px \9
}
.radio + .radio, .checkbox + .checkbox {
	margin-top: -5px
}
.radio-inline, .checkbox-inline {
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	vertical-align: middle;
	font-weight: 400;
	cursor: pointer
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
	margin-top: 0;
	margin-left: 10px
}
input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"].disabled, input[type="checkbox"].disabled, fieldset[disabled] input[type="radio"], fieldset[disabled] input[type="checkbox"] {
	cursor: not-allowed
}
.radio-inline.disabled, .checkbox-inline.disabled, fieldset[disabled] .radio-inline, fieldset[disabled] .checkbox-inline {
	cursor: not-allowed
}
.radio.disabled label, .checkbox.disabled label, fieldset[disabled] .radio label, fieldset[disabled] .checkbox label {
	cursor: not-allowed
}
.form-control-static {
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 0
}
.form-control-static.input-lg, .form-control-static.input-sm {
	padding-left: 0;
	padding-right: 0
}
.input-sm {
	height: 33px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 3px
}
select.input-sm {
	height: 33px;
	line-height: 33px
}
textarea.input-sm, select[multiple].input-sm {
	height: auto
}
.form-group-sm .form-control {
	height: 33px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 3px
}
select.form-group-sm .form-control {
	height: 33px;
	line-height: 33px
}
textarea.form-group-sm .form-control, select[multiple].form-group-sm .form-control {
	height: auto
}
.form-group-sm .form-control-static {
	height: 33px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.5
}
.input-lg {
	height: 49px;
	padding: 10px 16px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 6px
}
select.input-lg {
	height: 49px;
	line-height: 49px
}
textarea.input-lg, select[multiple].input-lg {
	height: auto
}
.form-group-lg .form-control {
	height: 49px;
	padding: 10px 16px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 6px
}
select.form-group-lg .form-control {
	height: 49px;
	line-height: 49px
}
textarea.form-group-lg .form-control, select[multiple].form-group-lg .form-control {
	height: auto
}
.form-group-lg .form-control-static {
	height: 49px;
	padding: 10px 16px;
	font-size: 20px;
	line-height: 1.3333333
}
.has-feedback {
	position: relative
}
.has-feedback .form-control {
	padding-right: 0
}
.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 398px;
	height: 398px;
	line-height: 398px;
	text-align: center;
	pointer-events: none
}
.input-lg + .form-control-feedback {
	width: 49px;
	height: 49px;
	line-height: 49px
}
.input-sm + .form-control-feedback {
	width: 33px;
	height: 33px;
	line-height: 33px
}
.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
	color: #fff
}
.has-success .form-control {
	border-color: #fff;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
}
.has-success .form-control:focus {
	border-color: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #fff;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #fff
}
.has-success .input-group-addon {
	color: #fff;
	border-color: #fff;
	background-color: #fff
}
.has-success .form-control-feedback {
	color: #fff
}
.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label {
	color: #8a6d3b
}
.has-warning .form-control {
	border-color: #8a6d3b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
}
.has-warning .form-control:focus {
	border-color: #66512c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #c0a16b;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #c0a16b
}
.has-warning .input-group-addon {
	color: #8a6d3b;
	border-color: #8a6d3b;
	background-color: #fcf8e3
}
.has-warning .form-control-feedback {
	color: #8a6d3b
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
	color: red
}
.has-error .form-control {
	border-color: red;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)
}
.has-error .form-control:focus {
	border-color: #c00;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #f66;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #f66
}
.has-error .input-group-addon {
	color: red;
	border-color: red;
	background-color: #f2dede
}
.has-error .form-control-feedback {
	color: red
}
.has-feedback label ~ .form-control-feedback {
	top: 389px
}
.has-feedback label.sr-only ~ .form-control-feedback {
	top: 0
}
.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373
}

@media (min-width: 768px) {
.form-inline .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle
}
.form-inline .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle
}
.form-inline .form-control-static {
	display: inline-block
}
.form-inline .input-group {
	display: inline-table;
	vertical-align: middle
}
.form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn, .form-inline .input-group .form-control {
	width: auto
}
.form-inline .input-group > .form-control {
	width: 100%
}
.form-inline .control-label {
	margin-bottom: 0;
	vertical-align: middle
}
.form-inline .radio, .form-inline .checkbox {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle
}
.form-inline .radio label, .form-inline .checkbox label {
	padding-left: 0
}
.form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
	position: relative;
	margin-left: 0
}
.form-inline .has-feedback .form-control-feedback {
	top: 0
}
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 7px
}
.form-horizontal .radio, .form-horizontal .checkbox {
	min-height: 0
}
.form-horizontal .form-group {
	margin-left: -10px;
	margin-right: -10px;
	width: 50%
}

@media (min-width: 768px) {
.form-horizontal .control-label {
	text-align: right;
	margin-bottom: 0;
	padding-top: 7px
}
}
.form-horizontal .has-feedback .form-control-feedback {
	right: 10px
}

@media (min-width: 768px) {
.form-horizontal .form-group-lg .control-label {
	padding-top: 14.333333px
}
}

@media (min-width: 768px) {
.form-horizontal .form-group-sm .control-label {
	padding-top: 6px
}
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.btn:hover, .btn:focus, .btn.focus {
	color: #fff;
	text-decoration: none
}
.btn:active, .btn.active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn-default {
	color: #000;
	font-size: 22px;
	font-weight: 200;
	background-color: #fff;
	border-color: #fff;
	width: 97%;
	border-radius: 0;
	font-family: "Yanone Kaffeesatz", sans-serif;
	padding: 10px 15px
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	outline: none
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	background-image: none
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
	background-color: #fff;
	border-color: #fff
}
.btn-default .badge {
	color: #fff;
	background-color: #fff
}
.btn-primary {
	color: #fff;
	background-color: #358a8f;
	border-color: #358a8f;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-o-border-radius:0px;
	-ms-border-radius:0px;
	transition: all 0.3s;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #000;
	background-color: transparent;
	border-color: #000;
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background-image: none
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-primary .badge {
	color: #337ab7;
	background-color: #fff
}
.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}
.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
	background-image: none
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
	background-color: #5cb85c;
	border-color: #4cae4c
}
.btn-success .badge {
	color: #5cb85c;
	background-color: #fff
}
.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}
.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
	background-image: none
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled.focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info.focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
	background-color: #5bc0de;
	border-color: #46b8da
}
.btn-info .badge {
	color: #5bc0de;
	background-color: #fff
}
.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236
}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512
}
.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
	background-image: none
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning.focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
	background-color: #f0ad4e;
	border-color: #eea236
}
.btn-warning .badge {
	color: #f0ad4e;
	background-color: #fff
}
.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925
}
.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
	background-image: none
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled.focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger.focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
	background-color: #d9534f;
	border-color: #d43f3a
}
.btn-danger .badge {
	color: #d9534f;
	background-color: #fff
}
.btn-link {
	color: #337ab7;
	font-weight: 400;
	border-radius: 0
}
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
	border-color: transparent
}
.btn-link:hover, .btn-link:focus {
	color: #23527c;
	text-decoration: underline;
	background-color: transparent
}
.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {
	color: #777;
	text-decoration: none
}
.btn-lg, .btn-group-lg > .btn {
	padding: 10px 16px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 6px
}
.btn-sm, .btn-group-sm > .btn {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 3px
}
.btn-xs, .btn-group-xs > .btn {
	padding: 1px 5px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 3px
}
.btn-block {
	display: block;
	width: 100%
}
.btn-block + .btn-block {
	margin-top: 5px
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
	width: 100%
}
.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear
}
.fade.in {
	opacity: 1
}
.collapse {
	display: none;
	visibility: hidden
}
.collapse.in {
	display: block;
	visibility: visible
}
tr.collapse.in {
	display: table-row
}
tbody.collapse.in {
	display: table-row-group
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-property: height, visibility;
	-o-transition-property: height, visibility;
	transition-property: height, visibility;
	-webkit-transition-duration: .35s;
	-o-transition-duration: .35s;
	transition-duration: .35s;
	-webkit-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	transition-timing-function: ease
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}
.dropup, .dropdown {
	position: relative
}
.dropdown-toggle:focus {
	outline: 0
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 16px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	-webkit-background-clip: padding-box;
	background-clip: padding-box
}
.dropdown-menu.pull-right {
	right: 0;
	left: auto
}
.dropdown-menu .divider {
	height: 1px;
	margin: 191px 0;
	overflow: hidden;
	background-color: #e5e5e5
}
.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 24px;
	color: #333;
	white-space: nowrap
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	background-color: #337ab7
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
	color: #777
}
.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: not-allowed
}
.open > .dropdown-menu {
	display: block
}
.open > a {
	outline: 0
}
.dropdown-menu-right {
	left: auto;
	right: 0
}
.dropdown-menu-left {
	left: 0;
	right: auto
}
.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 14px;
	line-height: 24px;
	color: #777;
	white-space: nowrap
}
.dropdown-backdrop {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 990
}
.pull-right > .dropdown-menu {
	right: 0;
	left: auto
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px solid;
	content: ""
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 2px
}

@media (min-width: 768px) {
.navbar-right .dropdown-menu {
	left: auto;
	right: 0
}
.navbar-right .dropdown-menu-left {
	left: 0;
	right: auto
}
}
.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle
}
.btn-group > .btn, .btn-group-vertical > .btn {
	position: relative;
	float: left
}
.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active {
	z-index: 2
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
	margin-left: -1px
}
.btn-toolbar {
	margin-left: -5px
}
.btn-toolbar .btn-group, .btn-toolbar .input-group {
	float: left
}
.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
	margin-left: 5px
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0
}
.btn-group > .btn:first-child {
	margin-left: 0
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}
.btn-group > .btn-group {
	float: left
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
	border-radius: 0
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
	outline: 0
}
.btn-group > .btn + .dropdown-toggle {
	padding-left: 8px;
	padding-right: 8px
}
.btn-group > .btn-lg + .dropdown-toggle {
	padding-left: 12px;
	padding-right: 12px
}
.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}
.btn-group.open .dropdown-toggle.btn-link {
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn .caret {
	margin-left: 0
}
.btn-lg .caret {
	border-width: 5px 5px 0;
	border-bottom-width: 0
}
.dropup .btn-lg .caret {
	border-width: 0 5px 5px
}
.btn-group-vertical > .btn, .btn-group-vertical > .btn-group, .btn-group-vertical > .btn-group > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%
}
.btn-group-vertical > .btn-group > .btn {
	float: none
}
.btn-group-vertical > .btn + .btn, .btn-group-vertical > .btn + .btn-group, .btn-group-vertical > .btn-group + .btn, .btn-group-vertical > .btn-group + .btn-group {
	margin-top: -1px;
	margin-left: 0
}
.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
	border-radius: 0
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0;
	border-top-left-radius: 0
}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
	border-radius: 0
}
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0
}
.btn-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate
}
.btn-group-justified > .btn, .btn-group-justified > .btn-group {
	float: none;
	display: table-cell;
	width: 1%
}
.btn-group-justified > .btn-group .btn {
	width: 100%
}
.btn-group-justified > .btn-group .dropdown-menu {
	left: auto
}
[data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn-group > .btn input[type="radio"], [data-toggle="buttons"] > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
	position: absolute;
	clip: rect(0,0,0,0);
	pointer-events: none
}
.input-group {
	position: relative;
	display: table;
	border-collapse: separate
}
.input-group[class*="col-"] {
	float: none;
	padding-left: 0;
	padding-right: 0
}
.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0
}
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
	height: 49px;
	padding: 10px 16px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 6px
}
select.input-group-lg > .form-control, select.input-group-lg > .input-group-addon, select.input-group-lg > .input-group-btn > .btn {
	height: 49px;
	line-height: 49px
}
textarea.input-group-lg > .form-control, textarea.input-group-lg > .input-group-addon, textarea.input-group-lg > .input-group-btn > .btn, select[multiple].input-group-lg > .form-control, select[multiple].input-group-lg > .input-group-addon, select[multiple].input-group-lg > .input-group-btn > .btn {
	height: auto
}
.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
	height: 33px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 3px
}
select.input-group-sm > .form-control, select.input-group-sm > .input-group-addon, select.input-group-sm > .input-group-btn > .btn {
	height: 33px;
	line-height: 33px
}
textarea.input-group-sm > .form-control, textarea.input-group-sm > .input-group-addon, textarea.input-group-sm > .input-group-btn > .btn, select[multiple].input-group-sm > .form-control, select[multiple].input-group-sm > .input-group-addon, select[multiple].input-group-sm > .input-group-btn > .btn {
	height: auto
}
.input-group-addon, .input-group-btn, .input-group .form-control {
	display: table-cell
}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
	border-radius: 0
}
.input-group-addon, .input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle
}
.input-group-addon {
	padding: 6px 12px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #fff;
	border-radius: 4px
}
.input-group-addon.input-sm {
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 3px
}
.input-group-addon.input-lg {
	padding: 10px 16px;
	font-size: 20px;
	border-radius: 6px
}
.input-group-addon input[type="radio"], .input-group-addon input[type="checkbox"] {
	margin-top: 0
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}
.input-group-addon:first-child {
	border-right: 0
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}
.input-group-addon:last-child {
	border-left: 0
}
.input-group-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap
}
.input-group-btn > .btn {
	position: relative
}
.input-group-btn > .btn + .btn {
	margin-left: -1px
}
.input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active {
	z-index: 2
}
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
	margin-right: -1px
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
	margin-left: -1px
}
.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	font-family: 'Yanone Kaffeesatz', sans-serif
}
.nav > li {
	position: relative;
	display: block
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 12px 20px;
	font-size: 20px;
	text-transform: uppercase
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #eee
}
.nav > li.disabled > a {
	color: #777
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
	color: #777;
	text-decoration: none;
	background-color: transparent;
	cursor: not-allowed
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #eee;
	border-color: #337ab7
}
.nav .nav-divider {
	height: 1px;
	margin: 191px 0;
	overflow: hidden;
	background-color: #e5e5e5
}
.nav > li > a > img {
	max-width: none
}
.nav-tabs {
	border-bottom: 1px solid #ddd
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px
}
.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 24px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0
}
.nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default
}
.nav-tabs.nav-justified {
	width: 100%;
	border-bottom: 0
}
.nav-tabs.nav-justified > li {
	float: none
}
.nav-tabs.nav-justified > li > a {
	text-align: center;
	margin-bottom: 5px
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
	top: auto;
	left: auto
}

@media (min-width: 768px) {
.nav-tabs.nav-justified > li {
	display: table-cell;
	width: 1%
}
.nav-tabs.nav-justified > li > a {
	margin-bottom: 0
}
}
.nav-tabs.nav-justified > li > a {
	margin-right: 0;
	border-radius: 4px
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
	border: 1px solid #ddd
}

@media (min-width: 768px) {
.nav-tabs.nav-justified > li > a {
	border-bottom: 1px solid #ddd;
	border-radius: 4px 4px 0 0
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
	border-bottom-color: #fff
}
}
.nav-pills > li {
	float: left
}
.nav-pills > li > a {
	border-radius: 4px
}
.nav-pills > li + li {
	margin-left: 2px
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	color: #fff;
	background-color: #337ab7
}
.nav-stacked > li {
	float: none
}
.nav-stacked > li + li {
	margin-top: 2px;
	margin-left: 0
}
.nav-justified {
	width: 100%
}
.nav-justified > li {
	float: none
}
.nav-justified > li > a {
	text-align: center;
	margin-bottom: 5px
}
.nav-justified > .dropdown .dropdown-menu {
	top: auto;
	left: auto
}

@media (min-width: 768px) {
.nav-justified > li {
	display: table-cell;
	width: 1%
}
.nav-justified > li > a {
	margin-bottom: 0
}
}
.nav-tabs-justified {
	border-bottom: 0
}
.nav-tabs-justified > li > a {
	margin-right: 0;
	border-radius: 4px
}
.nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus {
	border: 1px solid #ddd
}

@media (min-width: 768px) {
.nav-tabs-justified > li > a {
	border-bottom: 1px solid #ddd;
	border-radius: 4px 4px 0 0
}
.nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus {
	border-bottom-color: #fff
}
}
.tab-content > .tab-pane {
	display: none;
	visibility: hidden
}
.tab-content > .active {
	display: block;
	visibility: visible
}
.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0
}
.navbar {
	position: relative
}

@media (min-width: 768px) {
.navbar {
	border-radius: 0
}
}

@media (min-width: 768px) {
.navbar-header {
	float: left
}

}
.navbar-collapse {
	overflow-x: visible;
	padding-right: 10px;
	padding-left: 10px;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	-webkit-overflow-scrolling: touch
}
.navbar-collapse.in {
	overflow-y: auto
}

@media (min-width: 768px) {
.navbar-collapse {
	width: auto;
	border-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.navbar-collapse.collapse {
	display: block!important;
	visibility: visible!important;
	padding-bottom: 0;
	overflow: visible!important
}
.navbar-collapse.in {
	overflow-y: visible
}
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	padding-left: 0;
	padding-right: 0
}
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	max-height: 340px
}

@media (max-device-width: 480px) and (orientation: landscape) {
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	max-height: 200px
}
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin-right: -10px;
	margin-left: -10px
}

@media (min-width: 768px) {
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin-right: 0;
	margin-left: 0
}
}
.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px
}

@media (min-width: 768px) {
.navbar-static-top {
	border-radius: 0
}
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030
}

@media (min-width: 768px) {
.navbar-fixed-top, .navbar-fixed-bottom {
	border-radius: 0
}
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px
}
.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0
}
.navbar-brand {
	float: left;
	padding: 10px 0
}
.navbar-brand:hover, .navbar-brand:focus {
	text-decoration: none
}
.navbar-brand > img {
	display: block
}

@media (min-width: 768px) {
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: -10px
}
}
.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 10px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0
}
.navbar-toggle:focus {
	outline: 0
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px
}

@media (min-width: 768px) {
.navbar-toggle {
	display: none
}
.collapse {
	display: none;
	visibility: hidden
}
}
.navbar-nav {
	margin: 0 -10px
}

@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 5px 15px 5px 25px
}
.navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
	background-image: none
}
}

@media (min-width: 768px) {
.navbar-nav {
	float: left;
	margin: 0
}
.navbar-nav > li {
	float: left
}
}
.navbar-form {
	padding: 10px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 1px 0 rgba(255,255,255,0.1);
	margin: -174px -10px
}

@media (min-width: 768px) {
.navbar-form .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle
}
.navbar-form .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle
}
.navbar-form .form-control-static {
	display: inline-block
}
.navbar-form .input-group {
	display: inline-table;
	vertical-align: middle
}
.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control {
	width: auto
}
.navbar-form .input-group > .form-control {
	width: 100%
}
.navbar-form .control-label {
	margin-bottom: 0;
	vertical-align: middle
}
.navbar-form .radio, .navbar-form .checkbox {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle
}
.navbar-form .radio label, .navbar-form .checkbox label {
	padding-left: 0
}
.navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
	position: relative;
	margin-left: 0
}
.navbar-form .has-feedback .form-control-feedback {
	top: 0
}
}

@media (max-width: 767px) {
.navbar-form .form-group {
	margin-bottom: 5px
}
.navbar-form .form-group:last-child {
	margin-bottom: 0
}
}

@media (min-width: 768px) {
.navbar-form {
	width: auto;
	border: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
	margin-bottom: 0;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}
.navbar-btn {
	margin-top: -174px;
	margin-bottom: -174px
}
.navbar-btn.btn-sm {
	margin-top: 8.5px;
	margin-bottom: 8.5px
}
.navbar-btn.btn-xs {
	margin-top: 14px;
	margin-bottom: 14px
}
.navbar-text {
	margin-top: -167px;
	margin-bottom: -167px
}

@media (min-width: 768px) {
.navbar-text {
	float: left;
	margin-left: 10px;
	margin-right: 10px
}
}

@media (min-width: 768px) {
.navbar-left {
	float: left!important
}
.navbar-right {
	float: right!important;
	margin-right: -10px
}
.navbar-right ~ .navbar-right {
	margin-right: 0
}
}
.navbar-default {
	background-color: #fff;
	border-bottom: 1px solid #e3e3e3
}
.navbar-default .navbar-brand {
	color: #000
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #000;
	background-color: transparent
}
.navbar-default .navbar-text {
	color: #fff
}
.navbar-default .navbar-nav > li > a {
	color: #000
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #000
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #000
}
.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
	color: #fff;
	background-color: transparent
}
.navbar-default .navbar-toggle {
	border-color: #ddd
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #ddd
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #888
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #eee
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #eee;
	color: #fff
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #000
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #fff;
	background-color: #000
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #fff;
	background-color: #eee
}
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
	color: #ccc;
	background-color: transparent
}
.navbar-default .navbar-brand {
	color: #000;
	margin-left: 10px
}
}
.navbar-default .navbar-link {
	color: #000
}
.navbar-default .navbar-link:hover {
	color: #fff
}
.navbar-default .btn-link {
	color: #000
}
.navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
	color: #fff
}
.navbar-default .btn-link[disabled]:hover, fieldset[disabled] .navbar-default .btn-link:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:focus {
	color: #ccc
}
.navbar-inverse {
	background-color: #222;
	border-color: #080808
}
.navbar-inverse .navbar-brand {
	color: #9d9d9d
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #fff;
	background-color: transparent
}
.navbar-inverse .navbar-text {
	color: #9d9d9d
}
.navbar-inverse .navbar-nav > li > a {
	color: #9d9d9d
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #fff;
	background-color: transparent
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #080808
}
.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
	color: #444;
	background-color: transparent
}
.navbar-inverse .navbar-toggle {
	border-color: #333
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #333
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #101010
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #080808;
	color: #fff
}

@media (max-width: 767px) {
.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
	border-color: #080808
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	background-color: #080808
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: #9d9d9d
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #fff;
	background-color: transparent
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #fff;
	background-color: #080808
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
	color: #444;
	background-color: transparent
}
}
.navbar-inverse .navbar-link {
	color: #9d9d9d
}
.navbar-inverse .navbar-link:hover {
	color: #fff
}
.navbar-inverse .btn-link {
	color: #9d9d9d
}
.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
	color: #fff
}
.navbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navbar-inverse .btn-link:hover, .navbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navbar-inverse .btn-link:focus {
	color: #444
}
.thumbnail {
	display: block;
	padding: 0;
	line-height: 24px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out
}
.thumbnail > img, .thumbnail a > img {
	margin-left: auto;
	margin-right: auto
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #337ab7
}
.thumbnail .caption {
	padding: 10px;
	color: #333
}
@-webkit-keyframes progress-bar-stripes {
from {
background-position:40px 0
}
to {
background-position:0 0
}
}
@-o-keyframes progress-bar-stripes {
from {
background-position:40px 0
}
to {
background-position:0 0
}
}
@keyframes progress-bar-stripes {
from {
background-position:40px 0
}
to {
background-position:0 0
}
}
.progress {
	overflow: hidden;
	height: 384px;
	margin-bottom: 384px;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1)
}
.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease
}
.progress-striped .progress-bar, .progress-bar-striped {
	background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px
}
.progress.active .progress-bar, .progress-bar.active {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite
}
.progress-bar-success {
	background-color: #5cb85c
}
.progress-striped .progress-bar-success {
	background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent)
}
.progress-bar-info {
	background-color: #5bc0de
}
.progress-striped .progress-bar-info {
	background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent)
}
.progress-bar-warning {
	background-color: #f0ad4e
}
.progress-striped .progress-bar-warning {
	background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent)
}
.progress-bar-danger {
	background-color: #d9534f
}
.progress-striped .progress-bar-danger {
	background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent)
}
.media {
	margin-top: 15px
}
.media:first-child {
	margin-top: 0
}
.media, .media-body {
	zoom: 1;
	overflow: hidden
}
.media-body {
	width: 10000px
}
.media-object {
	display: block
}
.media-right, .media > .pull-right {
	padding-left: 10px
}
.media-left, .media > .pull-left {
	padding-right: 10px
}
.media-left, .media-right, .media-body {
	display: table-cell;
	vertical-align: top
}
.media-middle {
	vertical-align: middle
}
.media-bottom {
	vertical-align: bottom
}
.media-heading {
	margin-top: 0;
	margin-bottom: 5px
}
.media-list {
	padding-left: 0;
	list-style: none
}
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	visibility: visible;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0)
}
.tooltip.in {
	opacity: .9;
	filter: alpha(opacity=90)
}
.tooltip.top {
	margin-top: -3px;
	padding: 5px 0
}
.tooltip.right {
	margin-left: 3px;
	padding: 0 5px
}
.tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0
}
.tooltip.left {
	margin-left: -3px;
	padding: 0 5px
}
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #000;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	border-radius: 4px
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.top-left .tooltip-arrow {
	bottom: 0;
	right: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000
}
.carousel {
	position: relative
}
.carousel-inner {
	position: relative;
	overflow: hidden;
	width: 100%
}
.carousel-inner > .item {
	display: none;
	position: relative;
	-webkit-transition: .6s ease-in-out left;
	-o-transition: .6s ease-in-out left;
	transition: .6s ease-in-out left
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: 1
}

@media all and (transform-3d), (-webkit-transform-3d) {
.carousel-inner > .item {
	-webkit-transition: -webkit-transform .6s ease-in-out;
	-o-transition: -o-transform .6s ease-in-out;
	transition: transform .6s ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000px
}
.carousel-inner > .item.next, .carousel-inner > .item.active.right {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	left: 0
}
.carousel-inner > .item.prev, .carousel-inner > .item.active.left {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	left: 0
}
.carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	left: 0
}
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
	display: block
}
.carousel-inner > .active {
	left: 0
}
.carousel-inner > .next, .carousel-inner > .prev {
	position: absolute;
	top: 0;
	width: 100%
}
.carousel-inner > .next {
	left: 100%
}
.carousel-inner > .prev {
	left: -100%
}
.carousel-inner > .next.left, .carousel-inner > .prev.right {
	left: 0
}
.carousel-inner > .active.left {
	left: -100%
}
.carousel-inner > .active.right {
	left: 100%
}
.carousel-control {
	position: absolute;
	left: 0;
	bottom: 243px;
	width: 100%
}
.carousel-control a {
	width: 89px;
	height: 89px;
	position: absolute;
	top: 50%;
	background: url(../images/arrow.png) 0 0 no-repeat
}
.carousel-control .left {
	left: 25%;
	margin-top: 13px
}
.carousel-control .right {
	right: 0;
	margin-top: 13px;
	left: 31%;
	background-position: -96px 0
}
.carousel-control .left:hover {
	background-position: 0 -96px
}
.carousel-control .right:hover {
	background-position: -96px -96px
}
.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	margin-left: -30%;
	padding-left: 0;
	list-style: none;
	text-align: center
}
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	border: 1px solid #fff;
	border-radius: 10px;
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0,0,0,0)
}
.carousel-indicators .active {
	margin: 0;
	width: 12px;
	height: 12px;
	background-color: #fff
}
.carousel-caption {
	position: absolute;
	left: 15%;
	right: 15%;
	bottom: 20px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6)
}
.carousel-caption .btn {
	text-shadow: none
}

@media screen and (min-width: 768px) {
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	font-size: 30px
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	margin-left: -15px
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	margin-right: -15px
}
.carousel-caption {
	left: 20%;
	right: 20%;
	padding-bottom: 30px
}
.carousel-indicators {
	bottom: 20px
}
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after {
	content: " ";
	display: table
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after {
	clear: both
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pull-right {
	float: right!important
}
.pull-left {
	float: left!important
}
.hide {
	display: none!important
}
.show {
	display: block!important
}
.invisible {
	visibility: hidden
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}
.hidden {
	display: none!important;
	visibility: hidden!important
}
.affix {
	position: fixed
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
	display: none!important
}
.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
	display: none!important
}

@media (max-width: 767px) {
.visible-xs {
	display: block!important
}
table.visible-xs {
	display: table
}
tr.visible-xs {
	display: table-row!important
}
th.visible-xs, td.visible-xs {
	display: table-cell!important
}
}

@media (max-width: 767px) {
.visible-xs-block {
	display: block!important
}
}

@media (max-width: 767px) {
.visible-xs-inline {
	display: inline!important
}
}

@media (max-width: 767px) {
.visible-xs-inline-block {
	display: inline-block!important
}
}

@media (min-width: 768px) and (max-width: 991px) {
.visible-sm {
	display: block!important
}
table.visible-sm {
	display: table
}
tr.visible-sm {
	display: table-row!important
}
th.visible-sm, td.visible-sm {
	display: table-cell!important
}
.visible-sm-block {
	display: block!important
}
.visible-sm-inline {
	display: inline!important
}
.visible-sm-inline-block {
	display: inline-block!important
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.visible-md {
	display: block!important
}
table.visible-md {
	display: table
}
tr.visible-md {
	display: table-row!important
}
th.visible-md, td.visible-md {
	display: table-cell!important
}
.visible-md-block {
	display: block!important
}
.visible-md-inline {
	display: inline!important
}
.navbar-nav > li > a {
	padding: 12px 8px
}
.visible-md-inline-block {
	display: inline-block!important
}
}

@media (min-width: 1200px) {
.visible-lg {
	display: block!important
}
table.visible-lg {
	display: table
}
tr.visible-lg {
	display: table-row!important
}
th.visible-lg, td.visible-lg {
	display: table-cell!important
}
}

@media (min-width: 1200px) {
.visible-lg-block {
	display: block!important
}
}

@media (min-width: 1200px) {
.visible-lg-inline {
	display: inline!important
}
}

@media (min-width: 1200px) {
.visible-lg-inline-block {
	display: inline-block!important
}
}

@media (max-width: 767px) {
.hidden-xs {
	display: none!important
}
}

@media (min-width: 768px) and (max-width: 991px) {
.hidden-sm {
	display: none!important
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.hidden-md {
	display: none!important
}
}

@media (min-width: 1200px) {
.hidden-lg {
	display: none!important
}
}
.visible-print {
	display: none!important
}

@media print {
.visible-print {
	display: block!important
}
table.visible-print {
	display: table
}
tr.visible-print {
	display: table-row!important
}
th.visible-print, td.visible-print {
	display: table-cell!important
}
}
.visible-print-block {
	display: none!important
}

@media print {
.visible-print-block {
	display: block!important
}
}
.visible-print-inline {
	display: none!important
}

@media print {
.visible-print-inline {
	display: inline!important
}
}
.visible-print-inline-block {
	display: none!important
}

@media print {
.visible-print-inline-block {
	display: inline-block!important
}
}

@media print {
.hidden-print {
	display: none!important
}
}
.col-pad-0 {
	padding: 0;
	margin: 0
}
.col-padright-none {
	padding-right: 0
}
.col-padleft-none {
	padding-left: 0
}
.col-pad35 {
	padding: 3.5%
}
.col-pad4 {
	padding: 4%
}
.col-pad5 {
	padding: 5%
}
.col-pad6 {
	padding: 6%
}
.col-pad7 {
	padding: 7%
}
.col-pad8 {
	padding: 8%
}
.col-pad9 {
	padding: 9%
}
.col-pad10 {
	padding: 10%
}
#contact .img-responsive {
	width: 100%
}
.gbg-white {
	background: #fff;
	position: absolute;
	left: 0;
	width: 35%;
	height: 288px
}
.gbg-white h2 {
	margin-bottom: 30px
}
.gbg-white p {
	padding: 0 0 0 4px
}
/* Add changes date 13-05-2015 */
.appfrmleft .form-group {
	width: 48.4%;
	float:left;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:18px;
}
.appfrmright .form-group {
	width: 100%;
	margin-bottom:15px;
	margin-left:0px;
	margin-right:0px;
	float:right;
}
.appfrm .mt-right0 {
	margin-right: 0px;
}

.testimonilabg .carousel-control {
	position: absolute;
	left: 0px;
	bottom: auto;
	width: 100%;
	top:0px;
}
.testimonilabg .carousel-control a {
	width: 44px;
	height: 44px;
	position: absolute;
	top: 0px;
	background: url(../images/icn-arrow-small.png) 0 0 no-repeat
}
.testimonilabg .carousel-control .left {
	left:auto;
	right:0px;
	margin-top:0px;
	
}
.testimonilabg .carousel-control .left:hover {
	background-position: 0px -50px
}
.testimonilabg .carousel-control .right {
	top:44px;
	right: 0px;
	left:auto;
	margin-top: 0px;
	background-position: -50px 0px
}

.testimonilabg .carousel-control .right:hover {
	background-position: -50px -50px
}
@media (min-width: 2560px) and (min-width:1920px) {
.slidercaption {
	width: 45%
}

}

@media (min-width: 1641px) and (max-width: 1899px) {
.slidercaption {
	width: 70%
}
.form-group {
	width: 47.1%
}
}

@media (min-width: 1600px) and (max-width: 1640px) {
.slidercaption {
	width: 78%
}
.carousel {
	height: 816px
}
.titile-bg {
	padding: 53px 70px 17px
}
.form-group {
	width: 47.1%
}
}

@media (min-width: 1440px) and (max-width: 1599px) {
.slidercaption {
	width: 83%
}
.form-group {
	width: 47.2%
}
}

@media (min-width: 1200px) and (max-width:1365px) {
.form-group {
	width: 47.2%
}
}

@media (min-width: 992px) and (max-width: 1199px) {
#promotions .carousel {
	height: 361px
}
.gbg-white {
	height: 274px
}
#promotions h4 {
	margin-bottom: 10px
}
.img-right img {
	max-width: 120%
}
#promotions .carousel-control {
	bottom: 87px
}
.img-right {
	height: 360px;
	overflow: hidden
}
}

@media (min-width: 768px) and (max-width: 991px) {
.carousel {
	height: 472px;
	margin-top: 52px
}
.carousel-control {
	bottom: 226px
}
.carousel-control a {
	height: 76px;
	width: 76px
}
.carousel-control .left {
	margin: 0;
	left: 33.3%;
	background-position: -11px -5px
}
.carousel-control .right {
	left: 42.8%;
	margin: 0;
	background-position: -103px -5px
}
.carousel-control .left:hover {
	background-position: -11px -101px
}
.carousel-control .right:hover {
	background-position: -103px -101px
}
#promotions .carousel-inner, #promotions .carousel-inner > .item {
	height: 100%
}
#promotions .carousel {
	height: 500px
}
.gbg-white {
	width: 100%;
	height: 170px;
	bottom: 0
}
.col-pad4 {
	padding: 2.5% 3%
}
.ourteamd {
	margin-bottom: 15px
}
.ourteamd p {
	padding-right: 0
}
#ourteam .caption {
	width: 97.3%
}
#services .col-padright-none {
	padding-right: 15px
}
#services .col-padleft-none {
	padding-left: 15px
}
#services .img-responsive {
	width: 100%
}
.marright0 {
	margin-right: 0
}
.form-group {
	width: 49.2%
}
.textarea {
	width: 100%;
	margin-right: 0
}
#contact .btn-default {
	width: 15%
}
.table-bordered {
	margin-top: 0
}
.navbar-nav > li > a {
	padding: 12px
}
.col-xs-offset-1 {
	margin-left: 0
}
h1, .h1, h2, .h2 {
	font-size: 60px;
	line-height: 60px
}
}

@media (min-width: 900px) and (max-width: 980px) {
.white-bg {
	padding: 33px 0 20px
}
.carousel-control {
	bottom: 225px
}
.carousel-control .left {
	left: 33.4%
}
.carousel-control .right {
	left: 42.5%
}
.carousel {
	height: 539px
}
}

@media (min-width: 800px) and (max-width:899px) {
.carousel-control .left {
	margin: 0;
	left: 33.4%;
	background-position: -11px -5px
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.carousel {
	height: 560px
}
.carousel-control {
	bottom: 231px
}
.carousel-control .right {
	left: 35%
}
.table-bordered {
	margin-top: -4px
}
.table-bordered > tbody > tr > td {
	font-size: 14px;
	vertical-align: middle;
	height: 39.4px;
	padding: 0 0 0 18px;
	vertical-align: middle
}
.bg-white {
	margin-right: 5px
}
.col-pad4 {
	padding: 3%
}
.form-group {
	width: 46.5%
}
.coypright {
	margin-top: 9px
}
#contact {
	padding: 60px 0
}
h1 {
	font-size: 70px;
	line-height: 70px
}
.textarea {
	width: 96.7%
}
.appfrmleft .form-group{
	width:48%;
	}
}

@media (min-width:1366px) and (max-width:1400px) {
.carousel {
	height: 690px
}
.carousel-control {
	bottom: 215px
}
.carousel-control .right {
	left: 32.9%
}
.navbar-nav > li > a {
	padding: 12px 25px
}
}

@media (min-width: 1200px) and (max-width:1365px) {
.carousel {
	height: 650px
}
.slider-titile {
	width: 85%
}
.carousel-control {
	bottom: 215px
}
.carousel-control .right {
	left: 33%
}
}

@media (max-width: 767px) {
.carousel {
	height: 530px;
	margin-top: 48px
}

.form-group {
	width: 100%
}
.col-padright-none {
	padding-right: 15px
}
.col-padleft-none {
	padding-left: 15px
}
.slider-titile {
	width: 100%
}
.carousel-inner > .item > img {
	max-width: 150%;
	position: relative;
	left: -160px
}
#promotions .carousel-inner > .item > img {
	max-width: 100%;
	position: relative;
	left: 0
}
.col-xs-offset-1 {
	margin-left: 0
}
.col-xs-offset-2 {
	display: none
}
.bg-white {
	
	margin: 0 30px;
	position: absolute;
	bottom: 60px;
	width: 90%
}
#promotions .pull-right {
	float: none!important
}
.textarea {
	width: 100%;
	margin-right: 0
}
#contact .btn-default {
	width: 100%
}
.table-bordered {
	margin-top: 0
}
.nav > li {
	border-bottom: 1px solid #eee
}
.gbg-white {
	width: 100%;
	bottom: 0;
	height: 194px
}

h1, .h1, h2, .h2 {
	font-size: 60px;
	line-height: 60px
}
.appfrmleft .form-group {
	width: 100%;
	margin:0px 0px 12px;
}
.appfrmright .form-group {
	width: 100%;
	margin:0px 0px 12px;
}
.testimonilabg .carousel-control .right{
	top:0px;
	}
.testimonilabg .carousel-control .left{
	right:44px;
	}
}

@media (max-width: 480px) {
.carousel {
	height: 490px;
	margin-top: 48px
}
.table-bordered > tbody > tr > td {
	padding: 8px 5px 8px 15px;
	font-size: 12px
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	padding: 13px 5px 8px 15px;
	font-size: 12px
}
.carousel-inner > .item > img {
	max-width: 150%;
	left: -126px
}
.carousel-control {
	display: none
}
#promotions .carousel-inner > .item > img {
	max-width: 100%;
	left: 0
}
.bg-white {
	width: 100%;
	margin: 0
}
.gbg-white {
	height: 188px
}
#promotions .carousel {
	height: 424px;
	margin-top: 20px
}
#promotions .carousel-control {
	top: 9%;
	bottom: 39.5%;
	width: 100%;
	display: block
}
h1, .h1, h2, .h2 {
	font-size: 48px;
	line-height: 48px
}
.subtitle h2 {
	font-size: 36px
}
.testimonilabg  .carousel-control {
	margin-top:0px;
}

}

@media (max-width: 479px) {
.carousel-inner > .item > img {
	left: -82px
}
#promotions .carousel-inner > .item > img {
	left: -10px;
	max-width: 120%
}
.gbg-white {
	height: 250px
}
#promotions .carousel {
	height: 396px;
	margin-top: 20px
}
#promotions .carousel-control {
	display: none
}
.map {
	height: 280px
}
.carousel {
	height: 440px
}



}
@media (max-width: 320px) {
#promotions .carousel {
	height: 385px;
}

}