

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body {
  background: #fff;
}

body {
  font-family: "Roboto", arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: #676767;
}
body.fh5co-overflow {
  overflow-x: auto;
}

body:before, body:after {
  content: "";
  position: fixed;
 
  left: 0;
  right: 0;
  height: 20px;
  z-index: 1002;
}
@media screen and (max-width: 768px) {
  body:before, body:after {
    display: none;
  }
}

body:before {
  top: 0;
}

body:after {
  bottom: 0;
}

body {
    border-left: 20px solid #92e3fc;
    border-right: 20px solid #92e3fc;
}
@media screen and (max-width: 768px) {
  body {
    border-left: 0;
    border-right: 0;
  }
}

::-webkit-selection {
  color: #fff;
 background: #35aac9;
}

::-moz-selection {
  color: #fff;
 background: #35aac9;
}

::selection {
  color: #fff;
 background: #35aac9;
}

a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
   color: #00ccff;
 
}
a:hover, a:focus, a:active {
 color: #088FB1;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poiret One', cursive;
  color: #000;
  margin-bottom: 0.5em;
  clear: both;
}


.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family:'Poiret One', cursive;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #f7c873;
  color: #fff;
  border: 2px solid #f7c873;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f6bf5b !important;
  border-color: #f6bf5b !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #f7c873;
  border: 2px solid #f7c873;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #f7c873;
  color: #fff;
}

.btn-success {
  background: #58ca7e;
  color: #fff;
  border: 2px solid #58ca7e;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #45c46f !important;
  border-color: #45c46f !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #58ca7e;
  border: 2px solid #58ca7e;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #58ca7e;
  color: #fff;
}

.btn-info {
  background: #1784fb;
  color: #fff;
  border: 2px solid #1784fb;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #0477f4 !important;
  border-color: #0477f4 !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #1784fb;
  border: 2px solid #1784fb;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #1784fb;
  color: #fff;
}

.btn-warning {
  background: #fed330;
  color: #fff;
  border: 2px solid #fed330;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #fece17 !important;
  border-color: #fece17 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #fed330;
  border: 2px solid #fed330;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #fed330;
  color: #fff;
}

.btn-danger {
  background: #fb4f59;
  color: #fff;
  border: 2px solid #fb4f59;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #fa3641 !important;
  border-color: #fa3641 !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #fb4f59;
  border: 2px solid #fb4f59;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #fb4f59;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #f7c873;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #cccccc; }
    .mfp-preloader a:hover {
      color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444; }
  .mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
#fh5co-logo {
  padding-top: 2em;
  text-align: center;
}
#fh5co-logo > a {
  position: relative;
  display: block;
  font-size: 50px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
#fh5co-logo > a i, #fh5co-logo > a em {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  text-align: center;
  display: block;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-logo > a em {
  opacity: 0;
  visibility: hidden;
  font-size: 26px;
  top: 2px;
  font-family:'Poiret One', cursive;
}
#fh5co-logo > a:hover i {
  opacity: 0;
  visibility: hidden;
}
#fh5co-logo > a:hover em {
  opacity: 1;
  visibility: visible;
}

#fh5co-main {
  padding: 2.7em 0 7em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-main {
    padding: 2em 0;
  }
}
#fh5co-main > .container {
  position: relative;
}

.fh5co-heading {
  margin-bottom: 1.5em;
}
.fh5co-heading.padding-right {
  padding-right: 1em;
}
.fh5co-heading h2 {
    font-size: 43px;
    margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .fh5co-heading.padding-right {
    padding-right: 0em;
  }
}

.fh5co-intro {
  margin-bottom: 2em;
}
.fh5co-intro.padding-right {
  padding-right: 1em;
}
@media screen and (max-width: 768px) {
  .fh5co-intro.padding-right {
    padding-right: 0em;
	margin-bottom: 10px;
  }
}
.fh5co-intro h1 {
  line-height: 1.5;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .fh5co-intro h1 {
    font-size: 20px;
    margin-bottom: 10px;
	margin-top: 0;
}
}
.fh5co-intro h1 a {
  font-size: 20px;
}

.fh5co-img {
  position: relative;
  background: #f2f2f2;
  float: left;
  width: 100%;
}

.fh5co-grid {
  position: relative;
}
.fh5co-grid .fh5co-col-1,
.fh5co-grid .fh5co-col-2 {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .fh5co-grid .fh5co-col-1,
  .fh5co-grid .fh5co-col-2 {
    width: 100%;
  }
}
.fh5co-grid .fh5co-col-1.margintop,
.fh5co-grid .fh5co-col-2.margintop {
  margin-top: 29%;
}
.fh5co-grid .fh5co-col-1 img,
.fh5co-grid .fh5co-col-2 img {
  max-width: 100%;
}
.fh5co-grid .fh5co-col-1 .fh5co-item,
.fh5co-grid .fh5co-col-2 .fh5co-item {
  margin-bottom: .5em;
  float: left;
  width: 100%;
  position: relative;
  background: #f2f2f2;
}
.fh5co-grid .fh5co-col-1 .fh5co-item a,
.fh5co-grid .fh5co-col-2 .fh5co-item a {
  position: relative;
  display: block;
  overflow: hidden;
}
.fh5co-grid .fh5co-col-1 .fh5co-item a.image-popup h2,
.fh5co-grid .fh5co-col-2 .fh5co-item a.image-popup h2 {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.fh5co-grid .fh5co-col-1 .fh5co-item a .fh5co-item-text-wrap,
.fh5co-grid .fh5co-col-2 .fh5co-item a .fh5co-item-text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.fh5co-grid .fh5co-col-1 .fh5co-item a .fh5co-item-text,
.fh5co-grid .fh5co-col-2 .fh5co-item a .fh5co-item-text {
  position: absolute;
  z-index: 99;
  text-align: center;
  top: 50%;
  width: 100%;
  vertical-align: middle;
  margin-top: -18px;
}
@media screen and (max-width: 768px) {
  .fh5co-grid .fh5co-col-1 .fh5co-item a .fh5co-item-text,
  .fh5co-grid .fh5co-col-2 .fh5co-item a .fh5co-item-text {
    margin-top: -12px;
  }
}
.fh5co-grid .fh5co-col-1 .fh5co-item a .fh5co-item-text h2,
.fh5co-grid .fh5co-col-2 .fh5co-item a .fh5co-item-text h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Roboto", arial, sans-serif;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .fh5co-grid .fh5co-col-1 .fh5co-item a .fh5co-item-text h2,
  .fh5co-grid .fh5co-col-2 .fh5co-item a .fh5co-item-text h2 {
    font-size: 20px;
  }
}
.fh5co-grid .fh5co-col-1 .fh5co-item a img,
.fh5co-grid .fh5co-col-2 .fh5co-item a img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.fh5co-grid .fh5co-col-1 .fh5co-item a:hover img,
.fh5co-grid .fh5co-col-2 .fh5co-item a:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.fh5co-grid .fh5co-col-1 .fh5co-item a:hover .fh5co-item-text-wrap,
.fh5co-grid .fh5co-col-2 .fh5co-item a:hover .fh5co-item-text-wrap {
  background: rgba(0, 0, 0, 0.2);
}
.fh5co-grid .fh5co-col-1 .fh5co-item a.image-popup:hover h2,
.fh5co-grid .fh5co-col-2 .fh5co-item a.image-popup:hover h2 {
  opacity: 1;
  visibility: visible;
}
.fh5co-grid .fh5co-col-1 {
  float: left;
  padding-right: .25em;
}
@media screen and (max-width: 480px) {
  .fh5co-grid .fh5co-col-1 {
    padding-right: 0em;
  }
}
.fh5co-grid .fh5co-col-2 {
  float: right;
  padding-left: .25em;
}
@media screen and (max-width: 480px) {
  .fh5co-grid .fh5co-col-2 {
    padding-left: 0em;
  }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.fh5co-social-wrap {
  padding: 0em 0 0 0;
  float: left;
}

.fh5co-social {
  padding: 0;
  margin: 10px 0 0 0;
  position: relative;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-social li a {
  font-size: 40px;
  padding: 4px;
  color: #088FB1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .fh5co-social li a {
    font-size: 26px;
  }
}
.fh5co-social li a:hover {
    color: #00CCFF;
}

figure {
  margin-bottom: 1.5em;
}
figure figcaption {
  padding-top: 15px;
  font-size: 14px;
  color: #999999;
}

#fh5co-footer {
  padding: 3em 0 0 0em;
  float: left;
}
#fh5co-footer.padding-left {
  padding-left: 2em;
}
@media screen and (max-width: 480px) {
  #fh5co-footer.padding-left {
    padding-left: 0em;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-footer {
    padding: 2em 0 0 0;
  }
}

.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
    float: none;
  }
}
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/hourglass.svg) center no-repeat #ffffff;
}

/*# sourceMappingURL=style.css.map */
