
body a{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
body{
	background:#FFFFFF;
}
.banner{
	background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- banner --*/
.address-info{
    padding: 1em 0;
    text-align: center;
    border-bottom: solid 1px rgba(255, 255, 255, 0.11);
}
.address-info-text p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
}
/*-- header --*/
.banner-info {
    padding: 10em 0 2em 0;
}
.agileits-logo {
	text-align:center;
}
.agileits-logo h1{
	margin:0;
}
.agileits-logo h1 a{
    font-size: 4em;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    padding: 0;
}
.agileits-logo h1 a span{
    text-transform: capitalize;
    font-weight: 300;
    color: 	#e813e0;
}
.w3-border{
    background: #FFFFFF;
    height: 4px;
    width: 15%;
    margin: 1em auto;
}
.w3layouts-banner-info{
	text-align:center;
}
.w3layouts-banner-info h2{
    color: #FFFFFF;
    font-size: .9em;
    margin: 2em 0 0 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
.w3ls-button {
    margin: 4em 0 0 0;
}
.w3ls-button a {
    color: #fff;
    font-size: 1em;
    padding: 1em 4em;
    border: solid 2px #ffffff;
    text-decoration: none;
    border-radius: 30px;
    margin: 0;
    background:#e813e0;
}
.w3ls-button a:hover {
    color:#fff;
    background:#272727;
    border: solid 2px #FFFFFF;
}
.w3ls-button a:focus,.datew3-agileits-info h5 a:focus{
	outline:none;
}
.header-top {
    border-top: solid 1px rgba(255, 255, 255, 0.11);
    margin: 10em 0 0 0;
}
.header-top-info {
	padding: 2em 0 0 0;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-nav {
    float: none;
    text-align: center;
    background: none;
    margin:0;
}
.header-top-info ul li{
    display: inline-block;
    float: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
    letter-spacing: 2px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: 	#e813e0;
    background: none;
    border-radius: 20px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: 	#e813e0;
}
.navbar-nav > li > a {
	font-size: 1em;
    padding: 0;
    margin: 0 1em;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: 	#e813e0;
    background: none;
    border-radius: 20px;
}
/*-- //header --*/
/*-- model --*/
.agileits-w3layouts-info img{
	width:100%;
}
.modal-header h4 {
	font-size: 2em;
    color: #212121;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    padding: 0;
}
.modal-header h4 span{
    text-transform: capitalize;
    font-weight: 300;
    color: 	#e813e0;
}
.modal-body p{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #999999;
    line-height: 1.8em;
}
/*-- //model --*/
/*-- about --*/
.about,.services,.gallery,.stats,.news,.team,.contact{
	padding:4em 0;
	background:#FFFFFF;
}
.agileits-heading h3{
    color: #2f2f2f;
    margin: 0;
    font-size: 3.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-weight: 400;
    text-transform: Uppercase;
}
.w3l-about-grids {
    margin: 4em 0 0 0;
}
.icon-left{
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
    text-align: center;
    padding: 1.2em 0 0 0;
    margin-right: 1.5em;
}
.icon-right{
    float: left;
    width: 80%;
}
.icon-left i.fa{
    color: 	#e813e0;
    font-size: 2em;
}
.icon-right h5{
    color: #212121;
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 1em 0;
}
.icon-right p{
	color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;	
}
.agileits-icon-grid:nth-child(2){
	margin:2em 0;
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 	#e813e0;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: #FFFFFF;
}
.agileits-icon-grid:hover div.hvr-radial-out:before{
  -webkit-transform: scale(2);
  transform: scale(2);	
  color:#FFFFFF;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.agileits-icon-grid:hover i.fa{
	color:#FFFFFF;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;	
}
.w3ls-about-right-img{
	background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 360px;
}
/*-- //about --*/
/*-- services --*/
.services,.news{
    background: #e9e9e9;
}
.agile-heading h3{
	text-align:center;
}
.wthree-services-grids,.gallery-w3lsrow,.news-agileinfo,.teamw3-agileinfo,.contact-w3ls-row{
	margin:4em 0 0 0;
}
.wthree-services-grid {
	overflow: hidden;
	position: relative;
	display: block;
	box-shadow: 0 0px 1px rgb(107, 107, 107),0 1px 2px rgba(0,0,0,.24);
}
.wthree-services-info{
    padding: 6em 0;
    background: #FFFFFF;
    text-align: center;
}
.wthree-services-info i.fa{
	color: #212121;
    font-size: 3em;
}
.wthree-services-info h4{
    color: #212121;
    font-size: 1.2em;
    margin: 1em 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
}
.w3ls-border{
	width: 30%;
    margin: 1em auto 0;
    border: solid 1px 	#e813e0;
}
.wthree-services-captn {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 6em 1em;
    text-align: center;
    top: -100%;
    right: 0;
    background-color: 	#e813e0;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.wthree-services-captn h4 {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.wthree-services-captn p {
    font-size: .9em;
    margin-top: 1em;
    color: #fff;
    line-height: 1.8em;
}
.wthree-services-grid:hover .wthree-services-captn {
	display:block;
	top: 0%;
}
.services-grids1{
	margin:2em 0 0 0 !important;
}
/*-- //services --*/
/*-- gallery --*/ 
.gallery-grids img {
    width: 100%;
}
.gallery-grids { 
	padding: 0;
}
/*-- gallery-hover effect --*/
.w3ls-hover {
	background-color: #FFF;
	display: block; 
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	text-align: center;
}
.w3ls-hover img {  
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
} 
.w3ls-hover .view-caption { 
    padding: 8em 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	-webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
	background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
	border-radius: 50%;
}
.w3ls-hover .view-caption h5{
	color: #fff;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}
.w3ls-hover .view-caption i.fa {
    color: #fff;
    font-size: 1em;
    margin-top: 5%;
    display: inline-block;
    border: 2px solid #fff;
    padding: 12px;
}
.w3ls-hover:hover .view-caption { 
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	border-radius: 0;
}
.w3ls-hover .view-caption span:hover {
    color: #02bbd2;
    border-color: #02bbd2;
}
/*-- //gallery --*/
/*-- stats --*/
.stats{
	background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.w3_counter_grid p{
	font-size: 4em;
    font-weight: 700;
    letter-spacing: 5px;
    color: #fff;
	margin:0.5em 0;
}
.w3_counter_grid h3{
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.w3_counter_grid {
    text-align: center;
}
.w3_agileits_counter_grid {
	background: 	#e813e0;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
}
.w3_agileits_counter_grid i {
    line-height: 80px;
    font-size: 32px;
	color:#fff;
}
/*-- //stats --*/
/*-- team --*/ 
.team  h5{
	color:#fff;
}
/*-- team-effects --*/
.btm-right {
	overflow: hidden;
	position: relative;
	display: block;
}
.btm-right img{
	width: 100%;
}
.btm-right .captn {
    color: #fff;
    background-color: #222;
    text-align: center;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding:1.3em 0;
    border-bottom: 5px solid #222;
}
.captn h4 {
    font-size: 1.2em;
    color: #fff;
    margin: 0;
}
.captn-icon {
    background: rgba(2, 2, 2, 0.65);
	width: 23%;
    position: absolute;
    top: 16%;
    left: 0;
    text-align: center;
    padding: 0.5em 0;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
} 
.captn-icon ul {
	margin:0;
	padding:0;
}
.captn-icon ul li { 
    margin: 0.5em;
	display: block;
}
.captn-icon ul li a i.fa{
	height: 40px;
    width: 40px;
    line-height: 40px;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.btm-right:hover .captn {
    background: 	#e813e0;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-bottom-color: #1bdfdf;
}
.captn-icon ul li a i.fa.fa-facebook:hover {
    border: solid 1px #3b5998;
    background: #3b5998;
    color: #FFFFFF;
}
.captn-icon ul li a i.fa.fa-twitter:hover {
    border: solid 1px #55acee;
    background: #55acee;
    color: #FFFFFF;
}
.captn-icon ul li a i.fa.fa-google-plus:hover {
    border: solid 1px #f26522;
    background: #f26522;
    color: #FFFFFF;
}
/*--//team-effects--*/
/*-- //team --*/
/*-- news --*/ 
.wthree-news-grids {
    margin-top: 2em;
}
.datew3-agileits-info {
    padding-left: 2em;
} 
.datew3-agileits img.img-responsive {
	width: 155px;
    height: inherit;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    overflow: hidden;
    border: solid #dedede;
}
.wthree-news-grids:hover .datew3-agileits img.img-responsive {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
    transform: scale(1.2);
}
.datew3-agileits-info h5 {
    margin: 0;
}
.datew3-agileits-info h5 a {
    color: #212121;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
}
.datew3-agileits-info h5 a:hover {
    color: 	#e813e0;
}
.datew3-agileits-info h6 {
    font-size: .9em;
    color: #e813e0;
    margin: 1em 0;
}
.datew3-agileits-info p {
    margin: 1em 0 0;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
}
.datew3-agileits.datew3-agileits-fltrt {
    float: right;
}
.news-right h4 {
    color: #000;
    font-size: 2em;
    margin: 0;
}
.news-right {
    padding-left: 4em;
}
.achievesw3-agile {
	background: 	#e813e0;
    padding: 1em;
    display: inline-block;
    margin: 2em 0 0 0;
}
.achievesw3-agile ul{
	padding:0;
	margin:0;
}
.achievesw3-agile ul li {
    display: block;
    margin: 1.3em 1em;
}
.achievesw3-agile ul li a{
    font-size: 1em;
    color: #fff;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
	-ms-transition: .5s all;
	-o-transition: .5s all;
    text-decoration: none;
}
.achievesw3-agile ul li a:hover{ 
	color:#000;
}
.achievesw3-agile ul li a i.fa {
    margin-right: 0.8em;
}
/*-- //news --*/
/*-- contact --*/
.w3agile-map iframe {
    border: none;
    min-height: 300px;
    width: 100%;
}
.wthree-contact-form{
	margin:2em 0 0 0;
}
.agileits-contact-right textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #999;
    font-size: 1em;
    outline: none;
    padding: 1em .8em;
    border: solid 1px #999;
    min-height: 12.5em;
    -webkit-appearance: none;
}
.agileits-contact-left input[type="text"], .agileits-contact-left input[type="email"] {
    width: 49%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: 1em;
    padding: 1em 1em;
    margin-bottom: 1em;
    border: solid 1px #999;
    -webkit-appearance: none;
    display: inline-block;
}
.agileits-contact-left input.email {
    float: right;
}
.agileits-contact-left input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.8em 4em;
    font-size: 1em;
    -webkit-appearance: none;
    background: 	#e813e0;
    border: 2px solid 	#e813e0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    width: 100%;
}
.agileits-contact-left input[type="submit"]:hover {
    background: none;
    color: #212121;
    border-color: #212121;
}
/*-- //contact --*/
/*-- footer --*/
.footer{
    background: #212121;
    padding: 4em 0;
}
.footer h4{
	display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.5em;
    margin: 0 0 1em 0;
}
.footer input[type="email"]{
    outline: none;
    color: #fff;
    font-size: 1em;
    padding: 1em;
    width: 82%;
    background: none;
    border: none;
    border-bottom: 1px solid #999;
}
.footer input[type="submit"]{
	outline: none;
    color: #fff;
    padding: 1em 3em;
    font-size: 1em;
    background: 	#e813e0;
    border: none;
    text-transform: uppercase;
    margin-left: 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.footer input[type="submit"]:hover{
	background: #ffffff;
    color: #212121;
}
.agile_footer_copy{
	padding:3em 0;
	border-bottom:1px solid #EAEAEA;
}
.w3agile_footer_grid h3{
    font-size: 1.2em;
    color: 	#e813e0;
    margin: 0 0 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.w3agile_footer_grid p{
	font-size:14px;
	color:#bfbfbf;
	line-height:2em;
	margin:0;
}
.w3agile_footer_grid p span{
	display:block;
	margin:1em 0 0;
}
.w3agile_footer_grid ul li{
	list-style-type:none;
	color:#bfbfbf;
	font-size:14px;
}
.w3agile_footer_grid1 ul{
	margin:0;
	padding:0;
}
.w3agile_footer_grid1 ul li{
	margin-bottom:1em;
}
.w3agile_footer_grid ul li span{
	display:block;
	margin-left: 3em;
}
.w3agile_footer_grid ul li a{
	color:#bfbfbf;
	text-decoration:none;
}
.w3agile_footer_grid ul li a:hover{
	color:	#e813e0;
}
.w3agile_footer_grid ul{
	padding:0;
	margin:0;
}
.w3agile_footer_grid ul li{
    margin-bottom: 1em;
}
.agileits_w3layouts_copy_right p{
	color:#bfbfbf;
	line-height:2em;
	margin:0;
}
.agileits_w3layouts_copy_right p a{
    text-decoration: none;
    color: 	#e813e0;
}
.agileits_w3layouts_copy_right p a:hover{
	color:#FFFFFF;
}
.w3agile_footer_grid1 ul li span {
    display: inline-block;
    margin-left: 0;
    padding-right: 1em;
}
.w3_agileits_copy_right_social{
    padding: 2em 0 0;
}
.agileits_w3layouts_copy_right{
	text-align:center;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/* Preload images */
body:after {
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../images/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../images/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
    width: 90%;
    float: left;
    text-align: left;
    line-height: 1.1em;
    margin-top: 2em;
}

.lb-data .lb-caption {
    font-size: 13px;
    line-height: 1.8em;
    color: #fff;
    letter-spacing: 1px;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-top: 1em;
    font-size: 1em;
    color: #fff;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
} 
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media screen and (max-width: 320px){
.lb-data .lb-details {
    width: 89%; 
    margin-top: 1em;
}
.lb-data .lb-caption {
    font-size: 12px;  
}
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1080px){
	.icon-left {
		margin-right: .5em;
	}
	.banner-info {
		padding: 7em 0 2em 0;
	}
	.header-top {
		margin: 7em 0 0 0;
	}
	.captn-icon {	
		width: 30%;
		top: 8%;
	}
	.news-right {
		padding-left: 0em;
	}
}
@media(max-width:991px){
	.wthree-services-info {
		padding: 4em 0;
	}
	.wthree-services-captn {
		padding: 2em 1em;
	}
	.wthree-services-captn h4 {
		letter-spacing: 0px;
	}
	.w3ls-hover .view-caption {
		padding: 6em 0;
	}
	.w3ls-about-left {
		margin: 2em 0 0 0;
	}
	.w3_counter_grid {
		float: left;
		width: 50%;
	}
	.w3_counter_grid:nth-child(3),.w3_counter_grid:nth-child(4){
		margin:2em 0 0 0;
	}
	.team-wthree-grid:nth-child(3),.team-wthree-grid:nth-child(4){
		margin:2em 0 0 0;
	}
	.footer input[type="email"] {
		width: 77%;
	}
	.w3agile_footer_grid:nth-child(2){
		margin:2em 0;
	}
	.agileits-contact-left input[type="text"], .agileits-contact-left input[type="email"] {
		margin: 1em 0 0 0;
	}
	.agileits-contact-left input[type="submit"] {
		margin: 1em 0 0 0;
	}
}
@media(max-width:800px){
	.agileits-logo h1 a {
		font-size: 3em;
	}
	.w3ls-button a {
		padding: 1em 3em;
	}
	.w3_counter_grid p {
		font-size: 2em;
	}
}
@media(max-width:736px){
	.navbar-toggle {
		float: none;
		margin-top: 8px;
		margin-right: 0;
	}
	.navbar-header {
		text-align: center;
	}
	.header-top-info ul li {
		display: block;
	}
	.navbar-nav > li > a {
		margin: 1em 0em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		background: rgba(0, 0, 0, 0.82);
		z-index: 9999;
	}
	.wthree-services {
		float: left;
		width: 50%;
	}
	.wthree-services-captn {
		padding: 4em 1em;
	}
	.wthree-services:nth-child(3),.wthree-services:nth-child(4){
		margin:2em 0 0 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: 	#e813e0;
	}
}
@media(max-width:667px){
	.banner-info {
		padding: 4em 0 1em 0;
	}
	.header-top-info {
		padding: 1em 0 0 0;
	}
	.header-top {
		margin: 5em 0 0 0;
	}
	.agileits-logo h1 a {
		font-size: 2em;
	}
	.w3ls-button a {
		padding: .5em 2em;
	}
	.footer input[type="email"] {
		width: 72%;
	}
}
@media(max-width:600px){
	.footer input[type="email"] {
		width: 65%;
	}
}
@media(max-width:480px){
	.agileits-heading h3 {
		font-size: 2.5em;
	}
	.w3ls-about-right-img {
		min-height: 275px;
	}
	.w3ls-hover .view-caption h5 {
		font-size: 1em;
	}
	.w3ls-hover .view-caption {
		padding: 5em 0;
	}
	.captn-icon {
		top: 3%;
	}
	.footer input[type="email"] {
		width: 60%;
	}
	.wthree-services-captn {
		padding: 3em 1em;
	}
	.wthree-services-grids, .gallery-w3lsrow, .news-agileinfo, .teamw3-agileinfo, .contact-w3ls-row {
		margin: 2em 0 0 0;
	}
}
@media(max-width:414px){
	.agileits-logo h1 a {
		font-size: 1.5em;
	}
	.w3ls-button {
		margin: 2em 0 0 0;
	}
	.header-top {
		margin: 3em 0 0 0;
	}
	.about, .services, .gallery, .stats, .news, .team, .contact {
		padding: 2em 0;
	}
	.w3l-about-grids {
		margin: 2em 0 0 0;
	}
	.w3ls-about-right-img {
		min-height: 220px;
	}
	.icon-right {
		float: none;
		width: 100%;
	}
	.icon-left {
		float: none;
	}
	.gallery-grids {
		width: 50%;
	}
	.w3_counter_grid {
		float: none;
		width: 100%;
	}
	.w3_counter_grid:nth-child(2),.w3_counter_grid:nth-child(3), .w3_counter_grid:nth-child(4) {
		margin: 2em 0 0 0;
	}
	.team-wthree-grid {
		width: 100%;
	}
	.team-wthree-grid:nth-child(2),.team-wthree-grid:nth-child(3), .team-wthree-grid:nth-child(4) {
		margin: 2em 0 0 0;
	}
	.footer input[type="email"] {
		width: 100%;
	}
	.footer input[type="submit"] {
		padding: .5em 2em;
		margin: 1em 0 0 0;
	}
	.agileits-heading h3 {
		font-size: 2em;
	}
	.footer {
		padding: 2em 0;
	}
}
@media(max-width:384px){
	.wthree-services {
		float: none;
		width: 100%;
	}
	.wthree-services:nth-child(2),.wthree-services:nth-child(3), .wthree-services:nth-child(4) {
		margin: 2em 0 0 0;
	}
	.wthree-services-captn {
		padding: 4em 1em;
	}
}
@media(max-width:375px){
	.datew3-agileits {
		width: 46%;
		margin: 0 auto;
		float: none;
	}
	.datew3-agileits-info {
		padding: 0;
		text-align: center;
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.datew3-agileits.datew3-agileits-fltrt {
		float: none;
	}
}
@media(max-width:320px){
	.agileits-logo h1 a {
		font-size: 1em;
	}
	.banner-info {
		padding: 2em 0 1em 0;
	}
	.w3ls-about-right-img {
		min-height: 175px;
	}
	.news-right h4 {
		font-size: 1.2em;
	}
	.achievesw3-agile {
		padding: .5em;
	}
	.news-right {
		padding: 0em;
	}
	.agileits-heading h3 {
		font-size: 1.5em;
	}
	.agileits-contact-left input[type="text"], .agileits-contact-left input[type="email"] {
		font-size: .9em;
		padding: .5em;;
	}
	.agileits-contact-right textarea {
		font-size: .9em;
		padding: .5em;
		min-height: 7.5em;
	}
	.agile_footer_copy {
		padding: 2em 0;
	}
}
/*-- //responsive --*/