<!DOCTYPE html>
<html lang="en">
<head>
<title>home</title>
<meta charset="utf-8">    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<meta name="description" content="Your description">
<meta name="keywords" content="Your keywords">
<meta name="author" content="Your name">
<meta name = "format-detection" content = "telephone=no" />
<!--CSS-->

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800">
<!--JS-->


</head>
<body>
<!--header-->
<header class="clearfix">
    <div class="container">
        <h1 class="navbar-brand navbar-brand_ wow zoomInLeft" data-wow-delay="0.5s"><a href="index.html"><img src="images/logo.png" alt="logo"></a></h1>
        <div class="call-box">
            <span></span>
            <div class="extra-wrap">
                <p class="title">Call us toll-free</p>
                <p class="description">1-800-234-5677</p>
            </div>
        </div> 
    </div>
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
                <ul class="nav sf-menu clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="about.html">About us</a></li>
                    <li><a href="services.html">SERVICES</a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="contact.html">contacts</a></li>
                </ul>
        </nav>
    </div>
</header>
<!--content-->
<div class="content"> 
    <div class="container">
        <div class="slider">  
            <div class="camera_wrap">
                <div data-src="images/picture1.jpg"></div>
                <div data-src="images/picture2.jpg"></div>
                <div data-src="images/picture3.jpg"></div>
                    
            </div>
        </div>
    </div>


     <div class="thumb-box3">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-lg-12 col-md-8 wow fadeInUp">
                    <p class="title">About Us</p>
                    <p class="description">Lorum Lipsum</p>
                    <div class="thumb-pad2">
                        <div class="thumbnail">
                            <figure><img src="images/page1_pic3.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="title2">Joe Costilo, manager</p>
                                <h3><span>Mes cuml dia sed ineniascet inger lot aliiqtes dolore ipsum ame.</span></h3>
                                <p>Mes cuml dia sed in lacus ut eniascet ingerto aliiqt es site amet eismod ictor ut ligulate ameti dapibus ticdu nt mtsen lusto dolor ltissim comes cuml dia sed inertio lacusueni ascet dolingerto aliiqt sit.</p>
                                <p>Ut eniascet ingerto aliiqt es site amet eismod ictor uligulate ameti dap ibus ticdu nt mtsen lusto dolor ltissim comes cuml dia sed inertio lacu sueni ascet dolingerto aliiqt sit amet.</p>
                            </div>  
                        </div>
                    </div>
                </div>               
            </div>
        </div>
     </div>
</div>
<!--footer-->
<footer>
    <div class="container">
        <hr>
        <p class="wow fadeInUp"><span>P</span><i>A</i><strong>I</strong><b>N</b> &copy; <em id="copyright-year"></em> | <a href="#">Privacy Policy</a></p> 
        <ul class="follow_icon wow fadeInUp">
            <li><a href="#"><img src="images/follow_icon1.png" alt=""></a></li>
            <li><a href="#"><img src="images/follow_icon2.png" alt=""></a></li>
            <li><a href="#"><img src="images/follow_icon3.png" alt=""></a></li>
            <li><a href="#"><img src="images/follow_icon4.png" alt=""></a></li>
        </ul>
    </div>
  <!-- {%FOOTER_LINK} -->
</footer>


<!-- <script src="js/tm-scripts.js"></script> -->
</body>
</html>