@import url("../fonts/futura.css");
html { overflow-x: hidden }
body, html {font-family: 'Futura PT'; color: #5c5c5c; font-size: 16px;}
a{text-decoration:none;color: #a74fc5;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-ms-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
a:hover{color: #333;}
.clear5 { height: 5px; clear: both; }
.clear10 { height: 10px; clear: both; }
.clear15 { height: 15px; clear: both; }
.clear20 { height: 20px; clear: both; }
.clear25 { height: 25px; clear: both; }
.clear30 { height: 30px; clear: both; }
.clear35 { height: 35px; clear: both; }
.clear40 { height: 40px; clear: both; }
.clear45 { height: 45px; clear: both; }
.clear50 { height: 50px; clear: both; }
.clear55 { height: 55px; clear: both; }
.clear60 { height: 60px; clear: both; }
.clear65 { height: 45px; clear: both; }
.clear70 { height: 70px; clear: both; }
.clear75 { height: 45px; clear: both; }
.clear80 { height: 80px; clear: both; }
.clear85 { height: 45px; clear: both; }
.clear90 { height: 90px; clear: both; }
.clear95 { height: 45px; clear: both; }
.clear100 { height: 100px; clear: both; }
.navbar{min-height: 60px;}
.navbar-default{background: #a74fc5;background: -moz-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: -webkit-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: linear-gradient(to bottom, #a74fc5 0%, #7150a8 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74fc5', endColorstr='#7150a8', GradientType=0 );border:none 0;}
.navbar-default .navbar-nav>li>a {color: #fff;font-size: 20px;font-weight: 400;letter-spacing: 0.5px;line-height: 40px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {background: #a74fc5!important;color: #fff!important;}
.navbar-brand {height:auto!important;padding:10px!important;}
.navbar-brand img{max-height:50px!important;}
.navbar{margin:0;border-radius:0;}
.dropdown-menu, .navbar-nav .open .dropdown-menu{background:#fff;border:solid 1px #a74fc5;-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;padding:0;-webkit-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.17);-moz-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.17);box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.17);}
.dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a {display: block;padding: 7px 20px;clear: both;font-weight: 400;line-height:2;color: #a74fc5;white-space: nowrap;font-size:16px;}
.dropdown-menu>li>a.active,  .navbar-default .navbar-nav .open .dropdown-menu>li>a.active, .dropdown-menu>li>a:hover,  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#fff;background: #a74fc5;background: -moz-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: -webkit-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: linear-gradient(to bottom, #a74fc5 0%, #7150a8 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74fc5', endColorstr='#7150a8', GradientType=0 );}
.dropdown-menu>li:last-child>a,.navbar-default .navbar-nav .open dropdown-menu>li:last-child>a{-webkit-border-bottom-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomright: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;}
.dropdown-menu>li>a>i{font-size:25px;margin:4px 10px 0 0;float:left;width: 25px;}
.dropdown-menu>li>a.build {color:#fff!important;background: #7150a8;-webkit-border-bottom-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomright: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;}
.dropdown-menu>li>a.build:hover{color:#fff;background: #a74fc5;-webkit-border-bottom-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomright: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;}
.top-banner{height: 350px; width: 100%; background: url(../images/top-back.jpg) no-repeat center top; background-size: cover; text-align:center;display:table;}
.top-banner .container{display:table-cell;vertical-align:middle;}
.top-banner .container .inner-content{margin:auto;color:#fff;width:38%;}
.top-banner .container .inner-content h1{margin:0 0 20px 0;padding:0;font-size:2rem;line-height:3rem;}
.top-banner .container .inner-content h5{margin:0 0 20px 0;padding:0;font-size:1.2rem;line-height:1.5rem;}
.top-banner .container .inner-content .resume-btn{color: #a74fc5;font-size: 18px;background:#fff;letter-spacing:0.5px;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-ms-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
.top-banner .container .inner-content .resume-btn:hover{color: #fff;background:#a74fc5;}
.dashboard-div{border:solid 1px #ccc;border-radius:4px;}
.dashboard-div .date-div{float:right;}
.dashboard-div .head-div{color:#fff;padding:0 15px;margin:0 0 10px 0;background: #a74fc5;background: -moz-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: -webkit-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: linear-gradient(to bottom, #a74fc5 0%, #7150a8 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74fc5', endColorstr='#7150a8', GradientType=0 );-webkit-border-top-left-radius: 4px;-webkit-border-top-right-radius: 4px;-moz-border-radius-topleft: 4px;-moz-border-radius-topright: 4px;border-top-left-radius: 4px;border-top-right-radius: 4px;display: inline-table;width:100%;}
.head_div_2{color: #333 !important;}
.dashboard-div h1{line-height:50px;color:#fff;font-size: 18px;float:left;padding:0;margin:0;}
.dashboard-div .dashboard-div-inner{padding:10px 20px;}
.whitebox-div{border:solid 1px #ccc;border-radius:4px;padding:20px 20px 10px 20px;}
.whitebox-div .quicklinks, .whitebox-div .upgrades,.whitebox-div .training{float:left;width:32.67%;margin:0 0.33%}
.whitebox-div .quicklinks h3, .whitebox-div .upgrades h3{font-size:20px; color:#333; padding:0; margin:0 0 20px 0;}
.whitebox-div .quicklinks a{font-size:16px; color:#333; padding:10px 0; margin:0 0 10px 0; text-align:center;font-family: 'Futura PT'; border:solid 1px #333; background:transparent;font-weight: 400; width:100%;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-ms-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
.whitebox-div .quicklinks a:hover{color:#fff; border:solid 1px #333; background:#333;}
.whitebox-div .upgrades a{font-size:16px; color:#a74fc5; padding:10px 0; margin:0 0 10px 0; text-align:center;font-family: 'Futura PT'; border:solid 1px #a74fc5; background:transparent;font-weight: 400; width:100%;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-ms-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
.whitebox-div .upgrades a:hover{color:#fff; border:solid 1px #a74fc5;background: #a74fc5;background: -moz-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: -webkit-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: linear-gradient(to bottom, #a74fc5 0%, #7150a8 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74fc5', endColorstr='#7150a8', GradientType=0 );}
.whitebox-div .training .box{width: 100%;text-align: center;border: 1px solid #ddd;border-bottom: 2px solid #ddd;background: #FAFAFA;padding:10px;border-radius:5px;}
.whitebox-div .training .box img{float: left;padding:0;padding-right:5px;width: 24%;}
.whitebox-div .training .box span{float: left;font-size: 24px;padding-top: 5px; color: #333;width: 76%;}
.whitebox-div .training .box span small{font-size: 11px;display: block;text-align: left}
.whitebox-div .training .box span span{padding:2px 0;font-size: 14px;text-align: left;}
.whitebox-div .training .box span .btn{float:left;padding:0;margin:0;color: #a74fc5;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-ms-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
.whitebox-div .training .box span .btn:hover{color: #333;}
.userbox {position: relative;background: #FFF;box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);margin:0;padding: 1em;border-radius: .28571429rem;border: 1px solid rgba(34,36,38,.15);}
.userbox img.image{display: inline-block;vertical-align: top;border-radius: 500rem;}
.userbox  img.image+.content, .userbox img.image+.content {display: inline-block;}
.userbox .header {display: block;margin: 0;color: #333;}
.cf-section .cf-section-header {margin-top: 10px;padding: 15px;background-color: #f7f7f7;border: 1px solid #e6e6e6;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #333;font-size: 18px;font-weight: bold;}
.cf-section .cf-section-header .fa-star {color: #fbc16f;}
.cf-section .cf-section-body {border: 1px solid #e6e6e6;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top-width: 0;margin: 0;}
.cf-section .cf-favorites-list-items{border-bottom:solid 1px #ccc;}
.cf-section .cf-funnel-list-item .image{margin:10px;margin-right:5px;display:block;width: 2em;height: 2em;border-radius: 500rem;float:left;}
.cf-section .cf-funnel-list-item-link {display: block;float:left;line-height: 50px;}
.cf-section .cf-funnel-list-item .icon{margin:15px 10px;float:right;}
.cf-section .padded{padding: 1em;}
.cf-section .padded .btn{font-weight: 400; width:100%;-webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-ms-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;padding:10px 0; margin:0 0 10px 0; text-align:center;font-family: 'Futura PT';font-size:16px;color:#fff; border:solid 1px #a74fc5;background: #a74fc5;background: -moz-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: -webkit-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: linear-gradient(to bottom, #a74fc5 0%, #7150a8 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74fc5', endColorstr='#7150a8', GradientType=0 );}
.cf-section .padded .btn:hover{color:#a74fc5; border:solid 1px #a74fc5; background:transparent;}
.cf-section .activity-stream-outer {min-height: 300px;max-height: 300px;overflow: auto;}
.cf-section .activity-stream {padding: 10px;}
.cf-section .activity-stream .stream {position: relative;padding: 10px 0;}
.cf-section .activity-stream .stream .stream-badge {width: 50px;}
.cf-section .activity-stream .stream .stream-badge:before {content: '';width: 1px;background-color: #e7eaec;position: absolute;top: 0;bottom: 0;left: 20px;display: none;}
.cf-section .activity-stream .stream:first-child .stream-badge:before {top: 10px;}
.cf-section .activity-stream .stream .stream-badge i {border: 1px solid #e7eaec;border-radius: 50%;padding: 6px;color: #808486;position: absolute;background-color: #ffffff;left: 8px;width: 28px;height: 28px;line-height: 14px;}
.cf-section .activity-stream .stream .stream-badge i:before{font:normal normal normal 14px/1 FontAwesome;}
.cf-section .activity-stream .stream .stream-panel {margin-left: 55px;min-height: 100px;border-bottom:1px solid #ddd;}
.cf-section .activity-stream .stream .stream-info {font-size: 12px;margin-bottom: 5px;}
.cf-section .activity-stream .stream .stream-info img {border-radius: 50%;width: 18px;height: 18px;margin-right: 2px;margin-top: -4px;}
.cf-section .activity-stream .stream .stream-info .timeago {margin-left: 5px;}
.cf-section .activity-stream .stream .stream-info .date {color: #9a9d9f;font-size: 80%;}
.cf-section .cf-cta-small{text-align:center;}
.copyright { background: #27272a; line-height: 40px; font-size: 12px; color: #fff;position: fixed;bottom: 0;width: 100%;z-index:2;}
.copyright span { color: #fbb03d; }
.body-pages{background-color: #EDEFF0;}
.contentarea, .custom-container {padding:0 40px}
.custom-container .navbar-brand {margin-left: 0 !important;}
.contentarea .inner{position:relative;-webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.13);-moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.13);box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.13);}
.left-navigation{background: #a74fc5;}
.left-navigation .header{line-height: 70px;color: #fff;padding: 0 15px;margin:0;font-size: 25px;background: #5588b5;}
.left-navigation .header img{float:left;margin:10px 10px 0 0;max-height:50px;}
/* .left-navigation .menulinks-back{background:#333;border-bottom-left-radius: 7px;position:relative;height:100%;overflow-y: hidden;} */
.left-navigation ul{padding:10px 0;margin:0;list-style:none;text-align: center;}
.menulinks-back{background:#a74fc5;}
.left-navigation ul li{width: 20%;float: none;display: inline-block;background:#ddd;color:#000;transition: all 0.3s;padding:5px 0;border-radius: 3px;}
.optional_link{position: relative;}
.optional_link:after{position: absolute;content: "\f00d";font-family: 'FontAwesome';font-size: 20px;color: rgba(255,255,255,0.6);right: 5px;top: 0;cursor: pointer;opacity: 0;}
.optional_link:hover:after{opacity: 1;}
.panda_list .optional_link:after{display: none;}
.left-navigation ul li.active{background: #000;color: #fff;}
.left-navigation ul li .icon{font-size:25px;display:inline-block;width:100%;text-align:center;}
.left-navigation ul li a{font-size:18px;display:inline-block;padding: 0px 15px;text-decoration:none;width:100%;text-align: center;color: #000;}
.left-navigation ul li a span{font-size: 14px;}
.left-navigation ul li.active a{color: #fff;}
.left-navigation ul li:hover{background:  #000;color: #fff;}
.left-navigation ul li:hover a{color:#fff;}
.right-contentarea{background:#fff;/* min-height:420px; */}
.right-contentarea .header2{color: #fff;padding:10px 15px;margin:0;font-size: 25px;background: #5588b5;}
.right-contentarea .header2 h2{margin:7px 0;font-size: 24px;}
/* .menulinks-back:before {content: "";width: 20%;background: #000;height: 100%;position: absolute;z-index: 1;left: 0;} */
.right-contentarea .inner-content{padding:20px;}
.form-inline .form-control {display: inline-block;width: auto;vertical-align: middle;}
.form-inline .sortingdiv{padding: 20px 16px 10px 16px;background: #fafafa;border-bottom: 1px solid #ddd;}
.form-inline .sortingdiv .chooseDateTitle{padding-top: 7px;float: left;padding-left: 7px;margin-right: 10px;}
.export-link{width:100%;}
.contacts_total{text-align:center;}
.header-btn{background:transparent;border-color:#fff;color:#fff;}
.header-btn:hover,.header-btn:active,.header-btn:active:hover,.header-btn:focus,.header-btn:focus:hover{background:#fff;border-color:#fff;color:#333;}
.dataTables_wrapper .dataTables_filter, .paging_simple_numbers{text-align:right!important;}
.dataTables_wrapper .dataTables_filter, .paging_simple_numbers .pagination{margin:0;}
.dataTables_wrapper .dataTables_filter label, .dataTables_length label{font-weight:400;}
.dataTables_wrapper table th:last-child{width:70px!important;}
.dataTables_wrapper table td:last-child{text-align:center!important;}
.table-responsive {overflow-x: hidden;}
#example{margin:10px 0;}
.badge{background: #a74fc5;}
.ranges li.active{background: #5588b5 !important;border-color: #5588b5 !important;}
.ranges li:hover{background: #5588b5 !important;border-color: #5588b5 !important;}
@media (max-width:1199px) and (min-width:991px){
    .whitebox-div .quicklinks a, .whitebox-div .upgrades a {font-size: 14px;}
    .cf-section .cf-funnel-list-item .cf-funnel-list-item-link{font-size: 12px;}
}
@media screen and (max-width:991px){
    .whitebox-div .quicklinks, .whitebox-div .upgrades, .whitebox-div .training{float:none;width:100%;margin:0.33% 0;}
    .whitebox-div .training .box span span {font-size: 17px;}
    .training .clear40{height:0;}
    .navbar-default .navbar-nav>li>a {font-size: 15px;}
}
@media screen and (max-width:768px){
    .whitebox-div .quicklinks, .whitebox-div .upgrades,.whitebox-div .training{float:none;width:100%;margin:0.33% 0;}
    .training .clear40{height:0;}
    .navbar-toggle {margin-top: 18px;border-color: #fff;}
    .navbar-default .navbar-nav>li>a {font-size: 20px;}
    .top-banner .container .inner-content {width: 80%;}
    .navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background: #a74fc5;}
    .navbar-nav>li>.dropdown-menu,.dropdown-menu, .navbar-nav .open .dropdown-menu, .dropdown-menu>li:last-child>a, .navbar-default .navbar-nav .open dropdown-menu>li:last-child>a{border-radius:0;}
    .left-navigation, .right-contentarea{width: 100%;float:none;clear: both;}
    .left-navigation, .left-navigation .header{-webkit-border-top-right-radius: 7px;-moz-border-radius-topright: 7px;border-top-right-radius: 7px;}
    .right-contentarea{-webkit-border-bottom-right-radius: 7px;-webkit-border-bottom-left-radius: 7px;-moz-border-radius-bottomright: 7px;-moz-border-radius-bottomleft: 7px;border-bottom-right-radius: 7px;border-bottom-left-radius: 7px;margin-top: 20px;}
    .right-contentarea .header2{-webkit-border-top-right-radius: 7px;-moz-border-radius-topright: 7px;border-top-right-radius: 7px;-webkit-border-top-left-radius: 7px;-moz-border-radius-topleft: 7px;border-top-left-radius: 7px;}
    .left-navigation ul li:last-child .icon{border-bottom-left-radius: 0px;}
    .left-navigation .menulinks-back, .left-navigation, .menulinks-back:before{height:auto;position:unset;border-bottom-right-radius: 7px;}
    .contentarea .inner{box-shadow:none;}
    .right-contentarea .inner-content{-webkit-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.17);-moz-box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.17);box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.17);}
    .export-link{margin:10px 0 0 0}
    #example_wrapper{padding:20px;}
    .dataTables_wrapper .dataTables_filter, .paging_simple_numbers, .dataTables_length, .dataTables_info{text-align:center!important;}
    .table-responsive {overflow-x: auto;}
}
@media screen and (max-width:457px){
    .header2{line-height:normal!important;padding:10px 10px 0 10px!important;}
    .header2 .pull-right{float:none!important;display:inline-block;padding:10px 0;margin:0;clear:both;text-align:center;}
}
#imaginary_container .stylish-input-group .input-group-addon{background: white !important;}
#imaginary_container .stylish-input-group .form-control{border-right:0; box-shadow:0 0 0; border-color:#ccc;}
#imaginary_container .stylish-input-group button{border:0;background:transparent;}
/*ashfaq*/
.stepwizard-step p {margin-top: 10px;}
.stepwizard-row {display: table-row;}
.stepwizard {display: table;width:100%;position: relative;}
.stepwizard-step button[disabled] {opacity: 1 !important;filter: alpha(opacity=100) !important;}
.stepwizard-row:before {top: 14px;bottom: 0;position: absolute;content: " ";width: 100%;height: 1px;background-color: #ccc;z-order: 0;}
.stepwizard-step {display: table-cell;text-align: center;position: relative;min-width: 190px;}
.btn-circle {width: 30px;height: 30px;text-align: center;padding: 6px 0;font-size: 12px;line-height: 1.428571429;border-radius: 15px;}
.help .modal-header {color:#FFF;}
.common-bg{background: #a74fc5;background: -moz-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: -webkit-linear-gradient(top, #a74fc5 0%, #7150a8 100%);background: linear-gradient(to bottom, #a74fc5 0%, #7150a8 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74fc5', endColorstr='#7150a8', GradientType=0 );-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.light-blue{background-color:#56a3e6; color:#FFF;}
.modal-content.help textarea.form-control{ height:200px;}
.close-btn{color: #fff;opacity: 9;font-size: 26px;}
.blank-border{ border:1px solid #CCC; padding:10px; clear:both;}
.setup-content{ min-height:500px;}
.content {}
.header-support{background-color:#997abe;color: white;padding: 60px 0;margin-bottom: 7px;box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);}
.header_headline {font-size: 28px;font-weight: 300;margin: 0 0 27px;color: inherit;}
.search {position: relative;}
.search_input{ width:100%; padding:12px 60px 12px 8px; font-size:16px; color:#000; height:55px; border-radius:5px;}
.hidden-btn{ background:none; border:none; outline:none; position:absolute; right:10px; top:14px; font-size:20px;}
.collection {}
.collection_photo{}
.avatar {font-size: 13px;color: #8f919d;margin-top: 4px;}
.avatar_photo {line-height: 1.4;margin-right: 10px;float: left;}
.avatar_info, .avatar_photo {line-height: 1.4;}
.c_darker {color: #4f5e6b;}
.avatar_image {width: 32px;height: 32px;vertical-align: bottom;border-radius: 50%;box-shadow: 0 0 0 2px white;position: relative;z-index: 4;}
.paper {background-color: white;border-radius: 4px;padding: 30px;position: relative;z-index: 3;text-decoration: none;overflow: hidden;width: 100%;display: block;outline: none;box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);border: 1px solid #d4dadf;margin-bottom:15px;}
#container {width:98%;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {color: #fff;cursor: default;background-color: #a74fc5;border: 1px solid #a74fc5;border-bottom-color: transparent;}
.dashboard-div .dashboard-div-inner .tab-content{padding:10px 0}
li.dropdown-submenu {position: relative;}
.dropdown-menu .dropdown-submenu > a::after { border-left-color: #666; content: "\f105"; font-family: fontawesome; position: absolute; right: 10px; }
.breadcrumbs {*zoom: 1; background: #f4f4f4 }
.breadcrumbs:after { content: ""; display: table; clear: both }
.breadcrumbs ul { list-style-type: none; margin: 0; padding: 2px 5px; *zoom: 1;float: left }
.breadcrumbs ul:after { content: ""; display: table; clear: both }
.breadcrumbs ul>li { float: left; color: #666 }
.breadcrumbs ul>li>a { color: #666; display: block; padding: 2px 6px; font-size: 12px; float: left }
.breadcrumbs ul>li i { float: left; font-size: 11px; margin: 7px 0 6px 0 }
.breadcrumbs .close-bread { float: right }
.breadcrumbs .close-bread>a { color: #999; display: block; font-size: 14px; margin: 4px 8px }
.breadcrumbs .close-bread>a:hover { text-decoration: none }
.page-header h1::before {content: "\f107";font-family: fontawesome; margin-right: 10px;}
.page-header h1 {background-color: #5588B5;font-size: 31px;padding: 10px;color: #fff;}
.page-header h1 .btn{background: transparent;border-color: #fff;color: #fff;}
.page-header h1 .btn:hover,.page-header h1 .btn:active,.page-header h1 .btn:active:hover,.page-header h1 .btn:focus,.page-header h1 .btn:focus:hover{background:#fff;border-color:#fff;color:#333;}
.delete-form-btn {background: none;border: none;color: #a74fc5;padding: 0;}
.tabs.tabs-inline { *zoom: 1}
.tabs.tabs-inline:after { content: ""; display: table; clear: both }
.tabs.tabs-inline.tabs-top{text-align: center;}
.tabs.tabs-inline.tabs-top>li { float: none; margin-right: 15px ;margin-bottom: 10px;display: inline-block;}
.tabs.tabs-inline.tabs-top>li:last-child{margin-right: 0;}
.tabs.tabs-inline.tabs-top>li.active>a { background: #fff; color: #333 ;border:none;background:#8550b3; color: #fff;border-radius: 3px;}
.tabs.tabs-inline.tabs-top>li.active>a:hover { background: #fff; color: #333 ;border:none;background:#8550b3; color: #fff;border-radius: 3px;}
.tabs.tabs-inline.tabs-top>li>a { color: #666; background: none; padding: 10px 20px; text-decoration: none; display: block ;/*border-bottom:2px solid #8550b3;*/}
.tabs.tabs-inline.tabs-top>li>a:hover { background: #fff; color: #333 ;border:none;background:#8550b3; color: #fff;border-radius: 3px;}
.tabs.tabs-inline.tabs-left { position: absolute; background: #eee; width: 150px }
.tabs.tabs-inline.tabs-left>li:first-child>a { border-top: 0 }
.tabs.tabs-inline.tabs-left>li:last-child>a { border-bottom: 1px solid #bbb }
.tabs.tabs-inline.tabs-left>li.active>a { background: #fff; color: #333; margin-right: -1px }
.tabs.tabs-inline.tabs-left>li.active>a:hover { background: #fff }
.tabs.tabs-inline.tabs-left>li>a { display: block; padding: 10px 20px; color: #666; background: #ddd; text-decoration: none; border-top: 1px solid #bbb }
.tabs.tabs-inline.tabs-left>li>a:hover { background: #ddd; color: #333 }
.tab-content.padding { padding: 20px }
.tab-content.tab-content-inline { border-left: 1px solid #bbb; margin-left: 150px }
.tab-content.tab-content-inline.tab-content-bottom { border-left: 0; margin-left: 0 }
.tabs { list-style-type: none; margin: 0; padding: 0 }
/********************MY CSS*********************/
.form_wrap{max-width: 600px;margin:auto;}
.pt_0{padding-top: 0 !important;}
.select_logo{display: contents;}
.select_logo .fileupload-new{margin-right: 10px;}
.remove_btn{padding-left: 0;}
.mn_page_wrape{padding-top: 20px;}
.panda_search{background: #F7F7F7;border:1px solid #ddd;padding:10px;margin-bottom: 20px;}
#custom-search-input {margin:0;padding: 0;position: relative;}
#custom-search-input button.btn-defalut{position: absolute;right: 10px;top:3px;left: auto;}
.panda_search a.ad_new{display: block;width: 100%;background: #7450a9;border-color: #7450a9;color: #fff;}
.panda_search a.ad_new i{margin-right: 10px;}
#custom-search-input .search-query {margin-bottom: 0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
#custom-search-input button {border: 0;background: none;/** belows styles are working good */padding: 2px 5px;margin-top: 2px;position: relative;left: -28px;/* IE7-8 doesn't have border-radius, so don't indent the padding */margin-bottom: 0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;/* color:#D9230F; */}
.search-query:focus + button {z-index: 3;}
.pr_0{padding-right: 0;}    
.pl_0{padding-left: 0;}    
.panel-title > a:before {float: right !important;font-family: FontAwesome;content:"\f055";padding-right: 5px;}
.panel-title > a.collapsed:before {float: right !important;content:"\f056";}
.panel-title > a:hover,.panel-title > a:active,.panel-title > a:focus  {text-decoration:none;}
.mt_tabs{border-bottom:none;}
.pageListing_items{float:left; width:100%; background: #42275a;  /* fallback for old browsers */background: -webkit-linear-gradient(to bottom, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to bottom, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}
.pageListing_items{list-style: none;padding:0;margin:0;}
.pageListing_items h2{float:left; width:100%; color:#fff; margin-bottom:30px; font-size: 14px;}
.pageListing_items h2 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px;font-weight:700;}
.pageListing_items h2 a{color:#d2abce;}
.pageListing_items {background:#fff; margin-bottom:50px;}
.pageListing_items{margin:0; padding:0;}
.pageListing_items li{list-style:none; margin-bottom:20px;}
.pageListing_items li:last-child{margin-bottom:0;}
.pageListing_items .media{border:1px solid #d5dbdd; padding:5px 20px; border-radius: 5px; background:#fafafa;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;}
.pageListing_items li:nth-of-type(even) .media {background: #fff;}
.align-self-center {-ms-flex-item-align: center!important;align-self: center!important;}    
.pageListing_items .media .media-left img{width:42px;}
.pageListing_items .media .media-body p{padding: 0 15px; font-size:14px;}
.pageListing_items .media .media-body h4 {color: #6b456a; font-size: 18px; font-weight: 600; margin-bottom: 0; padding-left: 14px; margin-top:12px;}
.timeago{border-bottom:1px dotted #333;}
.media-right.align-self-center{text-align: center;}
.media-right.align-self-center h4{display: ruby;}
.media-right.align-self-center i.fa-star{color:#ccc;}
.mr_10{margin-right: 10px;}
.SideBlockWrap{padding: 20px;border-top: 3px solid #31454F;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;background: #3E474F;}
.AccountAreaTop{background: #fff;padding-left: 10px;}
.AccountBlock{border-bottom: 2px solid #808182;padding-bottom: 10px;margin-bottom: 10px;}
.AccountInner_area{color: #fff;margin-top: 20px;}
.AccountBlock .txtLeft, .AccountBlock .txtRight{text-transform: uppercase;}
.AccountBlock .txtLeft{float: left;}
.AccountBlock .txtRight{float: right;}
.hack_block{text-align: center;border: 1px solid #ddd;background: #FAFAFA;width: 100%;cursor: default;padding: 10px 10px;border-radius: 0;}
.hack_block img{border-radius: 100px;float: left;padding: 10px 5px;padding-right: 10px;padding-top: 10px}
.hack_block span{float: left;font-size: 24px;padding-left: 4px;padding-top: 20px; color: #2A3A4D}
.hack_block small{font-size: 11px;display: block;text-align: left}
.hack_block a{display: block;clear: both; font-weight: bold; text-transform: capitalize;}
#training{border-radius: 4px;}
.sec_bg{background: url('../images/cooknook.jpg') no-repeat center;background-size: cover;min-height: 350px;color: #fff;}
.segment{max-width: 450px;padding-top: 40px;}
.segment a{padding: 10px 30px;background: #fff;border-radius: 4px;color: #a74fc5;display: inline-block;margin-top: 10px;text-decoration: none;}
.segment a:hover{background: #a74fc5;color: #fff;}
.cookbook-step-header{text-align: center;padding: 35px 0;margin-bottom: 20px;border-bottom: 1px solid #DEDEDF;}
.cookbook-step-header .step-number {color: #000000;font-size: 18px;font-weight: bold;line-height: 22px;text-align: center;}
.cookbook-step-header .step-description {color: rgba(0,0,0,0.6);font-size: 16px;line-height: 22px;text-align: center;}
.segment_filter h4{font-size:25px;margin: 18px 0;}
.segment_filter ul{margin:0;list-style: none;padding:0;}
.segment_filter ul li{margin-bottom:15px;}
.segment_filter ul li label {width: 100%;text-align: center;padding:10px 0;background: transparent;color:#333; border-radius: 30px; border: 2px solid #337ab7;}
.segment_filter ul li label:hover {background: #5588b5;color:#fff;}
.checkbox {padding-left: 20px; }
.checkbox label {display: inline-block;position: relative;padding-left: 5px; }
.checkbox label::before {content: "";display: inline-block;position: absolute;width: 17px;height: 17px;left: 0;margin-left: -20px;border: 1px solid #cccccc;border-radius: 3px;background-color: #fff;top: 3px;-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {display: inline-block;position: absolute;width: 16px;height: 16px;left: 0;top: 0;margin-left: -20px;padding-left: 3px;padding-top: 1px;font-size: 11px;color: #555555; top: 3px;}
.checkbox input[type="checkbox"] {opacity: 0; }
.checkbox input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome';content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {opacity: 0.65; }
.checkbox.checkbox-circle label::before {border-radius: 50%; }
.checkbox.checkbox-inline {margin-top: 0; }
.checkbox-cus input[type="checkbox"]:checked + label::before {background-color: #a74fc5;border-color: #a74fc5; }
.checkbox-cus input[type="checkbox"]:checked + label::after {color: #fff; }
.classic_builder{text-align:right;margin-bottom: 20px;}
.classic_builder a.btn{padding:0.8em 1.5em;border-radius: 5px;background: #a74fc5;color: #fff;display: inline-block;transition: all 0.3s;border: 1px solid transparent;}
.classic_builder a.btn:hover{background: #fff;color: #a74fc5;border:1px solid #a74fc5;}
.ui.card, .ui.cards>.card {max-width: 100%;position: relative;min-height: 0;background: #FFF;padding: 0;border: none;border-radius: 5px;box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;margin-bottom: 20px;}    
.ui.card>.image, .ui.cards>.card>.image {position: relative;display: block;padding: 0;background: rgba(0,0,0,.05);}
.ui.dimmer {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);opacity: 0;transition: all 0.3s;display: flex;align-items: center;justify-content: center;}
.dimmable{position: relative;}
.dimmable:hover .ui.dimmer{opacity: 1;}
.card .image img {min-width: 288px;min-height: 200px;}
.ui.card>.content, .ui.cards>.card>.content {border: none;border-top: 1px solid rgba(34,36,38,.1);margin: 0;padding: 1em;box-shadow: none;font-size: 1em;border-radius: 0;}
.ui.card>.header{font-weight: 700;font-size: 1.28571429em;line-height: 2.2857em;background: #5588b5;text-align:center;border-radius: 5px 5px 0 0;color: #fff;}
.ui.button {display: inline-block;outline: 0;border: none;background: none;color: rgba(0,0,0,.6);padding: 0.5em 1.5em;text-align: center;text-decoration: none;border-radius: 5px;box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;color: #fff;border:2px solid #fff;transition: all 0.3s;}
.ui.button:hover{background: #fff;color: #a74fc5;}
.mn_segment{position: relative;background: #FFF;box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);margin: 1rem 0;padding: 1em;border-radius: .28571429rem;border: 1px solid rgba(34,36,38,.15);}
.recipe-header-row {border-bottom: 1px solid #dededf;margin-bottom: 15px;padding: 1rem 0;}
.recipe-header-row h1.ui_header{text-align: center;margin-top: 0;margin-bottom: 50px;}
.three_column{max-width: 600px;margin:auto;text-align: center;}
.icon_left{float: left;}
.icon_left i{font-size: 50px;color: #a74fc5}
.column{display: inline-block;margin-right: 100px;}
.mr_0{margin-right: 0 !important;}
.column .text{padding-left: 65px;}
.column .text span{font-size: 14px;}
.column .text h4{font-size: 26px;margin:0;}
.video_decription h4{font-size: 24px;}
.pages_txt h4{font-size: 24px;}
.pages_txt hr{margin:5px 0;}
.mn_tmp_wrap{border:1px solid #eee;border-radius: 4px;margin-bottom: 10px;padding:15px 0;}
.mn_tmp_wrap a{text-decoration: none;color: #333;}
.tmp_box {max-width: 100%;position: relative;background: #FFF;padding: 0;border: none;border-radius: .28571429rem;box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;display: inline-block;width: 100%;}
.tmp_box_head{padding:0 15px;margin-left: 150px;}
.tmp_box_head span:first-child{font-size: 20px;line-height: 22px}
.tmp_box_head span:last-child{font-size: 14px;text-transform: uppercase;margin-top: 7px;}
.tmp_img{min-height: 95px;overflow: hidden;width: 140px;float: left;}
.tmp_img img{width: 100%;border-radius: 0 0 .28571429rem .28571429rem;}
.Headerlf_name{font-size: 18px;text-transform: uppercase;color: #FFF;overflow: hidden;display: inline-block;line-height: 20px;}
.Headerlf_icon{font-size: 30px;color: #fff;margin-right: 13px;}
.padd_0{padding: 0 !important;}
.daterangepicker.dropdown-menu.ltr.opensleft{min-width: 175px;}
#reportrange{border: 1px solid #fff !important;border-radius: 4px;color: #fff;margin-top: 7px;background: none !important;cursor: pointer;}
#reportrange span{vertical-align: -webkit-baseline-middle;padding:0 10px;vertical-align: -moz-middle-with-baseline;}
#reportrange .input-group-addon{background: #000;color: #fff;border: none;padding: 10px;}
.select2-container{margin-top: 10px !important;}
.select2-container--default .select2-selection--multiple{border:1px solid #e6e6e6 !important;}
.select2-dropdown{border:1px solid #e6e6e6 !important;top: -10px;}
.mn_head_lf{padding-left: 15px;padding-top: 10px;padding-bottom: 10px;}
.Header_url{margin-top: 15px;margin-left: 20px;}
.Header_url.pull-right{margin-top: 15px;margin-right: 20px;}
.Header_url .input-group-addon:first-child {border-left: 2px solid #fff;background: none;padding: 4px 20px;}
.Header_url .input-group-addon:first-child i{color: #fff;}
.Header_url .input-group-addon:nth-child(2) {border-right: 0;}
.Header_url .input-group-addon:first-child:hover{background: none;}
.Header_url .input-group-addon:first-child:hover a{color: #fff;}
.Header_url .input-group-addon {background: rgba(255,255,255,1);border-top: 2px solid #fff;border-bottom: 2px solid #fff;border-color: #fff;font-size: 16px;color: #a74fc5;padding: 0;font-weight: bold;padding: 0;}
.Header_url .input-group-addon a{color: #a74fc5;}    
.Header_url a {color: #fff;font-size: 17px;padding: 4px 20px;margin: 0;}
.Header_url .input-group-addon:hover{background: rgba(255,255,255,0.9);}
.Header_url .input-group-addon:hover a{color: #a74fc5;}   
.Header_action_item{display:table;width:100%;}
.Header_action_item a{color: rgba(255,255,255,0.7);display: table-cell;font-size: 16px;text-align:center;padding: 10px 0;text-transform: uppercase;text-decoration: none;transition: all 0.3s;line-height: 20px;}
.header2 .Header_action_item a{padding: 15px 24px;border-radius: 4px !important;}
.Header_action_item a span{margin-right: 10px;}
.Header_action_item a:hover{color: rgba(255,255,255,1);}
.Header_action_item a.show_ContactsActive{background: #fff;color: #a74fc5;}
.add_nw_step a{border:2px solid #fff;border-radius: 3px;color: #fff;padding: 7px 20px;text-decoration: none;text-transform: uppercase;display: inline-block;margin-top: 10px;transition: all 0.3s;}
.add_nw_step a:hover{color: #a74fc5;background: #fff;}
.header2 .Header_action_item a.show_ContactsActive{border-radius: 0;}
.step_pages_bx{box-shadow: 0 0 5px #ddd;border-radius: 5px;margin-top: 30px;min-height: 375px;}
.step_page_img img{width: 100%;}
.step_pages_bx .attached{padding:10px;}
.step_pages_bx  .step_page_edit{padding:15px;text-align: center;}
.step_pages_bx  .step_page_edit .openPageInEditor{text-transform: uppercase;}
a.openPage_InEditor{margin-top: 10px;width: 100%;font-size: 16px;color: #428bca;display: block;text-decoration: none;text-transform: uppercase;}
.step_pages_bx .attached i.fa-flask{font-size: 60px;margin-top: 40px;}
.spilt_test{padding: 0 25px;}
.spilt_test a{text-transform: uppercase;padding:10px 20px;}
.step_pages_bx:hover{box-shadow: 0 0 5px #bab7b7;}
.step_pages_bx:hover i.fa-flask, .step_pages_bx:hover h2{color: #a74fc5;}
.step_pages_bx:hover a.create_variation{background: #a74fc5;color: #fff;}
.footer_action_btn a{font-size: 16px;}
.footer_action_btn a i{margin-right: 5px;}
.stats_information_inner{border:1px solid #ddd;border-radius: 5px;}
.stats_accordian{padding:20px 15px;}
.stats_accordian .filter_accordian{background: #5588b5;color: #fff;}
.stats_accordian .start_date{background: #a74fc5;color: #fff;}
.stats_accordian .end_date{background: #a74fc5;color: #fff;}
.stats_content{padding:0 15px 20px 15px;}
.mrg_0{margin:0 !important;}
.fiels_wrap{list-style: none;padding:0;margin:0;}
.fiels_wrap li{float: left;width: 50%;padding-left: .5em;padding-right: .5em;margin-bottom: 10px;}
.fiels_wrap li label{font-weight: 500;}
.device_category{font-family: FontAwesome, sans-serif;}
.tbl_wrap{padding:0 15px;}
.tbl_wrap .table thead .pageviews {background-color: #a74fc5;color: #fff;border-right: 1px solid #87409f;}
.tbl_wrap .table tbody .pageviews {background-color: rgba(167,79,197,0.2);}
.tbl_wrap .table thead tr.groups th.pageviews {border-bottom: 2px solid rgba(0,0,0,0.1);border-right: 1px solid #87409f;}
.tbl_wrap .table thead tr.groups th.opt_ins {border-bottom: 2px solid rgba(0,0,0,0.1);}
.tbl_wrap .table tr td, .tbl_wrap .table tr th {border-left: 1px solid rgba(34,36,38,0.1);}
.tbl_wrap .table thead .opt_ins {background-color: #bf74d8;color: #fff;border-right: 1px solid #9a5dae;}
.tbl_wrap .table tbody .opt_ins {background-color: rgb(228, 201, 237);}
.chat-body{margin-left: 70px;margin-right: 70px;}
.chat_img img{height: 60px;width: 60px;border-radius: 50%;}
.right_allign_msg .chat_img{float: right !important;}
.right_allign_msg .chat-body{margin-right: 70px;float: none;margin-left: 70px;text-align: right;}
.right_allign_msg {background: #f5f3f3;padding-bottom: 15px;margin-bottom: 15px;border-radius: 4px;padding:10px 15px;}
.right_allign_msg .chat-body b{float: right;margin-left: 15px;}
.left_allign_msg {background: #ddd;padding-bottom: 15px;margin-bottom: 15px;border-radius: 4px;padding:10px 15px}
.contact_day_filter{float: left;margin-top: 7px;margin-left: 15px;}
.export-link{background: #a74fc5;color: #fff;transition: all 0.3s;border:1px solid transparent;}
.export-link:hover{background: #fff;color: #a74fc5;border:1px solid #a74fc5;}
.export-link i{margin-right: 10px;}
.contact_cnt {border: 2px solid #eee;padding: 40px 30px;margin-top: 20px;}
.contact_cnt h3 {font-size: 32px;margin: 0px;color: #3E5B76;}
.contact_cnt h3 span{color: #a74fc5;}
.contact_cnt p {font-size: 19px;padding: 0 70px;margin: 0;}
.contact_cnt p em{font-size: 16px;color: #b7b7b7;}
.setting_content label{font-weight: 500;}
.setting_content .select2-container{height: 34px;margin-top: 0 !important;}
.select2-container--default .select2-selection--multiple{height: 34px !important;border: 1px solid #ccc !important;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.help-block {font-size:12px;}
.share_Block {background: #a74fc5;border: none;padding: 20px;color: #fff;border-radius: 4px;}
.share_block_txt{margin-left: 60px;}
.share_block_txt h4{margin-top: 0;margin-bottom: 0;}
.share_Block .share_code {background: #fff;border: 1px solid #ddd;padding: 10px;color: #333;border-radius: 4px;}
.stripeImage img{width: 100%;}
.zap-row{background: #fff;border-radius: 3px;border: 1px solid #DADFE2;margin-bottom: 1em;padding: 1em;}
.zap-services {display: table-cell;vertical-align: middle;width: 165px;}
.zap-services .zap-service {border: 1px solid #DADFE2;border-radius: 4px;display: inline-block;vertical-align: middle;height: 32px;width: 32px;background-repeat: no-repeat;background-position: center;background-size: 26px 26px;}
.zap-arrow{display: inline-block;margin: 0 9px;vertical-align: middle; width: 10px;height: 12px;}
.zap-description {color: #354147;display: table-cell;font-size: 1.1em;padding: 0 1em;vertical-align: middle;}
.zap-cta {display: table-cell;text-align: right;vertical-align: middle;width: 125px;}
a.zap-button {background: #a74fc5;border-radius: 3px;border: none;color: #fff;cursor: pointer;display: inline-block;font-size: 0.9em;margin: 0;overflow: hidden;padding: 0.9em 2em;text-decoration: none;white-space: nowrap;vertical-align: middle;box-shadow: none;-webkit-transition: background 0.25s ease;-o-transition: background 0.25s ease;transition: background 0.25s ease;}
.infoModal_body {text-align: center;padding: 30px 30px;border-radius: 4px;border: 1px solid #DFEBF6;border-bottom: 3px solid #DFEBF6;background: #fff;border-top: none;}
#infoModal .modal-header{background: #a74fc5;color: #fff;}
#infoModal .modal-header .close{color: #fff;opacity: 1;}
#infoModal small {display: block;font-size: 11px;text-align: left;padding: 6px 0;opacity: .7;clear: both;}
.automation_title h4{margin:0;}
.automation_title h4 i{margin-right: 10px;color: #5588b5;}
.automation_title span{opacity: 0.7;}
.courseLevelBar {background-color: #5588b5;padding: 10px 20px;color: #fff;margin-top: 20px;}
.Advanced_Options {border: 1px solid #a74fc5;border-radius: 4px;display: block;color: #3E474F;box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);text-decoration: none !important;transition: all 0.3s;margin-bottom: 20px;}
.Advanced_Options:hover{border: 1px solid #f1f1f1;}
.Advanced_Options:hover h3{background: #f1f1f1;color: #000;}
.Advanced_Options h3 {font-weight: 600;margin-bottom: 10px;padding: 10px;background: #a74fc5;border-radius: 4px;font-size: 17px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;margin-top: 0;text-align:center;color: #fff;transition: all 0.3s;}
.Advanced_Options h3 i{margin-right: 15px;}
.Advanced_Options p{padding:0 20px;text-align: center;}
.textOptinsBlock {border: 1px solid rgba(212,208,208,0.39) !important;-webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,0.1);-moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,0.1);box-shadow: 0 5px 5px -5px rgba(0,0,0,0.1);padding: 30px 20px;border-radius: 5px;}
.textOptinsBlock .products{border-bottom: 2px solid #eee;padding-bottom: 15px;margin-bottom: 15px;}
.generic_modal .modal-header{background: #a74fc5;color: #fff;}
.generic_modal .modal-header .close{color: #fff;opacity: 1;}
.generic_modal_body {padding: 30px 40px;padding-bottom: 0px;background-color: #FAFAFA;}
.longHint {font-size: 12px;opacity: .8;margin-bottom: 20px;text-transform: lowercase;background-color: rgba(221,221,221,0.55);border-radius: 4px;padding: 5px 10px;}
.CreateOptin_btn{text-transform: uppercase;background: #a74fc5;color: #fff;border:1px solid #a74fc5;}
.CreateOptin_btn:hover{background: none;color: #a74fc5;border:1px solid #a74fc5;}
.generic_modal_body .modal-footer{padding:15px 0;}
.checklist_step1{max-width: 600px;margin:auto;}
.checklistHeader {background-color: #eee !important;border: 1px solid #ddd !important;color: #666 !important;border-top-right-radius: 4px;border-top-left-radius: 4px;text-align: center;}
.list-group-item {position: relative;display: block;padding: 10px 15px;background-color: #fff;border: 1px solid #ddd;}
.stepNumber{height: 20px;width: 20px;border-radius: 50%;display: inline-block;border:1px solid #a7a7a7;line-height: 19px;}
.list-group.active .stepNumber{color: #fff;background: #a74fc5;border:1px solid #a74fc5;line-height: 20px;}
.list-group.active i{color: #a74fc5;}
.share_social{margin-top: 20px;}
.share_social a{padding:7px 7px;color: #fff;text-decoration: none !important;display: inline-block;border-radius: 4px;min-width: 75px;margin-bottom: 5px;}
.share_social a:first-child{background: #00aced;}
.share_social a:nth-child(2){background: #3b5998;}
.share_social a:nth-child(3){background: #dd4b39;}
.share_social a:nth-child(4){background: #007bb6;}
.share_social a:last-child{background: #cb2027;}
.shareModal_body{padding:15px;}
.newtitle_subhead{color: #fff;margin-top: 12px;margin-left: 50px;font-size: 18px;}
.btn-default_outline{border:2px solid #d47df2;color: #d47df2;margin-top: 10px;margin-right: 10px;}
.btn-default_outline:hover{color: #fff;background: #d47df2;}
.Report_Days{margin-top: 7px;}
.Report_Days select{width: 150px;display: inline;}
.Report_Days label{font-size: 14px;font-weight: 500;}
.dash_column {border: 1px solid #e9e9e9 !important;padding: 15px 10px;-webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,0.1);-moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,0.1);box-shadow: 0 5px 5px -5px rgba(0,0,0,0.1);}
.dash_column h3{margin-top: 0;color: #818da7;font-size: 14px;text-transform: uppercase;margin-bottom: 0;}
.dash_column h3 i{margin-left: 10px;}
.dash_column span{font-size: 30px;}
.dash_column span.green{color: #078A08;}
.dash_column span.red{color: rgba(200, 33, 40, 0.62);}
#innerstep-2{max-height: 380px;overflow: auto;}
.solutions-view-footer{position: fixed;width: 100%;border: none;left: 0;z-index: 99;bottom: 10px;right: 0;padding:0 20px;}
.solutions-view-footer .solvedbtn, .notsolvedbtn{display: flex;width: 100%;justify-content: center;}
.solutions-view-footer .solvedbtn i, .notsolvedbtn i{margin-right: 10px;margin-top: 2px;}
.Left_Nav{list-style: none;padding:0;margin:0;}
.Left_Nav li{background: #ddd;border-bottom:1px dotted #a74fc5;display: flex;}
.Left_Nav li:last-child{border-bottom: none;}
.Left_Nav li i{font-size: 24px;min-width: 55px;padding:15px 0 15px 0;text-align: center;background: #a74fc5;color: #fff;}
.Left_Nav li a{width: 100%;text-decoration: none;padding:15px 0 15px 10px;transition: all 0.3s;}
.Left_Nav li a:hover{background: #a74fc5;color: #fff;text-indent: 15px;}
.Left_Nav li span{padding:15px 0 15px 10px;text-transform: uppercase;}
.cf-add-new-button{font-size: 20px;height: 50px;width: 50px;border-radius: 50%;text-align: center;line-height: 50px;background: #a74fc5;color: #fff;display: inline-block;float: right;margin-top: 20px;}
.cf-add-new-button:hover{background: none;border:2px inset #a74fc5;}
.search_asset{position: relative;max-width: 300px;}
.search_asset input{padding-left: 30px;}
.search_asset i{position: absolute;left: 8px;top: 8px;z-index: 99;}
.Inner_Content{padding-right: 30px;}
.helpinfotextarea {padding: 15px;font-size: 14px;margin-bottom: 20px;background: #fafafa;border-radius: 5px;text-shadow: 0 1px 1px #fff;border: 1px solid #ddd;border-bottom: 2px solid #ddd;box-shadow: 0 5px 5px -5px rgba(0,0,0,0.1);margin-top: 20px;}
.choose_file{height: auto !important;}
#Email_Templates p{text-align: center;}
.preview_template{position: relative;text-align: center;}
.preview_template img{width: 100%;}
.preview_template:before{content: "";position: absolute;right: 0;left: 0;top: 0;bottom: 0;background: rgba(0, 0, 0, 0.7);width: 100%;opacity: 0;transition: all 0.3s;}
.preview_template a{opacity: 0;position: absolute;left: 50%;top: 50%;margin-top: -15px;margin-left: -50px;padding:7px 20px;background: #a74fc5;color: #fff;border-radius: 4px;text-decoration: none;transition: all 0.5s;}
.preview_template:hover:before{opacity: 1;}
.preview_template:hover a{opacity: 1;}
.daterangepicker.dropdown-menu.ltr.opensright {min-width: 178px;}
.input_group_wrapper{float: left;width: 230px;}
.subscription-box {background: #fff;border-radius: 5px;box-shadow: 0 1px 2px rgba(0,0,0,0.1);font-size: 15px;border: 1px solid #eaeaea;}
.subscription-box .top-box {width: 100%;border-bottom: 1px solid #f5f5f5;box-sizing: border-box;padding:10px 20px;}
.subscription-box .top-box .side-box{padding:0;}
.subscription-box .interval {opacity: .6;font-size: 80%;}
.subscription-box .side-box{padding:10px 20px;}
.modal_tb_content label{color: #5c5c5c;}
.tabs-inline li:hover{transform: translateX(0) !important;}
#buy_modal .form-actions input[type="reset"]{color: #5c5c5c;}
.table .center{text-align: center;}
.Int_Field{position: relative;}
.Int_Field input{padding-left: 35px;}
.Int_Field i{position: absolute;left: 10px;top: 10px;}
.line-through {text-decoration: line-through;}
.navbar.btn-toolbar.sw-toolbar.sw-toolbar-top{display: none;}
.sw-theme-default > ul.step-anchor > li.active > a{color: #8550B3 !important;}
.integarte .header{margin-top: 0;}
.integarte{padding:20px 15px;}
.integ_bx {max-width: 100%;position: relative;min-height: 0px;background: #FFFFFF;padding: 0em;border: none;border-radius: 0.28571429rem;border: 1px solid #D4D4D5;display: inline-block;margin:10px 0;text-decoration: none !important;}
.integ_bx .cf-flex-image {display: flex;flex: 1 0 auto;flex-direction: column;justify-content: center;min-height: 150px;padding: 0px 40px;}
.integ_bx .cf-flex-image img{width: 214px;height: auto;}
.cf-content P{text-align: center;border-top: 1px solid #337ab7;background:#337ab7;color:#fff;margin-bottom: 0;padding:10px 0;line-height: 26px;font-size: 20px;}
.Inner_wrap{padding:20px 30px;}
.Inner_wrap .header{margin-top:0;}
.rt_getPanda .Rating{color: #fbc16f;}
.rt_getPanda h2{margin:0;}
.Inner_wrap img{width:100%;}
.rt_getPanda{-webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.13);-moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.13);
             box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.13);padding:20px 15px;}
.rt_getPanda .header{margin-top: 0;}
.GetPanda_btn a{display: block;width: 100%;background: #8550b3;color: #fff;text-align: center;margin:10px 0;}
.GetPanda_btn a:hover{color: #8550b3;border:1px solid #8550b3;background: none;}
.rt_getPanda .wide div{font-size: 12px;}
.generic_modal .infoModal_body{text-align: left !important;}




@media(max-width: 767px){
    #custom-search-input .search-query{margin-bottom: 10px;}
    .contentarea, .custom-container{padding:0;}
    .left-navigation ul{padding:10px 15px;}
    .left-navigation ul li{margin-bottom: 10px;width: 100%;}
    .contact_cnt p{padding:0;}
    .fiels_wrap li{width:100%; float:none;}
    .contact_cnt{padding:15px;}
    .contact_day_filter{float: none !important;margin-left: 0;}
    .right-contentarea .header2 h2{font-size: 22px;}
}
@media(max-width: 680px){
    .Header_action_item{float: none !important;padding:0 10px;display: inline-block;width: 100%;}
    .Header_action_item a{display: block;}
    .Header_action_item a.show_ContactsActive{border-radius: 4px;}
}
@media(max-width: 480px){
    .pageListing_items .media{display: inline-block;}
    .media-right.align-self-center h4{margin:0;}
    .media-right.align-self-center{display: inline-block;}
    .pageListing_items .media .media-left img{margin-top: 10px;}
    .mt_tabs li{float: none;}
    .stats_accordian button{margin-bottom: 10px;}
    .page-header h1{font-size: 20px;}
}


.card .content .description{min-height: 70px;} 
div#ui-block-loader {position: absolute;background-color: rgba(0,0,0,0.5);width: 100%;text-align: center;height: 100%;z-index: 99999;}
div#ui-block-loader img{margin-top: 30px;}
.box1 {/* See "NOTE 3" */position:relative;z-index:1;width:100%;text-align: right;right: -26px;}
.box1 span {min-width: 100px;display: inline-block;position:relative;padding:10px 20px;font-size:16px;text-align:center;color:#fff;background:#cc0000;/* css3 extras */text-shadow:0 1px 1px rgba(0,0,0,0.2);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.2);/* See "NOTE 1" */zoom:1;}
.box1 span:before{display:none}
.box1 span:before,.box1 span:after {content:"";position:absolute;/* See "NOTE 2" */z-index:-1;top:100%;left:0;border-width:0 10px 10px 0;border-style:solid;border-color:transparent maroon;}
.box1 span:after {left:auto;right:0;border-width:0 0 10px 10px;}
/* Hiding the checkbox, but allowing it to be focused */
.segment_filter {text-align: center;}
.segment_filter .badge{padding:4px;}
.segment_filter .badgebox{opacity: 0; width: 0;}
.step_create_site h3 { color: #286090; font-size: 30px; min-height: 65px;}
.step_create_site button {
    width: 100%;
    background-color: transparent;
    color: #2e6da4;
    font-size: 20px;
    border-radius: 12px;
    outline: none !important;
}
.step_create_site .or_txt {
    margin-top: 40px;
}
.step_create_site p {
    font-size: 20px;
    min-height: 85px;
}
.step_create_site span.selected_industry {
    color: #5588B5;
    font-weight: bold;
}
.step_create_site .inverted.button {
    margin-left: 5px;
}
.change-device-btn .btn {
    width: 40px;
}
.change-device-btn .btn:hover, .change-device-btn .btn:active {
    background-color: black;
    border-color:black;
}
.change-device-btn .btn.active {
    background-color: black;
    border-color:black;
}
.mobile-view img {
    width: 400px;
    margin: auto;
    display: block;
}
.step_create_site .select2-selection {
    height: 40px !important;
}
.step_create_site .select2-selection__rendered{
    line-height: 40px !important;
}
.step_create_site .select2-selection__arrow{
    height: 38px !important;
}
.next_from_cat, .next_from_business_name, .next_from_business_location, .next_from_review, .next_from_feature{
    width:150px !important;
}

.checkbox label input[type="checkbox"]:checked +span:after {
    content: "\f00c";
    opacity: 1;
    font-family: fontawesome;
    z-index: 9999;
    color: #854FB2;
    position: absolute;
    left: -19px;
}
#step8_create_site span {
    display: block;
    padding: 0px 0px 0px 100px;
    border-bottom: 2px solid #804FB0;
    margin-bottom: 20px;
}
.next_from_clever{
    width: 120px !important;
    border-radius: 100% !important;
    height: 110px;
}
#themes_selection_area .dimmable img {
    width: 100%;
}
.next_from_create_my_site {
    width: 250px !important;
}
/*Dashboard links css*/
.dashbord-box{
    /*border: 4px solid #55B1F9;*/
    background:#FFF;
    min-height:50px;
    border-radius: 15px;
    text-align:center;
    color:black;
    width: 100%;
    display: block;
    padding:20px;
}
a.dashboard-link:hover{
    color:#7819bb !important;
    text-decoration:none;
}
.dashboard-link.dashbord-box img{margin:0 0 10px 0;}
.dashboard-link.dashbord-box h2{margin:0;padding:0;}
.top-15 { margin-top:5%;}
.top-30 { margin-top:30px;}
.upgrade-btn{
    border:4px solid black;
    border-radius:15px;
    text-align:center; 
    height:150px; 
    font-size:24px; 
    font-weight: bold; 
    color:black;
}
.dashbord-box i {
    font-size: 70px;
    margin-top: 10px;
}

.dashboard-container{
	background-image:radial-gradient(ellipse 59% 100% at 93% 30%,#f0d7ca,rgba(219,232,231,.2) 90%),radial-gradient(ellipse 59% 140% at 0 120%,#f0d7ca,rgba(219,232,231,.2) 60%),radial-gradient(ellipse 60% 100% at 5% 20%,#b3d7d5,rgba(219,232,231,.2) 100%),radial-gradient(ellipse 60% 100% at 100% 110%,#b3d7d5,rgba(219,232,231,.2) 90%);
}
.mobile-view iframe {
    width: 35%;
    border: 3px solid gray;
}
.mobile-view .inner{
    text-align: center;
}
.content_wrap{background: rgba(255, 255, 255, 0.9);border-radius: 4px;padding-bottom: 30px;}