@import url("../fonts/futura.css");
body { text-align: center; font-family: 'Futura PT'; font-weight: normal; font-style: normal; font-size: 16px; }
a, a:hover, a:focus { color: #19b9e7; text-decoration: none; -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s; }
img { max-width: 100%; }

::-moz-selection {
background: #19b9e7;
color: #fff;
text-shadow: none;
}
::selection { background: #19b9e7; color: #fff; text-shadow: none; }
.btn-link-1 { display: inline-block; height: 50px; margin: 5px; padding: 16px 20px 0 20px; background: #19b9e7; font-size: 16px; font-weight: 300; line-height: 16px; color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }
.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }
.btn-link-1 i { padding-right: 5px; vertical-align: middle; font-size: 20px; line-height: 20px; }
.btn-link-2 { display: inline-block; height: 50px; margin: 5px; padding: 15px 20px 0 20px; background: rgba(0, 0, 0, 0.3); border: 1px solid #fff; font-size: 16px; font-weight: 300; line-height: 16px; color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }
.btn-link-2 i { padding-right: 5px; vertical-align: middle; font-size: 20px; line-height: 20px; }
h3 { font-size: 30px; color: #555; line-height: 30px; }
/***** Top content *****/

.inner-bg { padding:65px 0; }
.top-content .text { color: #fff; }
.top-content .text h1 { color: #fff; }
.top-content .description { margin: 20px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; }
.top-content .description a:hover, .top-content .description a:focus { border-bottom: 1px dotted #fff; }
.form-box { margin-top: 20px; }
.form-top { overflow: hidden; padding:0 25px 0 25px; background: #444; background: rgba(0, 0, 0, 0.35); -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; text-align: left; }
.form-top-left { float: left; width: 75%; padding-top: 10px; }
.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }
.form-top-right {float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 55px;
    color: #fff;
    line-height: 70px;
    text-align: right;
    opacity: 0.3; }
.form-bottom { padding: 25px; background: #444; background: rgba(0, 0, 0, 0.3); -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; text-align: left; }
.form-bottom form textarea { height: 70px; }
.form-bottom form button.btn { width: 100%; }
.form-bottom form .input-error { border-color: #19b9e7; }
.social-login { margin-top: 35px; }
.social-login h3 { color: #fff; }
.social-login-buttons { margin-top: 25px; }
.middle-border { min-height: 300px; margin-top: 170px; border-right: 1px solid #fff; border-right: 1px solid rgba(255, 255, 255, 0.6); }

/***** Media queries *****/

@media (max-width: 767px) {
.middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0; border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }
}
@media (max-width: 415px) {
h1, h2 { font-size: 32px; }
}


.tabs.tabs-inline { *zoom: 1}
.tabs.tabs-inline:after { content: ""; display: table; clear: both }
.tabs.tabs-inline.tabs-top{text-align: center;}
.tabs.tabs-inline.tabs-top>li { float: none; margin-right: 15px ;margin-bottom: 10px;display: inline-block;}
.tabs.tabs-inline.tabs-top>li:last-child{margin-right: 0;}
.tabs.tabs-inline.tabs-top>li.active>a { background: #fff; color: #333 ;border:none;background:#8550b3; color: #fff;border-radius: 3px;}
.tabs.tabs-inline.tabs-top>li.active>a:hover { background: #fff; color: #333 ;border:none;background:#8550b3; color: #fff;border-radius: 3px;}
.tabs.tabs-inline.tabs-top>li>a { color: #666; background: none; padding: 10px 20px; text-decoration: none; display: block ;border-bottom:2px solid #8550b3;}
.tabs.tabs-inline.tabs-top>li>a:hover { background: #fff; color: #333 ;border:none;background:#8550b3; color: #fff;border-radius: 3px;}
.tabs.tabs-inline.tabs-left { position: absolute; background: #eee; width: 150px }
.tabs.tabs-inline.tabs-left>li:first-child>a { border-top: 0 }
.tabs.tabs-inline.tabs-left>li:last-child>a { border-bottom: 1px solid #bbb }
.tabs.tabs-inline.tabs-left>li.active>a { background: #fff; color: #333; margin-right: -1px }
.tabs.tabs-inline.tabs-left>li.active>a:hover { background: #fff }
.tabs.tabs-inline.tabs-left>li>a { display: block; padding: 10px 20px; color: #666; background: #ddd; text-decoration: none; border-top: 1px solid #bbb }
.tabs.tabs-inline.tabs-left>li>a:hover { background: #ddd; color: #333 }
.tab-content.padding { padding: 20px }
.tab-content.tab-content-inline { border-left: 1px solid #bbb; margin-left: 150px }
.tab-content.tab-content-inline.tab-content-bottom { border-left: 0; margin-left: 0 }
.tabs { list-style-type: none; margin: 0; padding: 0 }
.social-logins .btn {
    width: 100%;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 20px;
    text-align: left;
}
.social-logins .fa {
    border-right: 1px solid;
    width: 32px;
}
.social-logins {
    border-right: 2px solid;
}
/********************MY CSS*********************/