@import url("../fonts/futura.css");
html { overflow-x: hidden }
a { outline: 0; }
body, html { height: 100%; font-family: 'Futura PT Book'; color: #5c5c5c; font-size: 20px; font-weight: 400; }
.img-responsive { display: inline-block; max-width: 100%; height: auto; }
/* HEADER CUSTOM */
.overlay-slide { color: #fff; position: absolute; z-index: 12; top: 50%; left: 0; width: 100%; text-align: center; }
/*.navbar-wrapper { position: absolute; top: 0; left: 0; right: 0; z-index: 10; }*/
.carousel { height:100%!important; }
.carousel-caption {z-index: 1;top:25%;bottom: auto;font-weight: 300;font-size: 30px;color: #fff;text-shadow: none;line-height: 40px;font-family: 'Futura PT';right: 20%;left: 20%;}
.carousel-caption h1 { font-family: 'Futura PT'; font-weight: bold; font-size: 60px; color: #fff; text-shadow: none; margin-bottom: 10px; }
.btn-request {font-family: 'Futura PT';font-weight: 500;font-size: 20px;color: #fff;background-color: transparent;border: solid 2px #fff;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;padding: 10px 20px;transition: all 0.5s ease;margin-top: 10px;}
.btn-request:hover { color: #6e52a9; background-color: #e8e8e8; border: solid 2px #e8e8e8; }
.carousel-inner { max-height: 100%; height: 100%; width: 100%; background: url(../images/top-back.jpg) no-repeat center top; background-size: cover; -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%); clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%); }
.carousel .item { height: 100%; width: 100%; }
@media (min-width: 768px) {
.navbar-wrapper { margin-top: 15px; }
.navbar-wrapper .navbar { border-radius: 4px; }
}


/* HEADER CUSTOM END*/
.navbar-brand { padding: 0; }
.navbar-nav { float: right; margin-top: 6px; }
.navbar-nav>li>a { font-family: 'Futura PT'; font-weight: 500; font-size: 20px; color: #fff; }
.nav>li>a:focus, .nav>li>a:hover { background-color: transparent; color: #e8e8e8; }
.navbar-nav>li>a.login-btn {margin-left: 15px;font-family: 'Futura PT';font-weight: 500;font-size: 20px;color: #fff;background-color: transparent;border: solid 2px #fff;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;padding: 12px 30px;transition: all 0.5s ease;}
.navbar-nav>li>a.login-btn:hover { color: #6e52a9; background-color: #e8e8e8; border: solid 2px #e8e8e8; }
.clear5 { height: 5px; clear: both; }
.clear10 { height: 10px; clear: both; }
.clear15 { height: 15px; clear: both; }
.clear20 { height: 20px; clear: both; }
.clear25 { height: 25px; clear: both; }
.clear30 { height: 30px; clear: both; }
.clear35 { height: 35px; clear: both; }
.clear40 { height: 40px; clear: both; }
.clear45 { height: 45px; clear: both; }
.clear50 { height: 50px; clear: both; }
.clear55 { height: 55px; clear: both; }
.clear60 { height: 60px; clear: both; }
.clear65 { height: 45px; clear: both; }
.clear70 { height: 70px; clear: both; }
.clear75 { height: 45px; clear: both; }
.clear80 { height: 80px; clear: both; }
.clear85 { height: 45px; clear: both; }
.clear90 { height: 90px; clear: both; }
.clear95 { height: 45px; clear: both; }
.clear100 { height: 100px; clear: both; }
/*#features{ margin-top: -112px; }
.boxes { margin-top: -112px; }*/
#features h1, #whydifferent h1 { margin: 40px 0; font-size: 42px; font-weight: 500; text-align: center; font-family: 'Futura PT'; color: #313131; }
#whydifferent { color: #333; padding: 50px 0; background: url(../images/why-bg.png) no-repeat bottom right; }
#whydifferent img { height: 140px!important; }
#whydifferent p { padding: 0 20px; }
.boxes .bordered-box { padding: 3px; }
.boxes .bordered-box .inside { width: 100%; text-align: center; padding: 35px 0 0 0; }
.boxes .bordered-box .inside img { padding: 0 0 25px 0; }
.boxes .bordered-box .inside h2 { padding: 0; margin: 0; text-align: center; font-size: 26px; font-weight: 500; color: #000; }
.capture-section { background: url(../images/monitor-back.jpg) no-repeat center top; background-size: cover; color: #fff; padding: 50px 0 0 0; position: relative; }
.capture-section h1 {font-size: 42px;font-weight: 500;text-align: center;font-family: 'Futura PT';color: #fff; }
.capture-section .capture { padding-top: 0; }
.capture-section .capture h1 { font-size: 42px; font-weight: 500; color: #fff; margin:10px 10px 10px 20px; }
.capture img{max-width:60px;}
.capture-section .capture p { margin: 15px 0; font-weight: normal; }
.capture-section .capture ul { padding: 20px; list-style: circle; color: #fff; padding-top: 10px; }
.monitor-section { background: url(../images/monitor-back.jpg) no-repeat center top; background-size: cover; min-height: 770px; text-align: center; color: #fff; padding: 100px 0 0 0; position: relative; }
.monitor-section h1 { margin: 0 0 10px 0; font-size: 42px; font-weight: 500; }
.monitor-section p { width: 70%; margin: 10px auto; padding: 0; font-size: 20px; font-family: 'Futura PT Book'; }
.monitor-section .container img { position: absolute; bottom: 0; left: 0; right: 0; display: inline-block; margin: auto }
.pricing-table { background: #f3f3f3; min-height: 770px; padding: 100px 0 0 0; color: #000; }
.pricing-table h1 { margin: 0 0 10px 0; font-size: 42px; font-weight: 500; text-align: center; font-family: 'Futura PT'; color: #313131; }
.pricing-table p { width: 70%; margin: 10px auto; padding: 0; font-size: 20px; font-family: 'Futura PT Book'; text-align: center; color: #313131; }
.pricing-table-inner { width: 1125px; margin-top: 60px; }
.pricing-table-inner .features { float: left; padding-top: 116px; width: 25%; }
.pricing-table-inner .features ol { list-style: none; margin: 0; padding: 0; }
.pricing-table-inner .features ol li:nth-child(odd) { background: #e5e5e5; }
.pricing-table-inner .features li { padding: 15px 20px; background: #fff; }
.pricing-table-inner .features li:last-child { border-right: solid 1px #e7e7e7; height: 141px; background: transparent!important; }
.pricing-table-inner .column { float: left; width: 25%; display: block; }
.pricing-table-inner .personal .details span { background: #f2f2f2; }
.pricing-table-inner .personal .details span:nth-child(odd) { background: #d9d9d9; }
.pricing-table-inner .details span { display: block; padding: 15px 20px; background: #fff; }
.pricing-table-inner .details span:nth-child(odd) { background: #e5e5e5; }
.pricing-table-inner .column h2 { display: block; background: #333; color: #fff; font-size: 20px; padding: 20px 40px; margin: 0; text-align: left; }
.pricing-table-inner .column h2 span { font-size: 50px; }
.pricing-table-inner .professional .details span { background: #fafafa; }
.pricing-table-inner .professional .details span:nth-child(odd) { background: #e1e1e1; }
.pricing-table-inner .professional h2 { display: block; background: #5588d5; color: #fff; font-size: 20px; padding: 20px 40px; margin: 0; text-align: left; }
.pricing-table-inner .professional h2 span { font-size: 50px; }
.pricing-table-inner .business h2 { display: block; background: #6e52a9; color: #fff; font-size: 20px; padding: 20px 40px; margin: 0; text-align: left; }
.pricing-table-inner .business h2 span { font-size: 50px; }
.pricing-table-inner .column .price { background: #ccc; padding: 40px 0; margin: -40px auto 0 auto; width: 100px; font: 700 15px "open sans", sans-serif; border-radius: 50%; box-shadow: 0 0 5px #333; position: relative; }
.pricing-table-inner .professional { position: relative; -webkit-box-shadow: 0px 9px 41px 0px rgba(0,0,0,0.18); -moz-box-shadow: 0px 9px 41px 0px rgba(0,0,0,0.18); box-shadow: 0px 9px 41px 0px rgba(0,0,0,0.18); }
.pricing-table-inner .button { color: #fff; background: #00bfff; padding: 15px 0; text-shadow: 1px 1px 2px #000; }
.pricing-table-inner .credit { clear: both; display: block; padding-top: 20px; font-weight: 700; }
.pricing-table-inner .white { background: #fff!important; }
.team-section { background: #fff; text-align: center; color: #333; padding: 100px 0; }
.team-section h1 { margin: 0 0 20px 0; font-size: 42px; font-weight: 500; text-align: center; color: #333; font-family: 'Futura PT'; }
.team-section p { width: 75%; margin: 20px auto; padding: 0; font-size: 20px; font-family: 'Futura PT Book'; text-align: center; }
.team-section img { border-radius: 100px; -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.24); -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.24); box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.24); }
.team-section h2 { font-size: 22px; font-weight: 500; color: #333; padding: 0; margin: 30px 0 0 0; }
.team-section label { font-size: 16px; font-family: 'Futura PT Book'; font-weight: normal; color: #000; }
.contact-section { background: #fff; text-align: left; color: #000; padding: 100px 0; }
.contact-section h1 { margin: 0 0 20px 0; font-size: 42px; font-weight: 500; text-align: left; color: #000; }
.contact-section p { width: 70%; margin: 20px auto; padding: 0; font-size: 20px; font-family: 'Futura PT Book'; text-align: center; }
.contact-section .panel { background: transparent; }
.contact-section .panel-default { border: none 0; box-shadow: none; border-bottom: solid 1px #cdcfd7; }
.contact-section .panel-default>.panel-heading { color: #000; background-color: transparent; border-color: transparent; font-size: 20px; padding: 10px 0 15px 0; }
.contact-section .panel-title, .contact-section .panel-title a { font-size: 20px; text-decoration: none; color: #6c50a6; }
.contact-section .panel-title, .contact-section .panel-title a.collapsed { font-size: 20px; text-decoration: none; color: #000; }
.contact-section .panel-default>.panel-heading+.panel-collapse>.panel-body { font-size: 18px; border: none 0!important; padding: 10px 0; }
.contact-section .panel-heading [data-toggle="collapse"]:after { font-family: 'Glyphicons Halflings'; content: "\e258"; /* "play" icon */ float: right; color: #6c50a6; font-size: 14px; line-height: 22px; /* rotate "play" icon from > (right arrow) to down arrow */ -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); }
.contact-section .panel-heading [data-toggle="collapse"].collapsed:after { /* rotate "play" icon from > (right arrow) to ^ (up arrow) */ -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); color: #ccc; }
.contact-section .contactbox { position: relative; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a74fc5+0,7150a8+100 */ background: #a74fc5; /* Old browsers */ background: -moz-linear-gradient(top, #a74fc5 0%, #7150a8 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #a74fc5 0%, #7150a8 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #a74fc5 0%, #7150a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74fc5', endColorstr='#7150a8', GradientType=0 ); /* IE6-9 */
padding: 100px; border-radius: 50px; position: relative }
.contact-section .contactbox:before { content: ""; position: absolute; bottom: -70px; right: 40%; border-width: 0 140px 70px 0; border-style: solid; border-color: transparent #6f50a8; }
.contact-section .contactbox:after { content: ""; position: absolute; bottom: -100px; right: 40%; border-width: 0 50px 100px 0; border-style: solid; border-color: transparent #fff; }
.contact-section .contactbox h1 { margin: 0 0 20px 0; font-size: 42px; font-weight: 500; text-align: left; color: #fff; }
.contact-section .contactbox input, .contact-section .contactbox textarea { border: none 0; background: transparent; border-bottom: solid 1px #fff; outline: 0; color: #fff; width: 100%; font-size: 18px; font-family: 'Futura PT'; font-weight: 300; margin-bottom: 20px; line-height: 25px; }
.contact-section .contactbox ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #d0b5e0;
}
.contact-section .contactbox ::-moz-placeholder { /* Firefox 19+ */
 color: #d0b5e0;
}
.contact-section .contactbox :-ms-input-placeholder { /* IE 10+ */
 color: #d0b5e0;
}
.contact-section .contactbox :-moz-placeholder { /* Firefox 18- */
 color: #d0b5e0;
}
.contact-section .panel-group .panel+.panel { margin: 5px 0!important; }
.btn-send { padding: 10px 0; text-align: center; background: #fff; color: #6c50a6; display: block; border-radius: 50px; font-size: 18px; }
.customer-section { background: url(../images/customer-back.jpg) no-repeat center top; background-size: cover; min-height: 409px; text-align: center; color: #fff; padding: 100px 0 0 0; }
.customer-section h1 { margin: 0 0 20px 0; font-size: 42px; font-weight: 500; text-align: center; color: #fff; }
.customer-section .customers { list-style: none; padding: 0; margin: 0; }
.customer-section .customers li { list-style: none; padding: 0; margin: 0; text-align: center; float: left; width: 20%; }
.footer { background: #f3f3f3; min-height: 100px; text-align: center; color: #fff; padding: 50px 0 0 0; }
.footer h1 { margin: 0 0 20px 0; font-size: 46px; font-weight: 500; text-align: center; color: #6c50a6; }
.footer .social { list-style: none; padding: 0; margin: 0; }
.footer .social li { list-style: none; padding: 0; margin: 0; text-align: center; display: inline-block; margin: 0 2px }
.footer .social li a { opacity: 1; transition: all 0.5s ease; }
.footer .social li a:hover { opacity: 0.8; }
.footer .navigation-links { list-style: none; padding: 0; margin: 50px 0; }
.footer .navigation-links li { list-style: none; padding: 0; margin: 0; text-align: center; display: inline-block; margin: 0 10px }
.footer .navigation-links li a { font-size: 18px; color: #000; text-decoration: none; transition: all 0.5s ease; font-family: 'Futura PT Book'; }
.footer .navigation-links li a:hover { opacity: 0.8; }
.copyright { background: #27272a; line-height: 40px; font-size: 12px; color: #fff; }
.copyright span, .copyright a { color: #fbb03d; }
.affix { background-color: #a64fc4!important; margin-top: 0; padding-top: 15px; }
.personal .chooseaplan-btn { background: #333; color: #fff; font-family: 'Futura PT'; font-weight: 500; text-decoration: none; font-size: 18px; text-align: center; padding: 15px 50px; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; margin: 43px 29px; display: block; transition: all 0.5s ease; }
.personal .chooseaplan-btn:hover { opacity: 0.8; }
.professional .chooseaplan-btn { background: #5588d5; color: #fff; font-family: 'Futura PT'; font-weight: 500; text-decoration: none; font-size: 18px; text-align: center; padding: 15px 50px; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; margin: 43px 29px; display: block; transition: all 0.5s ease; }
.professional .chooseaplan-btn:hover { opacity: 0.8; }
.business .chooseaplan-btn { background: #6c50a6; color: #fff; font-family: 'Futura PT'; font-weight: 500; text-decoration: none; font-size: 18px; text-align: center; padding: 15px 50px; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; margin: 43px 29px; display: block; transition: all 0.5s ease; }
.business .chooseaplan-btn:hover { opacity: 0.8; }
.short-text { overflow: hidden; height: 2em; }
.full-text { height: auto; }


.tabs.tabs-inline { *zoom: 1}
.tabs.tabs-inline:after { content: ""; display: table; clear: both }
.tabs.tabs-inline.tabs-top{text-align: center;}
.tabs.tabs-inline.tabs-top>li { float: none; margin-right: 15px ;margin-bottom: 10px;display: inline-block;}
.tabs.tabs-inline.tabs-top>li:last-child{margin-right: 0;}
.tabs.tabs-inline.tabs-top>li.active>a { background: #fff; color: #333 ;border:none;background:#8550b3; color: #fff;border-radius: 3px;}
.tabs.tabs-inline.tabs-top>li.active>a:hover { background: #fff; color: #333 ;border:none;background:#8550b3; color: #fff;border-radius: 3px;}
.tabs.tabs-inline.tabs-top>li>a { color: #666; background: none; padding: 10px 20px; text-decoration: none; display: block ;border-bottom:2px solid #8550b3;}
.tabs.tabs-inline.tabs-top>li>a:hover { background: #fff; color: #333 ;border:none;background:#8550b3; color: #fff;border-radius: 3px;}
.tabs.tabs-inline.tabs-left { position: absolute; background: #eee; width: 150px }
.tabs.tabs-inline.tabs-left>li:first-child>a { border-top: 0 }
.tabs.tabs-inline.tabs-left>li:last-child>a { border-bottom: 1px solid #bbb }
.tabs.tabs-inline.tabs-left>li.active>a { background: #fff; color: #333; margin-right: -1px }
.tabs.tabs-inline.tabs-left>li.active>a:hover { background: #fff }
.tabs.tabs-inline.tabs-left>li>a { display: block; padding: 10px 20px; color: #666; background: #ddd; text-decoration: none; border-top: 1px solid #bbb }
.tabs.tabs-inline.tabs-left>li>a:hover { background: #ddd; color: #333 }
.tab-content.padding { padding: 20px }
.tab-content.tab-content-inline { border-left: 1px solid #bbb; margin-left: 150px }
.tab-content.tab-content-inline.tab-content-bottom { border-left: 0; margin-left: 0 }
.tabs { list-style-type: none; margin: 0; padding: 0 }








@media (min-width:1377px) and (max-width:1920px) {
.carousel { height: 720px!important; }
.carousel-caption h1 { margin-top: 10px!important; }
}
.navbar-toggle .icon-bar { background-color: #fff; }
/* .in .nav.navbar-nav { width: 100%; margin-top: 30px; background-color: #a64fc4; } */
/* .in .nav.navbar-nav a { color: #fff!important; }
.in .nav.navbar-nav a:focus, .in .nav.navbar-nav a:hover { color: #fff; background-color: #6e52a9; }
.in .navbar-nav>li>a.login-btn { margin: 15px; }
.in { margin-top: 25px; } */
.btn-findout {font-family: 'Futura PT';font-weight: 500;font-size: 20px;color: #fff;background-color: transparent;border: solid 2px #fff;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;padding: 10px 35px;transition: all 0.5s ease;}
.btn-findout:hover {color: #6e52a9;background-color: #e8e8e8;border: solid 2px #e8e8e8;}
@media (max-width:1200px) and (min-width:768px){
.contact-section .contactbox {padding: 50px;border-radius:50px;}
.customer-section .customers li {width: 30%;margin-bottom:50px}
}
@media screen and (max-width:767px){
.contact-section .contactbox:before {right: 30%;}
.contact-section .contactbox:after { right: 30%;}
.contact-section .contactbox {padding: 50px;border-radius:50px;}
.customer-section .customers li {width: 30%;margin-bottom:50px}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{max-height: 100% !important;margin-top: 30px;padding:0;}
.nav.navbar-nav{margin: 0; width: 100%;margin-top: 10px;background-color: #a64fc4;}
.nav.navbar-nav a { color: #fff!important; }
.nav.navbar-nav a:focus, .in .nav.navbar-nav a:hover { color: #fff; background-color: #6e52a9; }
.navbar-nav>li>a.login-btn { margin: 15px; }
.navbar-brand{padding:15px 0;}	
.navbar-toggle{margin-top: 20px;}
.carousel-inner{clip-path:none;}
.capture-section .capture h1{font-size: 35px;}
.btn-send{padding:10px;}
.navbar{margin-bottom: 0;}
.affix{padding-top: 0;}
}
@media screen and (max-width:640px){
.customer-section .customers li {width: 40%;margin-bottom:50px}
}
@media screen and (max-width:540px){
.customer-section .customers li {width: 50%;margin-bottom:50px}
.carousel-caption{left: 0;right: 0;padding:0 15px;}
.carousel-caption h1{font-size: 35px;}
.carousel-caption{font-size: 18px;line-height: 30px;}
.btn-request{font-size: 16px;padding: 10px 15px;}
}
@media screen and (max-width:400px){
.contact-section .contactbox:before {right: 20%;}
.contact-section .contactbox:after {right: 20%;}
.contact-section .contactbox{padding: 20px;border-radius:20px;}
.customer-section .customers li{width: 100%;margin-bottom:50px;text-align:center;}
.copyright{line-height: normal;padding:10px 0;}
}

@media screen and (max-width:390px){
.navbar-brand{height: auto !important;float: none;padding:15px 0;display: block;}	
.navbar-brand img{width: 70%;display: inline-block;}
}

.intro_video a{background: #7450a9;border-color: #7450a9;color: #fff;transition: all 0.3s;margin-bottom: 20px;}
.intro_video a:hover{background: none;color: #7450a9;}
.empty-crusal {
    background-color: #a64fc4!important;
    width: 100%;
    height: 90px;
}
