

/****Form****/

#form {
	padding-top: 2px;
	width: 517px;
}

#form input {
	width: 100%;
	height: 29px;
	float:left;
	background: #f8f8f8;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	color: #4c596b;
    font: 12px/18px Arial, Helvetica, sans-serif;
	border: 2px solid #cfd5da;
    padding: 5px 12px 6px;
}


#form textarea {
	width: 100%;
	height:237px;
	position: relative;
	resize:none;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	float:left;
	margin: 0;
	color: #4c596b;
    font: 12px/18px Arial, Helvetica, sans-serif;
	border: 2px solid #cfd5da;
	background: #f8f8f8;
    padding: 5px 12px 6px;	
}



#form ._placeholder {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #4c596b;
    font: 12px/18px Arial, Helvetica, sans-serif;
	border: 2px solid transparent;
    padding: 5px 12px 6px;
	height: 29px !important;
	width: 100% !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	position: absolute;
	right: 0;
	top: 0 !important;
	bottom: 0;
	left: 0;
	cursor: text !important;
	display: block;
}

#form ._placeholder.hidden {
	display: none;
}

#form ._placeholder.focused {
	opacity: 0.3;
}


#form .message ._placeholder {
	height: 100% !important;
}
#form label {
	position:relative;
	display: block;
	min-height: 40px;
	float: left;
	width: 169px;
}

#form label+label {
	margin-left: 5px;
}


#form label.message {
	width: 100%;
	position: relative;
	margin-left: 0;
}




#form .error-message, #form .empty-message {
	color: #E02A05;
	font-size: 10px;
	line-height:14px;
	width:auto;
	position: absolute;
	z-index: 999;
	top: 10px;
	opacity: 0;
	right: 5px;
	float:left;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

/*#form .message .error-message, #form .message .empty-message {
	bottom: -16px;
}*/




#form .invalid .error-message, #form .empty .empty-message {
	opacity: 1;
}

.btns {
	text-align: right;
	padding-top: 24px;
	font-size: 0;
	line-height: 0;

}

.btns a.btn {
	margin-top: 0;
	text-align: center;
	margin-left: 5px;

}

.btns a.btn+a.btn {
	
}




.message br {
	height: 0;
	line-height: 0;
}

#form .success-message {
	position: absolute;
	background: #f8f8f8;
	border: 2px solid #cfd5da;
	width: 100%;
	color: #4c4c4c;
    font: 14px/18px Arial, Helvetica, sans-serif;
	display: none;
	opacity: 0;
	height: 116px;
    opacity: 0;
    padding: 46px 10px;
	text-align: center;
	z-index: 999;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

#form.success .success-message {
	display: block;
	opacity: 1;
}

.success_wrapper {
	position: relative;	
}

/* The gallery overlay */

#galleryOverlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	z-index:100000;
	background-color:#222;
	background-color:rgba(0,0,0,0.8);
	overflow:hidden;
	display:none;
	
	-moz-transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;
	transition:opacity 1s ease;
}

/* This class will trigger the animation */

#galleryOverlay.visible{
	opacity:1;
}

#gallerySlider{
	height:100%;
	
	left:0;
	top:0;
	
	width:100%;
	white-space: nowrap;
	position:absolute;
	
	-moz-transition:left 0.4s ease;
	-webkit-transition:left 0.4s ease;
	transition:left 0.4s ease;
}

#gallerySlider .placeholder{
	background: url("../images/preloader.gif") no-repeat center center;
	height: 100%;
	line-height: 1px;
	text-align: center;
	width:100%;
	display:inline-block;
}

/* The before element moves the
 * image halfway from the top */

#gallerySlider .placeholder:before{
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right:-1px;
}

#gallerySlider .placeholder img{
	display: inline-block;
	max-height: 80%;
	max-width: 80%;
	width: auto !important;
	vertical-align: middle;
}

#gallerySlider.rightSpring{
	-moz-animation: rightSpring 0.3s;
	-webkit-animation: rightSpring 0.3s;
}

#gallerySlider.leftSpring{
	-moz-animation: leftSpring 0.3s;
	-webkit-animation: leftSpring 0.3s;
}

/* Firefox Keyframe Animations */

@-moz-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-moz-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Safari and Chrome Keyframe Animations */

@-webkit-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-webkit-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Arrows */

#prevArrow,#nextArrow{
	border:none;
	text-decoration:none;
	background:url('../images/arrowws.png') no-repeat;
	opacity:0.5;
	cursor:pointer;
	position:absolute;
	width:43px;
	height:58px;
	
	top:50%;
	margin-top:-29px;
	
	-moz-transition:opacity 0.2s ease;
	-webkit-transition:opacity 0.2s ease;
	transition:opacity 0.2s ease;
}

#prevArrow:hover, #nextArrow:hover{
	opacity:1;
}

#prevArrow{
	background-position:left top;
	left:40px;
}

#nextArrow{
	background-position:right top;
	right:40px;
}


a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}

/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
    min-width: 960px;
  }
  
  /* `Container
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }
  
  /* `Grid >> Global
  ----------------------------------------------------------------------------------------------------*/
  
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .push_1, .pull_1,
  .push_2, .pull_2,
  .push_3, .pull_3,
  .push_4, .pull_4,
  .push_5, .pull_5,
  .push_6, .pull_6,
  .push_7, .pull_7,
  .push_8, .pull_8,
  .push_9, .pull_9,
  .push_10, .pull_10,
  .push_11, .pull_11 {
    position: relative;
  }
  
  /* `Grid >> Children (Alpha ~ First, Omega ~ Last)
  ----------------------------------------------------------------------------------------------------*/
  
  .alpha {
    margin-left: 0;
  }
  
  .omega {
    margin-right: 0;
  }
  
  /* `Grid >> 12 Columns
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 .grid_1 {
    width: 60px;
  }
  
  .container_12 .grid_2 {
    width: 140px;
  }
  
  .container_12 .grid_3 {
    width: 220px;
  }
  
  .container_12 .grid_4 {
    width: 300px;
  }
  
  .container_12 .grid_5 {
    width: 380px;
  }
  
  .container_12 .grid_6 {
    width: 460px;
  }
  
  .container_12 .grid_7 {
    width: 540px;
  }
  
  .container_12 .grid_8 {
    width: 620px;
  }
  
  .container_12 .grid_9 {
    width: 700px;
  }
  
  .container_12 .grid_10 {
    width: 780px;
  }
  
  .container_12 .grid_11 {
    width: 860px;
  }
  
  .container_12 .grid_12 {
    width: 940px;
  }
  
  /* `Prefix Extra Space >> 12 Columns
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 .prefix_1 {
    padding-left: 80px;
  }
  
  .container_12 .prefix_2 {
    padding-left: 160px;
  }
  
  .container_12 .prefix_3 {
    padding-left: 240px;
  }
  
  .container_12 .prefix_4 {
    padding-left: 320px;
  }
  
  .container_12 .prefix_5 {
    padding-left: 400px;
  }
  
  .container_12 .prefix_6 {
    padding-left: 480px;
  }
  
  .container_12 .prefix_7 {
    padding-left: 560px;
  }
  
  .container_12 .prefix_8 {
    padding-left: 640px;
  }
  
  .container_12 .prefix_9 {
    padding-left: 720px;
  }
  
  .container_12 .prefix_10 {
    padding-left: 800px;
  }
  
  .container_12 .prefix_11 {
    padding-left: 880px;
  }
  
  /* `Suffix Extra Space >> 12 Columns
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 .suffix_1 {
    padding-right: 80px;
  }
  
  .container_12 .suffix_2 {
    padding-right: 160px;
  }
  
  .container_12 .suffix_3 {
    padding-right: 240px;
  }
  
  .container_12 .suffix_4 {
    padding-right: 320px;
  }
  
  .container_12 .suffix_5 {
    padding-right: 400px;
  }
  
  .container_12 .suffix_6 {
    padding-right: 480px;
  }
  
  .container_12 .suffix_7 {
    padding-right: 560px;
  }
  
  .container_12 .suffix_8 {
    padding-right: 640px;
  }
  
  .container_12 .suffix_9 {
    padding-right: 720px;
  }
  
  .container_12 .suffix_10 {
    padding-right: 800px;
  }
  
  .container_12 .suffix_11 {
    padding-right: 880px;
  }
  
  /* `Push Space >> 12 Columns
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 .push_1 {
    left: 80px;
  }
  
  .container_12 .push_2 {
    left: 160px;
  }
  
  .container_12 .push_3 {
    left: 240px;
  }
  
  .container_12 .push_4 {
    left: 320px;
  }
  
  .container_12 .push_5 {
    left: 400px;
  }
  
  .container_12 .push_6 {
    left: 480px;
  }
  
  .container_12 .push_7 {
    left: 560px;
  }
  
  .container_12 .push_8 {
    left: 640px;
  }
  
  .container_12 .push_9 {
    left: 720px;
  }
  
  .container_12 .push_10 {
    left: 800px;
  }
  
  .container_12 .push_11 {
    left: 880px;
  }
  
  /* `Pull Space >> 12 Columns
  ----------------------------------------------------------------------------------------------------*/
  
  .container_12 .pull_1 {
    left: -80px;
  }
  
  .container_12 .pull_2 {
    left: -160px;
  }
  
  .container_12 .pull_3 {
    left: -240px;
  }
  
  .container_12 .pull_4 {
    left: -320px;
  }
  
  .container_12 .pull_5 {
    left: -400px;
  }
  
  .container_12 .pull_6 {
    left: -480px;
  }
  
  .container_12 .pull_7 {
    left: -560px;
  }
  
  .container_12 .pull_8 {
    left: -640px;
  }
  
  .container_12 .pull_9 {
    left: -720px;
  }
  
  .container_12 .pull_10 {
    left: -800px;
  }
  
  .container_12 .pull_11 {
    left: -880px;
  }
  
  /* `Clear Floated Elements
  ----------------------------------------------------------------------------------------------------*/
  
  /* http://sonspring.com/journal/clearing-floats */
  
  .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  
  /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
  
  .clearfix:before,
  .clearfix:after,
  .container_12:before,
  .container_12:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
  }
  
  .clearfix:after,
  .container_12:after {
    clear: both;
  }
  
  /*
    The following zoom:1 rule is specifically for IE6 + IE7.
    Move to separate stylesheet if invalid CSS is a problem.
  */
  
  .clearfix,
  .container_12 {
    zoom: 1;
  }

  /*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* makes the font 33% larger relative to the icon container */
  .fa-lg {
    font-size: 1.3333333333333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  .fa-2x {
    font-size: 2em;
  }
  .fa-3x {
    font-size: 3em;
  }
  .fa-4x {
    font-size: 4em;
  }
  .fa-5x {
    font-size: 5em;
  }
  .fa-fw {
    width: 1.2857142857142858em;
    text-align: center;
  }
  .fa-ul {
    padding-left: 0;
    margin-left: 2.142857142857143em;
    list-style-type: none;
  }
  .fa-ul > li {
    position: relative;
  }
  .fa-li {
    position: absolute;
    left: -2.142857142857143em;
    width: 2.142857142857143em;
    top: 0.14285714285714285em;
    text-align: center;
  }
  .fa-li.fa-lg {
    left: -1.8571428571428572em;
  }
  .fa-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
  }
  .pull-right {
    float: right;
  }
  .pull-left {
    float: left;
  }
  .fa.pull-left {
    margin-right: .3em;
  }
  .fa.pull-right {
    margin-left: .3em;
  }
  .fa-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
  @-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(359deg);
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
    }
  }
  @-o-keyframes spin {
    0% {
      -o-transform: rotate(0deg);
    }
    100% {
      -o-transform: rotate(359deg);
    }
  }
  @-ms-keyframes spin {
    0% {
      -ms-transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(359deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
  .fa-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .fa-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .fa-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .fa-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
  .fa-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
  }
  .fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
  }
  .fa-stack-1x,
  .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .fa-stack-1x {
    line-height: inherit;
  }
  .fa-stack-2x {
    font-size: 2em;
  }
  .fa-inverse {
    color: #ffffff;
  }
  /* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
     readers do not read off random characters that represent icons */
  .fa-glass:before {
    content: "\f000";
  }
  .fa-music:before {
    content: "\f001";
  }
  .fa-search:before {
    content: "\f002";
  }
  .fa-envelope-o:before {
    content: "\f003";
  }
  .fa-heart:before {
    content: "\f004";
  }
  .fa-star:before {
    content: "\f005";
  }
  .fa-star-o:before {
    content: "\f006";
  }
  .fa-user:before {
    content: "\f007";
  }
  .fa-film:before {
    content: "\f008";
  }
  .fa-th-large:before {
    content: "\f009";
  }
  .fa-th:before {
    content: "\f00a";
  }
  .fa-th-list:before {
    content: "\f00b";
  }
  .fa-check:before {
    content: "\f00c";
  }
  .fa-times:before {
    content: "\f00d";
  }
  .fa-search-plus:before {
    content: "\f00e";
  }
  .fa-search-minus:before {
    content: "\f010";
  }
  .fa-power-off:before {
    content: "\f011";
  }
  .fa-signal:before {
    content: "\f012";
  }
  .fa-gear:before,
  .fa-cog:before {
    content: "\f013";
  }
  .fa-trash-o:before {
    content: "\f014";
  }
  .fa-home:before {
    content: "\f015";
  }
  .fa-file-o:before {
    content: "\f016";
  }
  .fa-clock-o:before {
    content: "\f017";
  }
  .fa-road:before {
    content: "\f018";
  }
  .fa-download:before {
    content: "\f019";
  }
  .fa-arrow-circle-o-down:before {
    content: "\f01a";
  }
  .fa-arrow-circle-o-up:before {
    content: "\f01b";
  }
  .fa-inbox:before {
    content: "\f01c";
  }
  .fa-play-circle-o:before {
    content: "\f01d";
  }
  .fa-rotate-right:before,
  .fa-repeat:before {
    content: "\f01e";
  }
  .fa-refresh:before {
    content: "\f021";
  }
  .fa-list-alt:before {
    content: "\f022";
  }
  .fa-lock:before {
    content: "\f023";
  }
  .fa-flag:before {
    content: "\f024";
  }
  .fa-headphones:before {
    content: "\f025";
  }
  .fa-volume-off:before {
    content: "\f026";
  }
  .fa-volume-down:before {
    content: "\f027";
  }
  .fa-volume-up:before {
    content: "\f028";
  }
  .fa-qrcode:before {
    content: "\f029";
  }
  .fa-barcode:before {
    content: "\f02a";
  }
  .fa-tag:before {
    content: "\f02b";
  }
  .fa-tags:before {
    content: "\f02c";
  }
  .fa-book:before {
    content: "\f02d";
  }
  .fa-bookmark:before {
    content: "\f02e";
  }
  .fa-print:before {
    content: "\f02f";
  }
  .fa-camera:before {
    content: "\f030";
  }
  .fa-font:before {
    content: "\f031";
  }
  .fa-bold:before {
    content: "\f032";
  }
  .fa-italic:before {
    content: "\f033";
  }
  .fa-text-height:before {
    content: "\f034";
  }
  .fa-text-width:before {
    content: "\f035";
  }
  .fa-align-left:before {
    content: "\f036";
  }
  .fa-align-center:before {
    content: "\f037";
  }
  .fa-align-right:before {
    content: "\f038";
  }
  .fa-align-justify:before {
    content: "\f039";
  }
  .fa-list:before {
    content: "\f03a";
  }
  .fa-dedent:before,
  .fa-outdent:before {
    content: "\f03b";
  }
  .fa-indent:before {
    content: "\f03c";
  }
  .fa-video-camera:before {
    content: "\f03d";
  }
  .fa-picture-o:before {
    content: "\f03e";
  }
  .fa-pencil:before {
    content: "\f040";
  }
  .fa-map-marker:before {
    content: "\f041";
  }
  .fa-adjust:before {
    content: "\f042";
  }
  .fa-tint:before {
    content: "\f043";
  }
  .fa-edit:before,
  .fa-pencil-square-o:before {
    content: "\f044";
  }
  .fa-share-square-o:before {
    content: "\f045";
  }
  .fa-check-square-o:before {
    content: "\f046";
  }
  .fa-arrows:before {
    content: "\f047";
  }
  .fa-step-backward:before {
    content: "\f048";
  }
  .fa-fast-backward:before {
    content: "\f049";
  }
  .fa-backward:before {
    content: "\f04a";
  }
  .fa-play:before {
    content: "\f04b";
  }
  .fa-pause:before {
    content: "\f04c";
  }
  .fa-stop:before {
    content: "\f04d";
  }
  .fa-forward:before {
    content: "\f04e";
  }
  .fa-fast-forward:before {
    content: "\f050";
  }
  .fa-step-forward:before {
    content: "\f051";
  }
  .fa-eject:before {
    content: "\f052";
  }
  .fa-chevron-left:before {
    content: "\f053";
  }
  .fa-chevron-right:before {
    content: "\f054";
  }
  .fa-plus-circle:before {
    content: "\f055";
  }
  .fa-minus-circle:before {
    content: "\f056";
  }
  .fa-times-circle:before {
    content: "\f057";
  }
  .fa-check-circle:before {
    content: "\f058";
  }
  .fa-question-circle:before {
    content: "\f059";
  }
  .fa-info-circle:before {
    content: "\f05a";
  }
  .fa-crosshairs:before {
    content: "\f05b";
  }
  .fa-times-circle-o:before {
    content: "\f05c";
  }
  .fa-check-circle-o:before {
    content: "\f05d";
  }
  .fa-ban:before {
    content: "\f05e";
  }
  .fa-arrow-left:before {
    content: "\f060";
  }
  .fa-arrow-right:before {
    content: "\f061";
  }
  .fa-arrow-up:before {
    content: "\f062";
  }
  .fa-arrow-down:before {
    content: "\f063";
  }
  .fa-mail-forward:before,
  .fa-share:before {
    content: "\f064";
  }
  .fa-expand:before {
    content: "\f065";
  }
  .fa-compress:before {
    content: "\f066";
  }
  .fa-plus:before {
    content: "\f067";
  }
  .fa-minus:before {
    content: "\f068";
  }
  .fa-asterisk:before {
    content: "\f069";
  }
  .fa-exclamation-circle:before {
    content: "\f06a";
  }
  .fa-gift:before {
    content: "\f06b";
  }
  .fa-leaf:before {
    content: "\f06c";
  }
  .fa-fire:before {
    content: "\f06d";
  }
  .fa-eye:before {
    content: "\f06e";
  }
  .fa-eye-slash:before {
    content: "\f070";
  }
  .fa-warning:before,
  .fa-exclamation-triangle:before {
    content: "\f071";
  }
  .fa-plane:before {
    content: "\f072";
  }
  .fa-calendar:before {
    content: "\f073";
  }
  .fa-random:before {
    content: "\f074";
  }
  .fa-comment:before {
    content: "\f075";
  }
  .fa-magnet:before {
    content: "\f076";
  }
  .fa-chevron-up:before {
    content: "\f077";
  }
  .fa-chevron-down:before {
    content: "\f078";
  }
  .fa-retweet:before {
    content: "\f079";
  }
  .fa-shopping-cart:before {
    content: "\f07a";
  }
  .fa-folder:before {
    content: "\f07b";
  }
  .fa-folder-open:before {
    content: "\f07c";
  }
  .fa-arrows-v:before {
    content: "\f07d";
  }
  .fa-arrows-h:before {
    content: "\f07e";
  }
  .fa-bar-chart-o:before {
    content: "\f080";
  }
  .fa-twitter-square:before {
    content: "\f081";
  }
  .fa-facebook-square:before {
    content: "\f082";
  }
  .fa-camera-retro:before {
    content: "\f083";
  }
  .fa-key:before {
    content: "\f084";
  }
  .fa-gears:before,
  .fa-cogs:before {
    content: "\f085";
  }
  .fa-comments:before {
    content: "\f086";
  }
  .fa-thumbs-o-up:before {
    content: "\f087";
  }
  .fa-thumbs-o-down:before {
    content: "\f088";
  }
  .fa-star-half:before {
    content: "\f089";
  }
  .fa-heart-o:before {
    content: "\f08a";
  }
  .fa-sign-out:before {
    content: "\f08b";
  }
  .fa-linkedin-square:before {
    content: "\f08c";
  }
  .fa-thumb-tack:before {
    content: "\f08d";
  }
  .fa-external-link:before {
    content: "\f08e";
  }
  .fa-sign-in:before {
    content: "\f090";
  }
  .fa-trophy:before {
    content: "\f091";
  }
  .fa-github-square:before {
    content: "\f092";
  }
  .fa-upload:before {
    content: "\f093";
  }
  .fa-lemon-o:before {
    content: "\f094";
  }
  .fa-phone:before {
    content: "\f095";
  }
  .fa-square-o:before {
    content: "\f096";
  }
  .fa-bookmark-o:before {
    content: "\f097";
  }
  .fa-phone-square:before {
    content: "\f098";
  }
  .fa-twitter:before {
    content: "\f099";
  }
  .fa-facebook:before {
    content: "\f09a";
  }
  .fa-github:before {
    content: "\f09b";
  }
  .fa-unlock:before {
    content: "\f09c";
  }
  .fa-credit-card:before {
    content: "\f09d";
  }
  .fa-rss:before {
    content: "\f09e";
  }
  .fa-hdd-o:before {
    content: "\f0a0";
  }
  .fa-bullhorn:before {
    content: "\f0a1";
  }
  .fa-bell:before {
    content: "\f0f3";
  }
  .fa-certificate:before {
    content: "\f0a3";
  }
  .fa-hand-o-right:before {
    content: "\f0a4";
  }
  .fa-hand-o-left:before {
    content: "\f0a5";
  }
  .fa-hand-o-up:before {
    content: "\f0a6";
  }
  .fa-hand-o-down:before {
    content: "\f0a7";
  }
  .fa-arrow-circle-left:before {
    content: "\f0a8";
  }
  .fa-arrow-circle-right:before {
    content: "\f0a9";
  }
  .fa-arrow-circle-up:before {
    content: "\f0aa";
  }
  .fa-arrow-circle-down:before {
    content: "\f0ab";
  }
  .fa-globe:before {
    content: "\f0ac";
  }
  .fa-wrench:before {
    content: "\f0ad";
  }
  .fa-tasks:before {
    content: "\f0ae";
  }
  .fa-filter:before {
    content: "\f0b0";
  }
  .fa-briefcase:before {
    content: "\f0b1";
  }
  .fa-arrows-alt:before {
    content: "\f0b2";
  }
  .fa-group:before,
  .fa-users:before {
    content: "\f0c0";
  }
  .fa-chain:before,
  .fa-link:before {
    content: "\f0c1";
  }
  .fa-cloud:before {
    content: "\f0c2";
  }
  .fa-flask:before {
    content: "\f0c3";
  }
  .fa-cut:before,
  .fa-scissors:before {
    content: "\f0c4";
  }
  .fa-copy:before,
  .fa-files-o:before {
    content: "\f0c5";
  }
  .fa-paperclip:before {
    content: "\f0c6";
  }
  .fa-save:before,
  .fa-floppy-o:before {
    content: "\f0c7";
  }
  .fa-square:before {
    content: "\f0c8";
  }
  .fa-bars:before {
    content: "\f0c9";
  }
  .fa-list-ul:before {
    content: "\f0ca";
  }
  .fa-list-ol:before {
    content: "\f0cb";
  }
  .fa-strikethrough:before {
    content: "\f0cc";
  }
  .fa-underline:before {
    content: "\f0cd";
  }
  .fa-table:before {
    content: "\f0ce";
  }
  .fa-magic:before {
    content: "\f0d0";
  }
  .fa-truck:before {
    content: "\f0d1";
  }
  .fa-pinterest:before {
    content: "\f0d2";
  }
  .fa-pinterest-square:before {
    content: "\f0d3";
  }
  .fa-google-plus-square:before {
    content: "\f0d4";
  }
  .fa-google-plus:before {
    content: "\f0d5";
  }
  .fa-money:before {
    content: "\f0d6";
  }
  .fa-caret-down:before {
    content: "\f0d7";
  }
  .fa-caret-up:before {
    content: "\f0d8";
  }
  .fa-caret-left:before {
    content: "\f0d9";
  }
  .fa-caret-right:before {
    content: "\f0da";
  }
  .fa-columns:before {
    content: "\f0db";
  }
  .fa-unsorted:before,
  .fa-sort:before {
    content: "\f0dc";
  }
  .fa-sort-down:before,
  .fa-sort-asc:before {
    content: "\f0dd";
  }
  .fa-sort-up:before,
  .fa-sort-desc:before {
    content: "\f0de";
  }
  .fa-envelope:before {
    content: "\f0e0";
  }
  .fa-linkedin:before {
    content: "\f0e1";
  }
  .fa-rotate-left:before,
  .fa-undo:before {
    content: "\f0e2";
  }
  .fa-legal:before,
  .fa-gavel:before {
    content: "\f0e3";
  }
  .fa-dashboard:before,
  .fa-tachometer:before {
    content: "\f0e4";
  }
  .fa-comment-o:before {
    content: "\f0e5";
  }
  .fa-comments-o:before {
    content: "\f0e6";
  }
  .fa-flash:before,
  .fa-bolt:before {
    content: "\f0e7";
  }
  .fa-sitemap:before {
    content: "\f0e8";
  }
  .fa-umbrella:before {
    content: "\f0e9";
  }
  .fa-paste:before,
  .fa-clipboard:before {
    content: "\f0ea";
  }
  .fa-lightbulb-o:before {
    content: "\f0eb";
  }
  .fa-exchange:before {
    content: "\f0ec";
  }
  .fa-cloud-download:before {
    content: "\f0ed";
  }
  .fa-cloud-upload:before {
    content: "\f0ee";
  }
  .fa-user-md:before {
    content: "\f0f0";
  }
  .fa-stethoscope:before {
    content: "\f0f1";
  }
  .fa-suitcase:before {
    content: "\f0f2";
  }
  .fa-bell-o:before {
    content: "\f0a2";
  }
  .fa-coffee:before {
    content: "\f0f4";
  }
  .fa-cutlery:before {
    content: "\f0f5";
  }
  .fa-file-text-o:before {
    content: "\f0f6";
  }
  .fa-building-o:before {
    content: "\f0f7";
  }
  .fa-hospital-o:before {
    content: "\f0f8";
  }
  .fa-ambulance:before {
    content: "\f0f9";
  }
  .fa-medkit:before {
    content: "\f0fa";
  }
  .fa-fighter-jet:before {
    content: "\f0fb";
  }
  .fa-beer:before {
    content: "\f0fc";
  }
  .fa-h-square:before {
    content: "\f0fd";
  }
  .fa-plus-square:before {
    content: "\f0fe";
  }
  .fa-angle-double-left:before {
    content: "\f100";
  }
  .fa-angle-double-right:before {
    content: "\f101";
  }
  .fa-angle-double-up:before {
    content: "\f102";
  }
  .fa-angle-double-down:before {
    content: "\f103";
  }
  .fa-angle-left:before {
    content: "\f104";
  }
  .fa-angle-right:before {
    content: "\f105";
  }
  .fa-angle-up:before {
    content: "\f106";
  }
  .fa-angle-down:before {
    content: "\f107";
  }
  .fa-desktop:before {
    content: "\f108";
  }
  .fa-laptop:before {
    content: "\f109";
  }
  .fa-tablet:before {
    content: "\f10a";
  }
  .fa-mobile-phone:before,
  .fa-mobile:before {
    content: "\f10b";
  }
  .fa-circle-o:before {
    content: "\f10c";
  }
  .fa-quote-left:before {
    content: "\f10d";
  }
  .fa-quote-right:before {
    content: "\f10e";
  }
  .fa-spinner:before {
    content: "\f110";
  }
  .fa-circle:before {
    content: "\f111";
  }
  .fa-mail-reply:before,
  .fa-reply:before {
    content: "\f112";
  }
  .fa-github-alt:before {
    content: "\f113";
  }
  .fa-folder-o:before {
    content: "\f114";
  }
  .fa-folder-open-o:before {
    content: "\f115";
  }
  .fa-smile-o:before {
    content: "\f118";
  }
  .fa-frown-o:before {
    content: "\f119";
  }
  .fa-meh-o:before {
    content: "\f11a";
  }
  .fa-gamepad:before {
    content: "\f11b";
  }
  .fa-keyboard-o:before {
    content: "\f11c";
  }
  .fa-flag-o:before {
    content: "\f11d";
  }
  .fa-flag-checkered:before {
    content: "\f11e";
  }
  .fa-terminal:before {
    content: "\f120";
  }
  .fa-code:before {
    content: "\f121";
  }
  .fa-reply-all:before {
    content: "\f122";
  }
  .fa-mail-reply-all:before {
    content: "\f122";
  }
  .fa-star-half-empty:before,
  .fa-star-half-full:before,
  .fa-star-half-o:before {
    content: "\f123";
  }
  .fa-location-arrow:before {
    content: "\f124";
  }
  .fa-crop:before {
    content: "\f125";
  }
  .fa-code-fork:before {
    content: "\f126";
  }
  .fa-unlink:before,
  .fa-chain-broken:before {
    content: "\f127";
  }
  .fa-question:before {
    content: "\f128";
  }
  .fa-info:before {
    content: "\f129";
  }
  .fa-exclamation:before {
    content: "\f12a";
  }
  .fa-superscript:before {
    content: "\f12b";
  }
  .fa-subscript:before {
    content: "\f12c";
  }
  .fa-eraser:before {
    content: "\f12d";
  }
  .fa-puzzle-piece:before {
    content: "\f12e";
  }
  .fa-microphone:before {
    content: "\f130";
  }
  .fa-microphone-slash:before {
    content: "\f131";
  }
  .fa-shield:before {
    content: "\f132";
  }
  .fa-calendar-o:before {
    content: "\f133";
  }
  .fa-fire-extinguisher:before {
    content: "\f134";
  }
  .fa-rocket:before {
    content: "\f135";
  }
  .fa-maxcdn:before {
    content: "\f136";
  }
  .fa-chevron-circle-left:before {
    content: "\f137";
  }
  .fa-chevron-circle-right:before {
    content: "\f138";
  }
  .fa-chevron-circle-up:before {
    content: "\f139";
  }
  .fa-chevron-circle-down:before {
    content: "\f13a";
  }
  .fa-html5:before {
    content: "\f13b";
  }
  .fa-css3:before {
    content: "\f13c";
  }
  .fa-anchor:before {
    content: "\f13d";
  }
  .fa-unlock-alt:before {
    content: "\f13e";
  }
  .fa-bullseye:before {
    content: "\f140";
  }
  .fa-ellipsis-h:before {
    content: "\f141";
  }
  .fa-ellipsis-v:before {
    content: "\f142";
  }
  .fa-rss-square:before {
    content: "\f143";
  }
  .fa-play-circle:before {
    content: "\f144";
  }
  .fa-ticket:before {
    content: "\f145";
  }
  .fa-minus-square:before {
    content: "\f146";
  }
  .fa-minus-square-o:before {
    content: "\f147";
  }
  .fa-level-up:before {
    content: "\f148";
  }
  .fa-level-down:before {
    content: "\f149";
  }
  .fa-check-square:before {
    content: "\f14a";
  }
  .fa-pencil-square:before {
    content: "\f14b";
  }
  .fa-external-link-square:before {
    content: "\f14c";
  }
  .fa-share-square:before {
    content: "\f14d";
  }
  .fa-compass:before {
    content: "\f14e";
  }
  .fa-toggle-down:before,
  .fa-caret-square-o-down:before {
    content: "\f150";
  }
  .fa-toggle-up:before,
  .fa-caret-square-o-up:before {
    content: "\f151";
  }
  .fa-toggle-right:before,
  .fa-caret-square-o-right:before {
    content: "\f152";
  }
  .fa-euro:before,
  .fa-eur:before {
    content: "\f153";
  }
  .fa-gbp:before {
    content: "\f154";
  }
  .fa-dollar:before,
  .fa-usd:before {
    content: "\f155";
  }
  .fa-rupee:before,
  .fa-inr:before {
    content: "\f156";
  }
  .fa-cny:before,
  .fa-rmb:before,
  .fa-yen:before,
  .fa-jpy:before {
    content: "\f157";
  }
  .fa-ruble:before,
  .fa-rouble:before,
  .fa-rub:before {
    content: "\f158";
  }
  .fa-won:before,
  .fa-krw:before {
    content: "\f159";
  }
  .fa-bitcoin:before,
  .fa-btc:before {
    content: "\f15a";
  }
  .fa-file:before {
    content: "\f15b";
  }
  .fa-file-text:before {
    content: "\f15c";
  }
  .fa-sort-alpha-asc:before {
    content: "\f15d";
  }
  .fa-sort-alpha-desc:before {
    content: "\f15e";
  }
  .fa-sort-amount-asc:before {
    content: "\f160";
  }
  .fa-sort-amount-desc:before {
    content: "\f161";
  }
  .fa-sort-numeric-asc:before {
    content: "\f162";
  }
  .fa-sort-numeric-desc:before {
    content: "\f163";
  }
  .fa-thumbs-up:before {
    content: "\f164";
  }
  .fa-thumbs-down:before {
    content: "\f165";
  }
  .fa-youtube-square:before {
    content: "\f166";
  }
  .fa-youtube:before {
    content: "\f167";
  }
  .fa-xing:before {
    content: "\f168";
  }
  .fa-xing-square:before {
    content: "\f169";
  }
  .fa-youtube-play:before {
    content: "\f16a";
  }
  .fa-dropbox:before {
    content: "\f16b";
  }
  .fa-stack-overflow:before {
    content: "\f16c";
  }
  .fa-instagram:before {
    content: "\f16d";
  }
  .fa-flickr:before {
    content: "\f16e";
  }
  .fa-adn:before {
    content: "\f170";
  }
  .fa-bitbucket:before {
    content: "\f171";
  }
  .fa-bitbucket-square:before {
    content: "\f172";
  }
  .fa-tumblr:before {
    content: "\f173";
  }
  .fa-tumblr-square:before {
    content: "\f174";
  }
  .fa-long-arrow-down:before {
    content: "\f175";
  }
  .fa-long-arrow-up:before {
    content: "\f176";
  }
  .fa-long-arrow-left:before {
    content: "\f177";
  }
  .fa-long-arrow-right:before {
    content: "\f178";
  }
  .fa-apple:before {
    content: "\f179";
  }
  .fa-windows:before {
    content: "\f17a";
  }
  .fa-android:before {
    content: "\f17b";
  }
  .fa-linux:before {
    content: "\f17c";
  }
  .fa-dribbble:before {
    content: "\f17d";
  }
  .fa-skype:before {
    content: "\f17e";
  }
  .fa-foursquare:before {
    content: "\f180";
  }
  .fa-trello:before {
    content: "\f181";
  }
  .fa-female:before {
    content: "\f182";
  }
  .fa-male:before {
    content: "\f183";
  }
  .fa-gittip:before {
    content: "\f184";
  }
  .fa-sun-o:before {
    content: "\f185";
  }
  .fa-moon-o:before {
    content: "\f186";
  }
  .fa-archive:before {
    content: "\f187";
  }
  .fa-bug:before {
    content: "\f188";
  }
  .fa-vk:before {
    content: "\f189";
  }
  .fa-weibo:before {
    content: "\f18a";
  }
  .fa-renren:before {
    content: "\f18b";
  }
  .fa-pagelines:before {
    content: "\f18c";
  }
  .fa-stack-exchange:before {
    content: "\f18d";
  }
  .fa-arrow-circle-o-right:before {
    content: "\f18e";
  }
  .fa-arrow-circle-o-left:before {
    content: "\f190";
  }
  .fa-toggle-left:before,
  .fa-caret-square-o-left:before {
    content: "\f191";
  }
  .fa-dot-circle-o:before {
    content: "\f192";
  }
  .fa-wheelchair:before {
    content: "\f193";
  }
  .fa-vimeo-square:before {
    content: "\f194";
  }
  .fa-turkish-lira:before,
  .fa-try:before {
    content: "\f195";
  }
  .fa-plus-square-o:before {
    content: "\f196";
  }
  


  .menu_block {
	z-index: 999;
	padding: 20px 0 21px;
	position: relative;
	background-color: #3f51b5;
}

.menu_block nav {
    font-family: 'Economica', sans-serif;
}

nav>.sf-menu {
	z-index: 990;
	text-align: center;
	position: relative;
}

nav {
	position:relative;
	padding: 0 0 0 0;
}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative; }
.sf-menu>li {
	display: inline-block;
	z-index: 900;
	float: none;
	position: relative;
	z-index: 5;
	font-size: 28px;
	line-height: 24px;
}

.sf-menu>li+li {
	margin-left: 73px;
}

.sf-menu>li+li:after {
	background: url(../images/menu_sep.png) 0 0 no-repeat;
	width: 9px;
	height: 9px;
	left: -37px;
	top: 19px;
	content: '';
	display: block;
	position: absolute;
	pointer-events: none;
}


.sf-menu>li>ul>li {
  float: none;
  position: static;
}

.sf-menu>li>a {
	text-align: center;
	display: block;
	padding: 10px 24px 11px;
	position: relative;
	z-index: 999;
	color: #fff;
}

.sf-menu>li>a:hover,
.sf-menu>li.current>a,
.sf-menu>li.sfHover>a {
	background-color: #222f7c;
}

.sf-menu>li.current,.sf-menu>li:hover, .sf-menu>li.sfHover {
	z-index: 999;
}

.sf-menu>li.sfHover {
	z-index: 999;
}

.sf-menu>li.sfHover>a.sf-with-ul:after,
.sf-menu>li.current>a.sf-with-ul:after {
	background-position: 0 0;
}

.sf-menu>li>ul>li>a.sf-with-ul:after {
	content: '';
	position: absolute;
	width: 7px;
	background: url(../images/arrows.png) right 0 no-repeat;
	height: 5px;
	right: -10px;
	left: auto !important;
	bottom: 5px;
	pointer-events: none;
	z-index: 999;
}

.sf-menu>li>ul>li.sfHover>a.sf-with-ul:after {}

.sf-menu a{}

/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover>ul {
	left: 0px;
	z-index: 999;
	padding-top: 12px;
	width: 97px;
	top: 104px;
	padding-bottom: 14px;
	background-color: #4d4d4d;
}

.sf-menu li ul li {
	position: relative;
	text-align: left;
	float: none !important;
	font-size: 12px;
	padding: 0 3px;
	margin: 0 20px;
	line-height: 35px;
	font-family: 'Open Sans', sans-serif;
}

.sf-menu li ul li+li {}

.sf-menu li ul li a {
	position: relative;
	z-index: 999;
	color:#bcbcbc;
}

.sf-menu li li a:hover, .sf-menu li.sfHover li.sfHover>a {
	color: #fff;
}

/*================================>> 3 Level <<========================================*/
.sf-menu li.sfHover li.sfHover ul {
	left: 77px;
	top: -12px;
	width: 86px;
	background-color: #ff422f;
}

.sf-menu li.sfHover li.sfHover ul li {
	line-height: 36px;
	margin: 0 14px 0 18px;
	padding-left: 0;
}

.sf-menu li.sfHover li.sfHover ul li+li {}

.sf-menu li.sfHover li.sfHover ul li a {
	color: #ffe5b1;
}

.sf-menu li.sfHover li.sfHover ul li a:hover {
	color: #fff;
}


html {
	width: 100%;

}


a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

* {
	-webkit-text-size-adjust: none;
}

body {
	position: relative;
	min-width: 1080px;
    background: url(../images/bg_body.png) 0 0 repeat #f5f3f3;
    color: #4c596b;
    font: 12px/18px Arial, Helvetica, sans-serif;
}

.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}

p {
    margin-bottom: 18px;
}


	strong {
		font-weight: 700;
	}

address {
	font-style: normal;
}



input {
	border-radius: 0 !important;
	outline: none !important;
}


img {
	max-width: 100%;
}



/****Heads****/


h1, h2, h3, h4, h5, h6 {
    font-family: 'Economica', sans-serif;;
	color: #1a1a1a;
    font-weight: normal;
}

h3 {
    font-size: 27px;
    line-height: 35px;
    padding-top: 18px;
    margin-bottom: 19px;
}

h4 {
    font-size: 22px;
    line-height: 20px;
    font-weight: bold;
    padding-top: 54px;
    margin-bottom: 26px;
}

h4.head1 {
    padding-top: 51px;
}

.map h4 {
    padding-top: 0;
    margin-bottom: 19px;
    font-weight: normal;
}

/****Lists****/

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}




ul.list li {
    padding-left: 27px;
    background: url(../images/marker.png) 0 5px no-repeat;
}

ul.list li a {
    text-decoration: underline;
}

ul.list  li+li {
    margin-top: 12px;
}


/****Links****/


a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #ff5241;
}

a.btn {
    color: #fff;
    background-color: #c8ced4;
    display: inline-block;
    font: 18px/18px 'Economica', sans-serif;
    padding: 8px 27px 10px;
    margin-top: 21px;
}

a.btn:hover {
    background-color: #00bcd4;
}

/****classes****/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}
.pad0 {
	padding: 0 !important;
}

.pad1 {
}


.img_inner {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 19px;
	margin-top: 0px;
}



.fleft {
	float: left;
	width: auto !important;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
}


.oh {
	overflow: hidden;
}
.fright {
	float: right !important;
}
.upp {
	text-transform: uppercase;
}

.nowrap {
    white-space: nowrap;
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}

.nowrap {
    white-space: nowrap;
}


/*header*/

.main {
    width: 1080px;
    margin: 0 auto;
    background-color: #fff;
}


header {
	display: block;
    overflow: hidden;
    padding: 28px 0 0;
    position: relative;

}


header h1 {
	position: relative;
    text-align: center;
    z-index: 800;
    margin-bottom: 23px;
}



header h1 a {
	display: inline-block;
	overflow: hidden;
	width: 238px;
    height: 97px;
	font-size: 0;
	line-height: 0;
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
header h1 a img {
	display: block;
}


/**Content**/


.content {
    padding-bottom: 64px;
    padding-top: 64px;
}

.page1 .content:after {
    width: 3px;
    background-color: #3f51b5;
    left: 50%;
    position: absolute;
    display: block;
    margin-left: -1px;
    top: 0;
    bottom: 36px;
    content: '';
}


.page1  .content {
    position: relative;
    padding-top: 64px;
    padding-bottom: 36px;
}

.p1_box {
    position: relative;
    padding: 1px;
    margin-bottom: 36px;
    border: 2px solid #00bcd4;
}

.p1_box a.bot {
    margin-top: 1px;
    padding: 22px 0 20px 42px;
    border: 2px solid #00bcd4;
    display: block;
    position: relative;
    background-color: #00bcd4;
    color: #3f51b5;
    font: 27px/27px 'Economica', sans-serif;
}

.p1_box a.bot span {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    background-color: #3bd5e9;
    width: 81px;
    text-align: center;
    padding-top: 18px;
}

.p1_box a.bot:hover {
    background-color: #fff;
}

.p1_box.left {
    margin-right: 23px;
}

.p1_box.right {
    margin-left: 23px;
}

.p1_box.right:after {
    top: 126px;
    left: -12px;
    width: 0px;
height: 0px;
border-style: solid;
border-width: 10px 12px 10px 0;
border-color: transparent #00bcd4 transparent transparent;
}

.p1_box.right:before {
    left: -39px;
    right: auto;
    top: 132px;
}

.p1_box:after {
    position: absolute;
    width: 0px;
    content: '';
    right: -12px;
    top: 70px;
    height: 0px;
    border-style: solid;
    border-width: 10px 0 10px 12px;
    border-color: transparent transparent transparent #00bcd4;

}

.p1_box:before {
    width: 9px;
    height: 9px;
    border-radius: 55px;
    content: '';
    right: -40px;
    z-index: 30;
    position: absolute;
    display: block;
    top: 76px;
    background-color: #00bcd4;
}

.type {
    position: absolute;
    display: block;
    width: 52px;
    left: 47px;
    top: -2px;
    z-index: 20;
    height: 39px;
    background: url(../images/photo_icon.png) center 8px no-repeat #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15)
}


.cl2 {
    border-color: #7ae0ed;
    margin-bottom: 38px;
}

.cl2 a.bot {
    border-color: #7ae0ed;
    background-color: #7ae0ed;
}

.cl2 .type {
    background-image: url(../images/penc_icon.png);
}

.gray_block {
    background-color: #f3f6f8;
    line-height: 24px;
    padding: 75px 32px 37px 25px;
}

.col1 {
    color: #ff6260;
}

.col1 a:hover {
    color: #000;
}

.cl2:after {
    top: 42px;
    border-color: transparent transparent transparent #81e2ee;
}

.cl2:before {
    background-color: #81e2ee;
    top: 48px;
}

.cl2 a.bot span {
    background-color: #9ce8f2;
}

.cl3 {
   position: relative;
   top: 1px;
   margin-bottom: 38px;
    border-color: #ffd051;
}

.cl3 a.bot {
    background-color: #ffd051;
    border-color: #ffd051;
}

.cl3 a.bot span {
    background-color: #f6c43d;
}

a.bot span strong {
    font-size: 46px;
    position: relative;
    top: -5px;
}

.cl3:before {
    top: 79px !important;
    background-color: #ffd051;
}

.cl3.right:after  {
    top: 73px;
    border-color: transparent #ffd051 transparent transparent;
}

.cl3 .type {
    background-image: url(../images/video_icon.png);
}

.cl4 {
    border-color: #3f51b5;
}

.cl4 a.bot {
    background-color: #f3f6f8;
    border-color: #f3f6f8;
    padding-left: 70px;
    padding-top: 75px;
    margin-top: 0;
    padding-bottom: 59px;
    font-size: 36px;
    line-height: 36px;
}

.cl4 a.bot:hover {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.cl4 .type {
    background-image: url(../images/heart_icon.png);
}

.cl4:before {
    top: 57px !important;
    background-color: #3f51b5;
}

.cl4.right:after {
    top: 52px;
    border-color: transparent #3f51b5 transparent transparent;
}

.p1_box.pos1.cl1:after {
    top: 42px;
}

.p1_box.pos1.cl1:before {
    top: 47px;
}

.p1_box.pos1.cl3 {
    border-top-width: 3px;
    position: relative;
    top: 2px;
}
.p1_box.pos1.cl3:after {
    top: 57px;
    border-color: transparent transparent transparent #ffd051;
}

.p1_box.pos1.cl3:before {
    top: 63px !important;
}

.p1_box.pos1.cl3 .type {
    top: -3px;
}

.cl5 {
    border-bottom-width: 1px;
    position: relative;
    top: 1px;
    border-color: #ffe388;
}

.cl5:before {
    background-color: #ffe388;
    top: 47px !important;
}

.cl5:after {
    top: 41px !important;
    border-color: transparent #ffe388 transparent transparent !important;
}

.cl5 a.bot {
    border-color: #ffe388;
    background-color: #ffe388;
}

.cl5 a.bot span {
    background-color: #ffe9a1;
}

.cl5 .type {
    background-image: url(../images/comment_icon.png);
}

.cl5 blockquote {
    background: url(../images/quotes_bg.png) 8px 40px no-repeat #f3f6f8;
    line-height: 24px;
    font-style: italic;
    padding: 50px 12px 9px 34px;
}

.p1_box.right.cl2 {
    position: relative;
    top: 2px;
}

.p1_box.right.cl2:before {
    top: 59px;
}

.p1_box.right.cl2:after {
    top: 53px;
    border-color: transparent #7AE0ED transparent transparent !important;
}

a.round {
    width: 83px;
    height: 83px;
    border-radius: 500px;
    background-color: #3f51b5;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    display: block;
    color: #fff;
    margin: 1px auto 0;
    position: relative;
    z-index: 30;
    padding-top: 22px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a.round:hover {
    background-color: #00bcd4; 
}

.box {
    background-color: #f3f6f8;
    border: 2px solid #00bcd4;

}

.inner {
    padding: 0 20px 31px;
    border: 1px solid #fff;
}

.col2 {
    color: #3f51b5;
}

.block1 {
    padding-top: 4px;
}

.block1+.block1 {
    margin-top: 16px;
}

.block1 .col2 {
    padding-top: 7px;
    margin-bottom: 19px;
}

.block1 .count {
    float: left;
    font-size: 29px;
    color: #c8ced4;
    letter-spacing: 3px;
    min-width: 30px;
    font-weight: bold;
    font-family: 'Economica', sans-serif;
}

a.gal {
    display: block;
    background: url(../images/magnify.png) center center no-repeat #ff6260;
}

a.gal img {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

a.gal:hover img {
    opacity: 0.2;
}

.latest {
    overflow: hidden;

    margin-top: -1px;
    margin-left: -20px;
}

.latest a.gal {
    width: 117px;
    float: left;
    margin: 0 0 14px 20px;
}


.box1 {
    overflow: hidden;
    margin-top: 30px;
    background-color: #f3f6f8;
    border: 2px solid #ffe693;

}

.box1 .inner {
    border: 1px solid #fff;
    padding: 0;
}

.box1 blockquote {
    padding-bottom: 22px;
    padding-left: 46px;
    background: url(../images/quotes_bg.png) 21px 29px no-repeat;
    float: left;
    width: 230px;
    padding-top: 42px;

}

.box1 blockquote p {
    margin-bottom: 21px;
    font-style: italic;
}

.box1 blockquote+blockquote {
    margin-left: 40px;
}

.box1 blockquote span {
    margin-bottom: 3px;
    display: block;
    color: #3f51b5;
    font: 18px/24px 'Economica', sans-serif;
}

.gallery {
    overflow: hidden;
    margin-top: -2px;
    margin-left: -4px;
}

.gallery a.gal {
    margin-left: 4px;
    margin-bottom: 4px;
    float: left;
}

.bx1 .inner {
    padding-bottom: 23px;
}

.video {
    padding-top: 18px;
    width: 100%;
    display: block;
}

.video iframe {
    height: 228px;
    width: 100%;
}

.video_block {
    margin-top: -3px;
}

.video_block +.video_block  {
    margin-top: 48px;
}

.video_block .title {
    margin-bottom: 14px;
    font-size: 18px;
    color: #3f51b5;

}

.block2 {
    margin-top: -6px;
    overflow: hidden;
}

.block2+.block2 {
    margin-top: 40px;
}

.block2+.block2 +.block2 {
    margin-top: 42px;
}

.block2 time {
    display: block;
    float: left;
    width: 37px;
    margin-top: 4px;
    text-align: center;
    margin-right: 20px;
    font: bold 18px/20px 'Economica', sans-serif;

}

.block2  p {
    padding-bottom: 1px;
}

.block2 time span {
    display: block;
    margin-bottom: 6px;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    background-color: #c8ced4;
}
/**Map**/

.map {
    overflow: hidden;
    position: relative;
    margin-top: -2px;
}

 

.map figure {
    position: relative;
	display: block;
	width: 100%;
    border: 2px solid #ffe388;
    margin-bottom: 33px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}


.map figure iframe {
	width: 100%;
	height: 258px;
	max-width: 100%;
}
.map address {
    margin-bottom: 15px;
    margin-top: -2px;
	display: block;
}

.map .fright {
}

.map address dt {
    margin-bottom: 18px;
}

 address dd span {
	min-width: 70px;
	display: inline-block;
	text-align: left;
}

.map address dd span.col1 {
	min-width: 0;
}

 address dd strong {
    font-weight: normal;
 }

.map a {

}


a.link-1 {
    color: #4cb6c5;
    text-decoration: underline;
}

a.link-1:hover {
    color: #ed2c67;
}
/**Footer**/
footer {
	display: block;
    position: relative;
    z-index: 10;
    line-height: 14px;
    padding-bottom: 40px;
    color: #6b6b6b;

    text-align: center;
    border-top: 1px solid #cacbce;

}

.socials  {
    padding-top: 38px;
    font-size: 0;
    line-height: 0;
    padding-bottom: 17px;
}

.socials a {
    display: inline-block;
    width: 41px;
    height: 41px;
    position: relative;
    background-color: #92ce0a;
    background: url(../images/socials.png) 0 0 no-repeat;
}

.socials a:hover {
    opacity: 0.5;
}

.socials a+a {
    margin-left: 4px;
    background-position: -45px 0;
}

.socials a+a+a {
    background-position: right 0;
}


#toTop {
    background: url("../images/totop.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    border: medium none;
    bottom: 70px;
    display: none;
    height: 41px;
    width: 41px;
    left: 58%;
    margin-left: 500px;
    overflow: hidden;
    position: fixed;
    text-decoration: none;
    text-indent: -999px;
    transition: all 0s ease 0s;
    z-index: 20;
}
#toTop:hover {
    background-position: right 0;
    outline: medium none;
}