


html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
button::-moz-focus-inner{padding:0;border:none} /* IE extra padding on buttons fix */
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}

/* additional defaults */
/* remember to define focus styles! */
:focus {outline: 0;}
blockquote, q {quotes: none;}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/*
  page-defaults.css
*/

html, body, .lp-pom-body {height:100%}

body.lp-pom-body.lp-sub-page {
  -webkit-transform: translateZ(0)
}

/* stop text getting resized on iPhone 5 or lower Safari */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  * {-webkit-text-size-adjust: none;}
}

div.lp-pom-root {min-height:100%; position:relative; top: 0;}
div.lp-pom-root, .cke-text {
  font-family:'helvetica', 'arial', sans-serif;
  font-size:14px;
  line-height:17px;
}

.panel-content ub\:dynamic,
.cke-text ub\:dynamic {
  color: #555;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
  border-radius: 3px;
  border:dotted 2px #00bff3;
  display: inline;
}

.panel-content ub\:dynamic {
  background-color: #d7d7d7;
}

.cke-text  ub\:dynamic {
  color: inherit;
  text-decoration: inherit;
}

.panel-content ub\:dynamic {
  margin-top: 2px;
  margin-bottom: 2px;
}

.panel-content ub\:dynamic:hover,
.cke-text ub\:dynamic:hover {
  background: #d7d7d7;
  color:#636363;
}

.panel-content ub\:dynamic:hover span,
.cke-text ub\:dynamic:hover span {
  background-position: -20px center;
}

.panel-content ub\:dynamic span,
.cke-text ub\:dynamic span.dynamic-tag-close {
  color: #999;
  font-weight: normal;
  z-index: 99999;
  font-family: helvetica, sans-serif;
  width: 21px;
  cursor:pointer;
  background: url(../image/icons/close.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  padding-top:3px;
  padding-bottom:3px;
}

.panel-content ub\:dynamic span img,
.cke-text ub\:dynamic span.dynamic-tag-close img {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer !important;
}

ub\:dynamic:hover span:hover {
  background-position: -45px center;
}

.lp-positioned-content {
  position:absolute;
  left:50%;
  top: 0;
  height: 0;
  z-index:1;
}

.lp-modal-screen {
  position:absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background:rgba(0,0,0, 0.5);
  z-index:2;
}

.lp-modal {
  overflow-y:auto;
}

.lp-modal-content {
  position:absolute;
  left:50%;
  height: 0;
  z-index:1;
}

.lp-pom-block-content {
  position:relative;
  height:100%;
}

div.lp-pom-root .lp-pom-form-field {
  position:absolute;
  left: 0;
  top: 0;
  margin-bottom:12px;
}

div.lp-pom-root .lp-pom-form-field label {
  position:absolute;
  left: 0;
  top: 0;
}

div.lp-pom-root .lp-pom-form-field select {
  position:absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  font-family:'helvetica', 'arial', sans-serif;
  border:1px solid #666;
}

div.lp-pom-root .lp-pom-form-field select option {
  padding: 0.2em;
}

div.lp-pom-root .lp-pom-form-field textarea,
div.lp-pom-root .lp-pom-form-field input[type=text] {
  position:absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  border:1px solid #666;
  font-family:'helvetica', 'arial', sans-serif;
}

div.lp-pom-root .lp-pom-form-field input[type=text]::-moz-focus-inner {
  padding: 0;
  border:none;
}

div.lp-pom-root .lp-pom-form-field select::-moz-focus-inner {
  padding: 0;
  border:none;
}

div.lp-pom-root .lp-pom-form-field .optionsList {
  position:absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

div.lp-pom-root .lp-pom-form-field .option {
  position:relative;
  margin-bottom:6px;
}

div.lp-pom-root .lp-pom-form-field .option input {
  position:absolute;
}

div.lp-pom-root .lp-pom-form-field .option label {
  position:relative;
  display:block;
}

div.lp-pom-root .lp-pom-form input.submit {
  position:absolute;
  left: 0;
  top: 0;
}

/* css to make button text vertically centered */
div.lp-pom-root .lp-pom-button {text-decoration:none;display:block;cursor:pointer;}
div.lp-pom-root .lp-pom-button.disabled {
  opacity: 0.6;
  pointer-events: none;
}
div.lp-pom-root .lp-pom-button span {position:absolute;top:50%;display:block;text-align:center;left: 0;right: 0;padding: 0 8px 0 8px;cursor:pointer;}
/*Hack for IE so that transparent buttons with nothing inside are still clickable.*/
div.lp-pom-root .lp-pom-button {
  *background-image: url(../image/transparent.gif);/*ie 7*/
  _background-image: url(../image/transparent.gif);/*ie 6 */
  background-image: url(../image/transparent.gif); /*\0*/
  background: rgba(0,0,0,0);
}

div.lp-pom-root .lp-pom-text span {line-height: 0;}

div.lp-pom-root .lp-pom-text p, .cke-text p {font-size:14px; line-height:17px;}
div.lp-pom-root .lp-pom-text.nlh p, .cke-text.nlh p {font-size:14px; line-height:22px;}
div.lp-pom-root .lp-pom-text a, .cke-text a {text-decoration:underline;}

div.lp-pom-root .lp-pom-text h1, .cke-text h1 { font-size: 28px; margin-bottom:19px; line-height:34px;}
div.lp-pom-root .lp-pom-text h2, .cke-text h2 { font-size: 21px; margin-bottom:16px; line-height:25px;}
div.lp-pom-root .lp-pom-text h3, .cke-text h3 { font-size: 16px; margin-bottom:15px; line-height:19px;}
div.lp-pom-root .lp-pom-text h4, .cke-text h4 { font-size: 14px; margin-bottom:14px; line-height:17px;}
div.lp-pom-root .lp-pom-text h5, .cke-text h5 { font-size: 12px; margin-bottom:13px; line-height:14px;}
div.lp-pom-root .lp-pom-text h6, .cke-text h6 { font-size: 10px; margin-bottom:12px; line-height:12px;}

div.lp-pom-root .lp-pom-text .lplh-8, div.lp-pom-root .lp-pom-text.nlh .lplh-8, .cke-text .lplh-8, .cke-text.nlh .lplh-8 {line-height:8px;}
div.lp-pom-root .lp-pom-text .lplh-9, div.lp-pom-root .lp-pom-text.nlh .lplh-9, .cke-text .lplh-9, .cke-text.nlh .lplh-9 {line-height:9px;}
div.lp-pom-root .lp-pom-text .lplh-10, div.lp-pom-root .lp-pom-text.nlh .lplh-10, .cke-text .lplh-10, .cke-text.nlh .lplh-10 {line-height:10px;}
div.lp-pom-root .lp-pom-text .lplh-11, div.lp-pom-root .lp-pom-text.nlh .lplh-11, .cke-text .lplh-11, .cke-text.nlh .lplh-11 {line-height:11px;}
div.lp-pom-root .lp-pom-text .lplh-12, div.lp-pom-root .lp-pom-text.nlh .lplh-12, .cke-text .lplh-12, .cke-text.nlh .lplh-12 {line-height:12px;}
div.lp-pom-root .lp-pom-text .lplh-13, div.lp-pom-root .lp-pom-text.nlh .lplh-13, .cke-text .lplh-13, .cke-text.nlh .lplh-13 {line-height:13px;}
div.lp-pom-root .lp-pom-text .lplh-14, div.lp-pom-root .lp-pom-text.nlh .lplh-14, .cke-text .lplh-14, .cke-text.nlh .lplh-14 {line-height:14px;}
div.lp-pom-root .lp-pom-text .lplh-15, div.lp-pom-root .lp-pom-text.nlh .lplh-15, .cke-text .lplh-15, .cke-text.nlh .lplh-15 {line-height:15px;}
div.lp-pom-root .lp-pom-text .lplh-16, div.lp-pom-root .lp-pom-text.nlh .lplh-16, .cke-text .lplh-16, .cke-text.nlh .lplh-16 {line-height:16px;}
div.lp-pom-root .lp-pom-text .lplh-17, div.lp-pom-root .lp-pom-text.nlh .lplh-17, .cke-text .lplh-17, .cke-text.nlh .lplh-17 {line-height:17px;}
div.lp-pom-root .lp-pom-text .lplh-18, div.lp-pom-root .lp-pom-text.nlh .lplh-18, .cke-text .lplh-18, .cke-text.nlh .lplh-18 {line-height:18px;}
div.lp-pom-root .lp-pom-text .lplh-19, div.lp-pom-root .lp-pom-text.nlh .lplh-19, .cke-text .lplh-19, .cke-text.nlh .lplh-19 {line-height:19px;}
div.lp-pom-root .lp-pom-text .lplh-20, div.lp-pom-root .lp-pom-text.nlh .lplh-20, .cke-text .lplh-20, .cke-text.nlh .lplh-20 {line-height:20px;}
div.lp-pom-root .lp-pom-text .lplh-22, div.lp-pom-root .lp-pom-text.nlh .lplh-22, .cke-text .lplh-22, .cke-text.nlh .lplh-22 {line-height:22px;}
div.lp-pom-root .lp-pom-text .lplh-24, div.lp-pom-root .lp-pom-text.nlh .lplh-24, .cke-text .lplh-24, .cke-text.nlh .lplh-24 {line-height:24px;}
div.lp-pom-root .lp-pom-text .lplh-26, div.lp-pom-root .lp-pom-text.nlh .lplh-26, .cke-text .lplh-26, .cke-text.nlh .lplh-26 {line-height:26px;}
div.lp-pom-root .lp-pom-text .lplh-29, div.lp-pom-root .lp-pom-text.nlh .lplh-29, .cke-text .lplh-29, .cke-text.nlh .lplh-29 {line-height:29px;}
div.lp-pom-root .lp-pom-text .lplh-31, div.lp-pom-root .lp-pom-text.nlh .lplh-31, .cke-text .lplh-31, .cke-text.nlh .lplh-31 {line-height:31px;}
div.lp-pom-root .lp-pom-text .lplh-32, div.lp-pom-root .lp-pom-text.nlh .lplh-32, .cke-text .lplh-32, .cke-text.nlh .lplh-32 {line-height:32px;}
div.lp-pom-root .lp-pom-text .lplh-34, div.lp-pom-root .lp-pom-text.nlh .lplh-34, .cke-text .lplh-34, .cke-text.nlh .lplh-34 {line-height:34px;}
div.lp-pom-root .lp-pom-text .lplh-35, div.lp-pom-root .lp-pom-text.nlh .lplh-35, .cke-text .lplh-35, .cke-text.nlh .lplh-35 {line-height:35px;}
div.lp-pom-root .lp-pom-text .lplh-38, div.lp-pom-root .lp-pom-text.nlh .lplh-38, .cke-text .lplh-38, .cke-text.nlh .lplh-38 {line-height:38px;}
div.lp-pom-root .lp-pom-text .lplh-40, div.lp-pom-root .lp-pom-text.nlh .lplh-40, .cke-text .lplh-40, .cke-text.nlh .lplh-40 {line-height:40px;}
div.lp-pom-root .lp-pom-text .lplh-42, div.lp-pom-root .lp-pom-text.nlh .lplh-42, .cke-text .lplh-42, .cke-text.nlh .lplh-42 {line-height:42px;}
div.lp-pom-root .lp-pom-text .lplh-43, div.lp-pom-root .lp-pom-text.nlh .lplh-43, .cke-text .lplh-43, .cke-text.nlh .lplh-43 {line-height:43px;}
div.lp-pom-root .lp-pom-text .lplh-45, div.lp-pom-root .lp-pom-text.nlh .lplh-45, .cke-text .lplh-45, .cke-text.nlh .lplh-45 {line-height:45px;}
div.lp-pom-root .lp-pom-text .lplh-58, div.lp-pom-root .lp-pom-text.nlh .lplh-58, .cke-text .lplh-58, .cke-text.nlh .lplh-58 {line-height:58px;}
div.lp-pom-root .lp-pom-text .lplh-77, div.lp-pom-root .lp-pom-text.nlh .lplh-77, .cke-text .lplh-77, .cke-text.nlh .lplh-77 {line-height:77px;}
div.lp-pom-root .lp-pom-text .lplh-86, div.lp-pom-root .lp-pom-text.nlh .lplh-86, .cke-text .lplh-86, .cke-text.nlh .lplh-86 {line-height:86px;}
div.lp-pom-root .lp-pom-text .lplh-87, div.lp-pom-root .lp-pom-text.nlh .lplh-87, .cke-text .lplh-87, .cke-text.nlh .lplh-87 {line-height:87px;}
div.lp-pom-root .lp-pom-text .lplh-115, div.lp-pom-root .lp-pom-text.nlh .lplh-115, .cke-text .lplh-115, .cke-text.nlh .lplh-115 {line-height:115px;}

div.lp-pom-root .lp-pom-text p, .cke-text p,
div.lp-pom-root .lp-pom-text blockquote, .cke-text blockquote,
div.lp-pom-root .lp-pom-text ul, .cke-text ul,
div.lp-pom-root .lp-pom-text dl, .cke-text dl { margin-bottom:16px;}

div.lp-pom-root .lp-pom-text>p:last-child,
div.lp-pom-root .lp-pom-text>blockquote:last-child,
div.lp-pom-root .lp-pom-text>ul:last-child,
div.lp-pom-root .lp-pom-text>dl:last-child,
div.lp-pom-root .lp-pom-text>h1:last-child,
div.lp-pom-root .lp-pom-text>h2:last-child,
div.lp-pom-root .lp-pom-text>h3:last-child,
div.lp-pom-root .lp-pom-text>h4:last-child,
div.lp-pom-root .lp-pom-text>h5:last-child,
div.lp-pom-root .lp-pom-text>h6:last-child { margin-bottom: 0;}

div.lp-pom-root .lp-pom-text h1, .cke-text h1,
div.lp-pom-root .lp-pom-text h2, .cke-text h2,
div.lp-pom-root .lp-pom-text h3, .cke-text h3,
div.lp-pom-root .lp-pom-text h4, .cke-text h4,
div.lp-pom-root .lp-pom-text h5, .cke-text h5,
div.lp-pom-root .lp-pom-text h6, .cke-text h6 { font-weight:bolder;}
div.lp-pom-root .lp-pom-text b , .cke-text b,
div.lp-pom-root .lp-pom-text strong, .cke-text strong { font-weight:bolder }

div.lp-pom-root .lp-pom-text optgroup, .cke-text optgroup,{font-weight:normal;}
div.lp-pom-root .lp-pom-text abbr, .cke-text abbr,
div.lp-pom-root .lp-pom-text acronym, .cke-text acronym{border-bottom:1px dotted #000;cursor:help;}
div.lp-pom-root .lp-pom-text em, .cke-text em {font-style:italic;}
div.lp-pom-root .lp-pom-text del, .cke-text del{text-decoration:line-through;}
div.lp-pom-root .lp-pom-text blockquote, .cke-text blockquote,
div.lp-pom-root .lp-pom-text ul, .cke-text ul,
div.lp-pom-root .lp-pom-text ol, .cke-text ol,
div.lp-pom-root .lp-pom-text dl, .cke-text dl{margin:14px;font-size:14px; line-height:17px;}
div.lp-pom-root .lp-pom-text ul, .cke-text ul{margin-left:16px;}
div.lp-pom-root .lp-pom-text ol, .cke-text ol{margin-left:25px;}
div.lp-pom-root .lp-pom-text li, .cke-text li{display:list-item;}
div.lp-pom-root .lp-pom-text ol li, .cke-text ol li{list-style:decimal outside;}
div.lp-pom-root .lp-pom-text ul li, .cke-text ul li{list-style:disc outside;}
div.lp-pom-root .lp-pom-text dl dd, .cke-text dl dd{margin-left:14px;}
div.lp-pom-root .lp-pom-text th, .cke-text th,
div.lp-pom-root .lp-pom-text td, .cke-text td{border:1px solid #000;padding:7px;}
div.lp-pom-root .lp-pom-text th, .cke-text th{font-weight:bold;text-align:center;}
div.lp-pom-root .lp-pom-text caption, .cke-text caption{margin-bottom:7px;text-align:center;}
div.lp-pom-root .lp-pom-text sup, .cke-text sup{vertical-align:super;}
div.lp-pom-root .lp-pom-text sub, .cke-text sub{vertical-align:sub;}

/* Styles have been placed inline to avoid being overwritten by a user */
/* Find the styles for this element in /views/page_variants/_powered_by_unbounce.html.erb */

div.lp-pom-root #powered-by-spacer {
  position: static !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 48px !important;
  background: #0098DB !important;
}

div.lp-pom-root #powered-by-unbounce {
  display: block !important;
  position: absolute !important;
  margin: 0 !important;
  padding: 0 !important;
  visibility: visible !important;
  text-indent: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 48px !important;
  overflow: hidden !important;
  background: #0098db !important;
  z-index: 8675309 !important;
  text-align: center !important;
  font-size: 11px !important;
  color: #666 !important;
  font-weight: bold !important;
  transform: rotate(000deg) !important;
}

div.lp-pom-root #powered-by-unbounce a {
  display: block !important;
  position: static !important;
  visibility: visible !important;
  z-index: 18885159161 !important;
  text-indent: 0 !important;
  height: 44px !important;
}

div.lp-pom-root #powered-by-unbounce img {
  display: inline !important;
  position: static !important;
  visibility: visible !important;
  max-width: 440px;
  margin-top: 7px;
  width: 85% !important;
  vertical-align: bottom !important;
}

.lp-form-errors {
  position:absolute;
  display:none;
  z-index:999999;
}

.lp-form-errors div.content {
  border:1px solid #661414;
  background-color:#ccc;
  font-family: 'helvetica', 'arial', 'verdana', sans-serif;
}

.lp-form-errors div.content div.error {
  background-color:#661414;
  padding:8px;
  font-size:14px;
  line-height:18px;
  font-weight:bold;
  color:#f3d8d8;
}

.lp-form-errors div.content ul {
  background-color:#f3d8d8;
  padding:8px;
  font-size:14px;
  line-height:16px;
  font-weight:normal;
  color:#661414;
}

.lp-form-errors div.content li {
  list-style:square;
  margin-left:20px;
  margin-bottom:8px;
}

div.lp-pom-root .lp-element.lp-code {
  overflow:hidden;
}

.lp-pom-root .lp-pom-image img{
  vertical-align: top;
}

/* The following need to be here because the rules need to be applied in both
 * edit and published context  */
.lp-pom-social-widget .horizontal {
  margin-left: 0;
  padding: 0;
}

.lp-pom-social-widget .horizontal .facebook_container {
  margin-left: 0;
  overflow: hidden;
}

.lp-pom-social-widget .widget {
  padding-right: 5px;
}

.lp-pom-social-widget .fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
  display: none !important;
}

.lp-pom-social-widget  iframe.fb_ltr {
  display: none !important;
}

.fb_edge_widget_with_comment span {
    width: 120px !important;
}

.fb_recommend .fb_edge_widget_with_comment iframe {
    width: 97px !important;
}

body.ms-windows .fb_recommend {
    overflow: hidden;
    width: 88px;
}

body.ms-windows .fb_like {
    overflow: hidden;
    width: 48px !important;
}

body.ms-windows .lp-editor .fb_recommend {
    overflow: hidden;
    width: 90px;
}

body.ms-windows .lp-editor .fb_like {
    overflow: hidden;
    width: 50px !important;
}

@-moz-document url-prefix() {
  body.ms-windows .fb_recommend {
    width: 86px !important;
  }

  body.ms-windows .lp-editor .fb_recommend {
    width: 90px !important;
  }

  body.ms-windows .lp-editor .fb_like {
    width: 50px !important;
  }
}

.fb_like .fb_edge_widget_with_comment iframe {
    width: 50px !important;
}

.lp-pom-social-widget .vertical {
  margin-left: 0;
  overflow: hidden;
}

.lp-pom-social-widget .horizontal.widget_container {
  margin-right: -5px; /* to accommodate the last widget's 5px padding-right*/
}

.lp-pom-social-widget .widget.horizontal.container {
  margin-right: 0;
  white-space: nowrap;
  float: left;
}

.lp-pom-social-widget .facebook_container.horizontal.container {
  margin: 0;
}

.lp-pom-social-widget .widget_container.horizontal.top .twitter_container {
  margin-top: 40px;
}

.lp-pom-social-widget .widget_container.horizontal.top.widget-count-1 .twitter_container {
  margin-top: 0;
}

div.lp-social-widget-overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
}

/*Hack to fix issue with iframes not scrolling on the iphone.*/
@media only screen and (max-width: 600px) {
  #ubpoverlay-content {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
  }
}
/*
 * ubpoverlay - jQuery Plugin
 * Simple and ubpoverlay_ lightbox alternative
 *
 * Examples and documentation at: http://ubpoverlay.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#ubpoverlay-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#ubpoverlay-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../image/ubpoverlay.png');
}

#ubpoverlay-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#ubpoverlay-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#ubpoverlay-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#ubpoverlay-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#ubpoverlay-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#ubpoverlay-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#ubpoverlay-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('../image/ubpoverlay.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#ubpoverlay-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#ubpoverlay-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#ubpoverlay-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#ubpoverlay-left, #ubpoverlay-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('../image/blank.gif');
	z-index: 1102;
	display: none;
}

#ubpoverlay-left {
	left: 0px;
}

#ubpoverlay-right {
	right: 0px;
}

#ubpoverlay-left-ico, #ubpoverlay-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#ubpoverlay-left-ico {
	background-image: url('../image/ubpoverlay.png');
	background-position: -40px -30px;
}

#ubpoverlay-right-ico {
	background-image: url('../image/ubpoverlay.png');
	background-position: -40px -60px;
}

#ubpoverlay-left:hover, #ubpoverlay-right:hover {
	visibility: visible; /* IE6 */
}

#ubpoverlay-left:hover span {
	left: 20px;
}

#ubpoverlay-right:hover span {
	left: auto;
	right: 20px;
}

.ubpoverlay-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#ubpoverlay-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('../image/ubpoverlay-x.png');
}

#ubpoverlay-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('../image/ubpoverlay.png');
	background-position: -40px -162px;
}

#ubpoverlay-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('../image/ubpoverlay-y.png');
	background-position: -20px 0px;
}

#ubpoverlay-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('../image/ubpoverlay.png');
	background-position: -40px -182px; 
}

#ubpoverlay-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('../image/ubpoverlay-x.png');
	background-position: 0px -20px;
}

#ubpoverlay-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('../image/ubpoverlay.png');
	background-position: -40px -142px;
}

#ubpoverlay-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('../image/ubpoverlay-y.png');
}

#ubpoverlay-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('../image/ubpoverlay.png');
	background-position: -40px -122px;
}

#ubpoverlay-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.ubpoverlay-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.ubpoverlay-title-outside {
	padding-top: 10px;
	color: #fff;
}

.ubpoverlay-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#ubpoverlay-title-over {
	padding: 10px;
	background-image: url('../image/ubpoverlay_title_over.png');
	display: block;
}

.ubpoverlay-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#ubpoverlay-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#ubpoverlay-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#ubpoverlay-title-float-left {
	padding: 0 0 0 15px;
	background: url('../image/ubpoverlay.png') -40px -90px no-repeat;
}

#ubpoverlay-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('../image/ubpoverlay-x.png') 0px -40px;
}

#ubpoverlay-title-float-right {
	padding: 0 0 0 15px;
	background: url('../image/ubpoverlay.png') -55px -90px no-repeat;
}

/* IE6 */

.ubpoverlay-ie6 #ubpoverlay-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_close.png', sizingMethod='scale'); }

.ubpoverlay-ie6 #ubpoverlay-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_nav_left.png', sizingMethod='scale'); }
.ubpoverlay-ie6 #ubpoverlay-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_nav_right.png', sizingMethod='scale'); }

.ubpoverlay-ie6 #ubpoverlay-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_title_over.png', sizingMethod='scale'); zoom: 1; }
.ubpoverlay-ie6 #ubpoverlay-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_title_left.png', sizingMethod='scale'); }
.ubpoverlay-ie6 #ubpoverlay-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_title_main.png', sizingMethod='scale'); }
.ubpoverlay-ie6 #ubpoverlay-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_title_right.png', sizingMethod='scale'); }

.ubpoverlay-ie6 #ubpoverlay-bg-w, .ubpoverlay-ie6 #ubpoverlay-bg-e, .ubpoverlay-ie6 #ubpoverlay-left, .ubpoverlay-ie6 #ubpoverlay-right, #ubpoverlay-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#ubpoverlay-loading.ubpoverlay-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#ubpoverlay-loading.ubpoverlay-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.ubpoverlay-ie .ubpoverlay-bg { background: transparent !important; }

.ubpoverlay-ie #ubpoverlay-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_shadow_n.png', sizingMethod='scale'); }
.ubpoverlay-ie #ubpoverlay-bg-ne { filter progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_shadow_ne.png', sizingMethod='scale'); }
.ubpoverlay-ie #ubpoverlay-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_shadow_e.png', sizingMethod='scale'); }
.ubpoverlay-ie #ubpoverlay-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_shadow_se.png', sizingMethod='scale'); }
.ubpoverlay-ie #ubpoverlay-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_shadow_s.png', sizingMethod='scale'); }
.ubpoverlay-ie #ubpoverlay-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_shadow_sw.png', sizingMethod='scale'); }
.ubpoverlay-ie #ubpoverlay-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_shadow_w.png', sizingMethod='scale'); }
.ubpoverlay-ie #ubpoverlay-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/ubpoverlay_shadow_nw.png', sizingMethod='scale'); }
/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }

.flip-clock-wrapper a:hover {
  color: #fff; }

.flip-clock-wrapper ul {
  list-style: none; }

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table; }

.flip-clock-wrapper.clearfix:after {
  clear: both; }

.flip-clock-wrapper.clearfix {
  *zoom: 1; }

/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none; }

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important; }

.flip-clock-meridium a { color: #313333; }

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em;
}

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px;
  background: #000;
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
  z-index: 2; }

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden; 
  outline: 1px solid transparent; }

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4); }

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 6px;
  font-size: 70px; }

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.flip-clock-wrapper .flip {   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); }

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px; }

.flip-clock-divider:first-child {
  width: 0; }

.flip-clock-dot {
  display: block;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px; }

.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: black;
  text-shadow: none; }

.flip-clock-divider.minutes .flip-clock-label {
  right: -88px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -91px; }

.flip-clock-dot.top {
  top: 30px; }

.flip-clock-dot.bottom {
  bottom: 30px; }

@-webkit-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-moz-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-o-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }

  100% {
    -moz-transform: rotateX(0deg); } }

@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg); }

  100% {
    -o-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    transform: rotateX(90deg); }

  100% {
    transform: rotateX(0deg); } }

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg); } }

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg); }

  100% {
    -moz-transform: rotateX(-90deg); } }

@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg); }

  100% {
    -o-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    transform: rotateX(0deg); }

  100% {
    transform: rotateX(-90deg); } }

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }