	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/02/2016 19:40
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-clock:before { content: "\f100"; }
.flaticon-coins:before { content: "\f101"; }
.flaticon-cup:before { content: "\f102"; }
.flaticon-interface:before { content: "\f103"; }
.flaticon-interface-1:before { content: "\f104"; }
.flaticon-medical:before { content: "\f105"; }
.flaticon-medical-1:before { content: "\f106"; }
.flaticon-medical-2:before { content: "\f107"; }
.flaticon-medical-3:before { content: "\f108"; }
.flaticon-medical-4:before { content: "\f109"; }
.flaticon-medical-5:before { content: "\f10a"; }
.flaticon-medical-6:before { content: "\f10b"; }
.flaticon-other:before { content: "\f10c"; }
.flaticon-people:before { content: "\f10d"; }
.flaticon-people-1:before { content: "\f10e"; }
.flaticon-people-2:before { content: "\f10f"; }
.flaticon-people-3:before { content: "\f110"; }
.flaticon-telephone:before { content: "\f111"; }