@import"reset.css";@import"skeleton.css";@import"superfish.css";@import"forms.css";@import"ui.totop.css";@import url(http://fonts.googleapis.com/css?family=Cinzel);@import url(http://fonts.googleapis.com/css?family=Fanwood+Text:400italic);
body{
	background: #5cc00c;
	font:13px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	position:relative;
	min-width:980px;
}

img {
	width:100%;
	height:auto;
}

a[href^="tel:"]{color: inherit; text-decoration:none;} 
* {-webkit-text-size-adjust: none;}

.floatright {float:right;}
.floatleft {float:left;}

html,body{height:100%;}
p{padding-bottom:22px;}
a{color:#4b970e;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1em;color:#241e1d;font-family: 'Cinzel', serif; text-transform: uppercase; font-weight: normal;margin-top: 58px;}
h1{font-size:32px;}
h2{font-size:30px;}
h3{font-size:28px;} 
h4{font-size:26px;}  
h5{font-size:24px;}
h6{font-size:22px;}
/* Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ff2100;}

.last1 {
	margin-bottom:0 !important;
}

.last2 {
	padding-bottom:0 !important;
}

.wrapper {width:100%; overflow:hidden;}
 
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}	

.buttons a:hover {cursor:pointer;}
.clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
}

.logo {
	display:inline-block; 
	width:217px; 
	height:24px; 
	text-indent:-5000px; 
	background:url(../images/logo.png) 0 0 no-repeat;
}

/*********************************header*************************************/
header {
	width:100%;
	position:relative;
	background: url(../images/head-bg1.gif) repeat-x 0 0 #ca4270;
	z-index:2;
}

.bg1 {
	background: url(../images/head-bg.jpg) no-repeat center 0;
}

header h1 {
	padding:24px 0 0;
	margin:0;
	float: left;
	font-size:0;
	line-height:0;
}

.head-box1 {
	border-bottom: 1px solid #4b970e;
	/* background: url(../images/head-bg2.png) repeat 0 0; */
	background-color: #4b970e;
}
																									

/********************** Content ************************/

#content {
	width:100%;
	background: #f6f4f5;
	padding:0 0 62px;
	position:relative;
	z-index:1;
}

aside {
	width:100%;
	/* background: url(../images/aside-bg.gif) repeat-x 0 0 #5cc00c; */
	padding:0;
	position:relative;
	color: #fff;
	z-index:1;
}

.bg2 {
	width: 100%;
	padding:0 0 65px;
	background: url(../images/bg2.png) no-repeat center 0;
}

.text1 {
	display: block;
    font-family: 'Cinzel', serif;
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 26px;
    color: #5cc00c;
    text-transform: uppercase;
    padding-top: 125px;
    text-shadow: 2px 4px 0px rgba(255, 255, 255, 0.75);
}

.button1 {
	background: url(../images/button1.gif) repeat-x 0 bottom #fff;
	font-size: 24px;
	line-height: 29px;
	display: inline-block;
	padding: 10px 23px 8px;
	font-family: 'Cinzel', serif;
	border-radius: 25px;
	text-transform: uppercase;
	color: #241e1d;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.button1:hover {
	background: #553e42;
	text-decoration: none;
	color: #fff;
}


.head-box3 {
    background: url("../images/head-bg2.png") repeat scroll 0 0 transparent;
    margin-top: 121px;
    padding-bottom: 29px;
    padding-top: 33px;
}

.text2 {
	font-size: 22px;
	color: #fff;
	font-family: 'Fanwood Text', serif;
	font-style: italic;
	display: block;
	line-height: 27px;
	margin-left: 159px;
}

.posrel {
	position: relative;
}

.page1-img1 {
	position: absolute;
	bottom: -29px;
	left: 0;
}

.page1-box1 {
	text-align: center;
	text-transform: uppercase;
	color: #4b970e;
	font-size: 36px;
	line-height: 40px;
	font-family: 'Cinzel', serif;
	padding-top: 52px;
	border-bottom: 1px solid #ecebec;
	padding-bottom: 52px;
}

.img-bot {
	display: inline-block;
	border: 1px solid #ececec;
	background: #fff;
	padding: 4px;
}

.page1-img2 {
	margin: 39px 0 34px;
}


.link1 {
    background: url("../images/marker1.png") no-repeat scroll right 8px transparent;
    color: #4b970e;
    display: inline-block;
    font-size: 13px;
    padding-right: 31px;
    text-decoration: underline;
    transition: all 0.4s ease 0s;
}

.link1:hover {
	text-decoration: none;
	color: #000;
}

.p6 {
	padding-bottom: 17px;
}

aside h2 {
	color: #fff;
	margin-bottom: 16px;
}

aside p {
	color: #fff;
	padding-bottom: 17px;
}

.link2 {
	color: #fff;
	transition: all 0.4s ease 0s;
	letter-spacing: 1px;
}

.link2:hover {
	color: #000;
	text-decoration: none;
}

.page1-img3 {
	position: absolute;
	left: 0px;
	top: 0;
}

.carousel-div {
	position: relative;	
	z-index:9;
	height: 83px;
	overflow:hidden;
	
}

.prev {
	background: url(../images/prev.png) 0 0 no-repeat;
	display: block;
	width: 8px;
	height: 11px;
	position:absolute;
	top:-36px;
	right:42px;
	z-index:99;
}

.caroufredsel_wrapper {
	z-index:9;
	cursor: auto !important;
}


.next {
	background: url(../images/next.png) 0 0 no-repeat;
	display: block;
	width: 8px;
	height: 11px;
	z-index:99;
	position:absolute;
	top:-36px;
	right:12px;
}

.next:hover,
.prev:hover {
	background-position: 0 bottom;	
}

.carousel1 li {
	float:left;
}

.page2-box1 {
	padding: 23px 0 2px;
	border-bottom: 1px solid #ecebec;
}


.inner1 {
    background: url("../images/marker2.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-family: arial;
    font-size: 36px;
    font-weight: bold;
    height: 67px;
    line-height: 44px;
    margin-right: 19px;
    margin-top: 6px;
    padding-top: 5px;
    text-align: center;
    width: 51px;
}

.p8 {
	margin-bottom: 32px;
}

.p9 {
	padding-bottom: 33px;
}


.page2-img1 {
    float: left;
    margin-right: 28px;
    margin-top: 3px;
    margin-bottom: 16px;
}

.last3 {
	border: none !important;
}
.p7 {
	margin-bottom: 8px;
}

.border-bot {
	border-bottom: 1px solid #ecebec;
	margin-top: 29px;
}

.list1 a {
	font-size: 13px;
}

.list1 li {
    background: url("../images/marker1.png") no-repeat scroll 0 6px transparent;
    display: block;
    line-height: 16px;
    padding-bottom: 10px;
    padding-left: 23px;
}

.list1 {
	margin-top: 8px;
}

.page2-box2 {
	padding: 9px;
	border: 1px solid #ececec;
	background: #fff;
	width: 194px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 19px;
	float: left;
	margin-top: 20px;
}

.page3-box1 {
	padding: 9px;
	border: 1px solid #ececec;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 20px;
}

.thumbs {
	margin-left: -19px;
	padding-top: 18px;
}

.thumbs1 {
	padding-top: 18px;
}

.page2-img2 {
	margin-bottom: 6px;
}

.page2-box2 p,
.page3-box1 p {
	padding-bottom: 0;
}

.map iframe {
    height: 292px;
    overflow: hidden;
    width: 100%;
}																							
.map {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 38px 0 34px;
}

																									
.dl1 dt {width:150px; color: #4b970e;}

.dl1 span {float:left; width:82px;}

.dl1 dd { line-height:22px;}

.dl1 dd a {text-decoration: underline;}

.dl1 dd a:hover {text-decoration:none;}

	
/******************** Footer ******************/
footer {
	width:100%; 
	padding:0 0 30px;
	/* background: url(../images/footer-bg.gif) repeat-x 0 0 #4b970e; */
	background-color: #4b970e;
}

.soc-links a {
	display:block;
	width:24px;
	height:24px;
}

.soc-links {
	float: right;
	padding-top: 40px;
}

.soc-links a:hover {
	background-position:0 bottom;
}

.soc-links li {
	display:block;
	float:left;
	margin-left:10px;
}

.soc-link1 {background:url(../images/soc-link1.png) no-repeat 0 0 ;
}
.soc-link2 {background:url(../images/soc-link2.png) no-repeat 0 0 ;
}
.soc-link3 {background:url(../images/soc-link3.png) no-repeat 0 0 ;
}

.foot-page1 {
	float: left;
	padding-top: 41px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
}

.foot-page1 a {
	color: #fff;
	transition: all 0.4s ease 0s;
}

.foot-page1 a:hover {
	color: #000;
	text-decoration: none;
}

.text5 {
	color: #4b970e;
}

.link3 {
	text-decoration: underline;
}

.link3:hover {
	text-decoration: none;
}

/******************** Responsive ******************/



@media only screen and (min-width: 768px) and (max-width: 1024px) {
 body {
min-width:768px;
}

.img-bot {
	display: block;
}

}

@media only screen and (max-width: 995px) {
 body{min-width:768px;}

 h2 {
    font-size: 27px;
}

.page1-img3 img {
    width: 99%;
}
}

@media only screen and (max-width: 800px) {





}
 @media only screen and (max-width: 767px) {
body {
min-width:420px;
}

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
 body {
min-width:420px;
}

.floatright {float:left;}
.floatleft {float:right;}

nav select {
    outline:none;
	display: block !important;
	height:25px;
	line-height:25px;
	padding:0 0 4px;
}	

.text1 {
    font-size: 35px;
    line-height: 49px;
    padding-top: 25px;
}

header h1 {
	float: none;
	text-align: center;
	margin-bottom: 25px;
}

nav {
	float: none;
}


.bg1 {
    background-size: 584px auto;
    background-position: center 96px;
}

.page1-box1 {
    font-size: 17px;
    line-height: 29px;
    padding-bottom: 19px;
    padding-top: 22px;
}

h2 {
	margin-bottom: 42px;
}

.page1-img2 {
    margin: 0 0 34px;
}

.soc-links,
.foot-page1 {
	float: none;
}


.head-box3 {
    margin-top: 17px;
}

.img-bot {
	display: block;
}

.page1-img3 {
	display: none;
}

.bg2 {
	padding: 0;
}

.thumbs {
	padding-top: 0;
	margin-left: 0;
}

.page2-img1 {
	float: none;
	margin-right: 0;
}

.page2-box2 {
	width: 180px;
}

#form1 {
	padding-top: 0;
}

.thumbs1 {
	padding-top: 0;
}

}
 @media only screen and (max-width: 479px) {

	 .inner-block {
	padding:0 10px;
}

body {
min-width:300px;
}


.text1 {
    font-size: 35px;
    padding-top: 25px;
    line-height: 49px;
}

#form1 {
	padding-top: 0;
}

header h1 {
	float: none;
	margin-bottom: 25px;
	text-align: center;
}

nav {
	float: none;
}


	
.bg1 {
    background-size: 584px auto;
    background-position: center 96px;
}


.page1-box1 {
    font-size: 17px;
    line-height: 29px;
    padding-bottom: 19px;
    padding-top: 22px;
}

.head-box3 {
	display: none;
}

.button1 {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 10px;
    padding: 6px 18px;
    text-transform: uppercase;
}

h2 {
	margin-bottom: 42px;
}


.page1-img2 {
    margin: 0 0 34px;
}

.page1-img3 {
	display: none;
}

.soc-links,
.foot-page1 {
	float: none;
}

.img-bot {
	display: block;
}

.thumbs {
	padding-top: 0;
	margin-left: 0;
}

.page2-img1 {
	float: none;
	margin-right: 0;
}

.page2-box2 {
	width: 100%;
	float: none;
	margin-left: 0;
}

.thumbs1 {
	padding-top: 0;
}

	}
	

