/*** MENU ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}

nav {
	float: right;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	padding: 26px 32px 27px;
	line-height: 16px;
}

.sf-menu a:hover,
.sf-menu li.current>a,
.sf-menu li.sfHover>a {
	background: url(../images/menu-hov.png) repeat 0 0;
	text-decoration: none;
}
.sf-menu ul {
	position:		absolute;
	background: #494143;
	top:			-999em;
	width:			124px; /* left offset of submenus need to match (see below) */
}

.sf-menu ul a:hover,
.sf-menu ul li.sfHover>a {
	background: #fff;
	color: #443a3d;
	text-shadow: 0 1px 0 #d3d2d2;
}
.sf-menu ul li {
	width:			100%;
	text-align: center;
}
.sf-menu ul a {
	padding: 20px 0;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			69px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			124px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

.sf-menu li.sub-menu:after {
    background: url("../images/indicator.png") no-repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 4px;
    right: 10%;
    margin-top: -1px;
    position: absolute;
    top: 48%;
    width: 5px;
}


.sf-menu ul li.sub-menu:after {	
	right: 9px;
    top: 27px;
}


/* Design for a width of 768px */
@media only screen and (max-width: 995px) {

	
}




@media only screen and (max-width: 767px) {


nav select {
    display: block !important;
    height: 23px;
    line-height: 23px;
    outline: medium none;
    border: 1px solid #000;
    padding: 0;
    width: 100%;
}

nav span,
.sf-menu{display:none}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {	
nav span,
.sf-menu{display:none}
 
}