/*Domain Page*/
.domain-box .img-fluid {
    display: -webkit-inline-box !important;
}
.domain-box table {
    border-collapse: collapse;
    border-spacing: 0;
	margin-bottom: 20px;
	border-left:none;
	width:100%;
	border-right:none;
	border-top:none;
}
.domain-box .h6{
	text-align: center;
    background-color: #f5f5f5;
    font-size: 18px;
    margin-bottom: 0px;
    width: 35px;
    float: left;
    height: 35px;
    padding: 0px !important;
    display: inline-block;
    line-height: 35px;
    border-radius: 30px;}
.domain-box th,tr,td{ margin-bottom: 15px !important; vertical-align: middle; padding-bottom: 15px !important; padding-top:15px !important;}
.domain-box th,tr{ border-bottom: 1px solid #9e9e9e;}
.domain-box th, tr:last-child{ border-bottom:none;}
.domain-box th, tr:first-child{ border-top:none;}
.domain-box .table{ margin-bottom:0px;}
.domain-box .table td, .table th{ vertical-align: middle !important; border:none; margin: 0px !important;}

@media screen and (max-width: 767px){ 
	.domain-box .h4{ font-size:15px; text-indent: 10px;}
}