@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic);
@import url(//fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(//fonts.googleapis.com/css?family=Dosis:400);
@import url(//fonts.googleapis.com/css?family=Dosis:300);
.navigation {
  z-index: 999;
  position: relative;
  padding: 5px 0 0;
  float: right;
  font-family: 'Dosis', sans-serif;
}
.navigation .sf-menu {
  z-index: 990;
  text-align: center;
  position: relative;
}
.navigation nav {
  position: relative;
  padding: 0;
}
.select-menu {
  display: none !important;
}
.sf-menu ul {
  position: absolute;
  top: -999px;
  display: none;
}
.sf-menu > li > ul > li {
  float: none;
  position: static;
}
.sf-menu > li {
  float: left;
  font-weight: 300;
  position: relative;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: -1px;
}
.sf-menu > li + li {
  margin-left: 36px;
}
.sf-menu > li + li:after {
  content: '';
  background: url(../images/menu_sep.png) 0 0 no-repeat;
  height: 5px;
  width: 5px;
  position: absolute;
  left: -20px;
  top: 10px;
}
.sf-menu > li > a {
  position: relative;
  color: #ffffff;
  text-align: center;
}
.sf-menu > li > a.sf-with-ul:after {
  content: '';
  position: absolute;
  width: 5px;
  bottom: 15px;
  left: 50%;
  bottom: -5px;
  pointer-events: none;
  z-index: 999;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #fff transparent transparent transparent;
}
.sf-menu > li.sfHover > a,
.sf-menu > li.current > a,
.sf-menu > li > a:hover {
  color: #17b4c0;
}
/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 767px) {
  .navigation {
    float: none !important;
    padding: 10px 0px 10px !important;
    clear: both;
    margin: 0;
    width: auto;
    min-height: 0px;
  }
  .navigation nav {
    border: none !important;
    float: none !important;
    font: 12px/15px Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #927c67;
    margin: 0 auto;
    padding-left: 0 !important;
  }
  .navigation nav ul {
    border: none;
  }
  .sf-menu {
    display: none !important;
    float: none;
  }
.select-menu {
     
    width: 100%;
    margin: 0 auto;
    float: none;
    outline: none;
    display: block !important;
    border: 2px solid #fff;
    height: 34px;
    border-radius: 5px;
    font-size: 17px;
    color: #555;
    letter-spacing: 1px;
}
}
#stuck_container {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 998 !important;
  padding-bottom: 7px;
}
#stuck_container .isStuck {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#stuck_container .isStuck .menuBox {
  margin: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media only screen and (min-width: 979px) {
  .isStuck {
    background-color: #000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  }
}
@media only screen and (max-width: 979px) {
  #stuck_container {
    position: relative !important;
    box-shadow: none;
  }
  .pseudoStickyBlock {
    height: 0 !important;
  }
}
html {
  width: 100%;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
sss * {
  -webkit-text-size-adjust: none;
}
body {
  position: relative;
  background: #343434;
  color: #585555;
  font: 14px/20px 'Open Sans', sans-serif;
}
.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
strong {
  font-weight: 700;
}
address {
  font-style: normal;
}
p {
  margin-bottom: 20px;
}
p.offset__1 {
  margin-bottom: 38px;
}
p.offset__2 {
  margin-bottom: 16px;
}
input,
textarea {
  border-radius: 5px !important;
  outline: none !important;
  -webkit-appearance: none;
}
img {
  max-width: 100%;
}
/****Heads****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #171616;
  font-family: 'Pathway Gothic One', sans-serif;
}
h2 {
    font-size: 36px;
    line-height: 48px;
    word-spacing: 7px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}
h3 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  margin-bottom: 22px;
}
/****Lists****/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-1 {
  padding-top: 4px;
}
.list-1 li {
  position: relative;
  letter-spacing: -2px;
  font-size: 24px;
  line-height: 20px;
}
.list-1 li a {
  display: block;
  position: relative;
  padding: 13px 30px 18px 60px;
  color: #343434;
  font-size: 18px;

letter-spacing: 0px;
}
.list-1 li a .fa {
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 17px;
  right: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.list-1 li a:hover {
    color: #fff;
}
.list-1 li a:hover .fa {
  left: 90%;
}
.list-1 li:nth-child(2n) {
    background-color: #c3ecef;
}
.list-1 li span {
  position: absolute;
background-color: #019fa9;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
.list-1 li:hover span {
  width: 100%;
}
/****Links****/
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
a:hover {
  color: #343434;
}
.btn {
    font: 17px/20px 'Dosis', sans-serif;
    color: #343434;
    border: 1px solid #000;
    display: inline-block;
    padding: 2px 25px 6px;
        padding-top: 2px;
        padding-right: 25px;
        padding-bottom: 6px;
        padding-left: 25px;
    margin-top: 16px;
    border-radius: 25px;
	background:transparent;
}
.btn:hover {
  background-color: #019FA9;
  border-color: #019FA9 !important;
  color:#fff !important;
}
/****classes****/
.mb0 {
  margin-bottom: 0px !important;
}
.m0 {
  margin: 0 !important;
}
.pad0 {
  padding: 0 !important;
}
.img_inner {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 18px;
  margin-top: 4px;
}
.img_inner.fleft {
  float: left;
  width: auto !important;
  margin-right: 30px;
  margin-bottom: 0px;
}
.img_inner.fleft.noresize {
  margin-right: 20px;
  margin-top: 4px;
}
.img_inner.img_fright {
  position: relative;
  top: 7px;
  float: right;
  margin-left: 20px;
  margin-bottom: 40px;
}
.oh {
  overflow: hidden;
}
.fwn {
  font-weight: normal;
}
.fright {
  float: right !important;
}
.upp {
  text-transform: uppercase;
}
.alright {
  text-align: right;
}
.ta__center {
  text-align: center;
}
.ta__left {
  text-align: left;
}
.td__underline {
  text-decoration: underline;
}
.ta__right {
  text-align: right;
}
.fw_med {
  font-weight: 500;
}
.wrapper,
.extra_wrapper {
  overflow: hidden;
}
.clear {
  float: none !important;
  clear: both;
}
.oh {
  overflow: hidden;
}
.nowrap {
  white-space: nowrap;
}
.rel {
  position: relative;
}
/*header*/
header {
  color: #e6e5e5;
  display: block;
  position: relative;
  z-index: 999;
  background: url(../images/slide.jpg) center 0 no-repeat;
}
header .rel {
  z-index: 999;
}
header h1 {
  text-transform: uppercase;
  color: #ffffff;
  z-index: 999;
  font-size: 60px;
  line-height: 59px;
  margin-bottom: 8px;
  letter-spacing: normal;
}
a {
  display: block;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
a:hover{ text-decoration:none;}
a:focus{ outline:none;}
header h1 a:hover {
  color: #ffffff;
}
.logo {
  float: left;
 margin-top: 10px;

}
header .header_top {
  letter-spacing: -1px;
  font: 300 30px/48px 'Dosis', sans-serif;
  padding: 30px 0 320px;
  background: url(../images/slider.jpg) center top no-repeat;
background-size: cover;
}
/****Content****/
#content {
  background-color: #ffffff;
  padding-bottom: 93px;
  background: #fffced url(../images/content_img.jpg) center 0 no-repeat fixed;
  padding-top: 30px;
}
/****Non suppage set****/

/****Blocks****/
.time-1 {
  position: relative;
  top: -2px;
  display: block;
  float: left;
  color: #343434;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  min-width: 103px;
  margin-bottom: 10px;
}
.shuffle-me {
  margin-bottom: 34px;
  position: relative;
}
.shuffle-me .info {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.shuffle-me.offset__1 {
  margin-bottom: 21px;
}
.socials {
  margin-bottom: 14px;
}
.socials li {
  padding-top: 12px;
  font-size: 18px;
  font-weight: 300;
  overflow: hidden;
}
.socials li .fa {
  font-size: 18px;
  line-height: 44px;
  display: block;
  width: 44px;
  height: 44px;
  background-color: #343434;
  border-radius: 500px;
  color: #ffffff;
  text-align: center;
  float: left;
  margin-right: 21px;
  position: relative;
  top: -8px;
}
.socials li .fa.fa-youtube {
  font-size: 24px;
}
.socials li a:hover {
  text-decoration: underline;
}
.socials li + li {
  margin-top: 24px;
}
.bq_1 {
  overflow: hidden;
}
.bq_1 .bq_title {
  font-style: italic;
  font-size: 24px;
  color: #343434;
  line-height: 48px;
  padding-top: 11px;
}
.bq_1 .clear {
  height: 12px;
}
.block-1 .fa {
  display: block;
  border-radius: 500px;
  color: #ffffff;
  background-color: #343434;
  font-size: 48px;
  line-height: 114px;
  width: 114px;
  height: 114px;
  text-align: center;
  margin: 0 auto 17px;
}
.block-1 .block-1_title {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 48px;
  color: #343434;
  margin-bottom: 16px;
}
.block-1 .btn {
  margin-top: 28px;
}
/****Gallery****/
.box {
  position: relative;
  margin-top: 2px;
  margin-bottom: 31px;
  padding-bottom: 68px;
  overflow: hidden;
}
.box .gall_item {
  position: relative;
  display: block;
}
.box .gall_item img {
  width: 100%;
}
.box .gall_item span {
  -webkit-transition: background-position 0.5s ease;
  transition: background-position 0.5s ease;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/magnifyer.png) center -100px no-repeat;
}
.box .gall_item:hover span {
  background-position: center center;
}
.box .box_bot {
  background-color: #343434;
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 7px 26px;
  top: 207px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.box .box_bot .box_bot_title {

  font-size: 24px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 19px;
}
.box .box_bot .btn {
    margin-top: 0;
    border-color: #fff;
    color: #fff;
}
.box .box_bot .btn:hover {
  color: #343434;
  border-color: #ffffff;
}
.box .box_bot:hover {
  top: 0;
}
.box .box_bot:hover .box_bot_title {
  color: #019fa9;
}
.blog .btn {
  margin-top: 28px;
  margin-bottom: 31px;
}
.blog table {
  border-color: #000;
  border-top: 1px solid rgba(50, 48, 69, 0.49);
  width: 100%;
  line-height: 40px;
  position: relative;
  top: 2px;
}
.blog table tr {
  border-color: #000;
  border-bottom: 1px solid rgba(50, 48, 69, 0.49);
}
.blog table .fa {
  font-size: 20px;
  color: #343434;
  min-width: 24px;
  margin-right: 20px;
  line-height: 40px;
}
.blog table td + td .fa {
  margin-right: 5px;
}
.blog table td:first-child {
  width: 278px;
}
.blog table td + td + td {
  text-align: right;
}
.blog table td + td + td .fa {
  margin-right: 40px;
}
.blog + .blog {
  margin-top: 91px;
}
/****Separators****/
.sep-1 {
  height: 1px;
  position: relative;
  margin-top: 65px;
}
.sep-1:after {
  position: absolute;
  left: 188px;
  right: 188px;
  height: 1px;
  top: 0;
  background-color: #171616;
  content: '';
}
.sep-1.offset__1 {
  margin-top: 86px;
}
/****Text styles****/
.text1 {
  font-size: 24px;
  line-height: 48px;
  font-weight: 300;
  margin-bottom: 15px;
  letter-spacing: -1px;
}
.text1.tx__1 {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 22px;
  letter-spacing: normal;
}
.color1 {
  color: #343434;
}
.color1 a:hover,
a.color1:hover {
  color: #616070;
}
.color2 {
  color: #616070;
}
/****Map****/
.map {
  overflow: hidden;
  padding-top: 5px;
}
.map figure {
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.map figure iframe {
  width: 100%;
  height: 399px;
  max-width: 100%;
}
.address1 {
  display: block;
  float: left;
}
.address1 + .address1 {
  margin-left: 70px;
}
.address1 dt {
  margin-bottom: 13px;
}
.address1 dd span {
  min-width: 144px;
  display: inline-block;
  text-align: left;
}
.address1 dd span.col1 {
  min-width: 0;
}
/**Footer**/
#footer {
  text-align: center;
  color: #ffffff;
  padding-bottom: 90px;
}
#footer h2 {
  padding-top: 85px;
  margin-bottom: 23px;
  color: #e3dfdf;
}
#footer .footer_phone {
  font-size: 24px;
}
#footer .sub-copy {
  padding-top: 37px;
  color: #6d6a6a;
}
#footer a:hover {
  color: #ffffff;
}
#footer .footer_mail {
  margin-top: 15px;
  display: inline-block;
  border: 1px solid #ffffff;
  font-size: 30px;
  line-height: 30px;
  padding: 9px 100px 16px;
}
#footer .footer_mail:hover {
  text-decoration: none;
  background-color: #fff;
  color: #343434;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  left: 51%;
  margin-left: 640px;
  overflow: hidden;
  border: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 72px;
  height: 66px;
  font-size: 30px;
  line-height: 65px;
  text-align: center;
  z-index: 20;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  background-color: #343434;
}
#toTop:hover {
  outline: none;
  background-color: #000000;
}

/* Contact Form variables
========================================================*/
/* Contact Form Basic Styles 
========================================================*/
#contact-form {
  position: relative;
  padding-top: 2px;
}
#contact-form .btn {
  margin-top: 31px;
  font-size: 16px;
}
#contact-form .btn + .btn {
  margin-left: 10px;
}
#contact-form label {
  display: block;
  float: left;
  position: relative;
  display: inline-block;
  width: 170px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 54px;
}
#contact-form label + label {
  margin-left: 30px;
}
#contact-form label.message {
  margin-left: 0;
  width: 100%;
  position: relative;
  top: -1px;
}
#contact-form fieldset {
  border: none;
}
/* Contact Form Placeholder Styles 
========================================================*/
#contact-form ._placeholder {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: text;
  color: #343434;
}
#contact-form ._placeholder.focused {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(237, 44, 53, 0.7);
  box-shadow: 0px 0px 7px 0px rgba(237, 44, 53, 0.7);
}
#contact-form ._placeholder.hidden {
  display: none;
}
#contact-form .file ._placeholder {
  display: none;
}
/* Contact Form Input 
========================================================*/
#contact-form input[type='text'] {
  width: 100%;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  outline: none;
  color: #343434;
  height: 31px;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background-color: #e3dfdf;
}
/* Contact Form File Input 
========================================================*/
#contact-form .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contact-form input.form-control[disabled] {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
#contact-form input.form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  padding: 6px 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#contact-form .input-group-btn:first-child > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin: 0 -1px 0 0;
}
#contact-form .input-group .form-control:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#contact-form .input-group-btn:last-child > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#contact-form .input-group .form-control:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#contact-form input.form-control,
#contact-form .input-group-btn {
  display: table-cell;
  border-collapse: separate;
  float: none !important;
}
#contact-form .input-group-btn label {
  width: auto;
  margin-left: -1px;
}
#contact-form .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
}
#contact-form .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
#contact-form .btn-default:hover {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
#contact-form .btn-default:active,
#contact-form .btn-default:focus {
  outline-offset: -2px;
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* Contact Form Textarea 
========================================================*/
#contact-form textarea {
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  outline: none;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  color: #343434;
  height: 221px;
  background-color: #e3dfdf;
}
/* Contact Form Error messages
========================================================*/
#contact-form .empty-message,
#contact-form .error-message {
  position: absolute;
  right: 3px;
  top: -18px;
  color: red;
  height: 0;
  overflow: hidden;
  font-size: 11px;
  -webkit-transition: 0.3s ease-in height;
  transition: 0.3s ease-in height;
  z-index: 99;
}
#contact-form .invalid .error-message,
#contact-form .empty .empty-message {
  height: 20px;
}
/* Contact Form Processing Box
========================================================*/
#contact-form .contact-form-loader {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  background-image: url('../images/form-loader.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0;
}
#contact-form.processing .contact-form-loader {
  opacity: 1;
  z-index: 99;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* Contact Form Modal 
========================================================*/
.modal-open {
  overflow: hidden;
}
#contact-form .modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#contact-form .modal h4 {
  font-size: 24px;
  color: #616070;
  text-transform: none;
  padding: 0;
  margin: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
  position: relative;
  z-index: 10;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-dialog {
  width: 600px;
  margin: 10px auto;
}
@media only screen and (max-width: 768px) {
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
}
/* Contact Form Close icon 
========================================================*/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
@media only screen and (max-width: 1199px) {
  #contact-form {
    padding-right: 0;
  }
  #contact-form label {
    width: 100%;
    margin: 0 !important;
    clear: left;
  }
}
/* The gallery overlay */

#galleryOverlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	z-index:100000;
	background-color:#222;
	background-color:rgba(0,0,0,0.8);
	overflow:hidden;
	display:none;
	
	-moz-transition:opacity 1s ease;
	-webkit-transition:opacity 1s ease;
	transition:opacity 1s ease;
}

/* This class will trigger the animation */

#galleryOverlay.visible{
	opacity:1;
}

#gallerySlider{
	height:100%;
	
	left:0;
	top:0;
	
	width:100%;
	white-space: nowrap;
	position:absolute;
	
	-moz-transition:left 0.4s ease;
	-webkit-transition:left 0.4s ease;
	transition:left 0.4s ease;
}

#gallerySlider .placeholder{
	background: url("../images/preloader.gif") no-repeat center center;
	height: 100%;
	line-height: 1px;
	text-align: center;
	width:100%;
	display:inline-block;
}

/* The before element moves the
 * image halfway from the top */

#gallerySlider .placeholder:before{
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right:-1px;
}

#gallerySlider .placeholder img{
	display: inline-block;
	max-height: 80%;
	max-width: 80%;
	width: auto !important;
	vertical-align: middle;
}

#gallerySlider.rightSpring{
	-moz-animation: rightSpring 0.3s;
	-webkit-animation: rightSpring 0.3s;
}

#gallerySlider.leftSpring{
	-moz-animation: leftSpring 0.3s;
	-webkit-animation: leftSpring 0.3s;
}

/* Firefox Keyframe Animations */

@-moz-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-moz-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Safari and Chrome Keyframe Animations */

@-webkit-keyframes rightSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:-30px;}
	100%{	margin-left:0px;}
}

@-webkit-keyframes leftSpring{
	0%{		margin-left:0px;}
	50%{	margin-left:30px;}
	100%{	margin-left:0px;}
}

/* Arrows */

#prevArrow,#nextArrow{
	border:none;
	text-decoration:none;
	background:url('../images/arrowws.png') no-repeat;
	opacity:0.5;
	cursor:pointer;
	position:absolute;
	width:43px;
	height:58px;
	
	top:50%;
	margin-top:-29px;
	
	-moz-transition:opacity 0.2s ease;
	-webkit-transition:opacity 0.2s ease;
	transition:opacity 0.2s ease;
}

#prevArrow:hover, #nextArrow:hover{
	opacity:1;
}

#prevArrow{
	background-position:left top;
	left:40px;
}

#nextArrow{
	background-position:right top;
	right:40px;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1199px) {
  .extra_wrapper {
    overflow: visible;
  }
  .box .box_bot {
    top: 168px;
  }
  .box .box_bot .box_bot_title {
    padding-left: 0;
  }
  .box p {
    display: none;
  }
  .list-1 li {
    font-size: 18px !important;
    letter-spacing: -1px;
  }
  .list-1 li a {
    padding-left: 40px;
  }
}
@media only screen and (max-width: 979px) {
  .shuffle-me img {
    width: 100%;
  }
  .box .box_bot {
    top: 132px;
  }
  .box .box_bot .box_bot_title {
    font-size: 20px;
  }
  .map figure,
  .map figure iframe,
  #form input,
  #form textarea,
  #form .success {
    width: 100% !important;
    float: none !important;
  }
  #form .success {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .map figure {
    height: auto !important;
    margin-bottom: 15px;
  }
  .nowrap {
    white-space: normal;
  }
  .img_inner.fleft {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .address1 + .address1 {
    margin-left: 60px;
  }
  .box .box_bot {
    top: 235px;
  }
  .sep-1:after {
    left: 30px;
    right: 30px;
  }
  .img_inner,
  .img_inner.fleft,
  .img_inner.img_fright {
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 20px !important;
    margin-top: 30px;
  }
  .img_inner img,
  .img_inner.fleft img,
  .img_inner.img_fright img {
    width: 100%;
  }
  header h1 {
    position: static !important;
    margin-bottom: 20px;
    float: none;
    left: 0;
  }
  header h1 a {
    margin: 0 auto;
    width: 100%;
    display: block;
  }
  header h1 a img {
    display: block;
    margin: 0 auto;
  }
  header .header_top {
    font-size: 18px;
    line-height: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  header .header_top h1 {
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 32px;
  }
  .map figure iframe {
    height: 300px;
  }
  .content .noresize {
    width: auto !important;
    float: left !important;
    margin-right: 20px !important;
    margin-top: 4px !important;
  }
  .none {
    clear: both;
  }
  .footer_mail {
    font-size: 16px !important;
  }
  .block-1 {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 479px) {
  .box .box_bot {
    top: 151px;
  }
  .footer_mail {
    font-size: 16px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
