
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
margin:0;
padding:0;
}
.background-video {
  position: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height:100%;
}
.logo{
	float:left;
	padding: 0 0px;
}
span.menu{
	display:none;
}
.top-nav {
    float: right;
    margin-top: 5px;
}

.modal-content {
   border-radius: 6px; 
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background:#ff7101;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #fff;
    border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#000;

  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.hvr-rectangle-out:hover,.hvr-rectangle-out:focus,.hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before,.hvr-rectangle-out:focus:before,.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nav-wil ul li:nth-child(6) a:hover{
	background:#ff7101;
	color:#fff;
}
/*-- Effect 11 --*/
.cl-effect-11 a {
font-family: 'Alegreya Sans', sans-serif;
margin: 0 23px;
text-decoration: none;
padding: 0 0 6px 0;
color:#fff;
text-shadow: none;
font-weight:600;
letter-spacing: 1px;
font-size:16px;
} 

.cl-effect-11 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 0 0 6px 0;
	max-width: 0;
	border-bottom: 2px solid #ff7101;
	color: #ff7101;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
	font-weight:600;
	font-family: 'Alegreya Sans', sans-serif;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
	max-width: 100%;
}
nav a {
	position: relative;
	display: inline-block;
    margin: 0 0px;
	outline: none;
	color: #03BEF0;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 16px;
}

nav a:hover,
nav a:focus {
	outline: none;
}
/*-- //Effect 11 --*/
/*-- Takiri --*/
.logo a{
text-decoration:none;
}
.logo .link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
    line-height: 1.3;
	color: #ff7101;
	display: inline-block;
}
/* Yaku */
.logo .link--yaku {
	font-family: 'Alegreya Sans', sans-serif;
	color: #ff7101;
	font-weight: 500;
	font-size: 42px;
	overflow: hidden;
	padding: 0 0 0px;
}

.logo .link--yaku::before {

	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	border-width: 2px 0;
	border-color:#ff7101;
	border-style: solid;
	left: 0;
	-webkit-transform: translate3d(-101%,0,0);
	transform: translate3d(-101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.logo .link--yaku:hover::before {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.logo .link--yaku span {

	display: inline-block;
	position: relative;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
	-webkit-transition: -webkit-transform 0.5s, color 0.5s;
	transition: transform 0.5s, color 0.5s;
}

.logo .link--yaku:hover span {
	color:#ff7101;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
	transform: perspective(1000px) rotate3d(0,1,0,360deg);
}

.logo .link--yaku span:nth-child(4),
.logo .link--yaku:hover span:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.logo .link--yaku span:nth-child(3),
.logo .link--yaku:hover span:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.logo .link--yaku span:nth-child(2),
.logo .link--yaku:hover span:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.logo .link--yaku span:first-child,
.logo .link--yaku:hover span:nth-child(4) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
/*-- //Takiri --*/
.header {
    margin-top: 65px;
}
ul.nav-wil li a{
	margin-top:9px;
}
ul.nav-wil li:nth-child(6) a{
	font-size:16px;
	padding:8px 15px;
	color:#ff7101;
	border:1px solid #ff7101;
	margin:0;
	text-transform:uppercase;
	font-weight:600;
}
ul.nav-wil li:nth-child(6) a:hover{
	background:#ff7101;
	color:#fff;
}
.nav > li > a {
    padding: 0; 
}

.top-nav ul li {
    display: inline-block;
}
.top-nav ul li a.active{
	color:#ff7101;
}
.banner-info h2{
	font-family: 'Alegreya Sans', sans-serif;
	font-size:50px;
	text-align:center;
	font-weight:400;
	color:#fff;
}
.banner-info h3 {
    text-align: center;
    font-size: 26px;
    font-style: italic;
    margin: 50px 0 75px 0;
}
.banner-info {
	text-align:center;
	color:#fff;
    margin-top: 100px;
}
.banner-info a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 25px 25px;
    border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}
.arrow {
    margin: 100px 0 50px 0;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
.center-container {
    padding:25px 0 0 0;
}
.arrow {
    margin: 100px 0;
}
/*-- banner bottom --*/
.banner-bottom{
	padding:80px 0;
	background:#eee;
}
.bottom-grid h3 {
    font-size: 28px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #ff7101;
    margin-bottom: 25px;
}
.bottom-grid p {
    font-size: 14px;
    color: #989898;
    line-height: 2em;
    margin-top: 25px;
}
.content-left {
    background: #fff;
    padding: 3.69em 2em 0;
}
.content-right{
	padding:0;	
}
.content-right img{
	width:100%;
}
.content-right img,.content-left{
	min-height:270px;
}
.content-grids {
    margin-top: 80px;
}
.content-left h4 {
    text-align: center;
    font-size: 28px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #ff7101;
    margin-bottom: 25px;
}
.content-left p {
    line-height: 2em;
    font-size: 14px;
    color: #A2A2a2;
}
.content-left h4 span {
    color: #000000;
}
/*-- //banner bottom --*/
/*-- testimonials --*/
.testimonials{
	background: url(../images/banner.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    padding: 110px 0;
}
.testimonials h3{
	text-align:center;
	font-size:55px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #ff7101;
}
.testimonials p{
    text-align: center;
    font-size: 36px;
    color: #fff;
    margin-top: 30px;
    font-style: italic;
}
.testimonials p span {
    display: block;
}
/*-- //testimonials --*/
/*-- training-grids --*/
.training{
	padding:80px 0;
}
.training-grid h3,.training-left h3{
    font-size: 28px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #ff7101;
    font-weight: 500;
    margin-bottom: 45px;	
}
.training-grid h3 span{
	color:#000;
}
.train-left{
	float:left;
	width:20%;
}
.train-right{
	float:right;
	width:75%;
}
.train-left img{
	width:100%;
}
.train-right p{
    font-size: 14px;
    color: #A2A2a2;
	line-height:2em;
}
.training-left p{
    font-size: 14px;
    color: #A2A2a2;
	line-height:2em;
}
.training-left img {
    margin: 25px 0;
}
.method-right{
	float:right;
	width:70%;
}
.method-left{
	float:left;
    width: 30%;
}
.method-grids ul li{
	list-style-type:none;
	display:block;
	background:url("../images/mark.png") no-repeat 0px 11px;
    padding-left: 25px;
	line-height:2.8em;
	font-size:14px;
}
.method-grids ul li a{
	color:#A2A2a2;
	text-decoration:none;
}
.method-grids ul li a:hover{
	color: #ff7101;
}
.method-grids{
	margin-top:50px;
}
.method-grids ul {
	float:left;
	width:33.3%;
}
/*-- //training-grids --*/
.footer-top{
	background:#000;
	padding:80px 0;
}
.footer-top ul li {
    list-style-type: none;
    display: block;
    color: #717171;
    font-size: 13px;
    line-height: 2.5em;
}
.footer-top ul li span {
    display: block;
}
.footer-top ul li:nth-child(1) {
    background: url('../images/icon2.png') no-repeat 0px 6px;
    padding-left: 38px;
}
.footer-top ul li:nth-child(2) {
    background: url('../images/icon3.png') no-repeat 0px 6px;
    padding-left: 38px;
}
.footer-top ul li a {
    background: url('../images/icon1.png') no-repeat 0px 6px;
    padding-left: 38px;
    display: block;
	color:#717171;
	text-decoration:none;
}
.footer-left{
	float:left;
	width:32%;
}
.footer-middle{
	float:left;
	width:28%;
	margin:0 4%;
}
.footer-middle img {
    float: left;
    width: 25%;
}
.footer-right{
	float:right;
	width:32%;
}
.footer-right input[type="text"] {
    background: #fff;
    border: none;
    width: 81%;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #c4c4c4;
}
.footer-right form input[type="submit"] {
    background: url(../images/message.png) no-repeat 2px 9px #ffffff;
    width: 44px;
    height: 38px;
    border: none;
    margin: 0 0 0 -4px;
    padding: 0;
}
.footer-top h3 {
    color: #fff;
    font-size: 19px;
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 25px;
}
.footer-left p {
	font-size:13px;
    line-height: 2em;
    color: #717171;
    margin-bottom: 20px;
}
.footer-middle p {
    line-height: 2em;
    color: #717171;
    font-size: 13px;
	float:right;
    width: 70%;
}
.footer-middle p a{
    color: #717171;
	text-decoration:none;	
}
.footer-right p {
    line-height: 2em;
    color: #717171;
    font-size: 13px;
    margin-bottom: 25px;
}
.footer-right input[type="email"] {
    width: 65%;
}
.foo-grids:nth-child(3) {
    border-bottom: 1px solid #4E4E4E;
    border-top: 1px solid #4E4E4E;
    padding: 20px 0;
    margin: 20px 0;
}
.copyright{
	padding:20px 0;
    background: #262626;
}
.copy-left{
	float:left;
    margin-top: 5px;
}
.copy-right{
	float:right;
}
.copy-left p{
    color: #717171;
	font-size:13px;	
}
.copy-left p a{
	color:#fff;
	text-decoration:none;
}
.copy-right ul li{
	list-style-type:none;
	display:inline-block;
	margin:0 1px;
}
.copy-right ul li a{
	width:26px;
	height:26px;
	display:block;
}
.copy-right ul li a.fb1{
    background: url(../images/social.png) no-repeat -3px -5px;
}
.copy-right ul li a.fb1:hover {
	transform:rotateY(360deg);
}
.copy-right ul li a.fb2{
    background: url(../images/social.png) no-repeat -3px -36px;
}
.copy-right ul li a.fb2:hover {
	transform:rotateY(360deg);
}
.copy-right ul li a.fb3 {
    background: url(../images/social.png) no-repeat -3px -67px;
}
.copy-right ul li a.fb3:hover {
	transform:rotateY(360deg);
}
.copy-right ul li a.fb4{
    background:url(../images/social.png) no-repeat -3px -101px;
}
.copy-right ul li a.fb4:hover {
	transform:rotateY(360deg);
}
.copy-right ul li a.fb5{
    background:url(../images/social.png) no-repeat -3px -139px;
}
.copy-right ul li a.fb5:hover {
	transform:rotateY(360deg);
}

/*-- //training-grids --*/
/*-- about --*/
.page-head{
background:url(../video/training.jpg) no-repeat 0px 0px;
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
padding:80px 0;
}
h3.tittle,h2.tittle{
    font-size: 40px;
    font-family: 'Alegreya Sans', sans-serif;
    color: #ff7101;
    margin-bottom: 50px;
	text-transform:uppercase;
	text-align:center;
}
.about,.abt-bottom,.contact,.typrography,.gallery,.registration-form{
	padding:80px 0;
}
.about-left-one img,.about-right-two img{
width:100%;
}
.about-left-two h4 ,.about-right-one h4{
  font-family: 'Alegreya Sans', sans-serif;
  text-decoration: none;
  font-size: 26px;
  color: #ff7101;
  line-height: 1.3em;
  margin-bottom: 20px;
}
.about-left-two p ,.about-right-one p{
line-height:2em;
font-size:14px;
color:#A2A2a2;
}
.mar-top {
  margin-top: 60px;
}
.about {
  background: #f2f2f2;
}
.team-gd{
	padding:0 20px;
}
.team-gd h4{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 26px;
    color: #ff7101;
    margin: 20px 0 10px 0;
    text-transform: capitalize;
    text-align: center;
}
/*PIC*/
.pic {
    width: 80%;
    overflow: hidden;
    margin: auto;
    border: 8px solid #000;
}
.pic img{
	width:100%;
}
.pic:hover {
  cursor: pointer;
}
.team-gd p {
	font-size:14px;
    line-height: 2em;
    color: #a2a2a2;
}
/*MORPH*/
.morph {
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.morph:hover {
border-radius: 50%;
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}
/*-- //about --*/
/*--gallery--*/
.view {
  width: 350px;
    height: 234px;
   margin: 10px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
}
.view .mask,.view .content {
   width: 350px;
   height: 234px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
	width:100%;
   display: block;
   position: relative;
}
.view h4 {
   text-transform: uppercase;
   color: #fff;
    font-family: 'Alegreya Sans', sans-serif;
   text-align: center;
   position: relative;
   padding:8px;
   margin: 9px 0 0 0;
}
.view p {
   font-style: italic;
   font-size: 13px;
   position: relative;
   color: #fff;
   line-height:1.8em;
    padding: 2px 20px 0px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
.view-ninth .mask-1, .view-ninth .mask-2 {
    height:393px;
    width: 361px;
    background:#ff7101;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out 0.6s;
    -moz-transition: all 0.3s ease-in-out 0.6s;
    -o-transition: all 0.3s ease-in-out 0.6s;
    transition: all 0.3s ease-in-out 0.6s;
}
.view-ninth .mask-1 {
    left: auto;
    right: 0;
    -webkit-transform: rotate(56.5deg) translateX(-185px);
    -moz-transform: rotate(56.5deg) translateX(-185px);
    -o-transform: rotate(56.5deg) translateX(-185px);
    -ms-transform: rotate(56.5deg) translateX(-185px);
    transform: rotate(56.5deg) translateX(-185px);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.view-ninth .mask-2 {
    top: auto;
    bottom:0px;
    -webkit-transform: rotate(56.5deg) translateX(185px);
    -moz-transform: rotate(56.5deg) translateX(185px);
    -o-transform: rotate(56.5deg) translateX(185px);
    -ms-transform: rotate(56.5deg) translateX(185px);
    transform: rotate(56.5deg) translateX(185px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
.view-ninth .content {
    background:#333;
    height: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5;
    width: 361px;
    overflow: hidden;
    -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
    -moz-transform: rotate(-33.5deg) translate(-112px, 166px);
    -o-transform: rotate(-33.5deg) translate(-112px, 166px);
    -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
    transform: rotate(-33.5deg) translate(-112px, 166px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.4s ease-in-out 0.3s;
    -moz-transition: all 0.4s ease-in-out 0.3s;
    -o-transition: all 0.4s ease-in-out 0.3s;
    transition: all 0.4s ease-in-out 0.3s;
}
.view-ninth h4{
    background: transparent;
    margin-top: 9px;
	color:#ff7101;
	font-size:22px;
	padding-bottom:9px;
}
.view-ninth a.info {
    display: none;
}
.view-ninth:hover .content {
   height: 130px;
    width: 330px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: 0.9;
    top: 40px;
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
}
.view-ninth:hover .mask-1, .view-ninth:hover .mask-2 {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.view-ninth:hover .mask-1 {
    -webkit-transform: rotate(56.5deg) translateX(1px);
    -moz-transform: rotate(56.5deg) translateX(1px);
    -o-transform: rotate(56.5deg) translateX(1px);
    -ms-transform: rotate(56.5deg) translateX(1px);
    transform: rotate(56.5deg) translateX(1px);
}
.view-ninth:hover .mask-2 {
    -webkit-transform: rotate(56.5deg) translateX(-1px);
    -moz-transform: rotate(56.5deg) translateX(-1px);
    -o-transform: rotate(56.5deg) translateX(-1px);
    -ms-transform: rotate(56.5deg) translateX(-1px);
    transform: rotate(56.5deg) translateX(-1px);
}
/*--gallery--*/
/*-- contact-page --*/
p.your-para {
  color: #a2a2a2;
  font-size: 14px;
  margin: 0 0 10px 0;
}
.contact-grid input[type="text"], .contact-grid textarea {
  width: 100%;
  padding: 10px 10px;
  margin: 0 0 20px 0;
  color:#a2a2a2;
  font-size: 14px;
  outline: none;
  border: 1px solid #DADADA;
  -webkit-appearance: none;
}
.contact-grid textarea {
  resize: none;
  min-height:180px;
}
.contact-in h4{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 26px;
    color: #ff7101;
    line-height: 1.3em;
    margin-bottom: 20px;
}
p.para1{
  color: #a2a2a2;
  font-size: 14px;
  line-height: 2em;
}
.address-more,.address-left{
	float:left;
	width:40%;
}
.contact-grid {
  padding-left: 0;
}
.address-more p, .address-left p{
  color: #a2a2a2;
  font-size: 14px;
  line-height: 2em;
}
.address-left p a {
text-decoration:none;
  color: #a2a2a2;
}
.address-left p a:hover {
	color:#ff7101;
}
.more-address{
	padding:2em 0;
} 
.map iframe {
  width: 100%;
  height:400px;
  border: none;
}
.send input[type="submit"] {
  font-size: 16px;
  background: #ff7101;
    padding: 8px 20px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  -webkit-appearance: none;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  letter-spacing:1px;
}
.send input[type="submit"]:hover {
  background:#000;
}
.contact-form {
    margin-bottom: 80px;
}
/*-- //contact-page --*/
/*--trypography--*/
.grid_4{
	background:#fff;
	padding:0em 0em 0em 0em;
}  
.grid_5{
	background:#fff;
	padding:1em 0 2em 0;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.8em;
  color: #999;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
h4.typ1{
	margin-bottom:15px;
}
h5.typ1{
	margin-bottom:15px;
}
.progress {
  height: 8px;
  box-shadow: none;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #03a9f4;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar {
  box-shadow: none;
}
.progress-bar-primary {
  background-color: #03a9f4;
}
.progress-bar-info {
  background-color: #00bcd4;
}
.progress-bar-success {
  background-color: #8bc34a;
}
.progress-bar-warning {
  background-color: #ff7101;
}
.progress-bar-danger {
  background-color: #e51c23;
}
.progress-bar-inverse {
  background-color: #757575;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:#5bb2fc !important;
  border-color:#5bb2fc !important;
}
.grid_3 p,.page-header p {
  color: #888;
  font-size: 14px;
  line-height:2em;
  margin-bottom: 1em;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.breadcrumb li{
	font-size:0.85em;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ff7101;
}
.badge-danger {
  background-color: #e51c23;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
h3.bars {
  margin-bottom: 0.8em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
ol {
  margin-bottom: 44px;
}
.list-group {
  margin-bottom: 48px;
}
.input-group {
  margin-bottom: 20px;
}
/*--//trypography--*/
/*-- registration-form --*/

.registration-form h3 {
    font-family: 'Alegreya Sans', sans-serif;
    text-decoration: none;
    font-size: 26px;
    color: #ff7101;
    line-height: 1.3em;
    margin-bottom: 20px;
}
.reg p{
  color: #a2a2a2;
  margin: 0px 0 0 0;
  font-size: 14px;
  line-height: 1.8em;
}
.col-md-6.reg-form {
  padding: 0;
}
.reg p:nth-child(1){
margin:32px 0 0 0;
}
.reg p:nth-child(2) {
 margin:0;
}
p.click a{
	text-decoration:none;
	color:#a2a2a2;
	outline:none;
}
p.click a:hover{
color: #ff7101;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
	outline:none;
}
.reg ul {
padding:0;
margin:0 0 22px 0;
}
.reg ul li {
display: inline-block;
width: 59%;
}
.reg ul li.text-info{
  width: 36%;
  color: #a2a2a2;
  font-size: 16px;
}
.reg form input[type="text"],.reg form input[type="password"] {
width: 100%;
padding: 8px;
font-size: 14px;
font-weight: 400;
border: 1px solid #e6e6e6;
outline: none;
color: #a2a2a2;
}
.reg-form{
float:left;
width:47%
}
.reg-right{
float:right;
width:47%
}

.reg form input[type=submit]{
  color: #ffffff;
  padding: 9px 35px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 0 32px 0;
  background: #ff7101;
  border: none;
}
.reg form input[type=submit]:hover {
  background: #000000;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
  }
.reg ul:nth-child(6) {
  margin: 0 0 32px 0;
}
.reg ul li:nth-child(2){
  margin-left: 10px;
}
.reg-right p{
    color: #a2a2a2;
    margin: 22px 0;
    font-size: 14px;
    line-height: 2em;
}
/*-- //registration-form --*/
/*-- login --*/
.login-right{
	float:right;
	width:51%;
}
.login-right h3{
    color: #ff7101;
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
    font-family: 'Alegreya Sans', sans-serif;
}
.login-left {
    float: left;
    width: 42%;
}
.login-right input[type="text"] ,.login-right input[type="password"] {
    width: 100%;
    padding: 10px;
    font-weight: normal;
    background: none;
    border: 1px solid #E6E4E4;
    color: #D2D1D1;
    outline: none;
    font-size: 14px;
    margin-top: 20px;

}
.login-right h4{
	color:#ff7101;
	font-size:12px;
	margin:20px 0;
}
.login-right h4 a{
	color:#a2a2a2;
	text-decoration:none;
}
.login-right h4 a:hover{
	color:#ff7101;
}
.login-right input[type="submit"] {
  background:#ff7101;
  color: #fff;
  font-size: 20px;
  border: none;
  width: 100%;
  outline: none;
  -webkit-appearance:none;
  padding: 10px 15px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
 margin-top:20px;
}
.login-right input[type="submit"]:hover {
	background:#000;
}
.login-grids p {
    font-size: 12px;
    margin-top: 25px;
	color:#a2a2a2;
}
.login-grids p a{
	color:#ff7101;	
	text-decoration:none;
}
.login-left ul li{
	list-style-type:none;
	display:block;
    margin: 22px 0;
    font-size: 16px;
}
.login-left ul li a{
    padding: 9px 0;
    display: block;
    text-align: center;
    color: #fff;
	text-decoration:none;
}
.login-left ul li a:hover{
	opacity:.7;
}
.login-left ul li a.fb{
	background:#3b5998;
}
.login-left ul li a.goog{
	background:#dc4e41;
}
.login-left ul li a.linkin{
	background:#00a0dc;
}
.login-left ul li a.fb i{
    background: url(../images/social2.png) no-repeat -45px 0px;
    width: 24px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
}
.login-left ul li a.goog i{
    background: url(../images/social2.png) no-repeat -84px 0px;
    width: 40px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
}
.login-left ul li a.linkin i{
    background: url(../images/social2.png) no-repeat -3px 0px;
    width: 32px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
}
.modal-header {
    border:none;
}
.single-bottom input[type="checkbox"] {
  display: none;
}
.single-bottom input[type="checkbox"]+label {
    position: relative;
    padding-left: 31px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #a2a2a2;
	font-weight:normal;
}
.single-bottom input[type="checkbox"]+label span:first-child {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 2px solid #000;
    position: absolute;
    left: 0;
    top: 1px;
}
.single-bottom input[type="checkbox"]:checked+label span:first-child:before {
  content: "";
  background:url(../images/mark.png)no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 10px;
    width: 18px;
    height: 18px;
  }
.modal-dialog {
    margin: 11em auto 0 auto;
}
button.close {
    outline: none;
}
.footer-top ul li a:hover{
	color:#ff7101;
}
/*-- //login --*/
/*-- responsive media queries --*/
@media (max-width: 1440px){
	
}
@media (max-width: 1366px){
	
}
@media (max-width: 1280px){
	
}
@media (max-width: 1080px){
	.bottom-grid p,.content-left p,.train-right p,.training-left p,.method-grids ul li,.about-left-two p, .about-right-one p,.team-gd p,p.para1,.address-more p, .address-left p,.reg-right p {
		font-size: 13px;	
	}
	.content-left {
		padding: 2.3em 2em 0;
	}
.content-right img, .content-left {
    min-height: 225px;
}	
	.arrow {
		margin: 55px 0;
	}
	.banner-info {
		margin-top: 80px;
	}
	.center-container {
		padding: 45px 0 0 0;
	}
	.page-head {
		padding: 45px 0;
	}
	.pic {
		width: 100%;
	}
	.view {
	  width: 292px;
	  height: 213px;
	  }
	  .view .mask, .view .content {
		  width:290px;
		  height: 232px;
	  }
	  .view-ninth .mask-1, .view-ninth .mask-2 {
		height:300px;
		width: 359px;
		}
	.view-ninth .mask-1 {
	  left: auto;
	  right: -55px;
	  }
	  .view-ninth .mask-1, .view-ninth .mask-2 {
	  height: 900px;
	  width: 900px;
	  }
	.view-ninth .content {
	  top: 32px !important;
	  width: 100% !important;
	  }
	.view-ninth .content {
	  -webkit-transform: rotate(-33.5deg) translate(-291px, 166px);
	  -moz-transform: rotate(-33.5deg) translate(-291px, 166px);
	  -o-transform: rotate(-33.5deg) translate(-291px, 166px);
	  -ms-transform: rotate(-33.5deg) translate(-291px, 166px);
	  transform: rotate(-33.5deg) translate(-291px, 166px);
	  }
	.view-ninth h4 {
		margin-top: 0px;
		padding-bottom: 3px;
	}
	.view p {
		padding: 0px 20px 0px 20px;
	}
	.reg-right {
		width: 50%;
	}
}
@media (max-width: 1024px){
	.testimonials h3 {
		font-size: 45px;
	}
	.testimonials p {
		font-size: 28px;
	}	
	.bottom-grid h3 {
		margin-bottom: 16px;
	}
	.bottom-grid p {
		margin-top: 16px;
	}
	.banner-info a {
		padding: 19px 28px;
	}
	.banner-info h2 {
		font-size: 40px;
	}
	.banner-info h3 {
		margin: 48px 0 65px 0;
	}
	.copy-right {
		float: right;
		width: 19%;
	}
	.cl-effect-11 a {
		margin: 0 15px;
	}
	ul.nav-wil li:nth-child(6) a {
		padding: 7px 10px;
	}
	.logo .link--yaku {
		font-size: 38px;
	}
}
@media (max-width: 991px){
	.bottom-grid {
		width: 50%;
		float: left;
	}
	.bottom-grid:nth-child(3), .bottom-grid:nth-child(4) {
		margin-top: 30px;
	}
	.logo .link--yaku {
		font-size: 32px;
	}
	.cl-effect-11 a,ul.nav-wil li:nth-child(6) a {
		font-size: 14px;
	}	
	.cl-effect-11 a {
		margin: 0 10px;
	}
	.nav-wil ul li a {
		margin-top: 4px;
	}
	.nav-wil ul li:nth-child(6) a {
		padding: 3px 5px;
	}
	.navbar-nav {
		margin-top: 0px;
	}
	.banner-info h3 {
		font-size: 19px;
	}
	.banner-info h2 {
		font-size: 38px;
	}
	.banner-info h3 {
		margin: 48px 0 58px 0;
	}
	.banner-info a {
		padding: 16px 28px;
	}
	.bottom-grid h3 ,.content-left h4{
		font-size: 24px;
	}
	.content-left {
		float: left;
		width: 32%;
	}
	.content-right {
		float: left;
		width: 68%;
	}
	.content-left p {
		line-height: 1.8em;
	}
	.content-left {
		padding: 1em 1em;
	}
	.content-left h4 {
		margin-bottom: 5px;
	}
	.testimonials {
		padding: 80px 0;
	}
	.testimonials h3 {
		font-size: 43px;
	}
	.testimonials p {
		font-size: 26px;
	}
	.training-left {
		margin-top: 50px;
	}
	.footer-left {
		float: left;
		width: 50%;
	}
	.footer-middle {
		float: right;
		width: 45%;
		margin: 0 0 0 0;
	}
	.footer-right {
		float: right;
		width: 100%;
		margin: 4% 0 0 0;
	}
	.footer-right input[type="text"] {
		width: 30%;
	}
	.copy-right {
		float: right;
		width: 23%;
	}
	.about-left-one{
	  float: left;
	  width: 46%;
	  padding: 0 0 0 0;
	}
	.about-left-two h4, .about-right-one h4 {
		font-size: 21px;
	}
	.about-left-two {
	  float: left;
	  width: 54%;
	  padding-right: 0;
	}
	.about-right-one{
	  width: 54%;
	  float: left;
	  padding-left: 0;
	}
	.about-right-two {
	  float: left;
	  width: 46%;
	  padding: 0;
	}
	.about-left-two h4, .about-right-one h4 {
	  margin-bottom: 10px;
	}
	.mar-top {
	  margin-top: 40px;
	}
	.team-gd.text-center {
    float: left;
    width: 25%;
    padding: 0 10px;
	}
	.training-grid h3, .training-left h3 {
		font-size: 24px;
	}
	.team-gd h4 {
		font-size: 24px;
	}
	.view {
		margin: 10px 3px;
		border: 6px solid #fff;
	}
	.view {
		width: 234px;
		height: 178px;
	}
	.view-ninth .content {
		top: 19px !important;
	}
	.view p {
		padding: 0px 4px 0px 4px;
	}
	.contact-in h4 {
		font-size: 24px;
	}
	.contact-in {
		float: left;
		width: 58%;
	}
	.contact-grid {
		float: left;
		width: 42%;
	}
	.more-address {
		padding: 1.5em 0 0 0;
	}
	.contact-in h4 {
		margin-bottom: 10px;
	}
	.contact-grid textarea {
		min-height: 140px;
	}
	.map iframe {
		height: 295px;
	}
	h3.tittle, h2.tittle {
		font-size: 34px;
	}
	.registration-form h3 {
		font-size: 24px;
	}
	.reg ul li.text-info {
		width: 44%;
	}
	.reg ul li {
		width: 54%;
	}
	.reg ul li:nth-child(2) {
		margin-left: 0;
	}
	.reg-right p {
		margin: 11px 0;
	}
	.registration-form h3 {
		margin-bottom: 12px;
	}
	.reg ul li.text-info {
		font-size: 15px;
	}
	.logo .link {
		line-height: 1.5;
	}
	.content-right img, .content-left {
    min-height: 179px;
}
}
@media (max-width: 800px){
.content-right img, .content-left {
    min-height: 175px;
}	
}
@media (max-width: 768px){
	.registration-form h3 {
		font-size: 20px;
	}
	.about, .abt-bottom, .contact, .typrography, .gallery, .registration-form,.banner-bottom,.training {
		padding: 65px 0;
	}
	h3.tittle, h2.tittle {
		font-size: 31px;
	}
	.contact-in h4 {
		font-size: 20px;
	}
	.banner-info {
		margin-top: 50px;
	}
	.banner-info h3 {
		margin: 45px 0 54px 0;
	}	
	.banner-info a {
		padding: 11px 22px;
		font-size: 14px;
	}
	.bottom-grid h3, .content-left h4 {
		font-size: 22px;
	}
	.content-left h4 {
		margin-bottom: 7px;
	}
	.testimonials h3 {
		font-size: 40px;
	}
	.testimonials p {
		font-size: 22px;
	}
	.training-grid h3, .training-left h3 {
		margin-bottom: 25px;
	}
	.train-left {
		float: left;
		width: 16%;
	}
	.method-grids {
		margin-top: 35px;
	}
	.method-grids ul li {
		background: url("../images/mark.png") no-repeat 0px 7px;
		line-height: 2.4em;
	}
	.training-left {
		margin-top: 35px;
	}
	.copy-right {
		width: 25%;
	}
}

@media (max-width: 736px){
	.content-left {
		padding: 0.73em 0.5em 0;
	}

span.menu {
    display: block;
    cursor: pointer;
    width: 100%;
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}

ul.nav1{
	display:none;
	background: #3c3d41;
}
	.top-nav ul {
		position: absolute;
		margin: 0;
		top: 105px;
		left: 0%;
		width: 100%;
		z-index: 999;
		padding: 20px 0;
		}
	.top-nav ul.nav1 li {
		display: inline-block;
		text-align: center;
		margin: 0;
		width: 100%;
		padding: 0px 0;
	    margin: 9px 0;
		}
	.nav > li > a {
		display: inline-block;
	}
	.cl-effect-11 a {
		margin: 0;
	}
	.about-left-two h4, .about-right-one h4 {
		font-size: 20px;
	}
	.about-left-two p, .about-right-one p {
		line-height: 1.8em;
	}
	.team-gd h4 {
		font-size: 20px;
	}
	.pic {
		border: 5px solid #000;
	}
	.view {
		width: 223px;
		height: 170px;
	}
	.view-ninth .content {
		top: 14px !important;
	}
	h3.tittle, h2.tittle {
		margin-bottom: 40px;
	}
	.map iframe {
		height: 225px;
	}
	.reg form input[type=submit] {
		padding: 9px 17px;
		font-size: 14px;
	}
	.footer-top {
		padding: 50px 0;
	}
	.modal-dialog {
		width: 515px;
	}
	.login-left ul li {
		font-size: 14px;
	}
	.login-left ul li a.fb i {
		background: url(../images/social2.png) no-repeat -45px 1px;
	}
	.login-left ul li a.goog i {
		background: url(../images/social2.png) no-repeat -86px 1px;
		width: 36px;
	}
	.login-left ul li a.linkin i {
		background: url(../images/social2.png) no-repeat -3px 1px;
		width: 30px;
	}
	.login-right input[type="text"], .login-right input[type="password"] {
		width: 100%;
		padding: 5px 10px;
	}
	.login-right input[type="submit"] {
		font-size: 16px;
		padding: 7px 15px;
	}
	.modal-dialog {
		margin: 5em auto 0 auto;
	}
}
@media (max-width: 667px){
	.banner-info h3 {
		font-size: 17px;
	}
	.banner-info h3 {
		margin: 39px 0 46px 0;
	}
	.arrow {
		margin: 26px 0;
	}
	.banner-info h2 {
		font-size: 33px;
	}
	.content-left {
		float: left;
		width: 100%;
	}
	.content-left {
		padding: 2em 2em;
	}
	.content-right {
		float: left;
		width: 100%;
	}
	.content-right:nth-child(2) {
		margin-bottom: 30px;
	}
	.content-left:nth-child(4) {
		margin-bottom: 30px;
	}
	.content-grids {
		margin-top: 65px;
	}
	.content-right:nth-child(7) {
		margin-top: 30px;
	}
	.testimonials {
		padding: 55px 0;
	}
	.testimonials h3 {
		font-size: 34px;
	}
	.testimonials p {
		font-size: 18px;
		margin-top: 22px;
	}
	.train-left {
		float: left;
		width: 23%;
	}
	.copy-right {
		width: 28%;
	}
	.about-left-two h4, .about-right-one h4 {
		font-size: 18px;
	}
	.team-gd.text-center {
		padding: 0 5px;
	}
	.team-gd p {
		line-height: 1.8em;
	}
	.team-gd h4 {
		font-size: 18px;
	}
	.view {
		width: 200px;
		height: 153px;
	}
	.view p {
		font-size: 12px;
		padding: 0;
	}
	.view-ninth .content {
		top: 5px !important;
	}	
	.reg-form {
		float: left;
		width: 100%;
	}
	.reg-right {
		width: 100%;
		margin-top:30px;
	}
	.footer-left {
		float: left;
		width: 47%;
	}
	.footer-middle {
		float: right;
		width: 49%;
	}
	.content-right img, .content-left {
    min-height: inherit;
}
}
@media (max-width: 640px){
	.banner-info {
		margin-top: 25px;
	}
	.bottom-grid h3, .content-left h4 {
		font-size: 24px;
	}
	.about-left-one, .about-right-one {
		float: left;
		width: 100%;
		padding: 0;
		text-align: left;
	}
	.about-left-two,.about-right-two {
		float: left;
		width: 100%;
		padding: 0;
		margin-top: 30px;
	}
	.team-gd {
		width: 50% !important;
		padding: 0 15px !important;
	}
	.pic {
		width: 84%;
	}	
	.about-left-two h4, .about-right-one h4,.team-gd h4 {
		font-size: 24px;
	}
	.team-gd:nth-child(3), .team-gd:nth-child(4) {
		margin-top: 30px;
	}
	.view {
		width: 191px;
		height: 146px;
		border: 4px solid #fff;
	}
	.view-ninth .content {
		top: 4px !important;
	}
	.contact-grid {
		float: left;
		width: 100%;
		padding:0;
	}
	.contact-grid input[type="text"], .contact-grid textarea {
		padding: 6px 10px;
	}
	.contact-in {
		width: 100%;
		padding: 0;
		margin-top: 30px;
	}
	.contact-in h4 {
		font-size: 24px;
	}
	.contact-form {
		margin-bottom: 50px;
	}
	.registration-form h3 {
		font-size: 24px;
	}
}
@media (max-width: 600px){
	.banner-info h3 {
		margin: 33px 0 35px 0;
		line-height: 1.5em;
	}	
	.method-grids ul li {
		padding-left: 18px;
	}
	.footer-left {
		float: left;
		width: 100%;
	}
	.footer-middle {
		float: right;
		width: 100%;
		margin: 30px 0;
	}
	.footer-right {
		float: right;
		width: 100%;
		margin: 0;
	}
	.view {
		width: 270px;
		height: 193px;
		border: 7px solid #fff;
	}
	.view-ninth .content {
		top: 25px !important;
	}
	.view p {
		font-size: 12px;
		padding: 0 8px;
	}
	.view-ninth h4 {
		margin-top: 11px;
	}
}
@media (max-width: 568px){
	.method-grids ul {
		float: left;
		width: 50%;
	}	
	.method-grids ul:nth-child(4){
		margin-top:30px;
	}
	.copy-left {
		float: left;
		margin: 0 0 21px 0;
		width: 100%;
		text-align: center;
	}
	.copy-right {
		width: 100%;
		text-align: center;
	}
	.view {
		width: 253px;
		height: 193px;
	}
	.view-ninth h4 {
		margin-top: 2px;
	}
	h3.tittle, h2.tittle {
		font-size: 28px;
	}
	.mar-top {
    margin-top: 23px;
}
}
@media (max-width: 480px){
	.banner-info h2 {
		font-size: 28px;
	}	
	.bottom-grid {
		padding: 0 10px;
	}
	.testimonials h3 {
		font-size: 30px;
	}
	.bottom-grid h3, .content-left h4 ,.training-grid h3, .training-left h3,.about-left-two h4, .about-right-one h4, .team-gd h4,.contact-in h4,.registration-form h3{
		font-size: 22px;
	}
	.train-left {
		float: left;
		width: 40%;
		padding-right: 20px;
	}
	.train-right {
		float: none;
		width: 100%;
	}
	.footer-right input[type="text"] {
		width: 45%;
	}
	ul.nav-wil li a {
		margin-top: 6px;
	}
	.cl-effect-11 a::before {
		padding: 0 0 2px 0px;
	}
	ul.nav-wil li:nth-child(6) a {
		padding: 4px 10px;
	}
	.view {
		width: 210px;
		height: 160px;
	}
	.view p {
		padding: 0 5px;
	}
	.view-ninth .content {
		top: 8px !important;
	}
	.modal-dialog {
		width: 385px;
	}
	.login-left {
		float: left;
		width: 100%;
	}
	.login-right {
		float: right;
		width: 100%;
	}
	.training-grid {
		padding: 0;
	}
	/*--typo--*/
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 9px!important;
	}
.table h1 {
    font-size: 28px;
}
.table h2 {
    font-size: 25px;
}
.table h3 {
    font-size: 22px;
}
h1.t-button, h2.t-button, h3.t-button, h4.t-button, h5.t-button {
    font-size: 16px;
}

}
@media (max-width: 414px){
	.banner-info h2 {
		font-size: 25px;
	}
	.bottom-grid {
		width: 100%;
		padding:0;
	}
	.bottom-grid:nth-child(3), .bottom-grid:nth-child(4) ,.bottom-grid:nth-child(2) {
		margin-top: 30px;
	}	
	 .training-grid h3{
	line-height:1.3em;
	}
	.bottom-grid h3, .content-left h4, .training-grid h3, .training-left h3, .about-left-two h4, .about-right-one h4, .team-gd h4, .contact-in h4, .registration-form h3 {
		font-size: 21px;
	}
	.method-grids ul {
		float: left;
		width: 100%;
	}
	.method-grids ul:nth-child(4) {
		margin:0;
	}
	.method-grids ul:nth-child(3) {
		margin: 15px 0;
	}
	.team-gd {
		padding: 0 8px !important;
	}
	.view {
		width: 260px;
		height: 194px;
		margin: 0 auto 25px auto;
		float: none;
	}
	.view p {
		padding: 0 10px;
		font-size: 13px;
	}
	.view-ninth .content {
		top: 25px !important;
	}
	.modal-dialog {
		width: 320px;
	}
	.login-left ul li {
		margin: 10px 0;
	}	
	.table h1 {
		font-size: 21px;
	}
	.table h2 {
		font-size: 21px;
	}
	.table h3 {
		font-size: 19px;
	}	
}
@media (max-width: 384px){
	.banner-info h2 {
		font-size: 23px;
	}
	.center-container {
		padding: 20px 0 0 0;
	}
	.banner-info a {
		padding: 8px 16px;
	}
	.banner-info h3 {
		font-size: 15px;
	}
	.banner-info h3 {
		margin: 27px 0 27px 0;
	}
	.about, .abt-bottom, .contact, .typrography, .gallery, .registration-form, .banner-bottom, .training {
		padding: 55px 0;
	}
	.testimonials p {
		font-size: 15px;
		margin-top: 17px;
	}	
	.testimonials h3 {
		font-size: 26px;
	}
	.train-left {
		float: left;
		width: 100%;
		padding-right: 0;
		margin-bottom: 25px;
	}
	.training-grid h3, .training-left h3 {
		margin-bottom: 14px;
	}
	.method-grids {
		margin-top: 18px;
	}
	.method-grids ul li {
		padding-left: 28px;
	}
	.training-left {
		margin-top: 20px;
		padding: 0;
	}
	.copy-left p {
		line-height: 1.8em;
	}
	.top-nav ul {
		top: 74px;
	}
	.logo .link--yaku {
		font-size: 28px;
	}
	.navbar-brand {
		height: inherit;
	}
	.mar-top {
		margin-top: 22px;
	}
	.team-gd {
		width: 70% !important;
		float: none !important;
		margin: 30px auto 0 auto!important;
	}
	.page-head {
		padding: 20px 0;
	}
	.map iframe {
		height: 185px;
	}
	h3.tittle, h2.tittle {
		font-size: 25px;
	}
	.reg ul li.text-info {
		font-size: 13px;
	}
	.reg form input[type="text"], .reg form input[type="password"] {
		padding: 5px 10px;
	}
	.reg p {
		font-size: 13px;
	}
	p.your-para {
		font-size: 13px;
	}
	.reg form input[type=submit] {
		padding: 6px 13px;
	}
	.single-bottom input[type="checkbox"]+label {
		font-size: 13px;
	}
	.login-right input[type="text"], .login-right input[type="password"] {
		padding: 6px 10px;
		font-size: 13px;
	}
	.login-right {
		margin-top: 15px;
	}
.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 10px 12px;
}
.table h1 {
    font-size: 19px;
}
.table h2 {
    font-size: 18px;
}
.table h3 {
    font-size: 17px;
}
.table h4 {
    font-size: 16px;
}
.table h5 {
    font-size: 15px;
}
.table h6 {
    font-size: 13px;
}
}

@media (max-width: 320px){
	.banner-info h2 {
		font-size: 19px;
	}
	.banner-info h3 {
		font-size: 14px;
	}
	.arrow {
		margin: 19px 0;
	}
	.banner-info h3 {
		margin: 20px 0 20px 0;
	}
	.banner-info a {
		padding: 6px 12px;
	}
	.about, .abt-bottom, .contact, .typrography, .gallery, .registration-form, .banner-bottom, .training {
		padding: 45px 0;
	}
	.bottom-grid p {
		margin-top: 9px;
	}
	.bottom-grid h3 {
		margin-bottom: 13px;
	}
	.content-left {
		padding: 1em 1.5em;
	}
	.testimonials h3 {
		font-size: 24px;
	}
	.testimonials {
		padding: 35px 0;
	}
	.footer-right input[type="text"] {
		width: 83%;
	}
	.about-left-two, .about-right-two {
		margin-top: 20px;
	}
	h3.tittle, h2.tittle {
		font-size: 25px;
	}
	 .training-left h3, .about-left-two h4, .about-right-one h4, .contact-in h4, .registration-form h3 {
		font-size: 19px;
	}
	ul.nav-wil li a {
		margin-top: 0;
	}
	.top-nav ul {
		padding: 5px 0;
	}
	h3.tittle, h2.tittle {
		margin-bottom: 25px;
	}
	.team-gd {
		width: 100% !important;
	}
	.view {
		width: 273px;
		height: 200px;
	}
	.view-ninth .content {
		top: 29px !important;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 12px!important;
	}
	.contact-grid textarea {
		min-height: 110px;
	}
	.address-more, .address-left {
		float: left;
		width: 50%;
	}
	.modal-dialog {
		width: 268px;
	}
	.modal-body {
		padding: 0 20px 20px;
	}
	.login-left ul li a {
		padding: 5px 0;
	}
	.login-left ul li {
		font-size: 13px;
	}
	.login-left ul li a {
		padding: 5px 0 10px 0;
	}
	.modal-dialog {
		margin: 3em auto 0 auto;
	}
.label {
    padding: 4px 4px;
}
h1.t-button, h2.t-button, h3.t-button, h4.t-button, h5.t-button {
    font-size: 14px;
}
.table h1 {
    font-size: 16px;
}
.table h2 {
    font-size: 15px;
}
.table h3{
    font-size: 13px;
}
.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 10px 11px;
}
.pagination > li > a, .pagination > li > span {
    padding: 6px 10px;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 7px!important;
}
}

.top-nav ul li a:focus,
.top-nav ul li a:hover{
	background-color: transparent !important;
}


/*------------lightbox css----------------------- */
/* Preload images */
body:after {
	display: none;
  }
  
  .lightboxOverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
	display: none;
  }
  
  .lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 10000;
	text-align: center;
	line-height: 0;
	font-weight: normal;
  }
  
  .lightbox .lb-image {
	display: block;
	height: auto;
	max-width: inherit;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
  }
  
  .lightbox a img {
	border: none;
  }
  
  .lb-outerContainer {
	position: relative;
	background-color: white;
	*zoom: 1;
	width: 250px;
	height: 250px;
	margin:5em auto 0.5em auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
  }
  
  .lb-outerContainer:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .lb-container {
  }
  
  .lb-loader {
	position: absolute;
	top: 43%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
  }
  
  .lb-cancel {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	/* background: url(../images/loading.gif) no-repeat; */
  }
  
  .lb-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
  }
  
  .lb-container > .nav {
	left: 0;
  }
  
  .lb-nav a {
	outline: none;
	background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
  }
  
  .lb-prev, .lb-next {
	height: 100%;
	cursor: pointer;
	display: block;
  }
  
  .lb-nav a.lb-prev {
	width: 34%;
	left: 0;
	float: left;
	background: url(../images/prev.png) left 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-prev:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
  }
  
  .lb-nav a.lb-next {
	width: 64%;
	right: 0;
	float: right;
	background: url(../images/next.png) right 48% no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
  }
  
  .lb-nav a.lb-next:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
  }
  
  .lb-dataContainer {
	margin: 0 auto;
	padding-top: 5px;
	*zoom: 1;
	width: 100%;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
  }
  
  .lb-dataContainer:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .lb-data {
	padding: 0 4px;
	color: #ccc;
  }
  
  .lb-data .lb-details {
	width: 85%;
	float: left;
	text-align: left;
	line-height: 1.1em;
  }
  
  .lb-data .lb-caption {
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
  }
  
  .lb-data .lb-number {
	display: block;
	clear: left;
	padding-bottom: 1em;
	font-size: 12px;
	color: #999999;
  }
  
  .lb-data .lb-close {
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	background: url(../images/close.png) top right no-repeat;
	text-align: right;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
  }
  
  .lb-data .lb-close:hover {
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
  }
  