@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body{font-family: 'Lato', sans-serif !important;background: #d8d8d8;}
/* .page {
    padding: .5rem 1rem;
} */
.react-tabs li {
    list-style: none;
}
.react-tabs ul {
    margin: 0;
    padding: 0;
    display: table;
    clear: both;
    padding-left: 20px;
    width: 100%;
    background: #fff;
}

.top-img{
    position: fixed;
    z-index: 99999;
    top: -4px;
    left: 50%;
    width: 20px;
    background: #767676;
    height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    line-height: 20px;
    cursor: pointer;
}

.react-tabs__tab-list>li {
    cursor: pointer;
}

.center-data{
    text-align: center;
}
.modal-header{
    background: #733ca6;
    width: 100%;
    border-radius: 8px 8px 0 0;
    color: #fff;
}

.saveButton{
    border-radius: 15px;
    border-color: #3899EC;
    color: white;
    background: #3899EC;
    float: right;
}

img{max-width: 100%;}
button{outline: none !important;}
.navbar-brand{margin-right: 1rem!important;}
.navbar-nav .nav-item+.nav-item {margin-left: 2rem;}
.logo_bg_curve{background-image: url('../src/images/logo_curve.png');background-size: contain;background-repeat:no-repeat;height: auto;float: left;width: 200px;padding: 8px 0 8px 40px;}
.navbar-nav .nav-item{cursor: pointer;padding:7px 0;font-size: 18px;position: relative;}
.react-tabs__tab-list>li{float: left;}
.dropdown_menu{position: absolute;border:1px solid #c7c7c7;border-radius: 4px;padding: 15px;top: 40px;z-index: 9999999;min-width: 190px;
    background: #ffffff; 
    background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%); 
    background: -webkit-linear-gradient(top, #ffffff 0%,#ececec 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ececec 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 );}
.dropdown_menu p{margin-bottom: 0;}    
.dropdown_menu:before {content: "";position: absolute;height: 10px;width: 10px;display: inline-block;background: #fefefe;transform: rotate(45deg);border: 1px solid #b7b7b7;top: -6px;border-right: 0;border-bottom: 0;left: 8px;}
.navbar{padding:0;border-radius: 0;
    margin-bottom: 0px !important;
    background: #ffffff; 
    background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%); 
    background: -webkit-linear-gradient(top, #ffffff 0%,#ececec 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ececec 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 );
}

navbar-nav .nav-item a.navbar-brand {		
    padding-top: 0 !important;		
    padding-bottom: 0 !important;		
    height: 0 !important;		
}


.navbar-brand{padding: 0;margin: 0;}
.nav.navbar-nav.pull-xs-left, .nav.navbar-nav.pull-xs-right{margin-top: 8px;}
.nav.navbar-nav.pull-xs-left li:first-child span{text-transform: uppercase;color: #733ca6;position: relative;}
.nav.navbar-nav.pull-xs-left li:first-child span:after {content: "";display: inline-block;height: 60px;width: 1px;background: #d7d7d7;position: absolute;right: -15px;top: -20px;}
.nav.navbar-nav.pull-xs-left li:first-child span i{margin-left: 40px;color: #000;}
.flaticon-down-arrow:before {font-size: 13px !important;}
.nav.navbar-nav.pull-xs-right{padding-right: 240px;}
.nav.navbar-nav.pull-xs-right li:last-child{position: absolute;top: 0;right: 0;padding: 0;text-align: center;}
.nav.navbar-nav.pull-xs-right li:last-child span{color: #fff;line-height: 65px;text-align: center;}
.nav.navbar-nav.pull-xs-right li:nth-child(7) .dropdown_menu{min-width: 155px;}
.nav.navbar-nav.pull-xs-right li:last-child .dropdown_menu{top: 60px;min-width: 155px;}
.nav.navbar-nav.pull-xs-right li:last-child .dropdown_menu:before{left: 50%;}
.top-img img{width: 100%;}
.site_dropdown{min-width: 350px;}
.mobile_view{top: 45px;}



.preview_bg_curve{background-image: url('../src/images/header_right_shape.png');background-size: contain;background-repeat:no-repeat;height: auto;float: left;width: 200px;padding-left: 40px;}

	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/05/2018 09:59
  	*/

      @font-face {
        font-family: "Flaticon";
        src: url("font/Flaticon.eot");
        src: url("font/Flaticon.eot?#iefix") format("embedded-opentype"),
             url("font/Flaticon.woff") format("woff"),
             url("font/Flaticon.ttf") format("truetype"),
             url("font/Flaticon.svg#Flaticon") format("svg");
        font-weight: normal;
        font-style: normal;
      }
      
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
          font-family: "Flaticon";
          src: url("./Flaticon.svg#Flaticon") format("svg");
        }
      }
      
      [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
      [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
        font-family: Flaticon;
        font-size: 26px;
        font-style: normal;
      }
      
      .flaticon-video-camera:before { content: "\f100"; }
      .flaticon-picture:before { content: "\f101"; }
      .flaticon-painter-palette:before { content: "\f102"; }
      .flaticon-cross-circular-button-outline:before { content: "\f103"; }
      .flaticon-down-arrow:before { content: "\f104"; }
      .flaticon-arrow-chevron:before { content: "\f105"; }
      .flaticon-desktop:before { content: "\f106"; }
      .flaticon-technology:before { content: "\f107"; }
      .flaticon-eye:before { content: "\f108"; }
      .flaticon-tick-inside-circle:before { content: "\f109"; }
      .flaticon-settings:before { content: "\f10a"; }
      .flaticon-time-left:before { content: "\f10b"; }
      .flaticon-up-arrow:before { content: "\f10c"; }
      .flaticon-background:before { content: "\f10d"; }
      .flaticon-add:before { content: "\f10e"; }
      .flaticon-upload:before { content: "\f10f"; }
      .flaticon-mathematical-addition-sign:before { content: "\f110"; }
      .flaticon-blogger-logo:before { content: "\f111"; }
      .flaticon-menu-button-of-three-horizontal-lines:before { content: "\f112"; }

      .nav_icon{height: 44px;width: 44px;border-radius: 50%;border:1px solid #a9a9a9;background: #fff;text-align: center;line-height: 44px;transition: all 0.3s;}
      .nav_icon:hover{border:1px solid #b71111;color: #b71111;}
      .nav-item.pad_0{padding: 0;}
      .mt_10{margin-top: 10px;}
      .mt_15{margin-top: 15px;}
      .mt_40{margin-top: 40px;}
      .react-tabs__tab-list li{text-align: center;margin-right: 40px;padding: 12px 0;float: left;} 
      .react-tabs__tab-list li.react-tabs__tab--selected{background-image: url('/images/active_curve.png'); background-size: cover;background-repeat: no-repeat;width: 63px;height: 47px;margin-top: 20px;outline: none;}
        .react-tabs__tab-list li.react-tabs__tab--selected i {height: 30px;width: 30px;line-height: 30px;}
        .react-tabs__tab-list li.react-tabs__tab--selected span{display: none;}
      .react-tabs__tab-list li i{display: inline-block;height: 50px;width: 50px;line-height:50px;background: #f5f5f5;border:1px solid #f5f5f5;color: #b4b4b4;border-radius: 50%;text-align: center;}
      .react-tabs__tab-list li span{display: block;font-size: 18px;color: #323232;font-weight: 400;}
      .generic_drop{list-style: none;padding-left: 0;}
      .generic_drop li{padding: 7px 15px;border-radius: 30px;transition: all 0.3s;}
      .generic_drop li:hover{background: #e3c5ff;}
      .menu_img_wrap{height: 100%;background: #e3c5ff;text-align: center;border-radius: 10px;padding: 10px;}
      .menu_img_wrap .navbar-brand{display: block;width:100%;margin:0 !important;}
      .menu_img_wrap .navbar-brand img{display: inline-block;width: 100%;}
      .code_drop{min-width: 500px;}
      .code_drop h5{font-size: 1.30rem;margin-bottom: 20px;}
      .code_drop button{border-radius: 30px;background: #733ca5;color: #fff;font-size: 18px;margin-top: 20px;}
      .develop_tool div{margin-bottom: 10px;display: flex;align-items: baseline;}
      .develop_tool div i{margin-right: 5px;color: #733ca5;}
      .help_drop{min-width: 350px;}
      .help_drop ul{list-style: none;padding: 0;}
      .help_drop ul li{margin-bottom: 10px;}
      .generic_modal .ReactModal__Content{width: 95%;padding: 0 !important;min-height: 490px;}
      .generic_modal .ReactModal__Content > h2 {color: #fff !important;background: #733ca6;padding: 12px 15px;margin-bottom: 0;font-size: 1rem;}
      .modal_inner .modal_top_tabs{padding-left: 0;background: #e0cef1;color: #733ca6;display: block;font-size: 14px;}
      ul.modal_top_tabs:after {content: "";display: table;clear: both;width: 100%;}
      .modal_inner .modal_top_tabs li {margin-right: 0;padding: 12px 15px;border-right: 1px solid #733ca6;float: left;cursor: pointer;}
      .modal_btn button {line-height: 25px;padding: 0;font-size: 0.7rem;border-radius: 50%;height: 25px;width: 25px;text-align: center;margin-right: 10px;background: #4c1b79;color: #fff;transition: all 0.3s;}
      .modal_btn button:hover{border:1px solid #4c1b79;background: #9659d0;color: #fff;}
      .modal_btn button:last-child{margin-right: 0;}
      .modal_btn{position: relative;top: -4px;}
      .modal_search {display: inline-block;position: relative;border: 1px solid #733ca6;border-radius: 30px;max-width: 170px;margin-right: 25px;margin-left: 15px;}
      .modal_search:before{content:"";height: 24px;width: 1px;background: #ccc;display: inline-block;position: absolute;left: -12px;}
      .modal_search:after{content:"";height: 24px;width: 1px;background: #ccc;display: inline-block;position: absolute;right: -12px;top: 0;}
        .modal_search i{position: absolute;left: 7px;top: 5px;color: #d8c2ec;}
        .modal_search input{border: none;background: none;padding-left: 25px;outline: none;}
        .sort_now{border-right: 1px solid #ccc;margin-right: 10px;padding-right: 10px;}
        .sort_now i{font-size: 8px;margin-left: 10px;}
        .Upload_image {padding: 10px 15px;border-bottom: 1px solid #ccc;font-size: 14px;}
        .Upload_image p{margin-bottom: 0;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;line-height: 25px;}
        .Left_Inner_Tabs_wrap{height: 500px;border-right: 1px solid #ccc;position: relative;overflow-y: auto;}
        .Left_Inner_Tabs_wrap button{position: absolute;bottom: 10px;background: none;border: none;left: 10px;color: #733ca6;outline: none;}
        .Left_Inner_Tabs{padding-left: 0 !important;display: block !important;}
        .Left_Inner_Tabs li{padding: 10px 15px;cursor: pointer;font-size: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;transition: all 0.3s;}
        .Left_Inner_Tabs li:hover{background: #e0cef1;}
        .Left_Inner_Tabs li.react-tabs__tab--selected{background: #733ca6;color: #fff;}
        .modal_bottom_btn {text-align: right;padding: 10px 20px;border-top: 1px solid #ccc;}
        .modal_bottom_btn button{border-radius: 30px;border: 1px solid rgba(188,188,188);padding: 4px 15px;color: #fff;vertical-align: middle;background: rgba(188,188,188);outline: none;}
        .modal_bottom_btn button:hover{background: rgb(144, 143, 143);}
        /* .modal_inner .row{margin-right: 0;} */
        .social_images > p{border-bottom: 1px solid #ccc;padding: 10px 15px;font-size: 14px;}
        .social_images_inner{text-align: center;margin-top: 40px;min-height: 225px;}
        .social_btns{margin-top: 40px;margin-bottom: 40px;}
        .social_btns button{background: none;border:none;color: #733ca6;outline: none;position: relative;padding-top: 85px;min-width: 110px;}
        .social_btns button:before{content: "";position: absolute;top:0;height: 80px;width: 80px;border-radius: 50%;border:1px solid #eee;background: #fff;left: 15px;}
        .social_btns button:hover:before{border:1px solid #733ca6;}
        .social_btns button:after{content: "";position: absolute;left: 50%;margin-left: -20px;top: 22px;height: 40px;width:40px;}
        .social_btns button:first-child:after{background-image: url('/images/social-icons-.svg');background-size: 240px 200px;background-repeat: no-repeat;background-position: 0 75%;}
        .social_btns button:nth-child(2):after{background-image: url('/images/flat-instagram.png');background-size: contain;background-repeat: no-repeat;background-position: 0 75%;}
        .social_btns button:nth-child(3):after{background-image: url('/images/social-icons-.svg');background-size: 240px 200px;background-repeat: no-repeat;    background-position: -120px 50%;}
        .social_btns button:nth-child(4):after{background-image: url('/images/social-icons-.svg');background-size: 240px 200px;background-repeat: no-repeat;background-position: -160px 50%;}
        .social_btns button:nth-child(5):after{background-image: url('/images/social-icons-.svg');background-size: 240px 200px;background-repeat: no-repeat;background-position: -40px 75%;}
        .social_btns button:last-child:after{background-image: url('/images/social-icons-.svg');background-size: 240px 200px;background-repeat: no-repeat;background-position: 0 0;}
        .modal_top_tabs .react-tabs__tab--selected{background: #fff;}
        .theme_btn{min-height: 25px;padding: 3px 15px;background: #733ca6;border:1px solid #733ca6;vertical-align: middle;color: #fff;border-radius: 30px;outline: none;transition: all 0.3s;font-size: 14px;}
        .theme_btn:hover{color: #733ca6;background: none;}
        .orientation_switch{display: inline-block;margin-left: 5px;}
        .shutter_stock p{max-width: 510px;display: inline-block;}
        .orientation_switch button{overflow: visible;background: #e0cef1;border: 1px solid #e0cef1;color: #733ca6;outline: none;padding: 5px;font-size: 12px;}
        .orientation_switch button:focus{background: #733ca6;border: 1px solid #733ca6;color: #e0cef1;}
        .orientation_switch button:first-child{border-radius: 10px 0 0 10px;}
        .orientation_switch button:first-child i{transform: rotate(90deg);}
        .orientation_switch button:last-child{border-radius: 0 10px 10px 0;}
        .My_Upload.react-tabs__tab-panel--selected{ z-index: 999; max-width: 300px;margin: 15px 20px;background: #fff;border-radius: 10px;border-top: 8px solid #4c1b79;}
        .My_Upload.react-tabs__tab-panel--selected .tab-panel-head{padding: 10px 15px;border-bottom: 1px solid #ccc;}
        .image-txt h4{display: flex;align-items: center;height: 100%;margin-bottom: 0;font-size: 14px;}
        .image-icon{display: flex;align-items: center;justify-content: flex-end;}
        .image-icon button{border-radius: 50%;height: 25px;width: 25px;padding: 0;line-height: 20px;text-align: center;background: none;border: 2px solid #4c1b79;color: #4c1b79;font-size: 10px;}
        .My_Upload.react-tabs__tab-panel--selected .tab-panel-body{height: 350px;overflow-y: auto;}
        .My_Upload.react-tabs__tab-panel--selected .tab-panel-body .row{cursor: pointer;border-bottom: 1px solid #c4a0e4;padding: 10px 0;}
        .My_Upload.react-tabs__tab-panel--selected .tab-panel-body .row:hover{background: #e0cef1;}
        .Upload_image label{margin-bottom: 0;}
        .vector_inner_tabs{padding-left: 0 !important;}
        .vector_inner_tabs li{float: left;min-height: 30px;padding: 3px 15px;vertical-align: middle;color: #733ca6;border-radius: 30px;outline: none;transition: all 0.3s;cursor: pointer;}
        .vector_inner_tabs li.react-tabs__tab--selected{background: #733ca6;border: 1px solid #733ca6;color: #fff;}
        .upload_btn{min-height: 30px;padding: 3px 15px;background: #fff;border: 1px solid #733ca6;vertical-align: middle;color: #733ca6;border-radius: 30px;outline: none;transition: all 0.3s;margin-right: 15px;margin-top: 7px;background: none;}
        .upload_btn:hover{background: #733ca6;color: #fff;}
        .ReactModal__Overlay.ReactModal__Overlay--after-open {z-index: 99999;}
        .Upload_image.shutter_stock .btn-group, .btn-group-vertical {vertical-align: text-bottom;}
        .Upload_font .row{margin-right: -15px;}
        .Upload_font .upload_btn{margin: 0;}
        .fonts_body{text-align: center;min-height: 340px;}
        .image-img img{width: 100%;}
        .My_Upload .tab-panel-body .row:last-child {border-bottom: 1px solid #e0cef1;border-radius: 0 0 0 10px;}
        .change_view_drop{min-width: 450px;right:0;}
        .change_view_drop:before{left: 50%;}
        .change_view_drop ul{padding: 0;list-style: none;padding-top: 20px;min-height: 150px;margin-bottom: 15px;border-bottom: 1px solid #ccc;max-width: 210px;}
        .change_view_drop ul li{position: static !important;text-align: left !important;}
        .change_view_drop ul li label{padding-left: 25px;position: relative;}
        .change_view_drop ul li input{display: none;}
        .change_view_drop ul li label:before{content: "";position: absolute;left: 2px;top:5px;display: inline-block;height: 10px;width: 10px;border-radius: 50%;background: none;box-shadow: 0 0 0 1px #fff, 0 0 0 2px #ddd;}
        .change_view_drop ul li input:checked+label:before{background: red;}
        .mobile_friendly label{vertical-align: middle;margin-right: 10px;}
        
        .Dropdown-root{display: inline-block;vertical-align: middle;}
        .Dropdown-control{border: none !important;padding: 4px 40px 4px 10px !important;cursor: pointer !important;}
        .Dropdown-control:hover{box-shadow: none !important;background: #e0cef1;}
        .modal_inner .react-tabs .row{margin-right: 0;}
        .Upload_image .row{margin-right: -15px !important;}
        .layout_grid{display: inline-block;}
        .layout_grid .Dropdown-control {padding: 4px 10px 4px 10px !important;}
        .layout_grid .Dropdown-arrow{display: none;}
        .layout_grid .Dropdown-menu .Dropdown-option{position: relative;}
        .change_view_image{display: flex;height: 100%;align-items: center;justify-content: center;background: #c4a0e4;border-radius: 5px;}
        .left_panel_wrap.react-tabs__tab-panel--selected .react-tabs ul{background: #733ca6;padding: 0;width: 30%;float: left;height: 100%;padding: 0 10px;color: #fff;border-radius: 0 0 0 10px;min-height: 210px;}
        .left_panel_wrap.react-tabs__tab-panel--selected .react-tabs__tab-panel{width: 70%;height: 100%;float: left;position: relative;background: #fff;display: none;border-radius: 0 0 10px 0;}
        .left_panel_wrap.react-tabs__tab-panel--selected .react-tabs__tab-panel.react-tabs__tab-panel--selected{display: block;}
        .left_panel_wrap.react-tabs__tab-panel--selected{width: 450px;height: calc(100vh - 52vh);margin: 15px 20px;background: #fff;border-radius: 10px;border-top: 8px solid #4c1b79;display: inline-block;    position: absolute;z-index: 99999;}
        .left_panel_wrap.react-tabs__tab-panel--selected .react-tabs__tab-list li.react-tabs__tab--selected{background-image: none;height: auto;width: auto;margin-top: 0;}
        .left_panel_wrap.react-tabs__tab-panel--selected .react-tabs__tab-list li{margin-right: 0;font-size: 14px;border-radius: 30px;margin-top: 10px !important;padding: 3px 7px;}
        .left_panel_wrap.react-tabs__tab-panel--selected .react-tabs__tab-list li.react-tabs__tab--selected{background: #4c1b79;}
        .left_panel_wrap.react-tabs__tab-panel--selected .react-tabs{height: 100%;}
        .left_panel_wrap.react-tabs__tab-panel--selected .tab-panel-head{padding: 15px;border-bottom: 1px solid #ccc;
            }
        .left_panel_wrap.react-tabs__tab-panel--selected .tab-panel-body{padding: 15px 15px;background: #fff;min-height: 225px;border-radius: 0 0 10px 10px;}
        .left_panel_wrap.react-tabs__tab-panel--selected .pages-tiles{border-radius: 4px;background: #e3ccf9;padding: 5px 5px;border: 1px solid #b895d8;margin-bottom: 5px;}
        .left_panel_wrap.react-tabs__tab-panel--selected .pages-tiles button{height: 25px;width: 25px;border-radius: 50%;padding: 0;line-height: 25px;float: right;background: none;border: 2px solid #4c1b79;transition: all 0.3s;}
        .left_panel_wrap.react-tabs__tab-panel--selected .pages-tiles button:hover{border:1px solid #aa88ca}
        .left_panel_wrap.react-tabs__tab-panel--selected .pages-tiles button i:hover{color: #aa88ca}
        .left_panel_wrap.react-tabs__tab-panel--selected .pages-tiles button i{color: #4c1b79;}
        .left_panel_wrap.react-tabs__tab-panel--selected .tab-panel-footer{padding: 15px 15px;border-top: 1px solid #ccc;text-align: center;position: absolute;bottom: 0;left: 0;background: #fff;right: 0;width: 100%;border-radius: 0 0 10px 0;}
        .tab-panel-footer .theme_btn{padding: 5px 10px;margin-right: 8px;font-size: 13px;}
        .home_drop ul{padding: 0;list-style: none;}
        .transitions-tiles_wrap{text-align: center;margin-bottom: 15px;}
        .transitions-tiles_wrap:hover .transitions-tiles{background: #a17ac5;}
        .transitions-tiles{height: 70px;width: 70px;border-radius: 5px;background: #ba9ed4;display: flex;align-items: center;justify-content: center;color: #733ca6;cursor: pointer;}
        .transitions-tiles_wrap a{display: block;color: #733ca6;text-decoration: none;margin-top: 5px;font-size: 14px;}
        .store_page_wrap span{margin-left: 10px;}
        .store_page_wrap .store-tiles{border-radius: 4px;padding: 5px 5px;margin-bottom: 5px;border: 1px solid transparent;cursor: pointer;}
        .store_page_wrap .store-tiles:hover{border: 1px solid #b895d8;background: #e3ccf9;}
        .store_page_wrap .store-tiles button{height: 25px;width: 25px;border-radius: 50%;padding: 0;line-height: normal;float: right;background: none;border: 2px solid #4c1b79;transition: all 0.3s;display: none;font-size: 12px;}
        .store_page_wrap .store-tiles:hover button{display: block;}
        .store_page_wrap .store-tiles button i{color: #4c1b79;}
        .generic_tabs{margin: 0 -15px;padding: 0 15px;border-bottom: 1px solid #ccc;}
        .generic_tabs button{background: none;border-bottom: 3px solid transparent;}
        .generic_tabs button i{margin-right: 5px;color: #9e9e9e;}
        .generic_tabs button:hover,.generic_tabs button:focus{border-bottom: 3px solid rebeccapurple;border-radius: 0;outline: none;}
        .inner-heading{font-size: 14px; padding: 15px 0; border-bottom: 1px solid #4c1b79;}
        .info_btn{height: 20px;width: 20px;line-height: 20px;border-radius: 50%;border: 1px solid #733ca6;color: #733ca6;padding: 0;}
        .background-tiles-wrap .background-tiles{background-image: url('https://cdn.pixabay.com/photo/2018/01/21/01/46/architecture-3095716_960_720.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;height: 80px;width: 115px;margin-bottom: 20px;}
        .panda_app_wrap.react-tabs__tab-panel--selected{width: 95%;height: auto;border-radius: 10px;overflow: hidden;left: 0;right: 0;margin: auto;}
        .panda_app_wrap.react-tabs__tab-panel--selected .tab-panel-body{border-radius: 0;}
        .panda_app_wrap .modal_search{max-width: 320px;float: right;margin: 0;}
        .panda_app_wrap .modal_search button {position: absolute;right: 30px;top: 5px;background: none;border:none;padding: 0;}
        .panda_app_wrap .modal_search input{width: 320px;padding-left: 15px;}
        .panda_app_wrap .modal_search:before,.panda_app_wrap .modal_search:after{display: none;}
        .panda_app_wrap .tab-panel-body .theme_btn{padding: 8px 15px;}
        .panda_app_wrap .appstore{background-image: url('https://cdn.pixabay.com/photo/2018/01/21/01/46/architecture-3095716_960_720.jpg');background-repeat: no-repeat;background-size: cover;height: 500px;}
        .blog_panel_wrap.react-tabs__tab-panel--selected{width: 500px;}
        blog_panel_wrap.react-tabs__tab-panel--selected .react-tabs {height: 100%;clear: both;display: table;}
        .blog_manager_body{text-align: center;}
        .blog_manager_body h3{font-size: 1rem;margin: 20px 0;}
        .blog_manager_body button:first-child{margin-bottom: 10px;}
        .Image-Txt{display: flex;justify-content: center;flex-direction: column;height: 100%;}
        .Image-Txt h4{font-size: 14px;}
        .Image-Txt p{font-size: 12px;margin: 0;}
        .Image-wrap img{width: 100%;}
        .Image-wrap{box-shadow: 0 0 10px #afadad;border-radius: 5px;padding: 5px;}
        .add_blog_wrap .row{padding: 25px 0;}
        .add_blog_wrap .row:hover{background: #e1cef3;}
        .add_blog_wrap img{width: 100%;}
        .upgrade_body{padding: 30px 15px;}
        .upgrade_body h6{font-size: 1rem;font-weight: 600;margin-bottom: 20px;}
        .upgrade_body ul{padding: 0;list-style: none;}
        .upgrade_body ul li{display: flex;align-items: baseline;margin-bottom: 10px;}
        .upgrade_body ul li i{margin-right: 10px;color: #733ca6;font-size:12px;}
        .upgrade_body ul li span{font-size: 13px;}
        .tool_panel_wrap ul{padding: 0;}
        .tool_panel_wrap ul li input{display: none;}
        .tool_panel_wrap ul li input+label{position: relative;padding-left: 25px;}
        .tool_panel_wrap ul li input+label:before{content:"";position: absolute;left: 0;top:8px;height: 10px;width: 10px;border-radius: 2px;box-shadow: 0 0 0 1px #fff,0 0 0 2px #4c1b79;background: none;font-family: 'FontAwesome';line-height: 10px;}
        .tool_panel_wrap ul li input:checked+label:before{background: #4c1b79;content:"\f00c";color: #fff;font-size: 10px;}
        .tool_img_wrap{text-align: center;padding: 30px 15px;border-radius: 5px;background: #e3c5ff;height: 100%;;}
        .tool_pane_inner{height: 100%;}
        .tool_pane_inner .row{height: 100%;padding: 15px;}
        .tool_txt{text-align: left;margin-top: 30px;}
        .tool_txt h6{font-weight: 600;}
        .tool_txt p{font-size:14px;margin-bottom: 0;}
        .page_bg_tabs_inner{margin: 0 -15px;overflow-y: auto;height: 270px;}
        .page_bg_tabs_inner .row{margin: 0;}
        .add_data_wrap .react-tabs ul li{margin-right: 20px !important;}
        .left_panel_wrap.add_data_wrap.react-tabs__tab-panel--selected{height: 600px;}
        .panda_app_wrap.react-tabs__tab-panel--selected .tab-panel-body{min-height: auto !important;width: 100%;display: table;clear: both;}
        .left_panel_wrap.add_data_wrap.react-tabs__tab-panel--selected .tab-panel-body{height: 525px !important;overflow: auto;}
        .blog_panel_wrap.react-tabs__tab-panel--selected .tab-panel-body{height: 270px !important;overflow: auto;}
        .add_data_wrap .image-img{height: 60px;width: 60px;border-radius: 50%;overflow: hidden;}
        .add_data_wrap .image-img img{width: 100%;height: 60px;}
        .add_data_wrap .image-txt h4 {height: auto;margin-bottom: 7px;font-size: 14px;}
        .add_data_wrap .image-txt p{font-size: 12px;margin-bottom: 0;}
        .mb_20{margin-bottom: 20px;}
        .Modal-modal-0-1-3{padding: 0 !important;border-radius: 8px;}
        .domain_modal_inner{padding: 15px 20px;}
        .domain_modal_inner .domain_bx_wrap{border-radius: 5px;border:1px solid #c4a0e4;background: #aa88ca;padding: 25px 25px 25px 40px;}
        .domain{position: relative;}
        .domain input[type="radio"]{position: absolute;left: -20px;top: 12px;}
        .domain_bx_wrap.custom_domain{background: none;margin-top: 10px;}
        .custom_domain input[type="radio"]{top: 7px;}
        .Modal-closeIcon-0-1-4{background: #fff;border-radius: 5px;}
        .Modal-overlay-0-1-1{z-index: 99999 !important;}
        .before_none:before{display: none;}
        .custom_tip{max-width: 250px;}
        .code_drop .top-img{position: static;background: none;line-height: 0;border-radius: 0;width: 100%;height: auto;}
        .help_drop .top-img{position: static;background: none;line-height: 0;border-radius: 0;width: 100%;height: auto;}
        .dropdown_menu.home_drop{padding: 0;padding-top: 10px;}
        .dropdown_menu.home_drop li{padding: 5px 15px;}
        .dropdown_menu.home_drop li:hover{background: #e3c5ff;}
        .react-tabs__tab-list li.react-tabs__tab--selected [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{font-size: 17px;}
        .gjs-cv-canvas {background-color: rgba(0,0,0,0.15);box-sizing: border-box;width: 100%;height: calc(100% - 152px);bottom: 0;overflow: hidden;z-index: 1;position: absolute;left: 0;top: 152px !important;}
        .left_panel_wrap.tool_panel_wrap.react-tabs__tab-panel--selected{height: auto;}
        
        .left_panel_wrap.react-tabs__tab-panel--selected .tab-panel-body{position: relative;}
        .menu_panel_wrap.react-tabs__tab-panel--selected .tab-panel-body .react-tabs{position: absolute;left: 100%;right: 0;top:0;width: 100%;}
        .menu_panel_wrap.react-tabs__tab-panel--selected .tab-panel-body .react-tabs .react-tabs__tab-panel .react-tabs{position: static;}
        .PopupMenu_button__20m_Y{background: none !important;padding: 0 !important;height: auto !important;width: auto !important;border-radius: 0 !important;}
        .PopupMenu_direction-right__yrXfz .PopupMenu_popover__3hd_Z.active {
            top: -60px !important;left: 30px !important;}
        
            
        @media(max-width:1920px){
            .react-tabs__tab-list li.react-tabs__tab--selected {width: 77px;height: 57px;margin-top: 32px;}
            .react-tabs__tab-list li {padding: 6px 0;}
            
        }
        @media(max-width:1366px){
        .logo_bg_curve {width: 160px;padding: 5px 0 8px 30px;background-position: -35px top;}
        .logo_bg_curve img{width: 80%;}
        .preview_bg_curve {width: 160px;padding-left: 0;background-position: 35px top;}
        .nav.navbar-nav.pull-xs-right li:last-child span {color: #fff;line-height: 50px;display: block;width: 100%;text-indent: 55px;}
        .nav.navbar-nav.pull-xs-right {padding-right: 160px;}
        .nav_icon {height: 35px;width: 35px;line-height: 35px;}
        [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {font-size: 18px;}
        .react-tabs__tab-list li i {height: 35px;width: 35px;line-height: 35px;}
        .react-tabs__tab-list li span {font-size: 14px;}
        .navbar-nav .nav-item+.nav-item {margin-left: 1rem;}
        .react-tabs__tab-list li {margin-right: 20px;padding: 5px 0;}
        .navbar-nav .nav-item {font-size: 14px;}
        .nav.navbar-nav.pull-xs-left li:first-child span i {margin-left: 25px;}
        .nav.navbar-nav.pull-xs-left li:first-child span:after {right: -10px;top: -26px;}
        .top-img {left: 45%;width: 15px;height: 15px;font-size: 8px;line-height: 15px;}
        .navbar-brand {margin-right: 0rem!important;}
        .gjs-cv-canvas{top: 140px !important;}
        
        
    }

    @media(max-width:991px){
        .left_panel_wrap.react-tabs__tab-panel--selected .tab-panel-body {height: 155px !important;/*overflow-y: auto*/;min-height: auto;}
        .page_bg_panel.react-tabs__tab-panel--selected{height: auto;}
        .page_bg_panel.react-tabs__tab-panel--selected .tab-panel-body{height: auto !important;overflow: inherit;}
        .panda_app_wrap.react-tabs__tab-panel--selected .tab-panel-body{height: auto !important;}
        .blog_panel_wrap.react-tabs__tab-panel--selected .react-tabs{display: table;clear: both;}
        .upgrade_panel_wrap{height: 100% !important;}
        .left_panel_wrap.tool_panel_wrap.react-tabs__tab-panel--selected{min-height: 400px;height: auto;}
        .blog_panel_wrap.react-tabs__tab-panel--selected .tab-panel-body{height: 300px !important;}
        
    }
#loading {
	-webkit-animation: rotation 1.5s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(360deg);
    }
}
.LoaderStart {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}
.image-holder {
    float: left;
    margin-bottom: 10px;
    width: 20%;
    padding-right: 5px;
}
.dummy-tab {
    height: 0 !important;
    background-image: none !important;
    width: 0 !important;
    margin: 0 !important;
}
span#cke_1_top {
    display: none;
}
span#cke_1_bottom {
    display: none;
}

.playground{text-align: center;}
/* .gjs-cv-canvas:before {content: "";height: 72px;max-width: 450px;display: block;margin: auto;background-image: url('/images/phone-top.png');background-repeat: no-repeat;background-position: center;background-size: cover;}
.gjs-cv-canvas:after {content: "";height: 125px;max-width: 450px;display: block;margin: auto;background-image: url('/images/phone-bottom.png');background-repeat: no-repeat;background-position: center;background-size: cover;}
div#wrapper:before {content: "";height: 100%;background-position: repeat-y;background-image: url('/images/phone-right-bg.png');background-size: cover;} */
.playground iframe{width:100%;border:0;/*height:450px;*/display: inline-block;position: relative;}

.gjs-editor {
    
    box-sizing: border-box;
    height: 100%;
}

.gjs-frame {
    outline: medium none;
    height: 100%;
    width: 100%;
    border: none;
    margin: auto;
    display: block;
    transition: width 0.35s ease,height 0.35s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.My_Upload.react-tabs__tab-panel--selected{position: absolute; z-index: 99999;}
.generic_modal .ReactModal__Content.ReactModal__Content--after-open {
    z-index: 999999;
}
.gjs-cv-canvas * {
    box-sizing: border-box;
}
.gjs-cv-canvas #gjs-tools {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}
.gjs-toolbar {
    position: absolute;
    background-color: #3b97e3;
    color: white;
    z-index: 10;
}
.gjs-toolbar-item {
    padding: 5px 7px;
    font-size: 0.8rem;
    cursor: pointer;
}


.gjs-pn-panels{display: none !important;}
.sp-container{display: none;}
.gjs-mdl-container {
    font-family: Helvetica,sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
}
.gjs-two-color {
    color: #b9a5a6;
}
.gjs-one-bg {
    background-color: #463a3c;
}
.gjs-mdl-dialog {
    text-shadow: -1px -1px 0 rgba(0,0,0,0.05);
    animation: gjs-slide-down 0.215s;
    margin: 30px auto 0;
    max-width: 850px;
    width: 90%;
    border-radius: 3px;
    font-weight: lighter;
    position: relative;
    z-index: 2;
}
.gjs-mdl-header {
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 15px 15px 7px;
}
.gjs-mdl-header, .gjs-mdl-content {
    padding: 10px 15px;
    clear: both;
}
.gjs-am-file-uploader {
    width: 55%;
    float: left;
}
.gjs-am-assets-cont {
    height: 400px;
}
.gjs-am-assets-cont {
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    width: 45%;
    float: right;
    height: 325px;
    overflow: hidden;
}
.gjs-am-assets {
    height: 345px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 0 -10px;
}
.gjs-am-assets {
    height: 290px;
    overflow: auto;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}


/* 
        ::-webkit-scrollbar {width: 6px;} 
        ::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px;}
        ::-webkit-scrollbar-thumb {border-radius: 10px;background: #4c1b79;} */