
/* ========================================================================== 
    General 
========================================================================== */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
}

body {
    padding-top: 70px;
}

a {
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

a {
    color:#00c7d7;
}

a:hover {
    color:#ec343c;
    text-decoration: none;
}
.btn-o {
    border:1px solid #00c7d7;
    /*border-radius*/
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    color:#00c7d7;
}

.btn-o:hover {
    color:white;
    background:#00c7d7;
}

img {
    max-width:100%;
    max-height: 100%;
}

.hexagon {
    width:100px;
    height:55px;
    background:#00c7d7;
    position:relative;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:before {
    content:"";
    position:absolute;
    top:-25px;
    left:0;
    width:0;
    height:0;
    border-left:50px solid transparent;
    border-right:50px solid transparent;
    border-bottom:25px solid #00c7d7;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:after {
    content:"";
    position:absolute;
    bottom:-25px;
    left:0;
    width:0;
    height:0;
    border-left:50px solid transparent;
    border-right:50px solid transparent;
    border-top:25px solid #00c7d7;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:hover {
    background:#e69a01;
}

.hexagon:hover:before {
    border-bottom-color:#e69a01;
}

.hexagon:hover:after {
    border-top-color: #e69a01;
}


/* ========================================================================== 
Navigation 
========================================================================== */
.navbar-dark {
    background: #00c7d7;
    z-index: 99999;
}
.navbar-dark a {
    /*color:rgb(153,160,162);*/
    color: #fff;
	font-size: 17px;
}

.navbar-brand {
    height:70px;
}

.navbar-nav>li>a {
    padding-top:25px;
    padding-bottom:25px;
}

.navbar-brand strong {
    color:white;
    margin-right:2px;
}

.navbar-brand:hover {
    color:#e69a01;
    text-decoration:none;
}

.nav>li>a:hover,.nav>li>a:focus {
    background-color:#e69a01;
    color: white;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(../img/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

/* ========================================================================== 
Caurosel
========================================================================== */
.carousel-control {
    z-index:9999;
}

.carousel-control>img {
    position:absolute;
    top:42%;
    width:30%;
}

.left.carousel-control>img {
    left:30%;
}

.right.carousel-control>img {
    right:30%;
}

.camera-icon {
    position:absolute;
    width:100%;
    left:0;
    top:0;
    text-align:center;
    z-index:99;
   padding-top: 17%;
}

.camera-icon .circle {
    width:200px;
    height:200px;
    line-height:200px;
    display:inline-block;
    /*border-radius*/
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    border:1px solid white;
    position:relative;
    color:white;
    opacity:.85;
}

.camera-icon .circle i {
    color:white;
    position:absolute;
    z-index:1;
    left:28px;
    top:8px;
    font-size:38px;
}

.camera-icon .circle .hexagon {
    display:inline-block;
    margin-top:75px;
    position: relative;
}


/* ========================================================================== 
content-block 
========================================================================== */
.content-block {
    padding:60px 0;
    width:100%;
}

.content-block-cyan {

    background: #e69a01;
    color: #FFF;
	text-align: center;

}
.content-block-cyan h1 {

    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 40px;

}
/* ========================================================================== 
Recent works
========================================================================== */
.recent-projects-title {

    background: rgba(236, 240, 241, 1);
    color: #333;
    padding: 55px 0px 5px;
    text-align: center;
    font-size: 55px;
    font-family: 'Josefin Slab', serif;
    word-spacing: 6px;
    letter-spacing: 0px;
    font-weight: 400;

}
.owl-carousel .owl-item img {
    height:auto;
    width:100%;
    display:block;
    position:relative;
}

.owl-carousel .item {
    margin:0px;
}

.owl-item>div {
    position:relative;
}

.owl-item>div a {
    position:absolute;
    bottom:0px;
    padding:8px;
    background:rgba(0,0,0,0.75);
    right:0;
    color:white;
    text-transform:uppercase;
    z-index: 2;
}

.owl-carousel .owl-item div:before {
    top:0;
    right:0;
    bottom:0;
    left:0;
    position:absolute;
    content:'';
    background:rgba(5,27,26,1);
    z-index:1;
    opacity:0.5;
    /*transition*/
    -webkit-transition:opacity 0.4s;
    -moz-transition:opacity 0.4s;
    -o-transition:opacity 0.4s;
    transition:opacity 0.4s;
}

.owl-carousel .owl-item:hover div:before {
    opacity: 0;
}

.owl-theme .owl-controls .owl-page span {
    background: #34C8B2;
}


/* ========================================================================== 
blog 
========================================================================== */
.block-heading h1 {
    margin-top:0;
}

.content-block-gray {
    background:#ECF0F1;
}

.block-heading {
    margin-bottom: 60px;
}


/* ========================================================================== 
Social
========================================================================== */
#social {
    padding:110px 0;
}

#social .hexagon {
    display:inline-block;
}

#social .hexagon i {
    font-size:36px;
    color:white;
    line-height:55px;
    position:relative;
    z-index: 1;
}


/* ========================================================================== 
footer
========================================================================== */
footer.content-block {
    padding: 60px 0 38px;
    width: 100%;
}

.content-block-dark {
    background:#222222;
}

footer {
    text-align:center;
    color: rgb(153,160,162);
}
.carousel-inner{ max-height:740px;}

/* ========================================================================== 
Responsive styles
========================================================================== */
@media (max-width:1370px){ .carousel-inner{ max-height:600px;}}
@media (max-width:768px) {
    .navbar-nav>li>a {
        padding-top:10px;
        padding-bottom:10px;
        text-align:center;
    }
    .navbar-toggle i {
    color: rgb(249, 176, 0);
}
    .navbar-toggle {
        margin-top:14px;
    }
    .recent-projects-title {
        font-size:32px;
    }
    .blog-post {
        margin-bottom:40px;
    }
    #social .hexagon {
        margin-bottom:60px;
    }
    #social {
        padding-bottom: 70px;
    }
}