@charset "UTF-8";

@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,800,700);
/*========================================================
                      Main Styles
=========================================================*/
body {
    color: #5e5e5e;
    font: 400 14px/20px "Raleway", sans-serif;
    -webkit-text-size-adjust: none;
    background: #000;
}

img {
    max-width: 100%;
    height: auto;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}

h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover, .h4 a:hover, h5 a:hover, .h5 a:hover, h6 a:hover, .h6 a:hover {
    color: #000;
}

h1, .h1 {
    font-size: 60px;
}
@media (max-width: 767px) {
    h1, .h1 {
        font-size: 45px;
    }
}

h2, .h2 {
    font-size: 48px;
    color: #333;
}
@media (max-width: 991px) {
    h2, .h2 {
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    h2, .h2 {
        font-size: 30px;
    }
}

h3, .h3 {
    font-size: 24px;
}
@media (max-width: 767px) {
    h3, .h3 {
        font-size: 20px;
    }
}

h4, .h4 {
    font-size: 18px;
}

h5, .h5 {
    font-size: 16px;
}

h6, .h6 {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    line-height: 18px;
}

.big {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
}

p a:hover, .marked-list a:hover, .list a:hover {
    text-decoration: underline;
}
p .fa, .marked-list .fa, .list .fa {
    text-decoration: none;
}

.p-mod {
    font-size: 18px;
    line-height: 1.2;
}

time {
    display: block;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
a:focus {
    outline: none;
}
a:active {
    background-color: transparent;
}

a[href^="tel:"],
a[href^="callto:"] {
    color: inherit;
    text-decoration: none;
}
a[href^="tel:"]:hover,
a[href^="callto:"]:hover {
    color: #eeb415;
}

strong {
    font-weight: 700;
}

.fa {
    line-height: inherit;
}

[class*='fa-']:before {
    font-weight: 400;
    font-family: "FontAwesome";
}

.page {
    overflow: hidden;
    min-height: 500px;
}
.lt-ie9 .page {
    min-width: 1200px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

@media (max-width: 991px) {
    .text-sm-center {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .text-xs-center {
        text-align: center;
    }
}
.mg-add {
    margin-top: -7px;
}

.mg-add2 {
    margin-top: -2px;
}

.mg-add3 {
    margin-top: 7px;
}

.lh18 {
    line-height: 18px;
}

.img-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.img-full {
    width: 100%;
}

/*=======================================================
                       Main Layout
=========================================================*/
* + .row {
    margin-top: 58px;
}

.row + * {
    margin-top: 30px;
}

.row + .row {
    margin-top: 30px;
}

* + .p-mod {
    margin-top: 15px;
}

* + p {
    margin-top: 8px;
}

* + .btn-link {
    margin-top: 60px;
}

* + .btn {
    margin-top: 44px;
}

* + .owl-carousel {
    margin-top: 52px;
}

* + .contact-info2 {
    margin-top: 72px;
}
@media (max-width: 767px) {
    * + .contact-info2 {
        margin-top: 30px;
    }
}

* + .contact-form {
    margin-top: 52px;
}
@media (max-width: 767px) {
    * + .contact-form {
        margin-top: 30px;
    }
}

img + h3 {
    margin-top: 26px;
}

img + h4 {
    margin-top: 26px;
}

.h1 + .btn {
    margin-top: 40px;
}

.row + .btn {
    margin-top: 119px;
}

p + p {
    margin-top: 17px;
}

h2 + .row {
    margin-top: 50px;
}

h2 + h3 {
    margin-top: 40px;
}

h2 + img {
    margin-top: 47px;
}

h2 + article {
    margin-top: 44px;
}

p + .marked-list {
    margin-top: 25px;
}

h2 + .index-list {
    margin-top: 43px;
}

h2 + blockquote {
    margin-top: 46px;
}

* + .offs {
    margin-top: 52px;
}

p + .offs.marked-list {
    margin-top: 15px;
}

p + .offs.btn {
    margin-top: 38px;
}

* + .offs2 {
    margin-top: 60px;
}

/*=======================================================
                        Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
    display: inline-block;
}
.brand_name {
    overflow: hidden;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.8px;
    font-weight: 800;
    color: #fff;
}

/*==================  Backgrounds  ======================*/
.bg-primary {
    background: #eeb415;
}

.bg-default {
    background: #fff;
}

.bg-secondary-1 {
    background: #f3f3f3;
}

.bg-secondary-2 {
    background: #f3f3f3;
}

/*==================  Colors  ======================*/
.clr-primary {
    color: #eeb415;
}

.clr-default {
    color: #fff;
}

.clr-secondary-2 {
    color: #333;
}

/*==================     Icons     ======================*/
.fa-facebook:before,
.fa-twitter:before,
.fa-google-plus:before,
.fa-linkedin:before,
.fa-pinterest:before {
    font-size: 22px;
    line-height: 45px;
    color: #f8f8f6;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/*==================    Buttons    ======================*/
.btn {
    display: inline-block;
    font-weight: 700;
    border: 2px solid transparent;
    background: transparent;
    padding: 17px 52px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
.btn:hover {
    background: #eeb415;
}
.btn:active {
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

.btn-primary {
    border: 2px solid #eeb415;
    background: #eeb415;
    color: #fff;
}
.btn-primary:hover {
    background: rgba(0, 156, 219, 0);
    color: #eeb415;
}

.btn-default {
    border: 2px solid #eeb415;
    color: #eeb415;
}
.btn-default:hover {
    background: #eeb415;
    color: #fff;
}

.btn-lg {
    padding: 18px 55px;
}

.btn-sm {
    padding: 16px 38px;
}

.btn-link {
    display: inline-block;
    color: #eeb415;
    font-weight: 700;
    border-radius: 0;
    font-size: 18px;
    position: relative;
    padding-right: 22px;
    text-transform: uppercase;
}
.btn-link:before {
    content: ">>";
    position: absolute;
    right: 0px;
    top: -1px;
    font-size: 18px;
    color: #eeb415;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-link:hover {
    color: #000;
    border-color: transparent;
}
.btn-link:hover:before {
    color: #000;
    right: -1px;
}

/*==================      Box      ======================*/
.box:before, .box:after {
    display: table;
    content: "";
    line-height: 0;
}
.box:after {
    clear: both;
}
.box_aside {
    float: left;
}
.box_aside img {
    margin-right: 23px;
    margin-top: -30px;
}
.box_cnt__no-flow {
    overflow: hidden;
}
@media (max-width: 767px) {
    .box_aside {
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
    .box_aside img {
        margin-right: 0;
    }
    .box_aside span {
        left: 10%;
    }
    .box_cnt__no-flow {
        text-align: center;
    }
}
@media (max-width: 479px) {
    .box_aside {
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
}

/*==================      Article      ======================*/
article time {
    font-size: 30px;
    font-weight: 800;
    color: #333;
    display: block;
}
article a:hover {
    color: #333333;
}
article + article {
    margin-top: 37px;
}
article time + * {
    margin-top: 20px;
}
article * + .btn {
    margin-top: 38px;
}

/*==================  Icon List  ======================*/
.icon-list li {
    position: relative;
    padding-left: 115px;
    min-height: 60px;
}
.icon-list li:before {
    content: attr(data-fa-icon);
    position: absolute;
    left: 27px;
    top: 6px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    font-family: "FontAwesome";
    color: #eeb415;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.icon-list li:hover:before {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.icon-list li:nth-child(n + 3) + li {
    margin-top: 43px;
}
.icon-list a:hover {
    color: #000;
}
.icon-list__mod li {
    color: #fff;
}
.icon-list__mod li:before {
    color: #fff;
}

/*==================  Inline List  ======================*/
* + .inline-list {
    margin-top: 18px;
}
.inline-list li {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    border: 1px solid #f8f8f6;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.inline-list li:hover .fa:before {
    color: #eeb415;
}
.inline-list li + li {
    margin-left: 2px;
}
@media (max-width: 991px) {
    .inline-list li {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .inline-list li .fa:before {
        font-size: 18px;
        line-height: 35px;
    }
}

/*==================   Index List  ======================*/
.index-list {
    counter-reset: li;
}
.index-list li {
    position: relative;
    padding-left: 100px;
    min-height: 74px;
}
.index-list li:before {
    position: absolute;
    display: inline-block;
    content: counter(li,decimal) ".";
    counter-increment: li;
    color: #fff;
    text-align: center;
    width: 70px;
    height: 70px;
    background: #eeb415;
    border: 1px solid #eeb415;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 48px;
    font-weight: 700;
    left: 0;
    top: 4px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    line-height: 60px;
}
.index-list li:hover:before {
    color: #eeb415;
    background: transparent;
}
.index-list li a:hover {
    color: #333333;
}
.index-list li + li {
    margin-top: 32px;
}

/*==================  Marked List  ======================*/
.marked-list li {
    position: relative;
    padding-left: 27px;
    text-align: left;
}
.marked-list li:before {
    content: '\f061';
    position: absolute;
    left: 0;
    top: 6px;
    font-weight: 400;
    font-size: 12px;
    font-family: "FontAwesome";
    color: #eeb415;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    line-height: 18px;
}
.marked-list li a {
    line-height: 30px;
    font-size: 14px;
    color: #eeb415;
}
.marked-list li a:hover {
    color: #000;
    text-decoration: none;
}
.marked-list li + li {
    border-top: 1px solid #c2c2c2;
}
@media (max-width: 767px) {
    .marked-list {
        display: block;
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
}
.marked-list__mod li:before {
    color: #fff;
}
.marked-list__mod li a {
    color: #fff;
}
.marked-list__mod li + li {
    border-top: 1px solid #4AB9E53;
}

/*==================   Flex List   ======================*/
.flex-list {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.flex-list li {
    display: table-cell;
    text-align: center;
}
.flex-list li a:hover {
    opacity: 0.6;
}
.lt-ie9 .flex-list li a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.6)";
    filter: alpha(opacity=60);
}
@media (max-width: 767px) {
    .flex-list, .flex-list li {
        display: block;
        width: 100%;
        margin: 20px auto;
    }
}

/*================     Term-list    ====================*/
* + .term-list {
    margin-top: 49px;
}
.term-list * + dt {
    margin-top: 30px;
}
.term-list dt + * {
    margin-top: 10px;
}
.term-list dl + * {
    margin-top: 21px;
}
.term-list a[href^="mailto:"] {
    display: inline-block;
    margin-top: 22px;
}
.term-list a[href^="mailto:"]:hover {
    color: #eeb415;
}

/*==================    Blockquote  ==============*/
blockquote {
    margin: 0;
    font-style: normal;
}
blockquote cite {
    font-style: normal;
    display: inline-block;
}
blockquote * + cite {
    margin-top: 12px;
}
blockquote cite {
    font-style: normal;
    display: inline-block;
    font-size: 26px;
    line-height: 1.42;
    color: #eeb415;
}
blockquote q:before, blockquote q:after {
    display: table;
    content: "";
    line-height: 0;
}
blockquote q:after {
    clear: both;
}
blockquote + blockquote {
    margin-top: 35px;
}

/*==================    Blockquote-media  ==============*/
.blockquote-media {
    width: 89.957%;
    margin: 0 auto;
    position: relative;
    padding-left: 98px;
}
.blockquote-media span {
    font-size: 378px;
    position: absolute;
    font-weight: 400;
    left: -20px;
    top: -179px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #cecece;
    line-height: 540px;
}
.blockquote-media p > q {
    font-size: 18px;
    line-height: 22px;
}
.blockquote-media * + cite {
    margin-top: 18px;
}
.blockquote-media .box_cnt__no-flow {
    text-align: left;
}
.blockquote-media + blockquote {
    margin-top: 50px;
}
@media (max-width: 767px) {
    .blockquote-media {
        width: 100%;
        padding-left: 0;
    }
    .blockquote-media .box_cnt__no-flow {
        text-align: center;
    }
}

/*==================    Blockquote-icon  ==============*/
.blockquote-icon {
    position: relative;
    padding-left: 45px;
}
.blockquote-icon span {
    position: absolute;
    left: -11px;
    top: -50px;
    color: #cecece;
    font-size: 160px;
    font-weight: 500;
    line-height: 1.428;
}
.blockquote-icon cite {
    font-style: normal;
    display: inline-block;
}
.blockquote-icon * + cite {
    margin-top: 18px;
}
.blockquote-icon + blockquote {
    margin-top: 30px;
}

/*==================    Cont-info  ======================*/
.contact-info {
    max-width: 270px;
    margin-top: 21px;
}
.contact-info:before, .contact-info:after {
    display: table;
    content: "";
    line-height: 0;
}
.contact-info:after {
    clear: both;
}
@media (max-width: 767px) {
    .contact-info {
        margin: 20px auto;
    }
    .contact-info dl dt, .contact-info dl dd {
        float: none;
        margin-left: 0;
        margin-top: 2px;
    }
}
.contact-info dl {
    display: inline-block;
}
.contact-info dl dt {
    float: left;
}
.contact-info dl dd {
    float: right;
    margin-left: 4px;
}
.contact-info dl dd, .contact-info dl dt {
    font-size: 14px;
    line-height: 15px;
}
.contact-info dt + dd {
    margin-top: 0px;
}
.contact-info dd + dt {
    clear: both;
    margin-top: 0;
}
.contact-info dl + dl {
    margin-top: 25px;
}
.contact-info dl + dl dd, .contact-info dl + dl dt {
    font-size: 22px;
}
@media (max-width: 1199px) {
    .contact-info dl + dl dd, .contact-info dl + dl dt {
        font-size: 14px;
    }
}

.contact-info2 h4 + address {
    margin-top: 8px;
}
.contact-info2 dl + h4 {
    margin-top: 30px;
}
.contact-info2 address + dl {
    margin-top: 20px;
}

/*========================   Menu   ==========================*/
.sf-menu {
    display: inline-block;
    text-align: left;
    padding: 6px 0;
}
.sf-menu:before, .sf-menu:after {
    display: table;
    content: "";
    line-height: 0;
}
.sf-menu:after {
    clear: both;
}
.sf-menu > li {
    position: relative;
    float: left;
}
.sf-menu > li + li {
    margin-left: 26px;
}
.sf-menu a {
    display: block;
}

.sf-menu > li > a {
    color: #FFF;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.sf-menu > li > a:before, .sf-menu > li > a:after {
    position: absolute;
    bottom: 0;
    content: '';
    background: #eeb415;
    width: 0;
    height: 1px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.sf-menu > li > a:before {
    left: 50%;
}
.sf-menu > li > a:after {
    right: 50%;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
    color: #eeb415;
}
.sf-menu > li.sfHover > a:before, .sf-menu > li.sfHover > a:after, .sf-menu > li > a:hover:before, .sf-menu > li > a:hover:after {
    width: 50%;
}
.sf-menu > li.active > a {
    color: #eeb415;
}
.sf-menu > li.active > a:before, .sf-menu > li.active > a:after {
    width: 50%;
}

.sf-menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -31px;
    width: 235px;
    margin-top: 45px;
    padding: 20px 0;
    background: #fff;
    z-index: 2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
}

.sf-menu ul > li > a {
    color: #eeb415;
    font-size: 14px;
    line-height: 36.5px;
    padding-left: 31px;
}
.sf-menu ul > li a.sub-menu {
    position: relative;
}
.sf-menu ul > li a.sub-menu:after {
    position: absolute;
    content: '\f054';
    top: 0;
    right: 25px;
    font: 400 14px/36.5px "FontAwesome";
    color: #eeb415;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
    background: #eeb415;
    color: #fff;
}
.sf-menu ul > li.sfHover > a:after, .sf-menu ul > li > a:hover:after {
    color: #fff;
}
.sf-menu ul > li + li {
    margin-top: 1px;
}

.sf-menu ul ul {
    position: absolute;
    top: 33%;
    left: 105%;
    width: 235px;
    margin-top: 0;
    padding: 20px 0;
    z-index: 4;
}

@media (max-width: 767px) {
    .sf-menu {
        display: none;
    }
}
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999;
    text-align: left;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.rd-mobilemenu.active {
    right: 0;
}

.rd-mobilemenu_ul {
    position: fixed;
    top: -56px;
    left: 0;
    bottom: -56px;
    width: 240px;
    padding: 132px 0 76px;
    color: #A5BFD2;
    background: #2B3643;
    font-size: 14px;
    line-height: 20px;
    overflow: auto;
    -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
    -moz-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    transform: translateX(-240px);
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.rd-mobilemenu_ul a {
    display: block;
    padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a.active {
    background: #313e4e;
    color: #fff;
}
.rd-mobilemenu_ul a:hover {
    background: #313e4e;
    color: #FFF;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
    position: absolute;
    top: 50%;
    right: 11px;
    margin-top: -17.5px;
    width: 32px;
    height: 32px;
    font: 400 10px "FontAwesome";
    line-height: 32px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
    content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
    background: #2B3643;
    color: #A5BFD2;
}
.rd-mobilemenu_ul a.rd-with-ul {
    position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
    padding-left: 40px;
}
.rd-mobilemenu_ul ul ul a {
    padding-left: 60px;
}
.rd-mobilemenu_ul:after {
    content: '';
    display: block;
    height: 20px;
}

.rd-mobilepanel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background: #2B3643;
    color: #FFF;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 99999991;
}

.rd-mobilepanel_title {
    position: fixed;
    top: 4px;
    left: 56px;
    right: 56px;
    color: #FFF;
    font-size: 24px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rd-mobilepanel_toggle {
    position: fixed;
    top: 4px;
    left: 8px;
    width: 48px;
    height: 48px;
}
.rd-mobilepanel_toggle span {
    position: relative;
    display: block;
    margin: auto;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
    top: 8px;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
    width: 24px;
    height: 4px;
    background-color: #FFF;
    backface-visibility: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
}
.rd-mobilepanel_toggle.active span {
    transition: background .3s 0s ease;
    background: transparent;
}
.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
    top: 0;
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
}
.rd-mobilepanel_toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.rd-mobilepanel_toggle.active span:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 767px) {
    body {
        padding-top: 56px;
    }

    .rd-mobilemenu, .rd-mobilepanel {
        display: block;
    }
}
@media (max-width: 359px) {
    .rd-mobilepanel_title {
        font-size: 18px;
    }
}
/*==================  Stuck menu  ======================*/
.isStuck {
    background: #000 !important;
    z-index: 999;
    padding: 20px 0 !important;
}
.isStuck .sf-menu ul {
    margin-top: 25px;
}
.isStuck .search-form {
    top: 55px;
}

@media only screen and (max-width: 991px) {
    .isStuck {
        display: none !important;
    }
}
/*==================     ToTop     ======================*/
.toTop {
    width: 35px;
    height: 35px;
    font-size: 25px;
    line-height: 33px;
    background: #eeb415;
    border-radius: 50%;
    color: #f3f3f3;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
}
.toTop:hover {
    color: #fff;
    background: #333333;
    text-decoration: none;
}

.mobile .toTop,
.tablet .toTop {
    display: none !important;
}

/*==================  RD Parallax    ======================*/
.parallax {
    position: relative;
    overflow: hidden;
}
.parallax_image, .parallax_pattern {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-position: center center;
    will-change: transform;
}
.parallax_image {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.parallax_pattern {
    background-repeat: repeat;
}
.parallax_cnt {
    position: relative;
    color: #fff;
}

/*=======================================================
                        Progress Bars
=========================================================*/
.progress-wrap {
    /*==================     Style progress-bar     ======================*/
    /*==================     Style progress-count     ======================*/
}
.progress-wrap .progress {
    height: 40px;
    display: block;
    background: #D6D5D5;
    position: relative;
    width: 95%;
}
.progress-wrap .progress + * {
    margin-top: 12px;
}
@media (max-width: 1199px) {
    .progress-wrap .progress {
        width: 100%;
    }
}
.progress-wrap .progress-bar {
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: #eeb415;
}
.progress-wrap .progress-bar__mod {
    background: #F56162;
}
.progress-wrap .progress-count {
    position: absolute;
    top: 0;
    right: 10px;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.75px;
}

/*==================   Thumbnail    ======================*/
.thumb {
    display: block;
    position: relative;
    overflow: hidden;
}
.thumb img {
    width: 100%;
    height: auto;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.thumb_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #fff;
    background: transparent;
}
.thumb_overlay:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font: 400 35px "FontAwesome";
    line-height: 35px;
    margin-top: -17.5px;
    text-align: center;
}
.lt-ie9 .thumb_overlay:before {
    display: none;
}
.thumb:hover .thumb_overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay {
    background: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
    zoom: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
    display: block;
}
.thumb:hover img {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*========================================================
                     HEADER  Section
=========================================================*/
header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
header .brand {
    float: left;
}
header .nav {
    float: right;
    margin-right: 116px;
}
header .stuck_container {
    background: rgba(0, 0, 0, 0.58);
    padding: 36px 0 40px;
}
@media (max-width: 991px) {
    header .stuck_container {
        padding: 30px 0;
    }
}
header .container {
    position: relative;
}
@media (max-width: 991px) {
    header {
        text-align: center;
    }
    header .brand, header .nav {
        float: none;
    }
    header .brand + .nav {
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    header {
        position: static;
        background: #000;
    }
}

header.subpage {
    position: static;
    background: url("../images/slide-01.jpg") center top/cover;
}

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
    display: block;
    background: #FFF;
}
@media (max-width: 1199px) {
    main .h1 br, main p br {
        display: none;
    }
}

/*==================      Media Query     ======================*/
@media (max-width: 1199px) {
    .col-md-6:nth-child(n + 2) + .col-md-6 {
        margin-top: 30px;
    }

    .col-md-12 + .col-md-12 {
        margin-top: 30px;
    }
}
@media (max-width: 991px) {
    .col-sm-6:nth-child(n + 2) + .col-sm-6 {
        margin-top: 30px;
    }

    .col-sm-12 + .col-sm-6 {
        margin-top: 30px;
    }

    .col-sm-12 + .col-sm-6 + .col-sm-6 {
        margin-top: 30px;
    }

    .col-sm-6 + .col-sm-6 + .col-sm-12 {
        margin-top: 30px;
    }

    .col-sm-12 + .col-sm-12 {
        margin-top: 30px;
    }

    .col-sm-12 + .col-sm-4 {
        margin-top: 30px;
    }

    .col-sm-12 + .col-sm-4 + .col-sm-4 {
        margin-top: 30px;
    }

    .col-sm-12 + .col-sm-4 + .col-sm-4 + .col-sm-4 {
        margin-top: 30px;
    }
}
@media (max-width: 767px) {
    .col-xs-6:nth-child(n + 2) + .col-xs-6 {
        margin-top: 30px;
    }

    .col-xs-12 + .col-xs-12 {
        margin-top: 30px;
    }
}
@media (max-width: 479px) {
    [class*='col-xs-'] + [class*='col-xs-'] {
        margin-top: 30px;
    }
}
/*==================      Well     ======================*/
.well {
    padding-bottom: 113px;
    padding-top: 110px;
}

.well2 {
    padding-bottom: 115px;
    padding-top: 120px;
}

.well3 {
    padding-bottom: 122px;
    padding-top: 135px;
}

.well4 {
    padding-bottom: 120px;
    padding-top: 120px;
}

.well5 {
    padding-bottom: 109px;
    padding-top: 117px;
}

.well6 {
    padding-bottom: 112px;
    padding-top: 134px;
}

.well7 {
    padding-bottom: 112px;
    padding-top: 129px;
}

.well8 {
    padding-bottom: 62px;
    padding-top: 72px;
}

/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
    padding-bottom: 328px;
    padding-top: 115px;
    position: relative;
    background: url(../images/parallax3-footer.jpg) 100% 100% no-repeat;
    background-size: cover;
}
footer section .container * {
    color: #f8f8f6;
}
footer section .container a:hover {
    color: #eeb415;
}
footer .copyright {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.38);
}
.lt-ie9 footer .copyright {
    background: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#61000000', endColorstr='#61000000')";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#61000000', endColorstr='#61000000');
    zoom: 1;
}
footer .copyright .rights {
    font-size: 18px;
    color: #eeb415;
    text-transform: uppercase;
    padding-top: 103px;
    padding-bottom: 97px;
    min-height: 225px;
    height: 225px;
}
@media (max-width: 479px) {
    footer .copyright .rights {
        font-size: 16px;
    }
}
footer .copyright .rights a:hover {
    color: #fff;
}





/************Subscript.css***************/
/*========================================================
                      Contact Form
=========================================================*/
/* MF
========================================================*/
.subscribe {
    /* Mail Form PlaceHolder
    ========================================================*/
    /* Mail Form Validation
      ========================================================*/
    /* MF Controls
    ========================================================*/
    /* Mail Form Submit
    ========================================================*/
}
.subscribe .mailform {
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
}
.subscribe .mailform fieldset {
    border: none;
}
.subscribe .mailform * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.subscribe .mailform label {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 10px;
}
.subscribe .mailform label + label {
    margin-left: 0;
}
.subscribe .mailform label.textarea {
    width: 100%;
    margin-left: 0;
}
.subscribe .mailform label:first-child {
    margin-top: 0;
}
.subscribe .mailform label input, .subscribe .mailform label select, .subscribe .mailform label textarea {
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding: 2px 4px;
    line-height: 25px;
    color: #f8f8f6;
    background: transparent;
    border-bottom: 1px solid #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.subscribe .mailform label input:-moz-placeholder, .subscribe .mailform label select:-moz-placeholder, .subscribe .mailform label textarea:-moz-placeholder {
    color: #f8f8f6;
    opacity: 1;
}
.subscribe .mailform label input::-webkit-input-placeholder, .subscribe .mailform label select::-webkit-input-placeholder, .subscribe .mailform label textarea::-webkit-input-placeholder {
    color: #f8f8f6;
    opacity: 1;
}
.subscribe .mailform label input::-moz-placeholder, .subscribe .mailform label select::-moz-placeholder, .subscribe .mailform label textarea::-moz-placeholder {
    color: #f8f8f6;
    opacity: 1;
}
.subscribe .mailform label input:-ms-input-placeholder, .subscribe .mailform label select:-ms-input-placeholder, .subscribe .mailform label textarea:-ms-input-placeholder {
    color: #f8f8f6;
    opacity: 1;
}
.subscribe .mailform label textarea {
    resize: vertical;
    overflow: auto;
    height: 80px;
}
@media (max-width: 1365px) {
    .subscribe .mailform label {
        margin-top: 20px;
    }
}
@-ms-keyframes fout {
    0% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(0) translateX(0);
    }
}
@-o-keyframes fout {
    0% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(0) translateX(0);
    }
}
@-webkit-keyframes fout {
    0% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(0) translateX(0);
    }
}
@-moz-keyframes fout {
    0% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(0) translateX(0);
    }
}
@keyframes fout {
    0% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(0) translateX(0);
    }
}
.subscribe .mfPlaceHolder {
    font: inherit;
    cursor: text;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 4px;
    line-height: 25px;
    color: #f8f8f6;
    opacity: 1;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
*:-webkit-autofill ~ .subscribe .mfPlaceHolder {
    opacity: .0;
    -moz-transform: translateY(-30%) scale(0.8);
    -ms-transform: translateY(-30%) scale(0.8);
    -o-transform: translateY(-30%) scale(0.8);
    -webkit-transform: translateY(-30%) scale(0.8);
    transform: translateY(-30%) scale(0.8);
}
.subscribe .mfPlaceHolder.state-1 {
    opacity: .0;
    -moz-transform: translateY(-30%) scale(0.8);
    -ms-transform: translateY(-30%) scale(0.8);
    -o-transform: translateY(-30%) scale(0.8);
    -webkit-transform: translateY(-30%) scale(0.8);
    transform: translateY(-30%) scale(0.8);
}
.subscribe .mfValidation {
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    top: -3px;
    right: 1%;
    width: 210px;
    margin-top: -20px;
    margin-left: 10px;
    padding: 4px 10px;
    height: 20px;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    background: #111;
    color: #FFF;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 998;
}
.subscribe .mfValidation:hover {
    background: #231634;
}
.subscribe .mfValidation:before {
    content: '';
    position: absolute;
    right: 90%;
    top: 108%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #111 transparent transparent transparent;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.subscribe .mfValidation:hover:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #231634 transparent transparent transparent;
}
.subscribe .mfValidation.show {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    -webkit-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -moz-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -ms-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -o-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.subscribe .mfValidation.hide {
    -webkit-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -moz-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -ms-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -o-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.subscribe .mfValidation.valid {
    opacity: 0;
    visibility: hidden;
}
@media (max-width: 767px) {
    .subscribe .mfValidation {
        text-align: right;
        top: -10px;
        left: auto;
        right: 1%;
        background: none;
        padding: 0;
        margin: 0 0 3px;
        min-height: 0;
        color: #DB0800;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .subscribe .mfValidation:before {
        display: none;
    }
    .subscribe .mfValidation:hover {
        background: none;
        right: 5px;
    }
}
@-ms-keyframes notifanim-fo {
    0% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    20% {
        opacity: 1;
        transform: scale(1.1);
    }
    99% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
        transform: scale(0.3);
        opacity: 0;
    }
}
@-o-keyframes notifanim-fo {
    0% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    20% {
        opacity: 1;
        transform: scale(1.1);
    }
    99% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
        transform: scale(0.3);
        opacity: 0;
    }
}
@-webkit-keyframes notifanim-fo {
    0% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    20% {
        opacity: 1;
        transform: scale(1.1);
    }
    99% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
        transform: scale(0.3);
        opacity: 0;
    }
}
@-moz-keyframes notifanim-fo {
    0% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    20% {
        opacity: 1;
        transform: scale(1.1);
    }
    99% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
        transform: scale(0.3);
        opacity: 0;
    }
}
@keyframes notifanim-fo {
    0% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    20% {
        opacity: 1;
        transform: scale(1.1);
    }
    99% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
        transform: scale(0.3);
        opacity: 0;
    }
}
@-ms-keyframes notifanim {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.3);
    }
    1% {
        visibility: visible;
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@-o-keyframes notifanim {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.3);
    }
    1% {
        visibility: visible;
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes notifanim {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.3);
    }
    1% {
        visibility: visible;
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@-moz-keyframes notifanim {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.3);
    }
    1% {
        visibility: visible;
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes notifanim {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.3);
    }
    1% {
        visibility: visible;
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.subscribe .mfControls {
    margin-top: 25px;
    word-spacing: 10px;
    text-align: center;
}
.subscribe .mfControls > * {
    word-spacing: normal;
    margin-bottom: 5px;
    font-family: "Raleway", sans-serif;
    width: 100%;
}
.subscribe .mfProgress {
    position: relative;
}
.subscribe .mfProgress .cnt, .subscribe .mfProgress .loader {
    -moz-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
}
.subscribe .mfProgress .loader {
    opacity: 0;
    text-align: center;
    letter-spacing: 10px;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.subscribe .mfProgress .loader, .subscribe .mfProgress .loader:before, .subscribe .mfProgress .loader:after {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
}
.subscribe .mfProgress .loader:before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}
.subscribe .mfProgress .loader:after {
    content: '';
    width: 30px;
    height: 30px;
    color: #fff;
    font: 400 30px "FontAwesome";
    line-height: inherit;
    -moz-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
    -moz-transform: scale(0) rotate(-60deg);
    -ms-transform: scale(0) rotate(-60deg);
    -o-transform: scale(0) rotate(-60deg);
    -webkit-transform: scale(0) rotate(-60deg);
    transform: scale(0) rotate(-60deg);
}
.subscribe .mfProgress .msg {
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-animation: notifanim-fo 0.4s ease-in-out forwards;
    -moz-animation: notifanim-fo 0.4s ease-in-out forwards;
    -ms-animation: notifanim-fo 0.4s ease-in-out forwards;
    -o-animation: notifanim-fo 0.4s ease-in-out forwards;
    animation: notifanim-fo 0.4s ease-in-out forwards;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 10px;
    border-radius: 0;
    font-size: 16px;
    line-height: 20px;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 50%;
    width: 230px;
    margin-left: -115px;
    margin-top: 20px;
    color: #fff;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.subscribe .mfProgress .msg:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 50%;
    transform: translate(50%, 0%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #111 transparent;
    -moz-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    -webkit-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
}
.subscribe .mfProgress.fail .msg, .subscribe .mfProgress.success .msg {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    -webkit-animation: notifanim 0.4s ease-in-out forwards;
    -moz-animation: notifanim 0.4s ease-in-out forwards;
    -ms-animation: notifanim 0.4s ease-in-out forwards;
    -o-animation: notifanim 0.4s ease-in-out forwards;
    animation: notifanim 0.4s ease-in-out forwards;
}
.subscribe .mfProgress.fail .msg {
    background: #F44336;
}
.subscribe .mfProgress.fail .msg:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #F44336 transparent;
}
.subscribe .mfProgress.success .msg {
    background: #2E7D32;
}
.subscribe .mfProgress.success .msg:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #2E7D32 transparent;
}
@-ms-keyframes motion {
    0% {
        transform: translateX(0) scale(1);
    }
    25% {
        transform: translateX(-50px) scale(0.3);
    }
    50% {
        transform: translateX(0) scale(1);
    }
    75% {
        transform: translateX(50px) scale(0.3);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}
@-o-keyframes motion {
    0% {
        transform: translateX(0) scale(1);
    }
    25% {
        transform: translateX(-50px) scale(0.3);
    }
    50% {
        transform: translateX(0) scale(1);
    }
    75% {
        transform: translateX(50px) scale(0.3);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}
@-webkit-keyframes motion {
    0% {
        transform: translateX(0) scale(1);
    }
    25% {
        transform: translateX(-50px) scale(0.3);
    }
    50% {
        transform: translateX(0) scale(1);
    }
    75% {
        transform: translateX(50px) scale(0.3);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}
@-moz-keyframes motion {
    0% {
        transform: translateX(0) scale(1);
    }
    25% {
        transform: translateX(-50px) scale(0.3);
    }
    50% {
        transform: translateX(0) scale(1);
    }
    75% {
        transform: translateX(50px) scale(0.3);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}
@keyframes motion {
    0% {
        transform: translateX(0) scale(1);
    }
    25% {
        transform: translateX(-50px) scale(0.3);
    }
    50% {
        transform: translateX(0) scale(1);
    }
    75% {
        transform: translateX(50px) scale(0.3);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}




/*******************Search.css*******************/
.search-form {
    display: block;
    position: absolute;
    top: 75px;
    right: 15px;
    width: 300px;
    z-index: 6;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
@media (min-width: 768px) and (max-width: 991px) {
    .search-form {
        top: 100%;
    }
}
@media (max-width: 767px) {
    .search-form {
        top: 7px;
        z-index: 9999999999999999;
        position: fixed;
        right: 28px;
        width: 94%;
    }
}
@media (max-width: 639px) {
    .search-form {
        width: 93%;
    }
}
@media (max-width: 479px) {
    .search-form {
        width: 90%;
    }
}
.search-form_label {
    display: block;
    padding: 10px 40px 10px 10px;
    background: #fff;
    border: 1px solid #000;
}
.search-form_input {
    outline: none;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: baseline;
    box-shadow: none;
    color: #333;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
}
.search-form_submit {
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 25px;
    height: 22px;
    color: #333;
    font: 400 18px/22px 'FontAwesome', sans-serif;
}
.search-form_submit:before {
    content: "\f002";
}
.search-form_submit:hover {
    color: #eeb415;
}

.search-form_toggle {
    position: absolute;
    top: 50%;
    right: 15px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    color: #6A6A6B;
    font: 400 20px/20px "FontAwesome";
}
@media (min-width: 768px) and (max-width: 991px) {
    .search-form_toggle {
        top: 73%;
    }
}
@media (max-width: 767px) {
    .search-form_toggle {
        position: fixed;
        top: 27px;
        z-index: 9999999999999999999;
        color: #FFF;
        right: 9px;
    }
}
.search-form_toggle:before {
    content: "\f002";
}
.search-form_toggle:hover {
    color: #eeb415;
}
.search-form_toggle.active:before {
    content: "\f002";
}

.search-form {
    display: none;
}

.search-form.on {
    display: block;
}

.search-form_liveout {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.lt-ie9 .search-form_liveout {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.search-form_liveout .search_list {
    font-size: 14px;
    line-height: 24px;
    background: #FFF;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    text-align: left;
}
.search-form_liveout .search_list li + li {
    margin-top: 2px;
}
.search-form_liveout .search_link {
    display: block;
    padding: 5px 10px;
    background: #FFF;
    color: #999;
}
.search-form_liveout .search_link .search_title {
    color: #eeb415;
    text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
    background: #eeb415;
    color: #a8e6ff;
}
.search-form_liveout .search_link:hover .search_title {
    color: #FFF;
}
.search-form_liveout .search_error {
    display: block;
    color: #eeb415;
    background: #fafafa;
    padding: 10px 10px;
    overflow: hidden;
}
.search-form_liveout .match {
    display: none;
}
.search-form_liveout button {
    display: block;
    width: 100%;
    color: #eeb415;
    background: #fafafa;
    padding: 10px 10px;
}
.search-form_liveout button:hover {
    background: #eeb415;
    color: #FFF;
}
input:focus + .search-form_liveout {
    opacity: 1;
}
.lt-ie9 input:focus + .search-form_liveout {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=100);
}
.search-form_liveout .tablet, .mobile .search-form_liveout {
    display: none !important;
}

.search-frame, .search-frame body {
    width: 100%;
    height: auto;
    background: transparent;
}
.search-frame, .search-frame body, .search-frame h1, .search-frame h2, .search-frame h3, .search-frame h4, .search-frame h5, .search-frame h6, .search-frame p, .search-frame em {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
}
.search-frame img {
    max-width: 100%;
    height: auto;
}
.search-frame a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    transition: 0.3s all ease;
}
.search-frame a:active {
    background: transparent;
}
.search-frame a:focus {
    outline: none;
}
.search-frame h4 {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: none;
}
@media (max-width: 991px) {
    .search-frame h4 {
        font-size: 16px;
        line-height: 16px;
    }
}
.search-frame h4 a:hover {
    text-decoration: underline;
}
.search-frame .search_list {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
    list-style-type: none;
    counter-reset: num1;
}
.search-frame .search_list p {
    font: 300 15px/22px "Raleway", sans-serif;
}
.search-frame .search_list .match {
    color: #000;
    font-size: 12px;
    display: block;
}
.search-frame .search_list li {
    padding-top: 20px;
    padding-left: 50px;
    position: relative;
    padding-bottom: 20px;
    transition: 0.3s all ease;
}
.search-frame .search_list li:hover {
    background: rgba(204, 204, 204, 0.3);
}
.search-frame .search_list li:before {
    content: counter(num1) ".";
    counter-increment: num1;
    position: absolute;
    left: 5px;
    top: 15px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: inherit;
}
.search-frame .search_list li + li {
    border-top: 5px solid #cccccc;
}
.search-frame .search {
    color: #000;
    font-weight: 700;
}
.search-frame .match {
    font-size: 12px;
    display: block;
}
.search-frame * + p {
    margin-top: 16px;
}

body.search_body {
    background: #1b1b1d;
}

.content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.search_head {
    padding-bottom: 25px;
}



/*========================================================
                        Camera
=========================================================*/
.camera_container {
    position: relative;
    padding-bottom: 41.12195%;
}

@media (max-width: 972.71649px) {
    .camera_container {
        padding-bottom: 400px;
    }
}
.camera_wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-bottom: 0 !important;
    height: 100%;
    background: #fff;
    z-index: 0;
}

.camera_wrap img {
    max-width: none !important;
}

.camera_fakehover {
    height: 100%;
    min-height: 60px;
    position: relative;
    width: 100%;
}

.camera_src {
    display: none;
}

.cameraCont, .cameraContents {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.cameraSlide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.cameraContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.camera_target {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    text-align: left;
    z-index: 0;
}

.camera_overlayer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

.camera_target_content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
}

.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
    border: 1px solid #ffffff;
    border-radius: 18px;
    height: 36px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    margin: -18px 0 0 -18px;
    top: 50%;
    width: 36px;
    z-index: 3;
}

.camera_nav_cont {
    height: 65px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    top: 15px;
    width: 120px;
    z-index: 4;
}

.camerarelative {
    overflow: hidden;
    position: relative;
}

.imgFake {
    cursor: pointer;
}

.camera_command_wrap .hideNav {
    display: none;
}

.camera_command_wrap {
    left: 0;
    position: relative;
    right: 0;
    z-index: 4;
}

.showIt {
    display: none;
}

.camera_clear {
    clear: both;
    display: block;
    height: 1px;
    margin: -1px 0 25px;
    position: relative;
}

.camera_caption {
    display: none;
}

.cameraContent .camera_caption {
    display: block;
}

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
    display: none;
    left: 20%;
    right: 20%;
    top: 40%;
    position: absolute;
}
.camera_caption {
    color: #fff;
}
@media (max-width: 1850px) {
    .camera_caption {
        top: 35%;
        bottom: 27%;
    }
    .camera_caption .big {
        font-size: 39px;
    }
    .camera_caption br {
        display: none;
    }
}
@media (max-width: 1199px) {
    .camera_caption {
        top: 40%;
        bottom: 0;
    }
    .camera_caption .big {
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    .camera_caption {
        top: 20%;
        bottom: 10%;
    }
}
@media (max-width: 479px) {
    .camera_caption {
        left: 15px;
        right: 15px;
    }
}
.camera_caption > div {
    height: 100%;
}

.camera_pag {
    position: absolute;
    z-index: 9999;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 15%;
}
@media (max-width: 991px) {
    .camera_pag {
        bottom: 5%;
    }
}
.camera_pag_ul {
    text-align: center;
}
.camera_pag_ul li {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
    background: #eeb415;
}
.camera_pag_ul li + li {
    margin-left: 9px;
}
.camera_pag_ul li > span {
    display: none;
}



/*========================================================
                      Owl Carousel
=========================================================*/
.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.owl-height {
    -moz-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    -webkit-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
    display: none;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

.no-js .owl-carousel {
    display: block;
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -moz-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    -webkit-transition: scale 100ms ease;
    transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -moz-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
}

.owl-nav {
    margin-top: 43px;
    text-align: center;
}

.owl-dots {
    text-align: center;
    background: transparent;
}
.owl-dots .owl-dot {
    display: inline-block;
    background: #C0C0C0;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
    background: #eeb415;
}
.owl-dots .owl-dot + .owl-dot {
    margin-left: 9px;
}
* + .owl-dots {
    margin-top: 118px;
}




/* The gallery overlay */
#galleryOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 100000;
    background-color: #222;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: none;
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

/* This class will trigger the animation */
#galleryOverlay.visible {
    opacity: 1;
}

#gallerySlider {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    -moz-transition: left 0.4s ease;
    -webkit-transition: left 0.4s ease;
    transition: left 0.4s ease;
}

#gallerySlider .placeholder {
    background: url("../images/preloader.gif") no-repeat center center;
    height: 100%;
    line-height: 1px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

/* The before element moves the
 * image halfway from the top */
#gallerySlider .placeholder:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}

#gallerySlider .placeholder .iframe-wrap, #gallerySlider .placeholder img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
#gallerySlider .placeholder .iframe-wrap {
    width: 1280px;
}
#gallerySlider .placeholder .iframe-wrap .iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
#gallerySlider .placeholder .iframe-wrap .iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#gallerySlider.rightSpring {
    -moz-animation: rightSpring 0.3s;
    -webkit-animation: rightSpring 0.3s;
}

#gallerySlider.leftSpring {
    -moz-animation: leftSpring 0.3s;
    -webkit-animation: leftSpring 0.3s;
}

/* Firefox Keyframe Animations */
@-moz-keyframes rightSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: -30px;
    }
    100% {
        margin-left: 0px;
    }
}
@-moz-keyframes leftSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 30px;
    }
    100% {
        margin-left: 0px;
    }
}
/* Safari and Chrome Keyframe Animations */
@-webkit-keyframes rightSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: -30px;
    }
    100% {
        margin-left: 0px;
    }
}
@-webkit-keyframes leftSpring {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 30px;
    }
    100% {
        margin-left: 0px;
    }
}
/* Arrows */
#prevArrow, #nextArrow {
    border: none;
    text-decoration: none;
    background: url("../images/arrows.png") no-repeat;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    width: 43px;
    height: 58px;
    top: 50%;
    margin-top: -29px;
    -moz-transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

#prevArrow:hover, #nextArrow:hover {
    opacity: 1;
}

#prevArrow {
    background-position: left top;
    left: 40px;
}

#nextArrow {
    background-position: right top;
    right: 40px;
}



/*==================  GOOGLE MAP  ======================*/
.map_model {
  height: 336px;
}
.map_model img {
  max-width: none !important;
}
@media (max-width: 767px) {
  .map_model {
    height: 250px;
  }
}
@media (max-width: 479px) {
  .map_model {
    height: 200px;
  }
}
.map_locations {
  display: none;
}




/*========================================================
                      Contact Form
=========================================================*/
/* MF
========================================================*/
.contact-form {
  /* Mail Form PlaceHolder
  ========================================================*/
  /* Mail Form Validation
    ========================================================*/
  /* MF Controls
  ========================================================*/
  /* Mail Form Submit
  ========================================================*/
}
.contact-form .mailform {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.contact-form .mailform fieldset {
  border: none;
}
.contact-form .mailform * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-form .mailform label {
  position: relative;
  display: block;
  width: 100%;
}
.contact-form .mailform label input, .contact-form .mailform label select, .contact-form .mailform label textarea {
  display: block;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 18px 19px;
  line-height: 20px;
  color: #6C6C6C;
  background: transparent;
  border-bottom: 1px solid #CCC;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
@media (max-width: 1199px) {
  .contact-form .mailform label input, .contact-form .mailform label select, .contact-form .mailform label textarea {
    border: 1px solid #CCC;
  }
}
.contact-form .mailform label input:-moz-placeholder, .contact-form .mailform label select:-moz-placeholder, .contact-form .mailform label textarea:-moz-placeholder {
  color: #6C6C6C;
  opacity: 1;
}
.contact-form .mailform label input::-webkit-input-placeholder, .contact-form .mailform label select::-webkit-input-placeholder, .contact-form .mailform label textarea::-webkit-input-placeholder {
  color: #6C6C6C;
  opacity: 1;
}
.contact-form .mailform label input::-moz-placeholder, .contact-form .mailform label select::-moz-placeholder, .contact-form .mailform label textarea::-moz-placeholder {
  color: #6C6C6C;
  opacity: 1;
}
.contact-form .mailform label input:-ms-input-placeholder, .contact-form .mailform label select:-ms-input-placeholder, .contact-form .mailform label textarea:-ms-input-placeholder {
  color: #6C6C6C;
  opacity: 1;
}
.contact-form .mailform label textarea {
  margin-top: 30px;
  resize: vertical;
  overflow: auto;
  height: 248px;
  border: 1px solid #CCC;
}
@media (max-width: 1199px) {
  .contact-form .mailform label textarea {
    margin-top: 0;
  }
}
@-ms-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-o-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-webkit-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-moz-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
.contact-form .mfPlaceHolder {
  font: inherit;
  cursor: text;
  position: absolute;
  left: 0;
  top: 0;
  padding: 18px 19px;
  line-height: 20px;
  color: #6C6C6C;
  opacity: 1;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
*:-webkit-autofill ~ .contact-form .mfPlaceHolder {
  opacity: .0;
  -moz-transform: translateY(-33%) scale(0.8);
  -ms-transform: translateY(-33%) scale(0.8);
  -o-transform: translateY(-33%) scale(0.8);
  -webkit-transform: translateY(-33%) scale(0.8);
  transform: translateY(-33%) scale(0.8);
}
.contact-form .mfPlaceHolder.state-1 {
  opacity: .0;
  -moz-transform: translateY(-33%) scale(0.8);
  -ms-transform: translateY(-33%) scale(0.8);
  -o-transform: translateY(-33%) scale(0.8);
  -webkit-transform: translateY(-33%) scale(0.8);
  transform: translateY(-33%) scale(0.8);
}
.contact-form .mfValidation {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: -3px;
  right: 1%;
  width: 210px;
  margin-top: -20px;
  margin-left: 10px;
  padding: 4px 10px;
  height: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  background: #111;
  color: #FFF;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 998;
}
.contact-form .mfValidation:hover {
  background: #231634;
}
.contact-form .mfValidation:before {
  content: '';
  position: absolute;
  right: 90%;
  top: 108%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #111 transparent transparent transparent;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.contact-form .mfValidation:hover:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #231634 transparent transparent transparent;
}
.contact-form .mfValidation.show {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -ms-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.contact-form .mfValidation.hide {
  -webkit-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -ms-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.contact-form .mfValidation.valid {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  .contact-form .mfValidation {
    text-align: right;
    top: 0;
    left: auto;
    right: 1%;
    background: none;
    padding: 0;
    margin: 0 0 3px;
    min-height: 0;
    color: #DB0800;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .contact-form .mfValidation:before {
    display: none;
  }
  .contact-form .mfValidation:hover {
    background: none;
    right: 5px;
  }
}
@-ms-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-o-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-webkit-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-moz-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-ms-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.contact-form .mfControls {
  margin-top: 40px;
  word-spacing: 10px;
  text-align: left;
}
@media (max-width: 1199px) {
  .contact-form .mfControls {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .contact-form .mfControls {
    text-align: center;
  }
}
.contact-form .mfControls > * {
  word-spacing: normal;
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
}
.contact-form .mfProgress {
  position: relative;
}
.contact-form .mfProgress .cnt, .contact-form .mfProgress .loader {
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.contact-form .mfProgress .loader {
  opacity: 0;
  text-align: center;
  letter-spacing: 10px;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.contact-form .mfProgress .loader, .contact-form .mfProgress .loader:before, .contact-form .mfProgress .loader:after {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
}
.contact-form .mfProgress .loader:before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}
.contact-form .mfProgress .loader:after {
  content: '';
  width: 30px;
  height: 30px;
  color: #fff;
  font: 400 30px "FontAwesome";
  line-height: inherit;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  -moz-transform: scale(0) rotate(-60deg);
  -ms-transform: scale(0) rotate(-60deg);
  -o-transform: scale(0) rotate(-60deg);
  -webkit-transform: scale(0) rotate(-60deg);
  transform: scale(0) rotate(-60deg);
}
.contact-form .mfProgress .msg {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: notifanim-fo 0.4s ease-in-out forwards;
  -moz-animation: notifanim-fo 0.4s ease-in-out forwards;
  -ms-animation: notifanim-fo 0.4s ease-in-out forwards;
  -o-animation: notifanim-fo 0.4s ease-in-out forwards;
  animation: notifanim-fo 0.4s ease-in-out forwards;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 10px;
  border-radius: 0px;
  font-size: 16px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  left: 50%;
  width: 230px;
  margin-left: -115px;
  margin-top: 20px;
  color: #fff;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.contact-form .mfProgress .msg:before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 50%;
  transform: translate(50%, 0%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #111 transparent;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.contact-form .mfProgress.fail .msg, .contact-form .mfProgress.success .msg {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim 0.4s ease-in-out forwards;
  -moz-animation: notifanim 0.4s ease-in-out forwards;
  -ms-animation: notifanim 0.4s ease-in-out forwards;
  -o-animation: notifanim 0.4s ease-in-out forwards;
  animation: notifanim 0.4s ease-in-out forwards;
}
.contact-form .mfProgress.fail .msg {
  background: #F44336;
}
.contact-form .mfProgress.fail .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #F44336 transparent;
}
.contact-form .mfProgress.success .msg {
  background: #2E7D32;
}
.contact-form .mfProgress.success .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #2E7D32 transparent;
}
@-ms-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-o-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-moz-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}